@font-face {
	font-family: "PMD";
	src: url("/pmd/fonts/PKMN-Mystery-Dungeon.ttf") format("truetype");
}

body {
	font-family: 'PMD', sans-serif;
	background-color: black;
	line-height: .6;
}

.player-name {
	box-sizing: border-box;
	position: absolute;
	background-color: #3f3c3d;
	color: #fff;
	text-shadow: 2px 2px 0 rgba(0,0,0,.2);
	padding: .1em;
	border-radius: 0 0 1px 0;
	width: 343px;
	font-size: 48px;
	text-align: center;
	filter: blur(.3px);
	z-index: 5;
}

.player-name:nth-of-type(1){
	background-color:#99d44d;
}

.player-name:nth-of-type(2){
	background-color:#f1bb49;
}

.back-shadow-panel{
	position: absolute;
	width: 351px;
	height: 34px;
	background-color: rgba(0,0,0,.2);
	z-index: 3;
}

#panel_1{
	border-radius: 0 0 4px 0;
}

#panel_2{
	border-radius: 0 0 0 4px;
}




.score-tracker {
	color: white;
	position: absolute;
	text-align: center;
	font-size: 32px;
	box-shadow: 0 0 0 4px rgba(0,0,0,.2);
}

.score-tracker .row {
	background-color: #5B80F3;
	border-image: linear-gradient(to right, #99d44d, #f1bb49) 4;
	box-shadow: inset 10px 10px 20px rgba(0,0,0,.25);
	display: flex;
	align-items: center;
}

.score-tracker .row div {
	display: inline-block;
}

.col-round {
	width: 150px;
}

.col-time {
	width: 125px;
}

.col-time span:not(.colon):not(.dot) {
	width: 18.89px !important;
	display: inline-block;
}

.score-tracker .row {
	border-style: solid;
	border-color: #5B80F3;
	border-width: 4px;
	border-radius: 6px;
	margin-bottom: -5px;
}

.col-medal {
	width: 40px;
}

.col-medal img.win {
	filter: none;
}

.col-medal img {
	height: 32px;
	filter: grayscale(100%) opacity(.2);
	margin-top: 2px;
	margin-bottom: -2px;
}

#bestof5 .col-time {
	width: 100px;
}

#bestof5.score-tracker {
	font-size: 32px;
}

#bestof5 .col-medal img {
	height: 18px;
	margin-top: 1px;
	margin-bottom: -1px;
}

#bestof5 .col-medal {
	width: 20px;
}

#bestof5 .col-time span:not(.colon):not(.dot) {
	width: 14px !important;
}

.stats {
	background-color: rgba(0,0,0,.2);
	text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
	color: white;
	border-radius: 0 0 0 4px;
	padding: .25em;
	width: 230px;
	position: absolute;
	display: grid;
	grid-template-columns: 100px 130px;
	justify-content: space-between;
	grid-row-gap: 5px;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	-webkit-clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 68% 100%, 0% 100%);
	
}

#player_2_stats{
	transform: rotateY(180deg);
	text-align: right;
}

#player_2_stats > span, #player_2_stats > label {
	transform: rotateY(-180deg);
}


.tracker {
	color: white;
}

.tracker .player-name {
	width: 400px;
}

.tracker table {
	border: 1px solid #5B80F3;
}

.tracker table td {
	text-align: center;
}

.tracker table input {
	width: 100px;
}

.tracker table img {
	width: 32px;
	filter: grayscale(100%) opacity(.2);
	cursor: pointer;
}

.tracker table img.win {
	filter: none;
}

.com-container, .track-container {
	position: absolute;
	width: 300px;
	color: white;	
	font-size: 36px;
	min-height: 52px;
}

.track-container img {
	height: 24px;
}

#commentators,
#trackers,
#restreamer {
	white-space: nowrap;
}

.player-speaker {
	position: absolute;
	z-index: 3;
}

.player-speaker img {
	height: 73px;
    transform: rotate(180deg);
}