<style>
.player-grid [property*="ff4-fd"] img, .dialog[id*="ff4-fd"] img{
    width: 50px;
    height: 50px;
    display: block;
    background-size: 306px 172px;
    background-repeat: no-repeat;
    background-image: url(images/icons/ff4-fd.png);
}

    .ff4-fd{
        display: grid;
        grid-template-columns: repeat(6, 50px);
        grid-template-rows: repeat(3, 50px);
        justify-content: space-around;
        row-gap: 8px;
    }

[property="ff4-fd-item-1"] img{background-position: -5px -5px;}
[property="ff4-fd-item-2"] img{background-position: -55px -5px;}
[property="ff4-fd-item-3"] img{background-position: -105px -5px;}
[property="ff4-fd-item-4"] img{background-position: -155px -5px;}
[property="ff4-fd-item-5"] img{background-position: -205px -5px;}
[property="ff4-fd-item-6"] img{background-position: -255px -5px;}

[property="ff4-fd-item-7"] img{background-position: -5px -55px;}
[property="ff4-fd-item-8"] img{background-position: -55px -55px;}
[property="ff4-fd-item-9"] img{background-position: -105px -55px;}
[property="ff4-fd-item-10"] img{background-position: -155px -55px;}
[property="ff4-fd-item-11"] img{background-position: -205px -55px;}
[property="ff4-fd-item-12"] img{background-position: -255px -55px;}

[property="ff4-fd-item-13"] img{background-position: -5px -105px;}
[property="ff4-fd-item-14"] img{background-position: -55px -105px;}
[property="ff4-fd-item-15"] img{background-position: -105px -105px;}
[property="ff4-fd-item-16"] img{background-position: -155px -105px;}

[property="ff4-fd-item-17"] img, figure [class="ff4-fd-item-17"]{background-position: -205px -105px;}
[property="ff4-fd-item-18"] img, figure [class="ff4-fd-item-18"]{background-position: -255px -105px;}


.ff4-fd tr-toggle-class, .ff4-fd .in-active {
    filter: grayscale(1);
    opacity: .4;
}

.ff4-fd .active{
    filter: grayscale(0);
    opacity: 1;
}

.ff4-fd tr-image, .ff4-fd .dialog figure{
    position: relative;
}

.ff4-fd tr-label, .ff4-fd figcaption{
    pointer-events: none;
    position: absolute;
    right: 6px;
    bottom: 3px;
    /* font-family: "FF4", sans-serif; */
    font-size: 16px;
    font-weight: bold;
    text-shadow: -2px -2px #000;
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}


</style>

<div class="ff4-fd">
    <tr-toggle-class property="ff4-fd-item-1" toggle-class="active">
        <img title="item-1" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-2" toggle-class="active">
        <img title="item-2" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-3" toggle-class="active">
        <img title="item-3" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-4" toggle-class="active">
        <img title="item-4" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-5" toggle-class="active">
        <img title="item-5" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-6" toggle-class="active">
        <img title="item-6" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>

    <tr-toggle-class property="ff4-fd-item-7" toggle-class="active">
        <img title="item-7" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-8" toggle-class="active">
        <img title="item-8" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-9" toggle-class="active">
        <img title="item-9" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-10" toggle-class="active">
        <img title="item-10" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-11" toggle-class="active">
        <img title="item-11" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-12" toggle-class="active">
        <img title="item-12" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>

    <tr-toggle-class property="ff4-fd-item-13" toggle-class="active">
        <img title="item-13" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-14" toggle-class="active">
        <img title="item-14" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-15" toggle-class="active">
        <img title="item-15" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-16" toggle-class="active">
        <img title="item-16" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <!-- <tr-toggle-class property="ff4-fd-item-17" toggle-class="active">
        <img title="item-17" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="ff4-fd-item-18" toggle-class="active">
        <img title="item-18" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class> -->

    <tr-image property="ff4-fd-item-17" class="ff4-fd-item-17">
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="0"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="1"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="2"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="3"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="4"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="5"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="6"></tr-image-option>
        <tr-image-option class="ff4-fd-item-17" path="../shared/images/icons/blank.svg" label="7"></tr-image-option>
        <tr-label property="ff4-fd-item-17"></tr-label>
    </tr-image>
    
    <tr-image property="ff4-fd-item-18" class="ff4-fd-item-18">
        <tr-image-option class="ff4-fd-item-18" path="../shared/images/icons/blank.svg" label="0"></tr-image-option>
        <tr-image-option class="ff4-fd-item-18" path="../shared/images/icons/blank.svg" label="1"></tr-image-option>
        <tr-image-option class="ff4-fd-item-18" path="../shared/images/icons/blank.svg" label="2"></tr-image-option>
        <tr-image-option class="ff4-fd-item-18" path="../shared/images/icons/blank.svg" label="3"></tr-image-option>
        <tr-label property="ff4-fd-item-18"></tr-label>
    </tr-image>
</div>