<div class="lttp" style="content-visibility: auto;">
<tr-image property="lttp-bow">
    <tr-image-option class-to-set="bow-arrow in-active" class="bow-arrow in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow" class="bow" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow-arrow" class="bow-arrow" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow-silver" class="bow-silver" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="silver" class="silver" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-rang">
    <tr-image-option class-to-set="rang-blue in-active" class="rang-blue in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-blue" class="rang-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-red" class="rang-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-both" class="rang-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-lamp" toggle-class="active">
    <img class="lamp" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>


<tr-image property="lttp-mush">
    <tr-image-option class-to-set="shroom in-active" class="shroom in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shroom" class="shroom" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shroom-powder" class="shroom-powder" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-cape" toggle-class="active">
    <img class="cape" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-hook" toggle-class="active">
    <img class="hookshot" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-rod">
    <tr-image-option class-to-set="rod-red in-active" class="rod-red in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-blue" class="rod-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-red" class="rod-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-both" class="rod-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-cane">
    <tr-image-option class-to-set="cane-red in-active" class="cane-red in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-blue" class="cane-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-red" class="cane-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-both" class="cane-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-bombos" toggle-class="active">
    <img class="bombos" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-ether" toggle-class="active">
    <img class="ether" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-quake" toggle-class="active">
    <img class="quake" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-bottle">
    <tr-image-option class-to-set="bottle in-active" class="bottle in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-1" class="bottle-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-2" class="bottle-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-3" class="bottle-3" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-4" class="bottle-4" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>

<tr-toggle-class property="lttp-book" toggle-class="active">
    <img class="book" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-mirror" toggle-class="active">
    <img class="mirror" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-flute" toggle-class="active">
    <img class="flute" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-boots" toggle-class="active">
    <img class="boots" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-hammer" toggle-class="active">
    <img class="hammer" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pearl" toggle-class="active">
    <img class="pearl" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-glove">
    <tr-image-option class-to-set="glove-1 in-active" class="glove-1 in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="glove-1" class="glove-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="glove-2" class="glove-2" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-flippers" toggle-class="active">
    <img class="flippers" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-net" toggle-class="active">
    <img class="net" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-sword">
    <tr-image-option class-to-set="sword in-active" class="sword in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-1" class="sword-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-2" class="sword-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-3" class="sword-3" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-4" class="sword-4" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-shield">
    <tr-image-option class-to-set="shield-1 in-active" class="shield-1 in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-1" class="shield-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-2" class="shield-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-3" class="shield-3" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-shirt">
    <tr-image-option class-to-set="shirt-1" class="shirt-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shirt-2" class="shirt-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shirt-3" class="shirt-3" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>

<tr-toggle-class property="lttp-pendent-green" toggle-class="active">
    <img class="pendent-green" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pendent-blue" toggle-class="active">
    <img class="pendent-blue" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pendent-red" toggle-class="active">
    <img class="pendent-red" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-agahnim" toggle-class="active">
    <img class="agahnim" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-1" toggle-class="active">
    <img class="crystal-1" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-2" toggle-class="active">
    <img class="crystal-2" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-3" toggle-class="active">
    <img class="crystal-3" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-4" toggle-class="active">
    <img class="crystal-4" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-5" toggle-class="active">
    <img class="crystal-red-5" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-6" toggle-class="active">
    <img class="crystal-red-6" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-7" toggle-class="active">
    <img class="crystal-7" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<!-- <tr-toggle-class property="lttp-ganon-whole" toggle-class="active">
    <img class="ganon" width="32" height="32" src="../shared/images/icons/blank.svg" />
</tr-toggle-class> -->
</div>
