<style>
    .player-grid .lttp{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(8, auto);
    }
    .lttp img, .dialog[id*="lttp-"] img{
        background-image: url(images/icons/lttp.png);
        mix-blend-mode: difference;
    }
    .lttp img{
        width: 30px;
        height: 30px;
        
    }


    .lamp{background-position: 0 0;}
.cape{background-position: 10% 0;}
.hookshot{background-position: 20% 0;}
.pearl{background-position: 30% 0;}

.bombos{background-position: 0 10%;}
.ether{background-position: 10% 10%;}
.quake{background-position: 20% 10%;}
.net{background-position: 30% 10%;}

.book{background-position: 0 20%;}
.mirror{background-position: 10% 20%;}
.flute{background-position: 20% 20%;}
.flippers{background-position: 30% 20%;}

.boots{background-position: 0 30%;}
.hammer{background-position: 10% 30%;}


.bow{background-position: 60% 0;}
.bow-arrow{background-position: 70% 0;}
.bow-silver{background-position: 80% 0;}
.silver{background-position: 90% 0;}

.rod-blue{background-position: 60% 10%;}
.rod-red{background-position: 70% 10%;}
.rod-both{background-position: 80% 10%;}

.rang-blue{background-position: 90% 10%;}
.rang-red{background-position: 90% 20%;}
.rang-both{background-position: 90% 30%;}

.cane-blue{background-position: 60% 20%;}
.cane-red{background-position: 70% 20%;}
.cane-both{background-position: 80% 20%;}

.shroom{background-position: 100% 20%;}
.shroom-powder{background-position: 100% 30%;}

.shield-1{background-position: 60% 30%;}
.shield-2{background-position: 70% 30%;}
.shield-3{background-position: 80% 30%;}

.bottle{background-position: 60% 40%;}
.bottle-1{background-position: 70% 40%;}
.bottle-2{background-position: 80% 40%;}
.bottle-3{background-position: 90% 40%;}
.bottle-4{background-position: 100% 40%;}

.glove-1{background-position: 20% 30%;}
.glove-2{background-position: 30% 30%;}

.shirt-1{background-position: 80% 50%;}
.shirt-2{background-position: 90% 50%;}
.shirt-3{background-position: 100% 50%;}

.sword{background-position: 60% 60%;}
.sword-1{background-position: 70% 60%;}
.sword-2{background-position: 80% 60%;}
.sword-3{background-position: 90% 60%;}
.sword-4{background-position: 100% 60%;}


.boss-no{background-position: 70% 70%;}
.armos{background-position: 80% 70%;}
.lanmolas{background-position: 90% 70%;}
.moldorm{background-position: 100% 70%;}
.helmasaur{background-position: 70% 80%;}
.arrghus{background-position: 80% 80%;}
.mothula{background-position: 90% 80%;}
.blind{background-position: 100% 80%;}
.kholdstare{background-position: 70% 90%;}
.vitreous{background-position: 80% 90%;}
.trinexx{background-position: 90% 90%;}


.pendent-green{background-position: 0 40%;}
.pendent-red{background-position: 10% 40%;}
.pendent-blue{background-position: 20% 40%;}
.agahnim{background-position: 30% 40%;}

.crystal-1{background-position: 0% 50%;}
.crystal-2{background-position: 10% 50%;}
.crystal-3{background-position: 20% 50%;}
.crystal-4{background-position: 30% 50%;}

.crystal-red-5{background-position: 0% 60%;}
.crystal-red-6{background-position: 10% 60%;}
.crystal-7{background-position: 20% 60%;}
.ganon{background-position: 30% 60%;}

.crystal-red{background-position: 0 70%;}
.crystal-blue{background-position: 10% 70%;}
</style>
<div class="lttp">
<tr-image property="lttp-bow">
    <tr-image-option class-to-set="bow-arrow in-active" class="bow-arrow in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow" class="bow" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow-arrow" class="bow-arrow" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bow-silver" class="bow-silver" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="silver" class="silver" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-rang">
    <tr-image-option class-to-set="rang-blue in-active" class="rang-blue in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-blue" class="rang-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-red" class="rang-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rang-both" class="rang-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-lamp" toggle-class="active">
    <img class="lamp" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>


<tr-image property="lttp-mush">
    <tr-image-option class-to-set="shroom in-active" class="shroom in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shroom" class="shroom" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shroom-powder" class="shroom-powder" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-cape" toggle-class="active">
    <img class="cape" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-hook" toggle-class="active">
    <img class="hookshot" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-rod">
    <tr-image-option class-to-set="rod-red in-active" class="rod-red in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-blue" class="rod-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-red" class="rod-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="rod-both" class="rod-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-cane">
    <tr-image-option class-to-set="cane-red in-active" class="cane-red in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-blue" class="cane-blue" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-red" class="cane-red" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="cane-both" class="cane-both" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-bombos" toggle-class="active">
    <img class="bombos" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-ether" toggle-class="active">
    <img class="ether" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-quake" toggle-class="active">
    <img class="quake" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-bottle">
    <tr-image-option class-to-set="bottle in-active" class="bottle in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-1" class="bottle-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-2" class="bottle-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-3" class="bottle-3" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="bottle-4" class="bottle-4" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>

<tr-toggle-class property="lttp-book" toggle-class="active">
    <img class="book" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-mirror" toggle-class="active">
    <img class="mirror" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-flute" toggle-class="active">
    <img class="flute" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-boots" toggle-class="active">
    <img class="boots" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-hammer" toggle-class="active">
    <img class="hammer" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pearl" toggle-class="active">
    <img class="pearl" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-glove">
    <tr-image-option class-to-set="glove-1 in-active" class="glove-1 in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="glove-1" class="glove-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="glove-2" class="glove-2" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-toggle-class property="lttp-flippers" toggle-class="active">
    <img class="flippers" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-net" toggle-class="active">
    <img class="net" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-image property="lttp-sword">
    <tr-image-option class-to-set="sword in-active" class="sword in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-1" class="sword-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-2" class="sword-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-3" class="sword-3" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="sword-4" class="sword-4" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-shield">
    <tr-image-option class-to-set="shield-1 in-active" class="shield-1 in-active" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-1" class="shield-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-2" class="shield-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shield-3" class="shield-3" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>
<tr-image property="lttp-shirt">
    <tr-image-option class-to-set="shirt-1" class="shirt-1" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shirt-2" class="shirt-2" path="../shared/images/icons/blank.svg"></tr-image-option>
    <tr-image-option class-to-set="shirt-3" class="shirt-3" path="../shared/images/icons/blank.svg"></tr-image-option>
</tr-image>

<tr-toggle-class property="lttp-pendent-green" toggle-class="active">
    <img class="pendent-green" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pendent-blue" toggle-class="active">
    <img class="pendent-blue" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-pendent-red" toggle-class="active">
    <img class="pendent-red" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-agahnim" toggle-class="active">
    <img class="agahnim" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-1" toggle-class="active">
    <img class="crystal-1" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-2" toggle-class="active">
    <img class="crystal-2" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-3" toggle-class="active">
    <img class="crystal-3" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-4" toggle-class="active">
    <img class="crystal-4" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-5" toggle-class="active">
    <img class="crystal-red-5" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-6" toggle-class="active">
    <img class="crystal-red-6" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<tr-toggle-class property="lttp-crystal-7" toggle-class="active">
    <img class="crystal-7" src="../shared/images/icons/blank.svg" />
</tr-toggle-class>
<!-- <tr-toggle-class property="lttp-ganon-whole" toggle-class="active">
    <img class="ganon" src="../shared/images/icons/blank.svg" />
</tr-toggle-class> -->
</div>
