
<div class="player-grid-ffiv">
    <tr-toggle-class property="ff4fe-the-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pass" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-hook" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-dark-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-earth-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-twin-harp" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-package" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-sand-ruby" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-baron-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-magma-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-tower-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-luca-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-adamant" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-legend-sword" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pan" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-spoon" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-rat-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pink-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
</div>