<style>
    .player-grid-ffiv{
        display: grid;
        grid-template-columns: repeat(4, 32px);
        grid-template-rows: repeat(5, 32px);
        justify-content: space-between;
        align-content: space-between;
        grid-column-gap: 8px;
        padding: 0;
    }

    .player-grid-ffiv img{
        background-image: url(images/icons/ff4fe-spritesheet.png);
        width: 32px;
        height: 32px;
        display: block;
    }

[property="pass"] img{background-position: 25% 0;}
[property="hook"] img{background-position: 50% 0;}
[property="dark-crystal"] img{background-position: 75% 0;}

[property="earth-crystal"] img{background-position: 0 25%;}
[property="twin-harp"] img{background-position: 25% 25%;}
[property="package"] img{background-position: 50% 25%;}
[property="sand-ruby"] img{background-position: 75% 25%;}

[property="baron-key"] img{background-position: 0 50%;}
[property="magma-key"] img{background-position: 25% 50%;}
[property="tower-key"] img{background-position: 50% 50%;}
[property="luca-key"] img{background-position: 75% 50%;}

[property="adamant"] img{background-position: 0 75%;}
[property="legend-sword"] img{background-position: 25% 75%;}
[property="pan"] img{background-position: 50% 75%;}
[property="spoon"] img{background-position: 75% 75%;}

[property="rat-tail"] img{background-position: 25% 100%;}
[property="rat-tail"]{grid-column: 2;}
[property="pink-tail"] img{background-position: 50% 100%;}
</style>

<div class="player-grid-ffiv">
    <tr-toggle-class property="the-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="pass" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="hook" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="dark-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="earth-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="twin-harp" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="package" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="sand-ruby" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="baron-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="magma-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="tower-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="luca-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="adamant" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="legend-sword" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="pan" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="spoon" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="rat-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="pink-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
</div>