<style>
    .player-grid-ffiv{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, auto);
        align-content: space-between;
        grid-column-gap: 8px;
        padding: 0;
        width: auto;
    }

    .player-grid-ffiv img{
        background-size: 500% 500%;
        width: 28px;
        height: 28px;
        display: block;
    }
    .not-webp .player-grid-ffiv img{
        background-image: url(images/icons/ff4fe-spritesheet.png);
    }
    .webp .player-grid-ffiv img{
        background-image: url(images/icons/ff4fe-spritesheet.webp);
    }

    [property="ff4fe-pass"] img{background-position: 25% 0;}
[property="ff4fe-hook"] img{background-position: 50% 0;}
[property="ff4fe-dark-crystal"] img{background-position: 75% 0;}

[property="ff4fe-earth-crystal"] img{background-position: 0 25%;}
[property="ff4fe-twin-harp"] img{background-position: 25% 25%;}
[property="ff4fe-package"] img{background-position: 50% 25%;}
[property="ff4fe-sand-ruby"] img{background-position: 75% 25%;}

[property="ff4fe-baron-key"] img{background-position: 0 50%;}
[property="ff4fe-magma-key"] img{background-position: 25% 50%;}
[property="ff4fe-tower-key"] img{background-position: 50% 50%;}
[property="ff4fe-luca-key"] img{background-position: 75% 50%;}

[property="ff4fe-adamant"] img{background-position: 0 75%;}
[property="ff4fe-legend-sword"] img{background-position: 25% 75%;}
[property="ff4fe-pan"] img{background-position: 50% 75%;}
[property="ff4fe-spoon"] img{background-position: 75% 75%;}

[property="ff4fe-rat-tail"] img{background-position: 25% 100%;}
[property="ff4fe-rat-tail"]{grid-column: 2;}
[property="ff4fe-pink-tail"] img{background-position: 50% 100%;}
</style>

<div class="player-grid-ffiv">
    <tr-toggle-class property="ff4fe-the-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pass" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-hook" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-dark-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-earth-crystal" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-twin-harp" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-package" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-sand-ruby" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-baron-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-magma-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-tower-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-luca-key" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-adamant" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-legend-sword" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pan" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-spoon" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    
    <tr-toggle-class property="ff4fe-rat-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff4fe-pink-tail" toggle-class="active">
        <img src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
</div>