<div class="player-grid-ffv" style="content-visibility: auto;">
    <tr-toggle-class property="ff5-tablet-1" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff5-tablet-2" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff5-tablet-3" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff5-tablet-4" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff5-ring" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
    <tr-toggle-class property="ff5-tower" toggle-class="active">
        <img width="32" height="32" src="../shared/images/icons/blank.svg" />
    </tr-toggle-class>
</div>