<div style="content-visibility: auto;">

</div><div class="row-1 poke">
    <tr-toggle-class property="poke-crystal-rod-old" toggle-class="active">
        <img title="rod-old" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-rod-good" toggle-class="active">
        <img title="rod-good" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-rod-super" toggle-class="active">
        <img title="rod-super" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>

    <tr-toggle-class property="poke-crystal-bicycle" toggle-class="active">
        <img title="bicycle" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-ss-ticket" toggle-class="active">
        <img title="ss-ticket" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-pass" toggle-class="active">
        <img title="pass" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>

<div class="row-2 poke">
    <tr-toggle-class property="poke-crystal-squirt_bottle" toggle-class="active">
        <img title="squirt_bottle" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-secret_potion" toggle-class="active">
        <img title="secret_potion" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-basement_key" toggle-class="active">
        <img title="basement_key" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-card_key" toggle-class="active">
        <img title="card_key" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-machine_part" toggle-class="active">
        <img title="machine_part" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-lost_item" toggle-class="active">
        <img title="lost_item" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>

<div class="row-3  poke">
    <tr-toggle-class property="poke-crystal-mystery_egg" toggle-class="active">
        <img title="mystery_egg" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-coin_case" toggle-class="active">
        <img title="coin_case" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-blue_card" toggle-class="active">
        <img title="blue_card" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-item_finder" toggle-class="active">
        <img title="item_finder" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-red_scale" toggle-class="active">
        <img title="red_scale" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-clear_bell" toggle-class="active">
        <img title="clear_bell" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-silver_wing" toggle-class="active">
        <img title="silver_wing" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>

<div class="row-4 poke">
    <tr-toggle-class property="poke-crystal-hm_cut" toggle-class="active">
        <img title="hm_cut" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm_fly" toggle-class="active">
        <img title="hm_fly" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm_surf" toggle-class="active">
        <img title="hm_surf" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm-strength" toggle-class="active">
        <img title="hm-strength" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm-flash" toggle-class="active">
        <img title="hm-flash" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm-whirlpool" toggle-class="active">
        <img title="hm-whirlpool" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-hm-waterfall" toggle-class="active">
        <img title="hm-waterfall" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>

<div class="row-5 poke">
    <tr-toggle-class property="poke-crystal-badge-zephyr" toggle-class="active">
        <img title="badge-zephyr" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-hive" toggle-class="active">
        <img title="badge-hive" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-plain" toggle-class="active">
        <img title="badge-plain" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-fog" toggle-class="active">
        <img title="badge-fog" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-storm" toggle-class="active">
        <img title="badge-storm" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-mineral" toggle-class="active">
        <img title="badge-mineral" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-glacier" toggle-class="active">
        <img title="badge-glacier" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-rising" toggle-class="active">
        <img title="badge-rising" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>

<div class="row-6 poke">
    <tr-toggle-class property="poke-crystal-badge-boulder" toggle-class="active">
        <img title="badge-boulder" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-cascade" toggle-class="active">
        <img title="badge-cascade" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-thunder" toggle-class="active">
        <img title="badge-thunder" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-rainbow" toggle-class="active">
        <img title="badge-rainbow" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-soul" toggle-class="active">
        <img title="badge-soul" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-marsh" toggle-class="active">
        <img title="badge-marsh" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-volcano" toggle-class="active">
        <img title="badge-volcano" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="poke-crystal-badge-earth" toggle-class="active">
        <img title="badge-earth" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>
</div>