<div class="super-metroid" style="content-visibility: auto;">
    <tr-toggle-class property="super-metroid-boss1" toggle-class="active">
        <img title="boss1" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-boss2" toggle-class="active">
        <img title="boss2" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-boss3" toggle-class="active">
        <img title="boss3" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-ridely" toggle-class="active">
        <img title="ridely" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>


    <tr-toggle-class property="super-metroid-charge" toggle-class="active">
        <img title="charge" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-ice" toggle-class="active">
        <img title="ice" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-wave" toggle-class="active">
        <img title="wave" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-spazer" toggle-class="active">
        <img title="spazer" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-plasma" toggle-class="active">
        <img title="plasma" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>


    <tr-toggle-class property="super-metroid-morph" toggle-class="active">
        <img title="morph" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-bombs" toggle-class="active">
        <img title="bombs" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-springball" toggle-class="active">
        <img title="springball" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>


    <tr-toggle-class property="super-metroid-varia" toggle-class="active">
        <img title="varia" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-gravity" toggle-class="active">
        <img title="gravity" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>

    <tr-toggle-class property="super-metroid-boots" toggle-class="active">
        <img title="boots" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-run" toggle-class="active">
        <img title="run" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-spacejump" toggle-class="active">
        <img title="spacejump" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-screwattack" toggle-class="active">
        <img title="screwattack" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>

    <tr-toggle-class property="super-metroid-grapple" toggle-class="active">
        <img title="grapple" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
    <tr-toggle-class property="super-metroid-xray" toggle-class="active">
        <img title="xray" width="32" height="32" src="../shared/images/icons/blank.svg"/>
    </tr-toggle-class>
</div>
