<div style="content-visibility: auto;">
<div id="z1r-row-1">
    <figure>
        <tr-toggle-class property="z1r-tri-1" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>1</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-2" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>2</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-3" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>3</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-4" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>4</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-5" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>5</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-6" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>6</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-7" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>7</figcaption>
    </figure>
    <figure>
        <tr-toggle-class property="z1r-tri-8" toggle-class="active">
            <img width="32" height="32" src="../shared/images/icons/blank.svg" />
        </tr-toggle-class>
        <figcaption>8</figcaption>
    </figure>
</div>


<div id="z1r-row-2">
    <tr-image-toggle class="active" property="z1r-bow" src="../shared/images/icons/blank.svg"></tr-image-toggle>
    <tr-image property="z1r-arrow">
        <tr-image-option class="arrow-wood in-active" class-to-set="in-active arrow-no" path="../shared/images/icons/blank.svg"></tr-image-option>
        <tr-image-option class="arrow-wood" class-to-set="arrow-wood" path="../shared/images/icons/blank.svg"></tr-image-option>
        <tr-image-option class="arrow-silver" class-to-set="arrow-silver" path="../shared/images/icons/blank.svg"></tr-image-option>
    </tr-image>

    <div style="grid-column-end: span 3;"></div>
    
    <tr-image-toggle style="grid-area: 1 / -3;" class="active" property="z1r-recorder" src="../shared/images/icons/blank.svg"></tr-image-toggle>
    <tr-image-toggle style="grid-area: 1 / -2;" class="active" property="z1r-bracelet" src="../shared/images/icons/blank.svg"></tr-image-toggle>
</div>

<div id="z1r-row-3">
    <tr-image-toggle style="grid-area: 2 / 1;" class="active" property="z1r-ladder" src="../shared/images/icons/blank.svg"></tr-image-toggle>

    <img class="fire" width="32" height="32" src="../shared/images/icons/blank.svg" alt="">
    <img class="old-man" width="32" height="32" src="../shared/images/icons/blank.svg" alt="">
    <img class="fire" width="32" height="32" src="../shared/images/icons/blank.svg" alt="">

    <tr-image-toggle style="grid-area: 2 / -2;" class="active" property="z1r-raft" src="../shared/images/icons/blank.svg"></tr-image-toggle>
</div>
</div>