* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 435px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 12px; --videoY: 12px;
    --nameWidth: 214px;
    --nameX: 449px; --nameY: 12px;
    --gridX: 449px; --gridY: 64px;
    --pronounX: 500px; --pronounY: 222px;
    --rankX: 589px; --rankY: 222px;
    --speakerX: 449px; --speakerY: 260px;
    --winX: 400px; --winY: 120px;
    --finalX: 400px; --finalY: 80px;
    --vsX: 50%; --vsY: 140px;
	--bingoX: 449px; --bingoY: 224px;
	--countersX: 489px; --countersY: 224px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/bingo/base-background.png');

    --border: 4px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('images/border.svg') 4;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */

@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
}

.background-layer{
    width: 1280px;
    height: 720px;
    background-color: #001880;
}
.layout.transparent-background .background-layer{
    --solid: linear-gradient(#000, #000);
    --vidWidth-contentBox: calc(var(--vidWidth) - 2 * var(--border));
    --vidHeight-contentBox: calc(var(--vidHeight) - 2 * var(--border));
    -webkit-mask:
        var(--solid) 0 0 / 100% 100%,
        var(--solid) var(--clipX1) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) var(--clipX1) calc(720px - var(--clipY1) - var(--vidHeight-contentBox)) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) 704px 7px / 562px 562px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.notwebp .cd-default .background-layer{background-image: url('images/bingo/base-background.png');}
.webp .cd-default .background-layer{background-image: url('images/bingo/base-background.webp');}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.bingo-option{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0px;
    grid-gap: 0px;
	z-index: 10;
}

.bingo-option img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-size: 600% 400%;
}
.notwebp .player-grid img, .notwebp .dialog img{background-image: url('images/retro_tracker/items-sprite-2020.png');}
.webp .player-grid img, .webp .dialog img{background-image: url('images/retro_tracker/items-sprite-2020.webp');}

.bingo-option img, .dialog[id$="bingo-color"] img{
    background-image: url('images/bingo/bingo-icons.png');
    background-size: 100% 1200%;
}

.player-grid-counters{
height: 48px;
padding: 4px;
}

.icon-slot{
float: left; 
padding-left: 36px;	
padding-right: 10px;
height: 32px;
}

.icon-slot.pianos{
background: url(images/retro_tracker/counters-sprites.png) no-repeat left top;
}

.icon-slot.jobs{
background: url(images/retro_tracker/counters-sprites.png) no-repeat left center;
}

.icon-slot.hints{
background: url(images/retro_tracker/counters-sprites.png) no-repeat left bottom;
}

.tablet-1{background-position: 0 0;}
.tablet-2{background-position: 20% 0%;}
.tablet-3{background-position: 40% 0%;}
.tablet-4{background-position: 60% 0%;}
.bracelet{background-position: 80% 0%;}
.tower{background-position: 100% 0%;}

.note-pyramid{background-position: 0 33%;}
.note-library{background-position: 20% 33%;}
.note-cave{background-position: 40% 33%;}
.note-trench{background-position: 60% 33%;}
.mirage{background-position: 80% 33%;}
.go{background-position: 100% 33%;}

.key-waltz{background-position: 0 66%;}
.key-steamship{background-position: 20% 67%;}
.key-sub{background-position: 40% 67%;}
.key-bridge{background-position: 60% 67%;}
.admantine{background-position: 80% 67%;}
.spacer{background-position: 100% 67%;}

.dragon{background-position: 0 100%;}
.moogle{background-position: 20% 100%;}
.ifrit{background-position: 40% 100%;}
.bait{background-position: 60% 100%;}
.branch{background-position: 80% 100%;}

.bingo-red{background-position: 0 0;}
.bingo-orange{background-position: 0 9.1%;}
.bingo-blue{background-position: 0 18.2%;}
.bingo-green{background-position: 0 27.3%;}
.bingo-purple{background-position: 0 36.4%;}
.bingo-white{background-position: 0 45.5%;}
.bingo-navy{background-position: 0 54.6%;}
.bingo-teal{background-position: 0 63.7%;}
.bingo-brown{background-position: 0 72.8%;}
.bingo-pink{background-position: 0 81.9%;}
.bingo-yellow{background-position: 0 91%;}
.bingo-black{background-position: 0 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

.player-winner, .player-final{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

.play-field{
    width: 570px;
    height: 570px;
    top: 3px;
    right: 10px;
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.vs{
    font-size: 24px;
	text-shadow: 4px 4px #000;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 280px;
	height: 70px;
}

.staff svg{
    margin: 0 .25em;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}