* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 435px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 12px; --videoY: 12px;
    --nameWidth: 173px;
    --nameX: 449px; --nameY: 12px;
    --gridX: 449px; --gridY: 64px;
    --pronounX: 548px; --pronounY: 64px;
    --rankX: 548px; --rankY: 100px;
    --speakerX: 445px; --speakerY: 160px;
    --winX: 400px; --winY: 120px;
    --finalX: 400px; --finalY: 80px;
    --vsX: 50%; --vsY: 140px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/4p/base-background.png');
    --bgFallback: linear-gradient(#202028 0 20%,#17203c 0 40%,#10192d 0 60%,#181820 0 80%,#000a62 0 100%);


    --border: 4px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('images/border.svg') 4;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */

@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
}

.background-layer{
    width: 1280px;
    height: 720px;
    background-color: #001880;
}
.layout.transparent-background .background-layer{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
}

.hide-p4 .layout.transparent-background .background-layer{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1),
        /* cover "4p" */
        linear-gradient(red,red) bottom var(--videoY) right var(--videoX) / var(--vidWidth) var(--vidHeight);
    -webkit-mask-repeat: no-repeat
}

.notwebp .cd-default .background-layer{background-image: url('images/4p/base-background.png');}
.webp .cd-default .background-layer{background-image: url('images/4p/base-background.webp');}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 16px;
    height: 16px;
    display: block;
}

.player-grid img, .dialog img{
    background-size: 600% 400%;
}
.notwebp .player-grid img, .notwebp .dialog img{background-image: url('images/retro_tracker/items-sprite-2020.png');}
.webp .player-grid img, .webp .dialog img{background-image: url('images/retro_tracker/items-sprite-2020.webp');}

.tablet-1{background-position: 0 0;}
.tablet-2{background-position: 20% 0%;}
.tablet-3{background-position: 40% 0%;}
.tablet-4{background-position: 60% 0%;}
.bracelet{background-position: 80% 0%;}
.tower{background-position: 100% 0%;}

.note-pyramid{background-position: 0 33%;}
.note-library{background-position: 20% 33%;}
.note-cave{background-position: 40% 33%;}
.note-trench{background-position: 60% 33%;}
.mirage{background-position: 80% 33%;}
.go{background-position: 100% 33%;}

.key-waltz{background-position: 0 66%;}
.key-steamship{background-position: 20% 67%;}
.key-sub{background-position: 40% 67%;}
.key-bridge{background-position: 60% 67%;}
.admantine{background-position: 80% 67%;}
.spacer{background-position: 100% 67%;}

.dragon{background-position: 0 100%;}
.moogle{background-position: 20% 100%;}
.ifrit{background-position: 40% 100%;}
.bait{background-position: 60% 100%;}
.branch{background-position: 80% 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner, .player-final{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.vs{
    font-size: 24px;
	text-shadow: 4px 4px #000;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 280px;
	height: 70px;
}

.staff svg{
    margin: 0 .25em;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}