* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 615px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    
    --videoX: 15px; --videoY: 10px;
    --nameWidth: 380px;
    --nameX: 15px; --nameY: 475px;
    --gridX: 15px; --gridY: 529px;
    --pronounX: 250px; --pronounY: 529px;
    --rankX: 133px; --rankY: 63px;
    --speakerX: 250px; --speakerY: 600px;
    --winX: 175px; --winY: 593px;
    --finalX: 175px; --finalY: 550px;
    --bestX: 250px; --bestY: 567px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/2p/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-image: url('images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
    border-radius: 8px;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #001880;;
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    mask-repeat: no-repeat;
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}

.ffr-default{
    background-color: #001880;
}
.notwebp .ffr-default{background-image: url(images/2p/base-background.png);}
.webp .ffr-default{background-image: url(images/2p/base-background.webp);}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun, .record-contain{
    height: 40px;
    font-size: 20px;
	text-align: center;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(6, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-image: url('images/retro_tracker/items-sprite-2020.png');
    background-size: 600% 400%;
}

.tablet-1{background-position: 0 0;}
.tablet-2{background-position: 20% 0%;}
.tablet-3{background-position: 40% 0%;}
.tablet-4{background-position: 60% 0%;}
.bracelet{background-position: 80% 0%;}
.tower{background-position: 100% 0%;}

.note-pyramid{background-position: 0 33%;}
.note-library{background-position: 20% 33%;}
.note-cave{background-position: 40% 33%;}
.note-trench{background-position: 60% 33%;}
.mirage{background-position: 80% 33%;}
.go{background-position: 100% 33%;}

.key-waltz{background-position: 0 66%;}
.key-steamship{background-position: 20% 67%;}
.key-sub{background-position: 40% 67%;}
.key-bridge{background-position: 60% 67%;}
.admantine{background-position: 80% 67%;}
.spacer{background-position: 100% 67%;}

.dragon{background-position: 0 100%;}
.moogle{background-position: 20% 100%;}
.ifrit{background-position: 40% 100%;}
.bait{background-position: 60% 100%;}
.branch{background-position: 80% 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/retro_tracker/items-sprite-2020.png');
    background-size: 600% 400%;
    background-position: 100% 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final, .player-winner{
    font-size: 20px;
    height: 40px;
    width: 110px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
	padding: 10px;
}

.player-final:empty{
    display:none;
}

tr-timer{
	width: 280px;
    height: 90px;
    z-index: 1;
	font-size: 24px;
	top: 625px; 
	left: 705px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
    width: 410px;
    height: 90px;
	top: 625px; 
	left: 290px; 
    text-align: center;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 350px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}