/*  =============
    global styles
    ============= */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    font-family: Arial, sans-serif;
    font-size: 1em;
    
    --vidWidth: 580px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) / (var(--vidAspect)) );

    --fontColor: #f2f2f2;
    --backgroundColor1: #0c0946;
    --border: 1px;
    --borderImage: url(images/border-sprite.svg) 4 / 4px / 1px;

    --videoX: 36px; --videoY: 16px;
    --offset: 14px;

    --row-two: 465px;
    --row-three: 520px;
    font-family: "FF4", sans-serif;

}

/* helper classes */

.border-1{
    outline: var(--border) solid var(--fontColor);
}
.border-2{
    border: solid 1px var(--fontColor);
}
@supports (corner-shape: notch) {
    .border-2{
        border-radius: 1px;
        corner-shape: notch;
        corner: notch 1px;
        box-shadow: 
            inset 0 0 0 1px #737373,
            0 0 0 1px #737373;
    }
}
@supports not (corner-shape: notch) {
    .border-2{
        border-image: var(--borderImage);
    }
}

.background-1{
    background-color: var(--backgroundColor1);
}

/*  ==========
    Typography
    ========== */

@font-face {
    font-family: "FF4";
    src: url("fonts/final_fantasy_iv-webfont.woff2") format("woff2");
}

/*  ==========
    Components
    ========== */

.layout{
    /* background image and color in html */
    position: relative;
    color: var(--fontColor);
}

.layout.transparent-background{
    --red: linear-gradient(red 0 0);
    --video-size: var(--vidWidth) var(--vidHeight);

    mask-image: var(--red), var(--red), var(--red);
    mask-repeat: no-repeat;
    mask-position: 0 0, var(--videoX) var(--videoY), right var(--videoX) top var(--videoY);
    mask-size: 100% 100%, var(--video-size), var(--video-size);
    mask-composite: exclude;
}

.transparent-background{background-color: #0000;}

/*  ==========
    player-video
    ========== */

[player] .player-video{anchor-name: --video;}

[player="1"] .player-video {
    left: var(--videoX); 
    top: var(--videoY); 
}

[player="2"] .player-video {
    right: var(--videoX); 
    top: var(--videoY);
}

.layout.black-background .player-video{
    background-color: #000;
    background-image: url(images/The-End.webp);
}

.layout.tech-diff-background .player-video{
    background-image: url(images/2p/TechDifficulties-RM.webp);
    background-image:
        image-set(
            url("images/2p/TechDifficulties-RM.avif") type("image/avif"),
            url("images/2p/TechDifficulties-RM.webp") type("image/webp")
        );
}

/*  ==========
    player-name
    ========== */

.player-name{
    --nameWidth: 319px;
    anchor-name: --name;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    padding: 0 8px;
}

[player="1"] .player-name {
    top: var(--row-two);
    left: 184px;
}

[player="2"] .player-name {
    top: var(--row-two);
    right: 184px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

/*  ==========
    player-grid
    ========== */

.player-grid{
    top: var(--row-three);
    grid-template-columns: auto;
    padding: 2px;
}

[player="1"] .player-grid {
    top: var(--videoY);
    left: 4px;
}

[player="2"] .player-grid {
    top: var(--videoY);
    right: 4px;
}

.player-grid img, .dialog img{
    width: 24px;
    display: block;
    /* background image and color in html */
    background-size: 500% 500%;
}

[property="pass"] img{background-position: 25% 0;}
[property="hook"] img{background-position: 50% 0;}
[property="dark-crystal"] img{background-position: 75% 0;}

[property="earth-crystal"] img{background-position: 0 25%;}
[property="twin-harp"] img{background-position: 25% 25%;}
[property="package"] img{background-position: 50% 25%;}
[property="sand-ruby"] img{background-position: 75% 25%;}

[property="baron-key"] img{background-position: 0 50%;}
[property="magma-key"] img{background-position: 25% 50%;}
[property="tower-key"] img{background-position: 50% 50%;}
[property="luca-key"] img{background-position: 75% 50%;}

[property="adamant"] img{background-position: 0 75%;}
[property="legend-sword"] img{background-position: 25% 75%;}
[property="pan"] img{background-position: 50% 75%;}
[property="spoon"] img{background-position: 75% 75%;}

[property="rat-tail"] img{background-position: 25% 100%;}
[property="pink-tail"] img{background-position: 50% 100%;}

/*  ==========
    player-speaker
    ========== */

[player] .player-speaker{
    position-anchor: --name;
    padding: 4px;
}

[player="1"] .player-speaker {
    inset-area: left center;
    position-area: left center;
    right: var(--offset);
    transform: rotateY(180deg);
}

[player="2"] .player-speaker {
    inset-area: right center;
    position-area: right center;
    left: var(--offset);
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

/*  ==========
    player-final-winner-contain
    ========== */
.final-winner-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

.player-final-winner-contain{
    display: flex;
    gap: 12px;
}

[player="1"] .player-final-winner-contain {
    bottom: 275px;
    left: 39px;
}

[player="2"] .player-final-winner-contain {
    bottom: 275px;
    right: 39px;
}

[player="2"] .player-final-winner-contain {
    flex-direction: row-reverse;
}

/*  ==========
    player-winner
    ========== */

.player-winner{
    color: #f8b800;
    font-weight: bold;
    height: 50px;
    width: 216px;
    padding: 0 .5em;
    z-index: 2;
}

/*  ==========
    player-final
    ========== */

.player-final{
    color: #f8b800;
    height: 50px;
    width: 216px;
    z-index: 2;
}

.player-final:empty{
    display:none;
}

/*  ==========
    player-bestof
    ========== */

.player-best-of{
    position-anchor: --name;
    top: var(--offset);
    display: grid;
    display: none;
}

[player="1"] .player-best-of {
    inset-area: right bottom;
    position-area: right bottom;
    left: var(--offset);
}

[player="2"] .player-best-of {
    inset-area: left bottom;
    position-area: left bottom;
    right: var(--offset);
}

.player-best-of{
    /* width: 216px; */
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: none;
}

.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/2p/ff4fe-sparkle-crystal.png');
    background-size: 1000% 100%;
}

.player-best-of .active img{
    animation: crystal-sparkle 1.9s steps(8) forwards;
}

@keyframes crystal-sparkle {
    from{ background-position-x: -32px; }
    to{ background-position-x: -288px; }
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3),
.best-of-5 tr-toggle-class:nth-child(n+4),
.best-of-7 tr-toggle-class:nth-child(n+5){
    display: none;
}

tr-timer{
    width: 11em;
    height: 52px;
    z-index: 1;
    top: var(--row-two);
    left: 50%;
    transform: translateX(-50%);
}
tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    top: var(--row-three);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: auto;
}

.staff tr-template{
    display: contents;
}

.staff-panel{
    height: 46px;
    width: 167px;
    font-size: 12px;
}

.commentators-contain, .restreamers-contain, .trackers-contain {
    gap: 4px;
    padding: 4px;
    grid-template-columns: 32px 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.staff-panel svg{
    grid-row: span 2;
    height: 2.4em;
}

.objective-row{
    width: 100%;
    display: flex;
    justify-content: center;
    top: 565px;
}

.objectives-contain{
    left: 457px;
    top: 542px;
    display: flex;
    flex-direction: column;
}

.objectives-contain > *{
    margin-bottom: -2px;
}

.objective-contain{
    visibility: collapse;
    display: flex;
}
.objective-contain.show-objective{
    visibility: initial;
}

.objective-label{
    font-size: 18px;
    width: 22px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-left: 2px;
    padding-top: 2px;
    --stroke-color: #252525;
    background-color: var(--stroke-color);
    color: var(--stroke-color);
    position: relative;
    text-shadow: 1px 1px var(--stroke-color), -1px -1px var(--stroke-color), -1px 1px var(--stroke-color), 1px -1px var(--stroke-color);
}

.objective-contain tr-toggle-class, .objective-contain .in-active {
    opacity: 1;
    filter: none;
}

.active .objective-label{
    color: #fff;
    animation: objective-blink .5s steps(1) 3;
}

@keyframes objective-blink{
    50%{
        background-color: #252525;
        color: #a7a7a7;
        --stroke-color: #000;
    }
}

.objective-1.active .objective-label{background-color: #ad170c; --stroke-color: #470909;}
.objective-2.active .objective-label{background-color: #ad5601; --stroke-color: #472a09;}
.objective-3.active .objective-label{background-color: #a59002; --stroke-color: #474509;}
.objective-4.active .objective-label{background-color: #0c6527; --stroke-color: #09470f;}
.objective-5.active .objective-label{background-color: #0050b0; --stroke-color: #003789;}
.objective-6.active .objective-label{background-color: #741d87; --stroke-color: #440557;}
.objective-7.active .objective-label{background-color: #dc2584; --stroke-color: #70014c;}
.objective-8.active .objective-label{background-color: #dc2584; --stroke-color: #70014c;}

.eblan .objective-1.active .objective-label{background-color: #ad170c; --stroke-color: #570c06;}
.eblan .objective-2.active .objective-label{background-color: #ad5601; --stroke-color: #572b01;}
.eblan .objective-3.active .objective-label{background-color: #a59002; --stroke-color: #534801;}
.eblan .objective-4.active .objective-label{background-color: #0c6527; --stroke-color: #063314;}
.eblan .objective-5.active .objective-label{background-color: #1f9485; --stroke-color: #104a43;}
.eblan .objective-6.active .objective-label{background-color: #0050b0; --stroke-color: #002858;}
.eblan .objective-7.active .objective-label{background-color: #3200b0; --stroke-color: #190058;}
.eblan .objective-8.active .objective-label{background-color: #741d87; --stroke-color: #3a0f44;}

.objective-text-contain{
    height: 24px;
    width: 323px;
    margin-left: -1px;
    text-align: center;
    z-index: 2;
}

.objectives-contain tr-text{
    font-size: 14px;
    padding: 6px 6px 4px;
    z-index: 2;
    width: 322px;
    height: 24px;
}


/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px currentColor;
    z-index: 3;
}

.display-none{ display: none; }

.show{ display: block; }

/*  ==========
    Menu
    ========== */