@font-face {
	font-family: "SMB3";
	src: url("/smb3r/fonts/Super-Mario-Bros--3.ttf") format("truetype");
}

body {
	font-family: "SMB3", sans-serif;
	background-color: #000;
	color: #fff;
	text-shadow:
		0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000,
		1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
		1px 2px 0 #000, 1px -2px 0 #000, -2px 1px 0 #000, 2px 1px 0 #000,
		2px 2px 0 #000, -2px -2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
		0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000;
}

.player-name {
	position: absolute;
	text-align: center;
	font-size: 13px;
	width: 220px;
}

.player-final {
	position: absolute;
	width: 120px;
	height: 20px;
	padding-bottom: 5px;
	text-align: center;
	border: 1px solid;
	font-size: 18px;
}

.player-speaker {
	position: absolute;
	border: 1px solid;
}

#player_final_1, #player_speaker_1{
	background-color: #4cdc48;
	border-image: url(images/border-green.png) repeat 9 / 9px 9px 9px 0 / 1px 1px 1px 0;
}

#player_final_2, #player_speaker_2{
	background-color: #fcbcb0;
	border-image: url(images/border-pink.png) repeat 9 / 9px 0 9px 9px / 1px 0 1px 1px;
}

#player_final_3, #player_speaker_3{
	background-color: #a8e4fc;
	border-image: url(images/border-blue.png) repeat 9 / 9px 9px 9px 0 / 1px 1px 1px 0;
}

#player_final_4, #player_speaker_4{
	background-color: #fc9838;
	border-image: url(images/border-brown.png) repeat 9 / 9px 0 9px 9px / 1px 0 1px 1px;
}

.player-speaker img {
	height: 46px;
	filter: invert(100%) drop-shadow(-1px 0 0 #000) drop-shadow(0 -1px 0 #000) drop-shadow(1px 0 0 #000) drop-shadow(0 1px 0 #000);
}

#timer {
	width: 300px;
	position: absolute;
	font-size: 18px;
	text-align: right;
	text-shadow: none;
	color: #000;
}

#timer span:not(.dot):not(.colon) {
	width: 16.8833px;
	display: inline-block;
}

#timer .ms {
	font-size: 12px;
	width: 11.25px !important;
}

#commentators, #staff {
	font-size: 12px;
	position: absolute;
	height: 75px;
	width: 190px;
	line-height: 22px;
}

#staff {
	box-sizing: border-box;
	background-color: #fff;
	width: 206px;
	height: 72px;
	border: 9px solid #000;
	border-image: url('images/border-white.png') 9 / 9px / 1px;
	animation: switch 60s steps(1) infinite;
}

@keyframes switch {
	from{opacity:0;}
	50%{opacity: 1;}
	to{opacity: 1;}
  }

#staff h4{
	margin: -9px 0 0;
	text-align: center;
	color: #000;
	text-shadow: none;
	font-size: 16px;
}

.logo{
	position: absolute;
	top: 12px;
	left: 4px;
	height: 82px;
	border: solid 8px;
	border-image: url(images/border-tan.png) repeat 9 / 9px / 1px;
}

/*
.oneshot{
	position: absolute;
	top: 12px;
	left: 1081px;
	height: 99px;
}
*/

#world_tracker {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(7, 56px)
}

.world-icon,
.world-icon img {
	width: 48px;
	height: 48px;
}