@font-face {
	font-family: "FF4";
	src: url("/ff4fe/fonts/Final Fantasy IV.ttf") format("truetype");
}

body {
	font-family: "FF4", sans-serif;
}

.player-name {
	position: absolute;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	width: 153px;
	text-shadow: 2px 2px 2px #000;
	transform: scaleY(1.2);
	line-height: 20px;
}

.player-final-container {
	width: 125px;
	height: 23px;
	text-align: right;
	font-size: 16px;
	background-color: black;
	position: absolute;
	line-height: 20px;
	transform: scaleX(0.8);
	padding-top: 5px;
}

.player-final {
	color: #90EE90;
	text-shadow: 2px 2px 2px #2800FF;
}

.player-speaker {
	position: absolute;
}

.player-speaker img {
	height: 32px;
}

.item-grid {
	position: absolute;
	display: grid;
	grid-template-columns: 22px 22px 22px 22px;
}

.item,
.item img {
	width: 22px;
	height: 22px;
}

#timer {
	width: 125px;
	position: absolute;
	font-size: 16px;
	color: #FFF;
	text-align: right;
	line-height: 20px;
	transform: scaleX(0.8);
}

#timer span:not(.dot):not(.colon) {
	width: 16px;
	display: inline-block;
}

#timer .dot {
	display: none !important;
} 

#timer .ms {
	display: none !important;
}

#commentators {
	color: #FFF;
	font-size: 12px;
	position: absolute;
	text-shadow: 2px 2px 2px #000;
	height: 40px;
	width: 200px;
	line-height: 18px;
	text-align: left;
	transform: scaleX(0.9);
	white-space: nowrap;
}

.points {
	color: white;
	font-size: 12px;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	border: 1px solid #ABABAB;
	border-radius: 2px;
	background-color: #000084;
}

.points:empty {
	display: none;
}