* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 1px #fff;
    --backgroundColor1: #0c0946;
    --vidWidth: 584px;
    --vidAspect: 4 / 3.031;
    --videoX: 12px; --videoY: 10px;
    --nameWidth: 298px;
    --nameX: 12px; --nameY: 464px;
    --gridX: 12px; --gridY: 529px;
    --grid2X: 169px; --grid2Y: 530px;
    --speakerX: 386px; --speakerY: 473px;
    --winX: 169px; --winY: 530px;
    --finalX: 169px; --finalY: 591px;
    --bestX: 390px; --bestY: 554px;
    --timerX: 169px; --timerY: 591px;
}

.border-1{
    border: var(--border1);
    border-image: url(images/ff4-border.png) 3 / 3px / 1px;
    image-rendering: pixelated;
}

.background-1{
    background-color: var(--backgroundColor1);
}

.border-background-1 {
    border: var(--border1);
    border-image: url(images/ff4-border.png) 3 / 3px / 1px;
    background-color: var(--backgroundColor1);
    image-rendering: pixelated;
}

.abs{position: absolute;}

@font-face {
    font-family: "FF4";
    src:
        url("fonts/final_fantasy_iv-webfont.woff") format("woff2"),
        url("fonts/final_fantasy_iv-webfont.woff") format("woff"),
        url("fonts/Final Fantasy IV.ttf") format("truetype");
}

.layout{
    font-family: "FF4", sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: var(--backgroundColor1);
}

.layout.trans{background-color: transparent; background-image: none;}

.layout.ccs-mysidian-jumping{background-image: linear-gradient(#73d417,#122c04);}
.notwebp .layout.ccs-mysidian-jumping{background-image: url(images/2p/ccs/CCS-BG-MysidianJumpingClub.png), linear-gradient(#73d417,#122c04);}
.webp.notavif .layout.ccs-mysidian-jumping{background-image: url(images/2p/ccs/CCS-BG-MysidianJumpingClub.webp), linear-gradient(#73d417,#122c04);}
.avif .layout.ccs-mysidian-jumping{background-image: url(images/2p/ccs/CCS-BG-MysidianJumpingClub.avif), linear-gradient(#73d417,#122c04);}

.layout.ccs-special-feature{background-color: #4d0627;}
.notwebp .layout.ccs-special-feature{background-image: url(images/2p/ccs/CCS-BG-SpecialFeature.png);}
.webp .layout.ccs-special-feature{background-image: url(images/2p/ccs/CCS-BG-SpecialFeature.webp);}

.layout.ccs-sunday-slapdash{background-color: #404140;}
.notwebp .layout.ccs-sunday-slapdash{background-image: url(images/2p/ccs/CCS-BG-SundaySlapdash.png);}
.webp .layout.ccs-sunday-slapdash{background-image: url(images/2p/ccs/CCS-BG-SundaySlapdash.webp);}

.layout.ccs-enterprise-legacy{background-color: #503a10;}
.notwebp .layout.ccs-enterprise-legacy{background-image: url(images/2p/ccs/CCS-BG-EnterpriseLegacy.png);}
.webp .layout.ccs-enterprise-legacy{background-image: url(images/2p/ccs/CCS-BG-EnterpriseLegacy.webp);}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.transparent-background{background-color: transparent;}

.layout.black-background .player-video{background-color: #000;}
.notwebp .layout.black-background .player-video{background-image: url(images/The-End.png);}
.webp .layout.black-background .player-video{background-image: url(images/The-End.webp);}

.layout.magenta-background .player-video{background-color: #f0f;}
.notwebp .layout.magenta-background .player-video{background-image: url(images/2p/TechDifficulties-RM.jpg);}
.webp .layout.magenta-background .player-video{background-image: url(images/2p/TechDifficulties-RM.webp);}

.player-info{
    color: #fff;
    font-size: 18px;
    height: 55px;
    width: 366px;
    display: flex;
    align-items: center;
    z-index: 2;
}

[player="1"] .player-info{text-align: left;}
[player="2"] .player-info{
    text-align: right;
    flex-direction: row-reverse;}

.name-pronoun-contain{
    padding: 8px 0 8px 8px;
}

[player="2"] .name-pronoun-contain{
    padding: 8px 8px 8px 0;
}

.player-name-contain{
    width: var(--nameWidth);
}

.player-name-contain tr-text{
    width: var(--nameWidth);
}

.player-pronoun:empty{
    display: none;
}

.record-seed-contain{
    display: grid;
}
.record-contain, .seed-contain{
    grid-area: 1/1;
    height: 55px;
    width: 60px;
    display: grid;
    align-content: center;
    gap: 4px;
    z-index: 1;
    text-align: center;
}

.seed-contain div{
    font-size: 12px;
}

.player-grid{
    display: grid;
    grid-template: repeat(5, auto) / repeat(4, auto);
    padding: 8px 7px;
    width: 146px;
    height: 181px;
}

.player-grid-2{
    display: flex;
    justify-content: space-around;
    padding: 7px 8px;
    width: 209px;
    height: 50px;
}

.player-grid-2 tr-class-if-full{
    display: none;
}
.player-grid-2 tr-class-if-full.show-objective{
    display: block;
}

tr-image-toggle img.active, tr-toggle-class.active {
    opacity: 1;
    filter: grayscale(0) brightness(1);
}

.player-grid-2 tr-toggle-class.active{
    animation: objective-blink .5s steps(1) 3;
}

@keyframes objective-blink{
    from{filter: grayscale(0) brightness(1);}
    50%{filter: grayscale(0) brightness(.5);}
}

tr-toggle-class, .in-active {
    opacity: 1;
    filter: grayscale(1) brightness(.5);
}

.player-grid img, .player-grid-2 img{
    background-image: url(images/2p/ff4fe-spritesheet.png);
    width: 32px;
    height: 32px;
    display: block;
}

[property="pass"] img{background-position: 25% 0;}
[property="hook"] img{background-position: 50% 0;}
[property="dark-crystal"] img{background-position: 75% 0;}

[property="earth-crystal"] img{background-position: 0 25%;}
[property="twin-harp"] img{background-position: 25% 25%;}
[property="package"] img{background-position: 50% 25%;}
[property="sand-ruby"] img{background-position: 75% 25%;}

[property="baron-key"] img{background-position: 0 50%;}
[property="magma-key"] img{background-position: 25% 50%;}
[property="tower-key"] img{background-position: 50% 50%;}
[property="luca-key"] img{background-position: 75% 50%;}

[property="adamant"] img{background-position: 0 75%;}
[property="legend-sword"] img{background-position: 25% 75%;}
[property="pan"] img{background-position: 50% 75%;}
[property="spoon"] img{background-position: 75% 75%;}

[property="rat-tail"] img{background-position: 25% 100%;}
[property="rat-tail"]{grid-column: 2;}
[property="pink-tail"] img{background-position: 50% 100%;}

[property="objective-one"] img{background-position: 100% 0;}
[property="objective-two"] img{background-position: 100% 25%;}
[property="objective-three"] img{background-position: 100% 50%;}
[property="objective-four"] img{background-position: 100% 75%;}
[property="objective-five"] img{background-position: 100% 100%;}

.objectives-contain{
    left: 451px;
    top: 529px;
    display: flex;
    flex-direction: column;
}

.objectives-contain > *{
    margin-bottom: -2px;
}

.objective-contain{
    visibility: collapse;
    display: flex;
}
.objective-contain.show-objective{
    visibility: initial;
}

.objective-label{
    font-size: 19px;
    width: 22px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-left: 3px;
    padding-top: 2.5px;
}

.objective-text-contain{
    height: 24px;
    width: 345px;
    margin-left: -1px;
}

.objectives-contain tr-text{
    font-size: 14px;
    padding: 6px 6px 4px;
    z-index: 2;
    width: 345px;
    height: 24px;
}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
    filter: drop-shadow(0 0 1px #000);
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    width: 209px;
    height: 50px;
    font-weight: bold;
    font-size: 27px;
    color: #fff;
    text-shadow: 2px 2px #000, 2px -2px #000, -2px 2px #000, -2px -2px #000;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-best-of{
    display: grid;
    grid-template-columns: 32px;
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/2p/ff4fe-spritesheet.png');
    background-size: 500% 500%;
    background-position: 75% 100%;
}
.player-best-of .active img{
    background-position: 0 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final:empty{
    display:none;
}

tr-timer, .player-final{
	width: 209px;
    height: 50px;
    z-index: 1;
    font-size: 27px;
    justify-content: flex-end;
    align-items: center;
    padding: 3px;
    display: flex;
    letter-spacing: 1px;
}

.player-final{
    color: #ffdd00;
    --text-shadow-color: #940000;
    text-shadow: 0 3px 0 var(--text-shadow-color), 3px 0 0 var(--text-shadow-color), 3px 3px 0 var(--text-shadow-color);
}

tr-timer span {
    width: 29px;
    text-align: center;
}

.ms,.dot{
    display: none;
}
.colon{
    width: 26px;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    height: 100%;
}

.staff{
    overflow: hidden;
    font-size: 14px;
    padding: 8px;
    width: 366px;
    height: 55px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    grid-gap: 5px;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr; line-height: 1.5;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 307px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0; transform: translateY(-2px) scale(3.1);}
.restreamers-img{background-position: 0 0; transform: scale(1.4);}
.trackers-img{background-position: 50% 0; transform: scale(1.4);}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none{ display: none; }

.show{ display: block; }

/* Menu */

.menu-game-specific .fieldset.objectives-menu > div{
    display: flex;
}

.objectives-list-menu{display:none;}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

#menu_credits{grid-area: credits;}
#menu_players_extra{grid-area: players2;}
#menu_round{grid-area: tourney;}
#menu_objectives{
    grid-area: objectives;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}
#menu_backgrounds{grid-area: backgrounds;}

.menu-contain{
    grid-template-areas:
        "objectives players2    players layout  layout  team"
        "objectives backgrounds timer   view    reset   credits"
        "objectives tourney     timer   view    reset   credits";
    }