
        :root{
            --border-1: solid 2px rgba(255,255,255,.75);
            --background-color-1: rgba(0,0,0,.5);
         }

        *{
            box-sizing: border-box;
            margin:0;
            padding:0;
        }

        /* layout specific styles */
        @font-face {
            font-family: "Orbitron";
            src: url("fonts/Orbitron-Bold_0.ttf") format("truetype");
        }

        .layout{
            font-family: "Orbitron", sans-serif;
            letter-spacing: 2px;
            width: 1280px;
            height: 720px;
            background-color: #000;
            color:#fff;
            position: relative;
            background-image: url('images/the-legend-of-zelda-zelda-ocarina-time-1920x1080-106031.jpg');
            background-size: 100%;
            background-position-y: 277px;
            background-repeat: no-repeat;
            background-color: #c9c796;
        }

        .full-layout{
        position: absolute;
        left: 0;
        top: 0; 
        width: 1280px;
        height: 720px;
        pointer-events: none;
    }

    .full-layout > * {
        pointer-events: initial;
    }


        .video-background{
            --w: calc( 1280px / 2 + 2px);
            width: var(--w);
            height: calc( var(--w) * 3/4);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .video-background img{
            width: 100%;
            height: auto;
        }

        #player_1, #player_2{
            width: 100%;
            height: 100%;
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,auto);
            align-content: space-between;
            grid-auto-flow: column; 
        }

        #player_2{
            justify-items: flex-end;
        }

        #player_2 .row-2, #player_2 .row-3{
            flex-direction: row-reverse;
        }

        .row-2, .row-3{
            height: min-content;
            display: flex;
            align-items: center;
        }

        .player-video{
            --w: calc( 1280px / 2 + 2px);
            width: var(--w);
            height: calc( var(--w) * 3/4);
            border: solid 2px;
            grid-column: span 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .player-video img{
            width: 100%;
            height: auto;
        }

        .player-video img[src='images/green.svg'],
        .player-video img[src='images/blue.svg'],
        .player-video img[src='images/magenta.svg']{
            width: 100%;
            height: 100%;
        }

        .player-name{
            font-size: 26px;
            width: 400px;
            padding: .25em;
            text-align: center;
        }
 
        #player_name_1.winner, #player_name_2.winner{
            color: #000;
            background-color: goldenrod;
            background-image: linear-gradient(-45deg, transparent, rgba(255,255,255,.5), transparent, rgba(255,255,255,.3), transparent, rgba(255,255,255,.6), transparent);
            background-position-x: 0px;
            background-size: 100% 100%;
            /* animation: shine 5s infinite; */
        }

        /* @keyframes shine {
            from{ background-position-x: 0;}
            to{ background-position-x: 100%;}
        } */

        .player-final{
            font-size: 24px;
            width: 200px;
            padding: .25em;
            text-align: center;
        }

        .player-final:empty{
            display:none;
        }

        #player_final_1{
            animation: from-left .5s linear;
        }

        #player_final_1:after{
            content: '';
            left: 140%;
            bottom: -5px;
            background-image: url('images/excite-slime.png');
            background-size: 100%;
            width: 50px;
            height: 50px;
            filter: drop-shadow(0 0 15px orange);
            animation: idle .1s steps(2) infinite;
        }
        
        @keyframes idle {
            from{ transform: translateY(0);}
            to{ transform: translateY(-5%);}
        }

        #player_final_1:before{
            content: '';
            left: 100%;
            top: 0;
            background-image: url('images/rope.png');
            background-size: 100% 100%;
            width: 80px;
            height: 40px;
        }

        @keyframes from-left{
            from{transform: translateX(-100%);}
            to{transform: translateX(0);}
        }

        #player_final_2{
            animation: from-right .5s linear;
        }
        
        @keyframes from-right{
            from{transform: translateX(100%);}
            to{transform: translateX(0);}
        }

        tr-toggle.player-speaker{
            font-size: 24px;
            padding: 2px 4px;
        }

        tr-toggle.player-speaker > img{
            width: 48px;
            height: 48px;
        }

        .player-grid{
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-template-rows: repeat(3, auto);
            grid-auto-flow: column;
            grid-gap: 11px/13px;
            width: min-content;
            grid-gap: 11px 14px;
            padding: 4px 8px;
        }

        #player-grid-1-equip{
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);
            margin-left: -2px;
        }

      

/* dialog styles */
    
    .dialog{
        text-align: center;
        background-color: #000;
        display: grid;
        grid-template-columns: repeat(3,32px);
        grid-gap: 14px;
        padding: 7px;
        border: solid 2px #fff;
        }

    figure img{
        width: 32px;
        height: 32px;
    }

.spells{
    font-size: 13px;
    padding: 4px 8px;
    margin-left: -2px;
}
        .border-1{
            border: var(--border-1);
        }
        
         .background-style-1{
            background-color: var(--background-color-1);
        }

        .border-background-1 {
            border: var(--border-1);
            background-color: var(--background-color-1);
        }

        .abs{
            position: absolute;
        }

        .bracket, .calendar{
            width: 1280px;
            height: 720px;
            background-image: url(images/rm-generic.png);
            background-size: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    .layout-background img{
        left: 0;
        top: 0; 
        width: 1280px;
        height: 720px;
    }

    #production{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: end;
    }

    #layout_background_2 img{
        -webkit-mask-image: linear-gradient(95deg, transparent 40%, #000 60%);
        mask-image: linear-gradient(95deg, transparent 40%, #000 60%);
    }

    .cod{
        width: 51px;
        height: 2em;
        padding: .25em .5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cod:empty{
        display: none;
    }

    [property="hurt+"]{
        position: relative;
    }

[property="hurt+"].active:after{
    content: '';
    bottom: -5px;
    left: 26px;
    width: calc(270px / 9);
    height: 44px;
    position: absolute;
    background-image: url('images/fireball-frames.png');
    background-position: 0 0;
    animation: fireball 1s steps(9);
    transform: scale(3);
    image-rendering: pixelated;
    transform-origin: 50% 100%;
    pointer-events: none;
}

@keyframes fireball {
    from{background-position: 0 0;}
    to{background-position: -270px 0;}
}

/* Bracket Screen */

.bracket{
    animation: rotateIn 1s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
}

@keyframes rubberBand {
    from {transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(1.25, 0.75, 1);}
    40% {transform: scale3d(0.75, 1.25, 1);}
    50% {transform: scale3d(1.15, 0.85, 1);}
    65% {transform: scale3d(0.95, 1.05, 1);}  
    75% {transform: scale3d(1.05, 0.95, 1);}
    to {transform: scale3d(1, 1, 1);}
  }
  
  .rubberBand {animation-name: rubberBand;}

  @keyframes lightSpeedIn {
    from {transform: translate3d(100%, 0, 0) skewX(-30deg);opacity: 0;}
    60% {transform: skewX(20deg);opacity: 1;}
    80% {transform: skewX(-5deg);}
    to {transform: translate3d(0, 0, 0);}
  }
  
  .lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
  }

  @keyframes tada {
    from {transform: scale3d(1, 1, 1);}
    10%,20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
    30%,50%,70%,90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
    40%,60%,80% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
    to {transform: scale3d(1, 1, 1);}
}
  
  .tada {animation-name: tada;}


  @keyframes zoomIn {
    from {opacity: 0; transform: scale3d(0.3, 0.3, 0.3);}
    50% {opacity: 1;}
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }
/* Loading Screen */

.loadscreen{
    width: 1280px;
    height: 720px;
    background-color: #000;
    background-image: url(images/rm-generic.png);
    background-size: 50%;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template: repeat(8, auto) / 1fr;
    grid-gap: 1em;
    align-items: center;
    animation: zoomIn 1.25s linear;
}

@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

#darthspin{
    display: flex;
    justify-content: space-around;
}
#darthspin img{
    animation: spin 3s linear infinite;
    width: calc(70px * 2);
    height: calc(62px * 2);
}

#darthspin img:nth-of-type(2){
    animation-direction: reverse;
}

@keyframes spin{
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}

#promos_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#promos_1 img{
    height: 200px;
}
