* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 8px #407048;
    --backgroundColor1: rgba(0,0,0,1);
    --vidWidth: 408px;
    --vidAspect: 4 / 3;
    --videoX: 223px; --videoY: 0px;
    --nameWidth: 200px;
    --nameX: 4px; --nameY: 0px;
    --gridX: 112px; --gridY: 48px;
    --speakerX: 185px; --speakerY: 47px;
    --winX: 59px; --winY: 57px;
    --finalX: 489px; --finalY: 8px;
    --vsX: 50%; --vsY: 9px;
    --icon-width: 32px;
    --slot1: 0;
    --slot2: calc(var(--icon-width) * -1);
    --slot3: calc(var(--icon-width) * -2);
    --slot4: calc(var(--icon-width) * -3);
    --slot5: calc(var(--icon-width) * -4);
    --slot6: calc(var(--icon-width) * -5);
    --slot7: calc(var(--icon-width) * -6);
    --slot8: calc(var(--icon-width) * -7);
    --slot9: calc(var(--icon-width) * -8);
    --slot10: calc(var(--icon-width) * -9);
}

.border-1{
    border: var(--border1);
    border-image: url('images/border-ep.png') repeat 8 / 8px;
}
.background-1{background-color: var(--backgroundColor1);}

.border-background-1 {
    border: var(--border1);
    border-image: url('images/border-ep.png') 8 fill repeat;
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

@font-face {
	font-family: "TriForce";
	src: url("/z3r/fonts/Triforce.ttf") format("truetype");
}

@font-face {
	font-family: "ROG";
	src: url("/z3r/fonts/RetGanon.ttf") format("truetype");
}

.layout{
    font-family: "ROG", sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #383858;
    border: 0px transparent solid;
    border-image: url('images/icons/all-icons-sheet.png') repeat 304 272 255 0 fill / 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated; 
}
.ep{border-image-slice: 304 272 255 0 fill;}

.ep .border-1{
    border: var(--border1);
    border-image: url('images/border-ep.png') repeat 8 / 8px;
}
.ep .border-background-1 {
    border-color: #407048;
    border-image: url('images/border-ep.png') 8 fill repeat;
    background-color: var(--backgroundColor1);
}

.ep-spikes{border-image-slice: 304 256 255 16 fill;}

.hc{border-image-slice: 320 272 239 0 fill;}
.hc .border-1{
    border-color: #a89840;
    border-image-source: url('images/border-hc.png');
}
.hc .border-background-1 {
    border-color: #a89840;
    border-image-source: url('images/border-hc.png');
    background-color: #984848;
}

.mm{border-image-slice: 352 31 0 0 fill;}
.mm .border-1{
    border-color: #285030;
    border-image-source: url('images/border-mm.png');
}
.mm .border-background-1 {
    border-color: #285030;
    border-image-source: url('images/border-mm.png');
    background-color: #7b6b39;
}


.tr{border-image-slice: 320 256 239 16 fill;}
.tr .border-1{
    border-color: #684830;
    border-image-source: url('images/border-tr.png');
}
.tr .border-background-1 {
    border-color: #684830;
    border-image-source: url('images/border-tr.png');
    background-color: #583830;
}



.ip{border-image-slice: 336 272 223 0 fill;}
.ip .border-1{
    border-color: #5890d0;
    border-image: url('images/border-ip.png') repeat 8 / 8px;
}
.ip .border-background-1 {
    border-color: #5890d0;
    border-image: url('images/border-ip.png') 8 fill repeat;
    background-color: #4068a0;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-name{
    height: 48px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
	font-size: 32px;
	padding: 5px;
	font-family: "Triforce", sans-serif;
}

.player-name tr-text{
    width: var(--nameWidth);
    vertical-align: middle;
}

.player-name:empty{
    display: none;
}

.player-grid-contain{
    width: 144px;
    height: 304px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: .3s width linear;
}

.player-grid-contain.keysanity{
    width: 208px;
}

.player-grid{
    width: 144px;
    height: 304px;
    display: grid;
    grid-template-columns: repeat(4, 32px);
    grid-template-rows: repeat(9, 32px);
}

.player-grid-left, .player-grid-right{
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: repeat(2,32px);
    grid-gap: 0;
    align-content: center;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.com-img{background-image: url('../shared/images/icons/microphone-line.svg');}
.restreamer-img{background-image: url('../shared/images/icons/display-line.svg');}
.tracker-img{background-image: url('../shared/images/icons/map-marker-line.svg');}

img[src$="blank.png"]:not(.com-img):not(.restreamer-img):not(.tracker-img){
    background-image: url('images/icons/all-icons-sheet.png');
    background-size: 288px 575px;
}

.lamp{background-position: var(--slot1) var(--slot1);}
.cape{background-position: var(--slot2) var(--slot1);}
.hookshot{background-position: var(--slot3) var(--slot1);}
.pearl{background-position: var(--slot4) var(--slot1);}

.bombos{background-position: var(--slot1) var(--slot2);}
.ether{background-position: var(--slot2) var(--slot2);}
.quake{background-position: var(--slot3) var(--slot2);}
.net{background-position: var(--slot4) var(--slot2);}

.book{background-position: var(--slot1) var(--slot3);}
.mirror{background-position: var(--slot2) var(--slot3);}
.flute{background-position: var(--slot3) var(--slot3);}
.flippers{background-position: var(--slot4) var(--slot3);}

.boots{background-position: var(--slot1) var(--slot4);}
.hammer{background-position: var(--slot2) var(--slot4);}


.bow{background-position: var(--slot5) var(--slot1);}
.bow-arrow{background-position: var(--slot6) var(--slot1);}
.bow-silver{background-position: var(--slot7) var(--slot1);}
.silver{background-position: var(--slot8) var(--slot1);}

.rod-blue{background-position: var(--slot5) var(--slot2);}
.rod-red{background-position: var(--slot6) var(--slot2);}
.rod-both{background-position: var(--slot7) var(--slot2);}

.rang-blue{background-position: var(--slot8) var(--slot2);}
.rang-red{background-position: var(--slot8) var(--slot3);}
.rang-both{background-position: var(--slot8) var(--slot4);}

.cane-blue{background-position: var(--slot5) var(--slot3);}
.cane-red{background-position: var(--slot6) var(--slot3);}
.cane-both{background-position: var(--slot7) var(--slot3);}

.shroom{background-position: var(--slot9) var(--slot3);}
.shroom-powder{background-position: var(--slot9) var(--slot4);}

.shield-1{background-position: var(--slot5) var(--slot4);}
.shield-2{background-position: var(--slot6) var(--slot4);}
.shield-3{background-position: var(--slot7) var(--slot4);}

.bottle{background-position: var(--slot5) var(--slot5);}
.bottle-1{background-position: var(--slot6) var(--slot5);}
.bottle-2{background-position: var(--slot7) var(--slot5);}
.bottle-3{background-position: var(--slot8) var(--slot5);}
.bottle-4{background-position: var(--slot9) var(--slot5);}

.glove-1{background-position: var(--slot3) var(--slot4);}
.glove-2{background-position: var(--slot4) var(--slot4);}

.shirt-1{background-position: var(--slot7) var(--slot6);}
.shirt-2{background-position: var(--slot8) var(--slot6);}
.shirt-3{background-position: var(--slot9) var(--slot6);}

.sword{background-position: var(--slot5) var(--slot7);}
.sword-1{background-position: var(--slot6) var(--slot7);}
.sword-2{background-position: var(--slot7) var(--slot7);}
.sword-3{background-position: var(--slot8) var(--slot7);}
.sword-4{background-position: var(--slot9) var(--slot7);}

.speaker{
    display: none;
}

#player_speaker_2, #player_speaker_4{
    transform: rotateY(180deg);
}

img.winner{
    width: 104px;
    background-color: #000;
    display: none;
    z-index: 3;
}

img.winner.tada{
    display: block;
}

.player-final{
    font-size: 20px;
    width: 5.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.player-final:empty{
    display:none;
}

.player-speaker > img{
    width: 48px;
    height: 48px;
}

.vs{
    font-family: "Triforce", sans-serif;
    font-size: 24px;
    z-index: 2;
}

tr-timer{
	width: 216px;
    height: 88px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 16px;
    text-align: center;
}

.boss-info{
    width: 380px;
    height: 77px;
    border: 0px solid transparent;
    border-image: url('images/icons/all-icons-sheet.png') round 225 42 274 209 fill / 0px;}

#bosses{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 6px;
    padding: 3px;    
}

.boss-no{background-position: var(--slot3) var(--slot8);}
.armos{background-position: var(--slot4) var(--slot8);}
.lanmolas{background-position: var(--slot5) var(--slot8);}
.moldorm{background-position: var(--slot6) var(--slot8);}
.helmasaur{background-position: var(--slot3) var(--slot9);}
.arrghus{background-position: var(--slot4) var(--slot9);}
.mothula{background-position: var(--slot5) var(--slot9);}
.blind{background-position: var(--slot6) var(--slot9);}
.kholdstare{background-position: var(--slot3) var(--slot10);}
.vitreous{background-position: var(--slot4) var(--slot10);}
.trinexx{background-position: var(--slot5) var(--slot10);}


.pendent-green{background-position: var(--slot1) var(--slot5);}
.pendent-red{background-position: var(--slot2) var(--slot5);}
.pendent-blue{background-position: var(--slot3) var(--slot5);}
.agahnim{background-position: var(--slot4) var(--slot5);}

.crystal-1{background-position: var(--slot1) var(--slot6);}
.crystal-2{background-position: var(--slot2) var(--slot6);}
.crystal-3{background-position: var(--slot3) var(--slot6);}
.crystal-4{background-position: var(--slot4) var(--slot6);}

.crystal-red-5{background-position: var(--slot1) var(--slot7);}
.crystal-red-6{background-position: var(--slot2) var(--slot7);}
.crystal-7{background-position: var(--slot3) var(--slot7);}
.ganon{background-position: var(--slot4) var(--slot7);}

.crystal-red{background-position: var(--slot1) var(--slot8);}
.crystal-blue{background-position: var(--slot2) var(--slot8);}

#production_team_swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    height: 100%;
}

#production_team_swap img{
    margin: 0 6px;
    width: auto;
    height: 1em;
    z-index: 2;
}


#staff{
    overflow: hidden;
    font-size: 24px;
    width: 215px;
    height: 88px;
}

#staff_panel_1, #staff_panel_2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

#staff_panel_1{grid-template-columns: auto 1fr;}
#staff_panel_2{grid-template-columns: 1fr;}

#commentator_contain, #restreamer_contain, #tracker_contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#commentators, #restreamer, #tracker{
    width: 156px;
}

#staff img{
    background-size: 100% 100%;
    filter: grayscale(1);
}

.com-img{background-image: url('images/lttp-comm.png');}
.restreamer-img{background-image: url('../shared/images/icons/display-solid.svg');}
.tracker-img{background-image: url('images/tracker-icon.png');}

.production-swap > #staff_panel_1 {animation: panel-1-blinker 60s infinite;}
.production-swap > #staff_panel_2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: var(--border1);
    border-image: url('images/border-ep.png') repeat 8 / 8px;
    z-index: 3;
    transform: translate(-47px, -47px);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.dialog[id^="boss-"], .dialog[id^="pendent-crystal"]{
    grid-template-columns: repeat(4, 32px);
    border: 1px solid #d0a830;
    border-image: none;
    box-shadow: 0 0 0 1px #303030, inset 0 0 0 1px #e0e0e0, inset 0 -2px 0 0 #d0a830;
}

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

/* Bracket/Calendar Screen */

.bracket-contain, .calendar-contain{
    width: 1280px;
    height: 720px;
    z-index: 50;
    display: none;
    padding: 40px;
}

.bracket, .calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calendar-contain{
    background-image: url('../shared/images/rm-generic-half.png');
}

/* Bracket Screen */

/* .bracket-contain{background: url(../shared/images/checkerboard.png);}

.bracket-contain iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
} */

/* Loading Screen */

.loadscreen-contain{
    width: 1280px;
    height: 720px;
    background-color: #000;
    background-image: url('../shared/images/rm-generic-half.png');
    color: #fff;
    text-align: center;
    animation: zoomIn .5s linear;
    z-index: 50;
    display: none;
    font-family: 'Orbitron', sans-serif;
}

.loadscreen{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1em;
    place-items: center;
    padding: 1em;
}

.loadscreen-main{
    display: grid;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.loadscreen .player-name{
    width: 100%;
}

.loadscreen-main *{
    justify-content: center;
}    

.load-and{
    margin: 1em auto;
    display: none;
}

.show-and .load-and{display: block;}
.show-and .load-vs{display: none;}

#promos{
    grid-column: 1 / -1;
    overflow: hidden;
    width: 1236px;
    height: 150px;
}
#all_promos_contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    animation: move-promos 60s infinite;
}

@keyframes move-promos{
    from, 22%{transform: translateY(0);}
    25%, 47%{transform: translateY(-155px);}
    50%, 72%{transform: translateY(-315px);}
    75%, to{transform: translateY(-470px);}
}
#all_promos_contain figure{
    margin: 0 32px 8px;
}

#all_promos_contain figcaption{
    font-size: 12px;
}

.display-none,
#tracker_contain.display-none,
#restreamer_contain.display-none,
#commentator_contain.display-none{ display: none; }

.show{ display: block; }
.show-flex{ display: flex; }
.show-grid{ display: grid; }

#menu_2 {
    display: grid;
    grid-template-areas: "players layout team"
                         "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

tr-toggle-class{
    line-height: 0;
}

tr-toggle-class, .in-active {
    display: block;
    cursor: default;
    filter: grayscale(1);
    opacity: 0.3;
}

tr-toggle-class.active{
    filter: grayscale(0);
    opacity: 1;
}
