.card, .staff{
    display: grid;
    background-color: #111;
    width: 288px;
  }

  .player-name .card{
    width: auto;
  }

  .player-name-contain{
    width: var(--nameWidth);
  }

  .card-head{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #000;
    z-index: 0;
    height: 1em;
    position: relative;
  }

  .card-head-left{
    display: grid;
    grid-template: 1fr / 1fr;
    position: absolute;
    left: 0;
  }
  .card-head-left > * {
    grid-area: 1 / 1;
  }

  .card-head-right{
    display: grid;
    grid-template: 1fr / 1fr;
    position: absolute;
    right: 0;
  }
  .card-head-right > * {
    grid-area: 1 / 1;
  }

  .card-head-label{
    line-height: 1;
    padding: 0 .25em;
    position: relative;
  }
  
  .card-head-left, .card-head-right{
    width: 118px;
  }
  
  .card-head-right .card-head-label{
    justify-self: end;
  }

  .abs {position: absolute;}
  .top {top: 0;}
  .left {left: 0;}
  .right {right: 0;}
  
  tr-text[scale-to-fit].right {
    transform-origin: -5% 50%;
  }
  
  .card-body{
    padding: 4px;
    text-align: center;
  }
  
  .card-body tr-text{
    width: 280px;
  }
  .card-head tr-text{
    width: 100px;
    text-align: center;
  }
  
  .rm-logo .card-body{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rm-logo-img{
    height: 1em;
    margin-right: .25em;
  }
  
  tr-template{
    display: contents;
  }
  
  .card.timer{
    position: relative;
    z-index: 0;
    width: 100%;
  }

  .staff{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  .timer .card-back{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  
  .timer .card{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .timer .card-body{
    background-color: transparent;
    padding: 1px 0;
  }
  
  tr-timer{
    width: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  
  tr-timer:after{
      content: '';
      background-image: url('/rm/images/zelda_hex_alpha_text.png'), linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75));
      position: absolute;
      width: 100%;
      height: 1356px;
      top: 0;
      left: 0;
      z-index: -1;
      animation: scroll 40s linear infinite;
      animation-play-state: paused;
  }
  
  tr-timer[running="true"]:after{
    animation-play-state: running;
  }
  
  @keyframes scroll {
      from{ transform: translateY(0); }
      to{ transform: translateY(-50%);}
  }
  
  #game_swap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-panel-1, .game-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.game-panel-1{grid-template-columns: auto 1fr;}
.game-panel-2{grid-template-columns: 1fr;}

.game-swap .game-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.game-swap .game-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

    .card-border, .card-back{
      position: relative;
    }
    .card-border{
      height: 1px;
    }
    .card-back{
      height: 18px;
    }

    .card-head-left .card-back{
      clip-path: polygon(0 0, 118px 0, 118px 3px, 115px 3px, 115px 6px, 112px 6px, 112px 9px, 109px 9px, 109px 12px, 106px 12px, 106px 15px, 103px 15px, 103px 18px, 100px 18px, 0 18px);
    }

    .card-head-right .card-back{
      clip-path: polygon(0 0, 118px 0, 118px 18px, 18px 18px, 15px 18px, 15px 15px, 12px 15px, 12px 12px, 9px 12px, 9px 9px, 6px 9px, 6px 6px, 3px 6px, 3px 3px, 0 3px);
    }

    .bottom .card-back{
      transform: rotateX(180deg);
    }

    .card-border > div, .card-back > div{
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .card-border > div, .card-back > div{
      animation: fade 240s linear alternate infinite;
    }

    .rainbow-fill div:nth-of-type(1){background-color: #940084; animation: none;}
    .rainbow-fill div:nth-of-type(2){background-color: #0058f8; animation-name: fade-5;}
    .rainbow-fill div:nth-of-type(3){background-color: #3cbcfc; animation-name: fade-4;}
    .rainbow-fill div:nth-of-type(4){background-color: #007800; animation-name: fade-3;}
    .rainbow-fill div:nth-of-type(5){background-color: #f8b800; animation-name: fade-2;}
    .rainbow-fill div:nth-of-type(6){background-color: #f83800; animation-name: fade;}
    
    @keyframes fade {
      from {opacity: 1;}
      20%, to {opacity: 0;}
    }
    
    @keyframes fade-2 {
      from, 20% {opacity: 1;}
      40%, to {opacity: 0;}
    }
    
    @keyframes fade-3 {
      from, 40% {opacity: 1;}
      60%, to {opacity: 0;}
    }
    
    @keyframes fade-4 {
      from, 60% {opacity: 1;}
      80%, to {opacity: 0;}
    }
    
    @keyframes fade-5 {
      from, 80% {opacity: 1;}
      to {opacity: 0;}
    }