.card{
    padding: .5em;
    text-align: center;
    position: relative;
}

.card.game-info{
    padding: 1em;
    height: 72px;
}

.card.cat, .card.up-next .card-body{
    display: flex;
    justify-content: center;
    gap: .5em;
}

.card .player-name{
    font-size: 36px;
}

.player-info-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 48px;
}

.player-name-contain{
    --nameWidth: 204px;
}
.player-pronoun{
    filter: drop-shadow(0 0 2px var(--blue));
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#player-time-template{
    flex: 1;
}

.card.timer, .card.timer .card-body{
    height: 100%;
}

.card.timer .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
tr-timer{
    display: inline;
    font-size: 49px;
    width: auto;
}

tr-timer .ms{
    font-size: 24px;
}

tr-timer{
    line-height: 1.1;
  }

tr-timer .ms, tr-timer .dot{
    display: none;
}

.cat-est-contain{
    display: flex;
    gap: 1px;
}

.card.cat{
    flex: 1;
}

.card-body-label{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    color: #000;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 10px;
    letter-spacing: -4px;
    text-transform: uppercase;
}


.donation-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px
}


#rm-logo-template{
    flex: 2;
}

.rm-logo{
    height: 100%;
}
.rm-logo .card-body {
    height: 100%;
  }

.rm-logo img{
    width: 100%;
    margin: 0 auto;
}
.rm-logo img.nami{
    width: 75%;
}

.panel-swap{
    display: grid;
    grid-template-columns: 1fr;
  }


.panel-1, .panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.panel-1{grid-template-columns: auto 1fr;}
.panel-2{grid-template-columns: 1fr;}

.panel-swap .panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.panel-swap .panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}