.card, .staff{
    display: grid;
    width: 288px;
  }

  .player-name .card{
    width: auto;
  }

  .player-name-contain{
    width: var(--nameWidth);
  }

  .card-head{
    font-size: 16px;
    z-index: 0;
    height: 1em;
    position: relative;
  }

  .card-head-left, .card-head-right{
    display: grid;
    grid-template: 1fr / 1fr;
    position: absolute;
    width: 111px;
  }

  .card-head-left{
    left: 0;
  }
  .card-head-right{
    right: 0;
  }

  .card-head-left > *, .card-head-right > * {
    grid-area: 1 / 1;
  }

  .card-head-label{
    line-height: 1;
    padding: 0 .25em;
    position: relative;
  }
    
  .card-head-right .card-head-label{
    justify-self: end;
  }

  .abs {position: absolute;}
  .top {top: 0;}
  .left {left: 0;}
  .right {right: 0;}
  
  tr-text[scale-to-fit].right {
    transform-origin: -5% 50%;
  }
  
  .card-body{
    padding: 4px;
    text-align: center;
  }
  
  .card-body tr-text{
    width: 280px;
  }
  .card-head tr-text{
    width: 100px;
    text-align: center;
  }
  
  .rm-logo .card-body{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rm-logo-img{
    height: 1em;
    margin-right: .25em;
  }
  
  tr-template{
    display: contents;
  }
  
  .card.timer{
    position: relative;
    z-index: 0;
    width: 100%;
    border-top: none;
  }

  .staff{
    font-size: 18px;
  }
  
  .timer .card{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .timer .card-body{
    padding: 1px 0;
  }

  .card{
    background-color: #1f0d27;
    background-image: url(/rm2/images/stars-background.jpg);
  }
  
  tr-timer{
    width: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  tr-timer[running="true"]:after{
    animation-play-state: running;
  }

  tr-timer{
    line-height: 1.1;
  }

  tr-timer .ms, tr-timer .dot{
    display: none;
  }
  
  @keyframes scroll {
      from{ transform: translateY(0); }
      to{ transform: translateY(-50%);}
  }
  
  #game_swap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-panel-1, .game-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.game-panel-1{grid-template-columns: auto 1fr;}
.game-panel-2{grid-template-columns: 1fr;}

.game-swap .game-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.game-swap .game-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

    .card-border, .card-back{
      position: relative;
    }


    .card-border > div, .card-back > div{
      position: absolute;
      width: 100%;
      height: 100%;
    }