.card, .staff{
    display: grid;
    width: 288px;
  }

  .player-name .card{
    width: auto;
  }

  .player-name-contain{
    width: var(--nameWidth);
  }

  .card-head{
    font-size: 16px;
    z-index: 0;
    height: 1em;
    position: relative;
  }

  .card-head-left, .card-head-right{
    display: grid;
    grid-template: 1fr / 1fr;
    position: absolute;
    width: 111px;
  }

  .card-head-left{
    left: 0;
  }
  .card-head-right{
    right: 0;
  }

  .card-head-left > *, .card-head-right > * {
    grid-area: 1 / 1;
  }

  .card-head-label{
    line-height: 1;
    padding: 0 .25em;
    position: relative;
  }
    
  .card-head-right .card-head-label{
    justify-self: end;
  }

  .abs {position: absolute;}
  .top {top: 0;}
  .left {left: 0;}
  .right {right: 0;}
  
  tr-text[scale-to-fit].right {
    transform-origin: -5% 50%;
  }
  
  .card-body{
    padding: 4px;
    text-align: center;
  }
  
  .card-body tr-text{
    width: 280px;
  }
  .card-head tr-text{
    width: 100px;
    text-align: center;
  }
  
  #game_name{
    font-size: 30px;
  }

  .cat-system-time {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

  .rm-logo .card-body{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rm-logo-img{
    height: 1em;
    margin-right: .25em;
  }

  .rm-logo img.rm-logo-img {
    width: 95%;
    height: auto;
    margin: 0;
    justify-self: center;
}
.rm-logo img.nami {
    width: 75%;
    justify-self: center;
}

.rm-logo .card-body {
    display: inherit;
}

#game_swap .card-head.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#game_swap > *{
  align-items: center;
}

  .panel-swap{
    display: grid;
    grid-template-columns: 1fr;
  }


.panel-1, .panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.panel-1{grid-template-columns: auto 1fr;}
.panel-2{grid-template-columns: 1fr;}

.panel-swap .panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.panel-swap .panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

  tr-template{
    display: contents;
  }
  
  .card.timer{
    position: relative;
    z-index: 0;
    width: 100%;
    border-top: none;
  }

  .staff{
    font-size: 18px;
  }
  
  .timer .card{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .timer .card-body{
    padding: 1px 0;
  }

  .card{
    background-color: #1f0d27;
    background-image: url(/rm/images/stars-background.jpg);
  }
  
  tr-timer{
    z-index: 0;
    overflow: hidden;
    display: inline;
    font-size: 49px;
    width: auto;
  }
  
  tr-timer[running="true"]:after{
    animation-play-state: running;
  }

  tr-timer{
    line-height: 1.1;
  }

  tr-timer .ms, tr-timer .dot{
    display: none;
  }
  
  @keyframes scroll {
      from{ transform: translateY(0); }
      to{ transform: translateY(-50%);}
  }
  
  #game_swap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-panel-1, .game-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.game-panel-1{grid-template-columns: auto 1fr;}
.game-panel-2{grid-template-columns: 1fr;}

.game-swap .game-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.game-swap .game-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

    .card-border, .card-back{
      position: relative;
    }


    .card-border > div, .card-back > div{
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .donation-counter{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 38px;
  }

  #donation_counter{
      position: relative;
      overflow: hidden;
      --progress-scale: scaleX(0);
      isolation: isolate;
    }
  
    #donation_counter:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--pink);
      transform: var(--progress-scale);
      transform-origin: left;
      transition: transform .5s;
      z-index: -1;
    }
  
    .loadscreen #donation_counter:after{
      height: 100%;
      background-color: rgb(172 0 130 / 25%);
    }