<style>

#bail-project-logo{
    background-color: #fff;
    font-weight: bold;
    padding: 6px;
}

.donation-tracker{
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.donation-tracker .card-body{
  padding: 8px;
}

.horizontal .card-body{ 
  grid-template-columns: auto 1fr;
}

.card-body{
  background-color: #000;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.donation-tracker{
  font-weight: bold;
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.donation-counter{
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: .5em;
  position: relative;
  z-index: 0;
  background-color: #000;
  --progress-scale: scaleX(0);
}

.donation-counter:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: var(--progress-scale);
  transform-origin: left;
  transition: transform .5s;
  background-color: #007800;
  z-index: -1;
}

</style>

<div class="card donation-tracker">
  <div class="card-body">
      <img id="bail-project-logo" width="212" src="/rm/images/tbp_logo_small.png" alt="THE BAIL PROJECT"/>        
      <div id="donation-counter" class="donation-counter">
        <div>
          <span class="counter-amount"><span class="dollar-sign">$</span><span id="amount-donated"></span></span>
          <span>/</span>
          <span class="dollar-sign">$</span><span id="amount-goal">3000</span>
        </div>
      </div>
  </div>
</div>