<tr-class-if-full id="game_swap" toggle-class="game-swap" target=".game-panel-1, .game-panel-2">
    <tr-hide-if-empty toggle-class="visually-hidden" target="#game_name, #game_dev, #system, #game_length" class="game-panel-1">
        <div class="card">
            <tr-template href="../rm/templates/cards/border.html"></tr-template>
            <div class="card-body">
                <tr-text scale-to-fit property="game-name" id="game_name"></tr-text>
                <tr-text scale-to-fit property="game-category" id="game_category"></tr-text>
            </div>
            <tr-hide-if-empty class="card-head bottom" target="#system, #game_length" toggle-class="visually-hidden">
                <tr-hide-if-empty target="#system" toggle-class="visually-hidden">
                    <div class="card-head-left">
                        <div class="rainbow-fill card-back">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <tr-text scale-to-fit class="card-head-label game-system" property="game-system" id="system"></tr-text>
                    </div>
                </tr-hide-if-empty>
                <tr-hide-if-empty target="#game_length" toggle-class="visually-hidden">
                    <div class="card-head-right">
                        <div class="rainbow-fill card-back">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <tr-text scale-to-fit class="card-head-label game-length" property="game-length" id="game_length"></tr-text>
                    </div>
                </tr-hide-if-empty>
            </tr-hide-if-empty>
        </div>
    </tr-hide-if-empty>
    <tr-hide-if-empty toggle-class="visually-hidden" target="#up_next" class="game-panel-2">
        <div class="card">
            <tr-template href="../rm/templates/cards/border.html"></tr-template>
            <div class="card-head">
                <div class="card-head-left">
                    <div class="rainbow-fill card-back">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="card-head-label">Up Next</div>
                </div>
            </div>
            <div class="card-body">
                <tr-text scale-to-fit id="up_next" property="up-next"></tr-text>
            </div>
        </div>
    </tr-hide-if-empty>
</tr-class-if-full>