<div class="card">
    <div class="card-body player-info-contain">
        <div class="card-body-label">Runner</div>
        <div class="player-name-contain">
            <tr-text scale-to-fit-x class="player-name" property="player-name"></tr-text>
        </div>
        <tr-hide-if-empty class="card-head" target=".player-pronoun" toggle-class="visually-hidden">
            <tr-text scale-to-fit-x class="card-head-label player-pronoun" property="player-pronoun"></tr-text>
        </tr-hide-if-empty>
    </div>
</div>
