<div class="card border-2">
    <tr-hide-if-empty class="card-head" target=".player-pronoun" toggle-class="visually-hidden">
        <div class="card-head-left">
            <div class="card-back"></div>
            <tr-text scale-to-fit-x class="card-head-label player-pronoun" property="player-pronoun"></tr-text>
        </div>
    </tr-hide-if-empty>
    <div class="card-body player-name-contain">
        <tr-text scale-to-fit-x class="player-name" property="player-name"></tr-text>
    </div>
</div>
