<div class="panel-wrap-inner extra-padding-top">
    <tr-player player="2">
    <div class="meta-panel">
        <tr-hide-if-empty class="meta-right-top" toggle-class="visually-hidden">
            <svg class="rainbow-fill" viewbox="0 0 118 18" width="118" height="18" xmlns="http://www.w3.org/2000/svg">
                <path d="M 0,0 h118 v18 h-100z"/>
                <path d="M 0,0 h118 v18 h-100z"/>
                <path d="M 0,0 h118 v18 h-100z"/>
                <path d="M 0,0 h118 v18 h-100z"/>
                <path d="M 0,0 h118 v18 h-100z"/>
                <path d="M 0,0 h118 v18 h-100z"/>
            </svg>
            <tr-text scale-to-fit property="player_pronoun" id="runner_pronoun"></tr-text>
        </tr-hide-if-empty>
    </div>
    <div class="panel-full-width-contain">
        <tr-text scale-to-fit property="player_name" id="player_name_2"></tr-text>
    </div>
</tr-player>
</div>
