<div class="card rm-logo">
    <div class="card-body panel-swap">
        <!-- <img class="rm-logo-img" src="images/RM_marathon_logo.png" alt="RM" />RandoMania -->
        <div class="panel-1">
            <picture>
                <source srcset="images/MainLogo.avif" type="image/avif" />
                <source srcset="images/MainLogo.webp" type="image/webp" />
                <img class="rm-logo-img" src="images/MainLogo.png" alt="RM" />
            </picture>
        </div>
        <div class="panel-2">
            <img class="nami" src="../rm2/images/nami.png" alt="NAMI" />
        </div>
    </div>
</div>