<div class="card timer">
    <svg class="rainbow-fill card-back" width="288" height="50" viewbox="0 0 288 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,0h288v50h-288z"/>
        <path d="M0,0h288v50h-288z"/>
        <path d="M0,0h288v50h-288z"/>
        <path d="M0,0h288v50h-288z"/>
        <path d="M0,0h288v50h-288z"/>
        <path d="M0,0h288v50h-288z"/>
    </svg>
    <div class="card-body">
        <tr-timer property="timer-test" target=".panel-wrap-inner" toggle-class="timer-scroll"></tr-timer>
    </div>
</div>