<div class="card tracking-icons" id="tracking_icons_3" property="tracking-icons">
    <tr-template href="../rm/templates/cards/border.html"></tr-template>
    <div class="card-body">
        <!-- <tr-toggle property="dwr">
            <tr-template class="player-grid" href="x../dwr2/items_plot.html"></tr-template>
            <tr-template class="player-grid" href="x../dwr2/items_stats.html"></tr-template>
        </tr-toggle> -->
        <tr-toggle property="ffiv">
            <tr-player player="3">
                <tr-template class="player-grid" href="../rm/templates/icons/marathon_items_ffiv.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <!-- <tr-toggle property="lttp">
            <tr-template class="player-grid" href="x../snestri/items_lttp.html"></tr-template>
        </tr-toggle> -->
        <tr-toggle property="z1r">
            <tr-player player="3">
                <tr-template class="player-grid" href="../rm/templates/icons/z1r_marathon_items.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="ebac">
            <tr-player player="3">
                <tr-template class="player-grid" href="../ebac/floors.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <!-- <tr-toggle property="ww">
            <tr-template class="player-grid" href="x../ww/marathon_icons.html"></tr-template>
        </tr-toggle> -->
    </div>
</div>