<div class="panel-wrap-outer tracking-icons" id="tracking_icons_2" property="tracking-icons">
    <svg class="rainbow-fill" width="380" height="1" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,0h380v1h-380z"/>
        <path d="M0,0h380v1h-380z"/>
        <path d="M0,0h380v1h-380z"/>
        <path d="M0,0h380v1h-380z"/> 
        <path d="M0,0h380v1h-380z"/>
        <path d="M0,0h380v1h-380z"/>
    </svg>
    <div class="panel-full-width-contain panel-wrap-inner">
        <tr-toggle property="dwr">
            <tr-player player="2">
                <tr-template class="player-grid" href="x../dwr2/items_plot.html"></tr-template>
                <tr-template class="player-grid" href="x../dwr2/items_stats.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="ffiv">
            <tr-player player="2">
                <tr-template class="player-grid" href="marathon_items_ffiv.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="lttp">
            <tr-player player="2">
                <tr-template class="player-grid" href="x../snestri/items_lttp.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="z1r">
            <tr-player player="2">
                <tr-template class="player-grid" href="z1r_marathon_items.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="ebac">
            <tr-player player="2">
                <tr-template class="player-grid" href="../ebac/floors.html"></tr-template>
            </tr-player>
        </tr-toggle>
        <tr-toggle property="ww">
            <tr-player player="2">
                <tr-template class="player-grid" href="x../ww/marathon_icons.html"></tr-template>
            </tr-player>
        </tr-toggle>
    </div>
</div>