/*  =============
    global styles
    ============= */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* root */

:root{
    font-family: Arial, sans-serif;
    font-size: 1em;

    --vidWidth: 641px;
    --vidAspect: 1.333;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --nameWidth: 375px;

    --backgroundImg: url('../shared/images/checkerboard.png');

    --backgroundColor1: #000;

    --videoX: 0px; --videoY: 0px;
    --nameWidth: 367px;
    --nameX: -2px; --nameY: 480px;
    --gridX: -2px; --gridY: -2px;
    --speakerX: 406px; --speakerY: 491px;
    --finalX: 5px; --finalY: -23px;
    --winX: 43px; --winY: 128px;
    --bestX: 460px; --bestY: 494px;

    --border: 2px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

/* helper classes */

.dg{display: grid;}
.df{display: flex;}
.fd-c{flex-direction: column;}

.ta-c{text-align: center;}

.jc-c{justify-content: center;}
.ai-c{align-items: center;}
.as-s{align-self: start;}

.js-c{justify-self: center;}
.jc-se{
    justify-content: space-between;
    justify-content: space-evenly;
}

.border-1{border: var(--border) solid currentColor;}
.background-1{background-color: var(--backgroundColor1);}


/*  ==========
    Typography
    ========== */

/* @font-face {
    font-family: "PressStart2P";
    src: local('PressStart2P'),
         url('../shared/fonts/pressstart2p.woff2') format('woff2'),
	     url('../shared/fonts/pressstart2p.woff') format('woff'),         
         url('../shared/fonts/pressstart2p.ttf') format('truetype');
}*/

.fs-s{ font-size: 1rem; }
.fs-m{ font-size: 1.2rem; }
.fs-l{ font-size: 1.6rem; }

.fw-b{ font-weight: bold;}

/*  ==========
    Components
    ========== */

.layout{
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-image: var(--backgroundImg);
    background-color: #c0c0c0;
    line-height: 1;
}

.layout.transparent-background{
    -webkit-mask-image: paint(clipMask);
}

.player-name{
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    grid-template-columns: repeat(3, auto);
    padding: 4px;
    grid-gap: 4px;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(images/ff4fe-spritesheet.png);
    background-size: 500% 500%;
}

.sword{background-position: 25% 75%;}
.objective-1 {background-position: 100% 0;}
.objective-2 {background-position: 100% 25%;}
.yang {background-position: 75% 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    color: #f8b800;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 34px;
    width: 5.5em;
    padding: 0 .5em;
    z-index: 2;
}

.player-final{
    color: #f8b800;
    height: 34px;
    width: 5.5em;
    z-index: 2;
}
.player-final:empty{
    display:none;
}

.player-best-of{
    display: grid;
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/ff4fe-spritesheet.png');
    background-size: 500% 500%;
    background-position: 0 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3),
.best-of-5 tr-toggle-class:nth-child(n+4),
.best-of-7 tr-toggle-class:nth-child(n+5){
    display: none;
}

tr-timer{
    width: 11em;
    height: 52px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    top: 482px;
}
tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    left: 50%;
    transform: translateX(-50%);
    top: 552px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px currentColor;
    z-index: 3;
}

.display-none{ display: none; }

.show{ display: block; }

/*  ==========
    Menu
    ========== */