* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --backgroundImg: url('images/onrac_2019_layout.png');
    --border1: solid 2px #fff;
    --backgroundColor1: #000;
    --vidWidth: 439px;
    --vidAspect: 4 / 3;
    --videoX: 20px; --videoY: 20px;
    --nameWidth: 130px;
    --nameX: 465px; --nameY: 20px;
    --gridX: 466px; --gridY: 72px;
    --speakerX: 550px; --speakerY: 180px;
    --winX: 492px; --winY: 55px;
    --finalX: 489px; --finalY: 8px;
    --winorbX: 545px; --winorbY: 70px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: url("fonts/chicago.ttf") format("truetype");
}

#layout{
    font-family: Chicago, sans-serif;
    width: 1280px;
    height: 720px;
    color:#fff;
    position: relative;
    background: var(--backgroundImg);
    background-color: silver;
}

.full-layout{
    position: absolute;
    left: 0;
    top: 0; 
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

.full-layout > * {
    pointer-events: initial;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-name{
    font-size: 18px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, 16px);
    padding: 2px;
    grid-gap: 2px;
}

.player-grid img, .dialog img {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.speaker{
    display: none;
    filter: drop-shadow(1px 1px 2px #000000);
}

#player_speaker_2, #player_speaker_4{
    transform: rotateY(180deg);
}

img.winner{
    width: 104px;
    background-color: #000;
    display: none;
    z-index: 3;
}

img.winner.tada{
    display: block;
    animation: tada 1s;
}

@keyframes tada {
	from {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  
	10%, 20% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
  
	30%, 50%, 70%, 90% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
  
	40%, 60%, 80% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
  
	to {
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }

.player-final{
    font-size: 20px;
    width: 5.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.player-final:empty{
    display:none;
}

.player-speaker > img{
    width: 48px;
    height: 48px;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
    font-weight: bolder;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

#production_team_swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

#staff{
    overflow: hidden;
    font-size: 24px;
    min-width: 290px;
    min-height: 44px;
}

#staff_panel_1, #staff_panel_2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

#staff_panel_1{grid-template-columns: auto 1fr;}
#staff_panel_2{grid-template-columns: 1fr;}

#staff_panel_1 img, #staff_panel_2 img{
    margin: 0 6px;
    width: 1.1em;
    height: auto;
    z-index: 2;
}

#commentator_contain, #restreamer_contain, #tracker_contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#commentators, #restreamer, #tracker{
    width: 230px;
}

#production_team_swap.production-swap #staff_panel_1 {animation: panel-1-blinker 60s steps(1) infinite;}
#production_team_swap.production-swap #staff_panel_2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%,75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
}

@keyframes panel-2-blinker {
    0%,75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,32px);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

figure img{
    width: 16px;
    height: 16px;
}

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.bracket, .calendar{
    width: 1280px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    pointer-events: none;
    display: none;
}

.calendar{ background-image: url(../shared/images/rm-generic-background.png);}

/* Bracket Screen */

.bracket{background: url(../shared/images/checkerboard.png);}

.bracket iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
}

/* FFR Extras */

.team-name-contain{
    padding: 0 8px;
    width: calc(var(--nameWidth) + 8px * 2);
}

.team-name{
    font-size: 18px;
    height: 50px;
    width: var(--nameWidth);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

#staff{
font-size: 16px;
}

.seed-flags{
font-size: 14px;
width: calc(var(--nameWidth) + 8px * 2);
color: #fff;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 8px;
white-space: pre;
}

#heroes{
position: absolute;
top: 172px;
margin-left: 556px;
z-index: 5;
}

tr-image img{
width: 16px;
height: 16px;
}

.orbs tr-image img{
width: 32px;
height: 32px;
}

#heroes tr-image img{
width: 48px;
height: 48px;
}

.orbs.player-grid{
grid-template-columns: repeat(2, 32px);
}

#heroes.player-grid{
grid-template-columns: repeat(4, 36px);
}

/* Loading Screen */

.loadscreen{
width: 1280px;
height: 720px;
background-color: #000;
background-image: url(../shared/images/rm-generic-background.png);
color: #fff;
text-align: center;
animation: zoomIn .5s linear;
z-index: 50;
pointer-events: none;
display: none;
}

#promos{
overflow: hidden;
    width: 1236px;
    height: 150px;
}
#all_promos_contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    animation: move-promos 60s infinite;
}

@keyframes move-promos{
    from{transform: translateY(0);}
    28%{transform: translateY(0);}
    33%{transform: translateY(-160px);}
    61%{transform: translateY(-160px);}
    66%{transform: translateY(-320px);}
    to{transform: translateY(-320px);}
}
#all_promos_contain figure{
    margin: 0 32px 8px;
}

#all_promos_contain figcaption{
    font-size: 12px;
}

.display-none,
#tracker_contain.display-none,
#restreamer_contain.display-none,
#commentator_contain.display-none{ display: none; }

.show{ display: block; }
.show-flex{ display: flex; }
.show-grid{ display: grid; }

#menu_2 {
    display: grid;
    grid-template-areas: "players layout team"
                         "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

textarea{
    text-align: center;
    width: 100%;
}