* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 439px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;

    --border: 2px;
    --gap-size: 20px;
    --nameWidth: 140px;

    --backgroundColor1: #000;

    --clipX1: calc(var(--gap-size) + var(--border));
    --clipX2: calc(var(--gap-size) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--gap-size) + var(--border));
    --clipY2: calc(var(--gap-size) + var(--vidHeight) - var(--border));
}

.border-1{border: var(--border) solid #fff;}
.background-1{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
/* @font-face {
    font-family: "PressStart2P";
    src: local('PressStart2P'),
         url('../shared/fonts/pressstart2p.woff2') format('woff2'),
	     url('../shared/fonts/pressstart2p.woff') format('woff'),         
         url('../shared/fonts/pressstart2p.ttf') format('truetype');
}*/

.layout{
    font-family: Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    background-color: #c0c0c0;
    background-image: url('../shared/images/checkerboard.png');
    line-height: 1;
    display: grid !important;
    row-gap: var(--gap-size);
    padding: var(--gap-size);
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-areas:
        "v1 i1 i2 v2"
        "v1 ts ts v2"
        "v3 ts ts v4"
        "v3 i3 i4 v4";
}

/* image type fallback examples */
/* .notwebp.notavif .layout{background-image: url('../shared/images/checkerboard.png');} */
/* .webp.notavif .layout{background-image: url('../shared/images/checkerboard.wep');} */
/* .avif .layout{background-image: url('../shared/images/checkerboard.avif');} */

.layout > tr-player,
.layout > tr-player > tr-template{
    display: contents;
} 

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
}

[player="1"] .player-video{grid-area: v1;}
[player="2"] .player-video{grid-area: v2;}
[player="3"] .player-video{grid-area: v3;}
[player="4"] .player-video{grid-area: v4;}

.player-info-contain{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-self: start;
    grid-template-areas:"pn pn" "pg ps";
    grid-area: i1;
}

[player="2"] .player-info-contain{grid-area: i2; grid-template-areas:"pn pn""ps pg";}
[player="3"] .player-info-contain{grid-area: i3; grid-template-areas:"pg ps""pn pn";}
[player="4"] .player-info-contain{grid-area: i4; grid-template-areas:"ps pg""pn pn";}

[player="2"] .player-info-contain, [player="4"] .player-info-contain{
    grid-template-columns: 1fr auto;
}

[player="1"] .player-info-contain, [player="3"] .player-info-contain{
    margin-left: calc(var(--border) * -1);
}

[player="2"] .player-info-contain, [player="4"] .player-info-contain{
    margin-right: calc(var(--border) * -1);
    justify-self: end;
}

[player="1"] .player-info-contain > *~*, [player="2"] .player-info-contain > *~*{
    margin-top: calc(var(--border) * -1);
}

[player="3"] .player-info-contain > *~*, [player="4"] .player-info-contain > *~*{
    margin-bottom: calc(var(--border) * -1);
}

.layout.clip-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    grid-area: pn;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, min-content);
    padding: 4px;
    grid-gap: 4px;
    grid-area: pg;
}

.player-grid img, .dialog img{
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(images/ff4fe-spritesheet.png);
    background-size: 500% 500%;
}

.sword{background-position: 25% 75%;}
.objective-1 {background-position: 100% 0;}
.objective-2 {background-position: 100% 25%;}
.yang {background-position: 75% 100%;}

.player-speaker{
    padding: 4px;
    justify-self: end;
    grid-area: ps;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
    justify-self: start;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="1"] .winner-final-contain, [player="2"] .winner-final-contain{top: 75px;}
[player="3"] .winner-final-contain, [player="4"] .winner-final-contain{bottom: 75px;}
[player="2"] .winner-final-contain, [player="4"] .winner-final-contain{right: 0;}

.winner-final-contain > *~*{
    margin-top: calc(var(--border) * -1);
}

.player-winner{
    height: 34px;
    font: bold 28px 'Times New Roman', Times, serif;
    color: #f8b800;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final{
    height: 34px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final:empty{
    display:none;
}

.vs{
    padding: 12px;
    font-size: 24px;
    text-align: center;
    grid-column: 2 / span 2;
}

#vs_1{grid-row: 1;}
#vs_2{
    grid-row: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.timer-staff{
    grid-area: ts;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly;
    align-items: center;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid var(--border) #fff;
    z-index: 3;
}

.view-container, .view-container-border{
    background-color: transparent;
}

.display-none{ display: none; }

.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}