<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="utf-8">
	<title>4 Player Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" type="text/css" href="../shared/global.css">
    <link rel="stylesheet" type="text/css" href="../shared/global-4p.css">
    <link rel="stylesheet" type="text/css" href="../shared/components.css">
    <link rel="stylesheet" type="text/css" href="../shared/production.css">
    <link rel="stylesheet" type="text/css" href="../shared/menu.css">
    <link rel="stylesheet" type="text/css" href="four.css">
    <link rel="preload" href="../shared/images/checkerboard.png" as="image" type="image/png">
    <link rel="preload" href="images/ff4fe-spritesheet.png" as="image" type="image/png">
</head>
<body>
	<div class="layout">
        <template id="player_info_template">
            <div class="border-1 player-video"></div>
            <div class="player-info-contain dg">
                <div class="player-name df ta-c ai-c fs-l border-1 background-1">
                    <tr-text scale-to-fit-x property="player-name"></tr-text>
                </div>
                <tr-template class="player-grid dg border-1 background-1" href="icons.html"></tr-template>        
                <tr-toggle property="toggle-speaker" class="player-speaker">
                    <svg id="volume-up" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewbox="0 0 20 20">
                        <path fill="currentColor" d="M5 7h-4v6h4l5 5v-16l-5 5zM16.36 16.36l-1.41-1.41c1.272-1.265 2.059-3.015 2.059-4.95s-0.787-3.685-2.059-4.95l-0-0 1.41-1.41c1.634 1.625 2.645 3.874 2.645 6.36s-1.011 4.735-2.644 6.36l-0 0zM13.54 13.54l-1.42-1.42c0.542-0.543 0.877-1.292 0.877-2.12s-0.335-1.577-0.877-2.12l0 0 1.42-1.42c0.912 0.903 1.477 2.156 1.477 3.54s-0.565 2.637-1.477 3.54l-0 0z"></path>
                    </svg>
                </tr-toggle>
                <div class="final-winner-contain fs-m abs">
                    <tr-text property="player-final" class="player-final df jc-c ai-c ta-c fs-n border-1 background-1"></tr-text>
                    <tr-toggle property="toggle-winner" class="player-winner df jc-c ai-c ta-c fs-l fw-b border-1 background-1">
                        <div>Winner</div>
                    </tr-toggle>
                </div>
            </div>
        </template>
        <tr-player player="1">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="2">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="3">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="4">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>

<!-- vs -->
        <tr-toggle property="toggle-vs" class="vs df jc-c ta-c fs-l" id="vs_1">VS</tr-toggle>
        <tr-toggle property="toggle-vs" class="vs df jc-c ta-c fs-l" id="vs_2">VS</tr-toggle>

<!-- timer/staff -->
        <div class="timer-staff df fd-c jc-se ai-c fs-m">
            <tr-timer class="background-1 ta-c" property="timer-test" target="[title='Dummy Text'], input[value='screen']" toggle-class="disable"></tr-timer>
            <tr-hide-if-empty class="staff background-1" toggle-class="wtf">
                <tr-template href="../shared/production-team.html"></tr-template>
            </tr-hide-if-empty>
        </div>
    </div>

<!-- loadscreen -->
<div class="loadscreen-contain abs" style="top:0; left: 0;">
    <tr-template href="four-loading-template.html"></tr-template>
</div>

<!-- RM calendar -->
<div class="calendar-contain abs" style="top: 0; left: 0;">
    <tr-template href="../shared/calendar-template.html"></tr-template>
</div>

<tr-template href="../shared/four-menus-contain.html"></tr-template>

    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-database-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.20.0/firebase-auth-compat.js"></script>
    <script>
       const firebaseApp = firebase.initializeApp({ 
          apiKey: "AIzaSyAD6gMbqP2bjv67qQeeEZQT3F4ndNKK53A",
          authDomain: "rando-tracker.firebaseapp.com",
          databaseURL: "https://rando-tracker.firebaseio.com",
          projectId: "rando-tracker",
          storageBucket: "rando-tracker.appspot.com",
          messagingSenderId: "702318798371",
          appId: "1:702318798371:web:2cc16ec64401f48854f396"
    });
       const db = firebaseApp.firestore();
       const auth = firebaseApp.auth();
    </script>
    <script src="../components/components.js"></script>
    <script src="../components/tracker.js"></script>
    <script src="../shared/script/four_game.js"></script>
</body>
</html>