<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
	<meta charset="utf-8">
	<title>4 Player Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <link rel="stylesheet" type="text/css" href="../shared/components.css">
    <link rel="stylesheet" type="text/css" href="../shared/menu.css">
    <link rel="stylesheet" type="text/css" href="../shared/production.css">
    <link rel="stylesheet" type="text/css" href="four.css">
    <link rel="preload" href="../shared/images/checkerboard.png" as="image" type="image/png">
    <link rel="preload" href="images/ff4fe-spritesheet.png" as="image" type="image/png">
</head>
<body>
	<div class="layout">
        <template id="player_info_template">
            <div class="border-1 player-video"></div>
            <div class="player-info-contain dg">
                <div class="player-name df ta-c ai-c fs-l border-1 background-1">
                    <tr-text scale-to-fit property="player-name"></tr-text>
                </div>
                <tr-template class="player-grid dg border-1 background-1" href="icons.html"></tr-template>        
                <tr-toggle property="toggle-speaker" class="player-speaker">
                    <img src="../shared/images/icons/blank.svg" alt="">
                </tr-toggle>
                <div class="final-winner-contain fs-m abs">
                    <tr-text property="player-final" class="player-final df jc-c ai-c ta-c fs-n border-1 background-1"></tr-text>
                    <tr-toggle property="toggle-winner" class="player-winner df jc-c ai-c ta-c fs-l fw-b border-1 background-1">
                        <div>Winner</div>
                    </tr-toggle>
                </div>
            </div>
        </template>
        <tr-player player="1">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="2">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="3">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>
        <tr-player player="4">
            <tr-template source="#player_info_template"></tr-template>
        </tr-player>

<!-- vs -->
        <tr-toggle property="toggle-vs" class="vs df jc-c ta-c fs-l" id="vs_1">VS</tr-toggle>
        <tr-toggle property="toggle-vs" class="vs df jc-c ta-c fs-l" id="vs_2">VS</tr-toggle>

<!-- timer/staff -->
        <div class="timer-staff df fd-c jc-se ai-c fs-m">
            <tr-timer class="background-1 ta-c" property="timer-test" target="[title='Dummy Text'], input[value='screen']" toggle-class="disable"></tr-timer>
            <tr-hide-if-empty class="staff background-1" toggle-class="wtf">
                <tr-template href="../shared/production-team.html"></tr-template>
            </tr-hide-if-empty>
        </div>
    </div>

<!-- loadscreen -->
<div class="loadscreen-contain abs" style="top:0; left: 0;">
    <tr-template href="four-loading-template.html"></tr-template>
</div>

<!-- RM calendar -->
<div class="calendar-contain abs" style="top: 0; left: 0;">
    <tr-template href="../shared/calendar-template.html"></tr-template>
</div>

<tr-template href="../shared/four-menus-contain.html"></tr-template>

    <script type="text/javascript" src="../shared/script/imgsupport.js"></script>
	<script defer src="/__/firebase/8.3.0/firebase-app.js"></script>
    <script defer src="/__/firebase/8.3.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/8.3.0/firebase-database.js"></script>
    <script defer src="/__/firebase/init.js"></script>
    <!-- <script type="text/javascript" src="../script/custom-elements-es5-adapter.js"></script> -->
	<!-- <script type="text/javascript" src="../script/webcomponents-bundle.js"></script> -->
    <script type="text/javascript" src="../components/components.js"></script>
    <script type="text/javascript" src="../components/tracker.js"></script>
    <script type="text/javascript" src="../shared/script/four_game.js"></script>
</body>
</html>