/*  =============
    global styles
    ============= */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    font-family: Arial, sans-serif;
    font-size: 1em;
    
    --vidWidth: 600px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) / (var(--vidAspect)) );

    --backgroundColor1: #000;
    --backgroundImg: url('../shared/images/checkerboard.png');
    --border: 2px;

    --videoX: 20px; --videoY: 20px;
    --offset: 12px;
}

/* helper classes */

.border-1{outline: var(--border) solid currentColor;}
.background-1{background-color: var(--backgroundColor1);}

/*  ==========
    Typography
    ========== */

/* @font-face {
    font-family: "PressStart2P";
    src: local('PressStart2P'),
         url('../shared/fonts/pressstart2p.woff2') format('woff2'),
	     url('../shared/fonts/pressstart2p.woff') format('woff'),         
         url('../shared/fonts/pressstart2p.ttf') format('truetype');
}*/

/*  ==========
    Positioning
    ========== */

.player-video{anchor-name: --video;}

[player="1"] .player-video {
    left: var(--videoX); 
    top: var(--videoY); 
}

[player="2"] .player-video {
    right: var(--videoX); 
    top: var(--videoY);
}

[player] .player-name{
    anchor-name: --name;
    position-anchor: --video;
    top: var(--offset);
}

[player="1"] .player-name {
    position-area: span-right bottom;
}

[player="2"] .player-name {
    position-area: span-left bottom;
}

[player] .player-grid{
    anchor-name: --grid;
    position-anchor: --name;
    top: var(--offset);
}

[player="1"] .player-grid {
    position-area: span-right bottom;
}

[player="2"] .player-grid {
    position-area: span-left bottom;
}

[player] .player-speaker{position-anchor: --name;}

[player="1"] .player-speaker {
    position-area: right center;
    left: var(--offset);
}

[player="2"] .player-speaker {
    position-area: left center;
    right: var(--offset);
}

[player] .player-final-winner-contain{
    position-anchor: --name;
    top: var(--offset);
}

[player="1"] .player-final-winner-contain {
    position-area: span-left bottom;
}

[player="2"] .player-final-winner-contain {
    position-area: span-right bottom;
}

[player] .player-best-of{
    position-anchor: --name;
    top: var(--offset);
}

[player="1"] .player-best-of {
    position-area: right bottom;
    left: var(--offset);
}

[player="2"] .player-best-of {
    position-area: left bottom;
    right: var(--offset);
}

/*  ==========
    Components
    ========== */

.layout{
    position: relative;
    background-image: var(--backgroundImg);
    background-color: #c0c0c0;
}

.layout.transparent-background{
    --red: linear-gradient(red 0 0);
    --video-size: var(--vidWidth) var(--vidHeight);

    mask-image: var(--red), var(--red), var(--red);
    mask-repeat: no-repeat;
    mask-position: 0 0, var(--videoX) var(--videoY), right var(--videoX) top var(--videoY);
    mask-size: 100% 100%, var(--video-size), var(--video-size);
    mask-composite: exclude;
}

.player-name{
    --nameWidth: 375px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    grid-template-columns: repeat(3, auto);
    padding: 4px;
    grid-gap: 4px;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(images/ff4fe-spritesheet.png);
    background-size: 500% 500%;
}

.sword{background-position: 25% 75%;}
.objective-1 {background-position: 100% 0;}
.objective-2 {background-position: 100% 25%;}
.yang {background-position: 75% 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    color: #f8b800;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 34px;
    width: 5.5em;
    padding: 0 .5em;
    z-index: 2;
    position: relative;
    top: 2px;
}

.player-final{
    color: #f8b800;
    height: 34px;
    width: 5.5em;
    z-index: 2;
}
.player-final:empty{
    display:none;
}

.player-best-of{
    display: grid;
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/ff4fe-spritesheet.png');
    background-size: 500% 500%;
    background-position: 0 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3),
.best-of-5 tr-toggle-class:nth-child(n+4),
.best-of-7 tr-toggle-class:nth-child(n+5){
    display: none;
}

tr-timer{
    width: 11em;
    height: 52px;
    z-index: 1;
    /* top: 482px; */
    top: anchor(--name top);
    left: 50%;
    transform: translateX(-50%);
}
tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    /* top: 552px; */
    top: anchor(--grid top);
    left: 50%;
    transform: translateX(-50%);
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px currentColor;
    z-index: 3;
}

.display-none{ display: none; }

.show{ display: block; }

/*  ==========
    Menu
    ========== */