/*  =============
    global styles
    ============= */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* root */

:root{
    font-family: Arial, sans-serif;
    font-size: 1em;
    --vidWidth: 604px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --nameWidth: 375px;

    --backgroundImg: url('../shared/images/checkerboard.png');

    --backgroundColor1: #000;

    --border: 2px;
    --gap-size: 20px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

/* helper classes */

.dg{display: grid;}
.df{display: flex;}
.fd-c{flex-direction: column;}

.ta-c{text-align: center;}

.jc-c{justify-content: center;}
.ai-c{align-items: center;}
.as-s{align-self: start;}

.js-c{justify-self: center;}
.jc-se{
    justify-content: space-between;
    justify-content: space-evenly;
}

.border-1{border: var(--border) solid currentColor;}
.background-1{background-color: var(--backgroundColor1);}

.abs{position: absolute;}


/*  ==========
    Typography
    ========== */

/* @font-face {
    font-family: "PressStart2P";
    src: local('PressStart2P'),
         url('../shared/fonts/pressstart2p.woff2') format('woff2'),
	     url('../shared/fonts/pressstart2p.woff') format('woff'),         
         url('../shared/fonts/pressstart2p.ttf') format('truetype');
}*/

.fs-s{ font-size: 1rem; }
.fs-m{ font-size: 1.2rem; }
.fs-l{ font-size: 1.6rem; }

.fw-b{ font-weight: bold;}

/*  ==========
    Components
    ========== */

.layout{
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-image: var(--backgroundImg);
    background-color: #c0c0c0;
    line-height: 1;
    row-gap: var(--gap-size);
    padding: var(--gap-size);
    display: grid !important;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "v1 v1 v2 v2"
        "i1 t  t  i2"
        "g1 s  s  g2";
}

.layout > tr-player,
.layout > tr-player > tr-template{
    display: contents;
} 

.layout.background-clip{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat
}

[player="1"] *{justify-self: flex-start;}
[player="2"] *{justify-self: flex-end;}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}
[player="1"] .player-video{grid-area: v1;}
[player="2"] .player-video{grid-area: v2;}

.player-info-contain{
    position: relative;
}

[player="1"] .player-info-contain{grid-area: i1;}
[player="2"] .player-info-contain{
    grid-area: i2;
    flex-direction: row-reverse;
}

.player-name{
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    grid-template-columns: repeat(3, auto);
    padding: 4px;
    grid-gap: 4px;
}
[player="1"] .player-grid{grid-area: g1;}
[player="2"] .player-grid{grid-area: g2;}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(images/ff4fe-spritesheet.png);
    background-size: 500% 500%;
}

.sword{background-position: 25% 75%;}
.objective-1 {background-position: 100% 0;}
.objective-2 {background-position: 100% 25%;}
.yang {background-position: 75% 100%;}

.player-speaker{
    padding: 4px;
}

[player="1"] .player-speaker{left: 100%;}
[player="2"] .player-speaker{right: 100%;}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.final-winner-contain{
   top: 40px;
   color: #f8b800;
}

[player="1"] .final-winner-contain{right: 40px;}
[player="2"] .final-winner-contain{left: 40px;}

.final-winner-contain > *~*{
    margin-top: calc(var(--border) * -1);
}

.player-winner{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 34px;
    padding: 0 .5em;
}

.player-final{
    height: 34px;
    width: 5.5em;
}
.player-final:empty{
    display:none;
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/ff4fe-spritesheet.png');
    background-size: 500% 500%;
    background-position: 0 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3),
.best-of-5 tr-toggle-class:nth-child(n+4),
.best-of-7 tr-toggle-class:nth-child(n+5){
    display: none;
}

tr-timer{
    grid-area: t;
    width: 11em;
    height: 52px;
    z-index: 1;
}
tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{grid-area: s;}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px currentColor;
    z-index: 3;
}

.display-none{ display: none; }

.show{ display: block; }

/*  ==========
    Menu
    ========== */