* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --conicalFallback: repeating-conic-gradient(from 0deg at 25% -150%, rgba(255,255,255,.1) 0 10deg, rgba(255,255,255,0) 10deg 30deg, rgba(255,255,255,.2) 30deg 35deg),
    repeating-conic-gradient(from 0deg at 75% 150%, #0d1632 0 20deg, #436295 20deg 30deg, #0d1632 30deg 50deg);
    --border-1: solid 1px rgba(255,255,255,.75);
    --background-color-1: #000;
    --margin: 0px;
    --vidWidth: 414px;
    --vidAspect: 10 / 9;
    --border1: solid 2px #fff;
    --backgroundColor1: #000;
    --videoX: 22px; --videoY: 173px;
    --nameWidth: 375px;
    --nameX: 22px; --nameY: 576px;
    --gridX: 434px; --gridY: 173px; --gridY2: 273px;
    --speakerX: 34px; --speakerY: 585px;
    --winX: 171px; --winY: 15px;
    --finalX: 22px; --finalY: 24px;
    --bestX: 869px; --bestY: 558px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

@font-face {
    font-family: "Abel Regular";
    src: local('Abel Regular'),
         url('fonts/abel-regular.woff2') format('woff2'),
	     url('fonts/abel-regular.woff') format('woff'),         
         url('fonts/Abel-Regular.ttf') format('truetype');
}

.layout{
    font-family: "Abel Regular", sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #0d1632;
    background-image: var(--conicalFallback);
}

@supports not (background-image:conic-gradient(#fff,#000)){
    .notwebp .layout{background-image: url('images/Crystal_v3_2p_no_title.jpg');}
    .webp .layout{background-image: url('images/Crystal_v3_2p_no_title.webp');}
}

@supports (background-image:conic-gradient(#fff,#000)){
    .notwebp .layout{background-image: url('images/Crystal_v3_2p_no_title.jpg'), var(--conicalFallback);}
    .webp .layout{background-image: url('images/Crystal_v3_2p_no_title.webp'), var(--conicalFallback);}    
}

.title{
    top: 44px;
    left: 53%;
    transform: translateX(-50%);
    font-size: 37px;
    width: 165px;
    text-align: center;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.bingo-board{
    top: 173px;
    left: 436px;
    width: 408px;
    height: 373px;
    z-index: 3;
    pointer-events: none;
}

.key-item .bingo-board, .key-item .title-bingo{
    display: none;
}

.cinco-bingo .title-item{
    display: none;
}

.player-info{
    font-size: 26px;
    width: 620px;
	height: 50px;
	border-radius: 9999px;
	box-shadow: 0 3px #abe6ff;
	background-color: rgba(0,0,0,.9);
	color: #fff;
    transform: scaleX(1);
    animation: name-animate .5s;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

[player="2"] .player-info{
    flex-direction: row-reverse;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

[player="2"] .player-name{
    text-align: right;
    justify-content: flex-end;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    padding: 6px;
    border-radius: 0 8px 8px 0;
    background-color: rgba(0, 0, 0, .5);
}

[player="2"] .player-grid{
    border-radius: 8px 0 0 8px;
}

.player-grid div{
    display: flex;
    justify-content: center;
}

.player-grid img{
    width: 29px;
    height: 29px;
    display: block;
    background-size: 1100% 1100%;
    /* image-rendering: pixelated; */
}

.notwebp .player-grid img{background-image: url(images/crystal-sprites.png);}
.webp .player-grid img{background-image: url(images/crystal-sprites.webp);}

[property="rod-old"] img{background-position: 0 0;}
[property="rod-good"] img{background-position: 10% 0;}
[property="rod-super"] img{background-position: 20% 0;}
[property="bicycle"] img{background-position: 30% 0;}
[property="ss-ticket"] img{background-position: 40% 0;}
[property="pass"] img{background-position: 50% 0;}

[property="squirt_bottle"] img{background-position: 0 10%;}
[property="secret_potion"] img{background-position: 10% 10%;}
[property="basement_key"] img{background-position: 20% 10%;}
[property="card_key"] img{background-position: 30% 10%;}
[property="machine_part"] img{background-position: 40% 10%;}
[property="lost_item"] img{background-position: 50% 10%;}

[property="mystery_egg"] img{background-position: 0 20%;}
[property="coin_case"] img{background-position: 10% 20%;}
[property="blue_card"] img{background-position: 20% 20%;}
[property="item_finder"] img{background-position: 30% 20%;}
[property="red_scale"] img{background-position: 40% 20%;}
[property="clear_bell"] img{background-position: 50% 20%;}
[property="silver_wing"] img{background-position: 60% 20%;}

[property="hm_cut"] img{background-position: 0 30%;}
[property="hm_fly"] img{background-position: 10% 30%;}
[property="hm_surf"] img{background-position: 20% 30%;}
[property="hm-strength"] img{background-position: 30% 30%;}
[property="hm-flash"] img{background-position: 40% 30%;}
[property="hm-whirlpool"] img{background-position: 50% 30%;}
[property="hm-waterfall"] img{background-position: 60% 30%;}

[property="badge-zephyr"] img{background-position: 0 60%;}
[property="badge-hive"] img{background-position: 10% 60%;}
[property="badge-plain"] img{background-position: 20% 60%;}
[property="badge-fog"] img{background-position: 30% 60%;}
[property="badge-storm"] img{background-position: 40% 60%;}
[property="badge-mineral"] img{background-position: 50% 60%;}
[property="badge-glacier"] img{background-position: 60% 60%;}
[property="badge-rising"] img{background-position: 70% 60%;
    filter: drop-shadow(.5px 0 rgba(255,255,255,.25)) drop-shadow(-.5px 0px rgba(255,255,255,.25)) drop-shadow(0 -.5px rgba(255,255,255,.25)) drop-shadow(0 .5px rgba(255,255,255,.25));}

[property="badge-boulder"] img{background-position: 0 70%;}
[property="badge-cascade"] img{background-position: 10% 70%;}
[property="badge-thunder"] img{background-position: 20% 70%;}
[property="badge-rainbow"] img{background-position: 30% 70%;}
[property="badge-soul"] img{background-position: 40% 70%;}
[property="badge-marsh"] img{background-position: 50% 70%;}
[property="badge-volcano"] img{background-position: 60% 70%;}
[property="badge-earth"] img{background-position: 70% 70%;}

.player-grid-2 img, .dialog img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.25), inset -1px -1px 1px rgba(0,0,0,.25);
}

img.orange{background-image: linear-gradient(#FF9C12, #D0800F);}
img.red{background-image: linear-gradient(#FF4944, #CE302C);}
img.blue{background-image: linear-gradient(#409CFF, #088CBD);}

img.green{background-image: linear-gradient(#31D814, #20A00A);}
img.purple{background-image: linear-gradient(#822dbf, #7120ab);}
img.white{background-color: #fff;}

img.navy{background-image: linear-gradient(#0d48b5, #022b75);}
img.teal{background-image: linear-gradient(#419695, #2e7372);}
img.brown{background-image: linear-gradient(#ab5c23, #6d3811);}

img.pink{background-image: linear-gradient(#ed86aa, #cc6e8f);}
img.yellow{background-image: linear-gradient(#d8d014, #c1ba0b);}
img.black{background-color: #000;
    box-shadow: inset 1px 1px 1px rgba(255,255,255,.25), inset -1px -1px 1px rgba(255,255,255,.25);
}

tr-image-toggle img.active, tr-toggle-class.active {
    opacity: 1;
    filter: grayscale(0);
}

tr-toggle-class, .in-active {
    display: block;
    cursor: default;
    opacity: .3;
    filter: grayscale(1);
}

.player-speaker{
    padding: 4px;
    pointer-events: none;
}

.player-speaker img{
    width: 24px;
    height: 24px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 33%;
}


.player-winner{
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-winner img{
    width:177px;
    animation: tada 1s;
}

@keyframes tada {
	from {
	  transform: scale3d(1, 1, 1);
	}
  
	10%, 20% {
	  transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
	}
  
	30%, 50%, 70%, 90% {
	  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
  
	40%, 60%, 80% {
	  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
  
	to {
	  transform: scale3d(1, 1, 1);
	}
  }

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('../shared/images/RM_marathon_logo_trans_back.png');
    background-size: 100% 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final{
    font-size: 24px;
    width: 6em;
    height: 40px;
    border-radius: 9999px;
    background-color: #000;
    color: #fff;
    padding: .25em;
    text-align: center;
}
.player-final:empty{
    display:none;
}

tr-timer{
	width: 410px;
	height: 80px;
	border-radius: 9999px;
	box-shadow: 0 5px #000;
	background-color: #abe6ff;
	background-image: linear-gradient(#c4edff,#92deff);
	color: #111;
	z-index: 1;
	font-size: 45px;
    font-weight: bolder;
}
tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
    padding: 0 4px;
}

.staff-panel-1, .staff-panel-2{
    min-height: 40px;
    width: 350px;
    grid-area: 1/1;
    display: grid;
    align-items: center;
    border-radius: 9999px;
    background-color: #000;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 8px;
}

.commentators, .restreamers, .trackers{
    width: 298px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 10px 0 6px;
    z-index: 2;
    width: auto;
    height: .8em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
  }

.commentators-img{background-position: 75% 33%;}
.staff img.restreamers-img{
    background: transparent url('images/monitor-masked.png') 0 0 / 100% 100%;
    box-shadow: none;
    border-radius: 0;
    height: 1.2em;
    margin: 0 10px 0 2px;
}
.trackers-img{background-position: 50% 33%;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_2 {
    display: grid;
    grid-template-areas:
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}