@font-face {
	font-family: "Z1";
	src: url("/z1r/fonts/PressStart2P.ttf") format("truetype");
}

body {
	font-family: "Z1", sans-serif;
	background-color: #000;
}

.player-name {
	position: absolute;
	color: #FFF;
	font-size: 18px;
	width: 276px;
	text-shadow: 2px 2px 2px #000;
	text-align: center;
}

.player-final {
	position: absolute;
	box-sizing: border-box;
	border: 4px solid;
	background-color: #222;
	border-radius: 1px;
	filter: blur(.5px);
	width: 120px;
	height: 37px;
	padding-top: 9px;
	text-align: center;
	font-size: 12px;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

.player-speaker {
	box-sizing: border-box;
	height: 37px;
	position: absolute;
	border: 4px solid;
	background-color: #222;
	border-radius: 1px;
	filter: blur(.5px);
}

#player_speaker_1, #player_final_1 {border-color: #d80000;}
#player_speaker_2, #player_final_2 {border-color: #0000d8;}

.player-speaker img {
	height: 34px;
	top: -3px;
	position: relative;
}

.icon,
.icon img {
	width: 24px;
	height: 24px;
}

.tri,
.tri img {
	width: 26px;
	height: 26px;
}

.tri-grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(8, 29px);
}

.item-grid {
	position: absolute;
	display: grid;
	grid-template-columns: repeat(6, 25px);
}

#timer {
	width: 300px;
	position: absolute;
	font-size: 18px;
	color: #FFF;
	text-align: right;
	text-shadow: 4px 4px 2px #000;
	line-height: 18px;
}

#timer .ms {
	font-size: 12px;
}

#commentators, #streamer_trackers {
	color: #FFF;
	font-size: 13px;
	position: absolute;
	text-shadow: 4px 4px 2px #000;
	height: 75px;
	width: 272px;
	line-height: 22px;
}

#commentators{
	padding-left: 40px;
	background-image: url(images/mic-4.png);
	background-size: 38px;
	background-repeat: no-repeat;
	background-position: 0 4px;
	animation: switch 30s reverse steps(1) infinite;
}

#streamer_trackers{
	animation: switch 30s steps(1) infinite;
}

#restreamer{
	background-image: url('images/restreamer.png');
	background-repeat: no-repeat;
	background-size: 16px;
	background-position: 11px 0;
	color: #fff;
	padding-left: 40px;
	line-height: 22px;
	text-shadow: 4px 4px 2px #000;
}
#trackers{
	background-image: url('images/z1-dungeon_map.png');
	background-repeat: no-repeat;
	background-size: 11px;
	background-position: 14px 0;
	color: #fff;
	padding-left: 40px;
	line-height: 22px;
	text-shadow: 4px 4px 2px #000;
}

@keyframes switch {
	from{opacity:0;}
	50%{opacity: 1;}
	to{opacity: 1;}
  }
#map {
	display: grid;
	grid-template-columns: repeat(16, 26px);
	position: absolute;
}

#map .map_item,
#map .map_item img {
	width: 26px;
	height: 18px;
}

#dialog_map {
	display: none; /*grid*/
	grid-template-columns: repeat(6, 26px);
	position: absolute;
	border: 1px solid white;
}

#dialog_map .map_item,
#dialog_map .map_item img {
	width: 26px;
	height: 18px;
}

#dialog_map .map_item:first-child:before {
	position: absolute;
    top: 2px;
    bottom: 0;
    left: 5px;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 12px; 
    color: #F00;
    text-align: center;
    width: 20px;
    height: 16px;
}

#dialog_arrow {
	display: none; /*grid*/
	grid-template-columns: repeat(3, 26px);
	position: absolute;
	border: 1px solid white;
}

#dialog_arrow .icon,
#dialog_arrow .icon img {
	width: 26px;
	height: 26px;
}

#item_locations{	
	padding: 2px 8px;
	box-sizing: border-box;
	border: solid 4px #660166;
	border-radius: 1px;
	display: grid;
	grid-template: 32px / repeat(6, 32px);
	grid-gap: 10px;
	filter: blur(.5px);
	image-rendering: pixelated;
	background-color: rgba(13,13,13,.8);
}

#item_locations .icon{
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

#item_locations .icon[data-property="item-location-bow"]{
	background-image: url(images/items/s_item_bow_1.png);
	background-position-x: -5px;
}

#item_locations .icon[data-property="item-location-arrow"]{
	background-image: url(images/items/s_item_arrow_2.png);
	background-position-x: -8px;
}

#item_locations .icon[data-property="item-location-ladder"]{
	background-image: url(images/items/s_item_ladder_1.png);
}

#item_locations .icon[data-property="item-location-recorder"]{
	background-image: url(images/items/s_item_recorder_1.png);
	background-position-x: -7px;
}

#item_locations .icon[data-property="item-location-bracelet"]{
	background-image: url(images/items/s_item_bracelet_1.png);
	background-position-x: -8px;
}

#item_locations .icon[data-property="item-location-raft"]{
	background-image: url(images/items/s_item_raft_1.png);
}

#item_locations .icon img {
	width: 16px;
	height: 16px;
	background-color: #000;
	border: 1px solid #000;
}

#item_location{
	width: 184px;
	padding: 2px 8px;
	grid-gap: 2px;
	background-color: #222;
	border: solid 2px #660166;
	border-radius: 1px;
}

#item_location img{
	padding-bottom: 4px;
}