* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 410px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 168px; --videoY: 3px;
	--nameblockX: 3px; --nameblockY: 3px;
    --nameWidth: 141px;
    --nameX: 6px; --nameY: 10px;
    --gridX: 3px; --gridY:71px;
    --pronounX: 3px; --pronounY: 35px;
    --rankX: 95px; --rankY: 35px;
    --speakerX: 580px; --speakerY: 3px;
    --winX: 100px; --winY: 120px;
    --finalX: 3px; --finalY: 308px;
    --vsX: 50%; --vsY: 140px;
	--timeX: 3px; --timeY: 308px;
	--bingoX: 534px; --bingoY: 312px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('../ffr/images/border.png') 6;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */

@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
         url('../shared/fonts/chicago.woff') format('woff'),
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
}

.background-layer{
    width: 1280px;
    height: 720px;
    background-color: #000;
}

.layout.transparent-background .background-layer{
    --solid: linear-gradient(#000, #000);
    --vidWidth-contentBox: calc(var(--vidWidth) - 2 * var(--border));
    --vidHeight-contentBox: calc(var(--vidHeight) - 2 * var(--border));
    -webkit-mask:
        var(--solid) 0 0 / 100% 100%,
        var(--solid) var(--clipX1) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) var(--clipX1) calc(720px - var(--clipY1) - var(--vidHeight-contentBox)) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) 676px var(--clipY1) / 588px 588px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.ffr-default .background-layer{
    background-image: url("../ffr/images/4p/base-background.png");
    background-image: image-set(
        url("../ffr/images/4p/base-background.avif") type("image/avif"),
        url("../ffr/images/4p/base-background.webp") type("image/webp"),
        url("../ffr/images/4p/base-background.png") type("image/png")
    );
}

.ffr-irongol .background-layer{
    --backgroundColor2: #500;
    background-color: #000076;
    background-image: url("images/bingo/base-irongol.png");
    background-image: image-set(
        url("images/bingo/base-irongol.webp") type("image/webp"),
        url("images/bingo/base-irongol.png") type("image/png")
    );
}

.ffr-winter .background-layer{
    background-color: #4ea0cf;
    background-image: url("images/bingo/base-winter.png");
    background-image: image-set(
        url("images/bingo/base-winter.avif") type("image/avif"),
        url("images/bingo/base-winter.webp") type("image/webp"),
        url("images/bingo/base-winter.png") type("image/png")
    );
}

.ffr-dark .background-layer{
    background-image: url("../ffr/images/4p/base-dark.png");
    background-image: image-set(
        url("../ffr/images/4p/base-dark.webp") type("image/webp"),
        url("../ffr/images/4p/base-dark.png") type("image/png")
    );
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name-block{
    height: 65px;
	width: 162px;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
	z-index: 4;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.bingo-option{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0px;
    grid-gap: 0px;
	z-index: 10;
}

.bingo-option img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
    background-color: #000;
}

.player-grid img, .dialog img{
    background-image: url('../ffr/images/retro_tracker/ffr-items-sprite-2021.png');
    background-size: 500% 1100%;
}

.bingo-option img, .dialog[id$="bingo-color"] img{
    background-image: none;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater-no{background-position: 100% 60%;}
.floater-yes{background-position: 100% 70%;}
.floater-ship{background-position: 100% 80%;}

.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 0% 30%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.bingo-red{background-color: #ff4944;}
.bingo-orange{background-color: #ff9c12;}
.bingo-blue{background-color: #409cff;}
.bingo-green{background-color: #31d814;}
.bingo-purple{background-color: #822dbf;}
.bingo-white{background-color: #fff;}
.bingo-navy{background-color: #0d48b5;}
.bingo-teal{background-color: #419695;}
.bingo-brown{background-color: #ab5c23;}
.bingo-pink{background-color: #ed86aa;}
.bingo-yellow{background-color: #d8d014;}
.bingo-black{background-color: #000;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

.player-winner, .player-final{
    width: 162px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

.blursed-contain{
    width: 180px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    -webkit-mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    animation: stepped-curtain .5s steps(4);
}

.layout .blursed-contain{
    display: none;
	z-index: 5;
}

#menu_layout_blursed.blursed-contain{
    transform: translateX(0);
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.blursed-sprites{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
    margin-bottom: 2px;
}

.blursed-sprite-image img, .dialog[id$="-class"] img{
    background-image: url('../ffr/images/classes.png');
    background-size: 200% 800%;
    width: 30px;
    height: 43px;
    display: block;
    /* image-rendering: pixelated; */
}

.fighter{background-position: 0 0;}
.knight{background-position: 100% 0;}

.thief{background-position: 0 17%;}
.ninja{background-position: 100% 17%;}

.black-belt{background-position: 0 34.5%;}
.master{background-position: 100% 34.5%;}

.red-mage{background-position: 0 50%;}
.red-wizard{background-position: 100% 50%;}

.white-mage{background-position: 0 66%;}
.white-wizard{background-position: 100% 66%;}

.black-mage{background-position: 0 83%;}
.black-wizard{background-position: 100% 83%;}

.question{background-position: 100% 100%;}

.blursed-info, .blursed-sprites{
    padding: 5px;
}

.blursed-info{
    min-height: 10em;
}

.blursed-bonus{
    margin-bottom: 1em;
}

.play-field{
    width: 600px;
    height: 600px;
    top: 3px;
    right: 10px;
}

tr-timer{
	width: 11em;
    height: 40px;
    z-index: 1;
	font-size: 14.7px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.ms,.dot{
    display: none;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 330px;
	height: 90px;
}

.staff svg{
    margin: 0 .5em;
}

.commentators, .restreamers, .trackers{
    width: 220px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 10;
    }

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_2 {
    display: grid;
    grid-template-areas: 
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

[property="blursed-toggle"]{
    position: absolute;
    right: 1em;
    top: -8px;
    padding: 0 .25em;
    background-color: #000;
}