* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 439px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --videoX: 12px; --videoY: 12px;
    --nameWidth: 175px;
    --nameX: 455px; --nameY: 12px;
    --gridX: 455px; --gridY: 65px;
    --pronounX: 555px; --pronounY: 65px;
    --rankX: 555px; --rankY: 102px;
    --speakerX: 515px; --speakerY: 200px;
    --winX: 400px; --winY: 120px;
    --finalX: 400px; --finalY: 80px;
    --vsX: 50%; --vsY: 140px;
	--bingoX: 455px; --bingoY: 205px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/bingo/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-image: url('../ffr/images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
    border-radius: 8px;
}


.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
         url('../shared/fonts/chicago.woff') format('woff'),
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: Chicago, Arial, sans-serif;
    line-height: 1;
    width: 1280px;
    height: 720px;
    color: #fff;
    background-color: #000;
    position: relative;
}
.ffr-default{
    background-color: #000;
    --default-fallback: url("data:image/svg+xml,%3Csvg width='1280' height='720' viewBox='0 .5 31 23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13,0h5v23h-5zm-3,1h11v22h-11zm-3,1h17v22h-17zm-2,1h21v22h-21zm-1,1h23v22h-23zm-1,1h25v22h-25zm-1,2h27v22h-27zm-1,3h29v14h-29zm-1,3h31v7h-31z' fill='%233e3e3e'/%3E%3Cpath d='M13,12h5v9h-5zm-1,1h7v7h-7zm-1,2h9v3h-9z' fill='black'/%3E%3C/svg%3E");
    background-image: var(--default-fallback);
}
.notwebp .ffr-default{background-image: url(images/bingo/base-background.png), var(--default-fallback);}
.webp .ffr-default{background-image: url(images/bingo/base-background.webp), var(--default-fallback);}

.ffr-irongol{
    background-color: #295280;
    --backgroundColor2: #500;
    background-image: url(images/bingo/base-irongol.png);
}

.ffr-dark{
    background-color: #000;
    --default-fallback: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4,11h1v1h-1zM8,9h1v1h-1zM13,15h1v1h-1zM15,8h1v1h-1z' fill='%2300f'/%3E%3C/svg%3E");
    background-image: var(--default-fallback);
}
.notwebp .ffr-dark{background-image: url(images/bingo/base-dark.png), var(--default-fallback);}
.webp .ffr-dark{background-image: url(images/bingo/base-dark.webp), var(--default-fallback);}

.ffr-winter{
    background-color: #4ea0cf;
    --default-fallback: linear-gradient(#052d44, #4ea0cf);
    background-image: var(--default-fallback);
}
.notavif .ffr-winter{background-image: url(images/bingo/base-winter.jpg), var(--default-fallback);}
.avif .ffr-winter{background-image: url(images/bingo/base-winter.avif), var(--default-fallback);}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
    grid-gap: 4px;
}

.bingo-option{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0px;
    grid-gap: 0px;
}

.player-grid img, .dialog img{
    background-image: url('../ffr/images/retro_tracker/ffr-items-sprite-2020.png');
    background-size: 500% 1100%;
}

.bingo-option img, .dialog[id$="bingo-color"] img{
    background-image: url('images/bingo/bingo-icons.png');
    background-size: 100% 1200%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater{background-position: 0 30%;}
.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 75% 80%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.bingo-red{background-position: 0 0;}
.bingo-orange{background-position: 0 9.1%;}
.bingo-blue{background-position: 0 18.2%;}
.bingo-green{background-position: 0 27.3%;}
.bingo-purple{background-position: 0 36.4%;}
.bingo-white{background-position: 0 45.5%;}
.bingo-navy{background-position: 0 54.6%;}
.bingo-teal{background-position: 0 63.7%;}
.bingo-brown{background-position: 0 72.8%;}
.bingo-pink{background-position: 0 81.9%;}
.bingo-yellow{background-position: 0 91%;}
.bingo-black{background-position: 0 100%;}

/*

[player="1"] .bingo-option{ background-color: red;}
[player="2"] .bingo-option{ background-color: green;}

*/

.player-pronoun, .record-contain{
    width: 90px;
    height: 33px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid img{
    width: 16px;
    height: 16px;
    display: block;
}

.bingo-option img{
    width: 50px;
    height: 50px;
    display: block;
}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

.player-winner, .player-final{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    z-index: 3;
}

.player-final:empty{
    display:none;
}

.play-field{
    width: 550px;
    height: 550px;
    top: 12px;
    right: 40px;
    z-index: 5;
}

tr-timer{
   width: 11em;
   height: 53px;
   z-index: 1;
   font-size: 24px;
   bottom: 12px;
   right: 325px;
}

tr-timer span {
   width: 26px;
   text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
   overflow: hidden;
   font-size: 24px;
   width: 265px;
   height: 80px;
   bottom: 68px;
   right: 324px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.show{ display: block; }

#menu_2 {
    display: grid;
    grid-template-areas: 
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}