* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 410px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 168px; --videoY: 3px;
	--nameblockX: 3px; --nameblockY: 3px;
    --nameWidth: 141px;
    --nameX: 6px; --nameY: 10px;
    --gridX: 3px; --gridY:71px;
    --pronounX: 3px; --pronounY: 35px;
    --rankX: 95px; --rankY: 35px;
    --speakerX: 580px; --speakerY: 3px;
    --winX: 100px; --winY: 120px;
    --finalX: 3px; --finalY: 308px;
    --bestX: 449px; --bestY: 332px;
    --teamX: 3px; --teamY: 440px;
	--timeX: 3px; --timeY: 308px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('../ffr/images/images/4p/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('../ffr/images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

html{
    line-height: 1;
}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
         url('../shared/fonts/chicago.woff') format('woff'),
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: Chicago, Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background: url(images/coop/base-background.png) #000;
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    mask-repeat: no-repeat;
}

.ffr-default{
    background-color: #000;
    --default-fallback: url("data:image/svg+xml,%3Csvg width='1280' height='720' viewBox='0 .5 31 23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13,0h5v23h-5zm-3,1h11v22h-11zm-3,1h17v22h-17zm-2,1h21v22h-21zm-1,1h23v22h-23zm-1,1h25v22h-25zm-1,2h27v22h-27zm-1,3h29v14h-29zm-1,3h31v7h-31z' fill='%233e3e3e'/%3E%3Cpath d='M13,12h5v9h-5zm-1,1h7v7h-7zm-1,2h9v3h-9z' fill='black'/%3E%3C/svg%3E");
    background-image: var(--default-fallback);
}
.notwebp.notavif .ffr-default{background-image: url(../ffr/images/4p/base-background.png), var(--default-fallback);}
.webp .ffr-default{background-image: url(../ffr/images/4p/base-background.webp), var(--default-fallback);}
/* .avif .ffr-default{background-image: url(../ffr/images/4p/base-background.avif);} */

.ffr-irongol{
    --backgroundColor2: #500;
    background-color: #000076;
}
.notwebp .ffr-irongol{background-image: url(../ffr/images/4p/base-irongol.png);}
.webp .ffr-irongol{background-image: url(../ffr/images/4p/base-irongol.webp);}

.ffr-tourney{
    --backgroundColor2: #005;
    background-color:#0094ff; 
}
.notwebp .ffr-tourney{background-image: url(images/coop/base-tourney.png);}
.webp.notavif .ffr-tourney{background-image: url(images/coop/base-tourney.webp);}
.avif .ffr-tourney{background-image: url(images/coop/base-tourney.avif);}

.ffr-dark{
    background-color: #000;
    --darkfallback: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4,11h1v1h-1zM8,9h1v1h-1zM13,15h1v1h-1zM15,8h1v1h-1z' fill='%2300f'/%3E%3C/svg%3E");
    background-image: var(--darkfallback);
}
.notwebp .ffr-dark{background-image: url(../ffr/images/4p/base-dark.png), var(--darkfallback);}
.webp .ffr-dark{background-image: url(../ffr/images/4p/base-dark.webp), var(--darkfallback);}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name-block{
    height: 65px;
	width: 162px;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.team-name{
    font-size: 26px;
    width: 162px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px 5px;
	display: block;
	
}

.team-flag{
    height: 162px;
    width: 162px;
}

.player-name tr-text, .team-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty, .team-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
	z-index: 4;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-image: url('../ffr/images/retro_tracker/ffr-items-sprite-2021.png');
    background-size: 500% 1100%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater-no{background-position: 100% 60%;}
.floater-yes{background-position: 100% 70%;}
.floater-ship{background-position: 100% 80%;}

.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 0% 30%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner, .player-final{
    width: 162px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('../ffr/images/retro_tracker/win-orb-on.png');
    background-size: 100% 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.blursed-contain{
    width: 180px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    -webkit-mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    animation: stepped-curtain .5s steps(4);
}

.layout .blursed-contain{
    display: none;
	z-index: 5;
}

#menu_layout_blursed.blursed-contain{
    transform: translateX(0);
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.blursed-sprites{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
    margin-bottom: 2px;
}

.blursed-sprite-image img, .dialog[id$="-class"] img{
    background-image: url('../ffr/images/classes.png');
    background-size: 200% 800%;
    width: 30px;
    height: 43px;
    display: block;
    /* image-rendering: pixelated; */
}

.fighter{background-position: 0 0;}
.knight{background-position: 100% 0;}

.thief{background-position: 0 17%;}
.ninja{background-position: 100% 17%;}

.black-belt{background-position: 0 34.5%;}
.master{background-position: 100% 34.5%;}

.red-mage{background-position: 0 50%;}
.red-wizard{background-position: 100% 50%;}

.white-mage{background-position: 0 66%;}
.white-wizard{background-position: 100% 66%;}

.black-mage{background-position: 0 83%;}
.black-wizard{background-position: 100% 83%;}

.question{background-position: 100% 100%;}

.blursed-info, .blursed-sprites{
    padding: 5px;
}

.blursed-info{
    min-height: 10em;
}

.blursed-bonus{
    margin-bottom: 1em;
}

tr-timer{
	width: 11em;
    height: 40px;
    z-index: 1;
	font-size: 14.7px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.ms,.dot{
    display: none;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 330px;
	height: 80px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 220px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.view-container, .view-container-border{
    background-color: #0000;
}

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_2 {
    display: grid;
    grid-template-areas: 
        "players layout team"
        "timer view reset";
	color: #fff;
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

#menu_blursed, #menu_credits{
color: #fff;
}

[property="blursed-toggle"]{
    position: absolute;
    right: 1em;
    top: -8px;
    padding: 0 .25em;
    background-color: #000;
}