* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 3px #fff;
    --backgroundColor1: rgba(0,0,0,.5);
    --backgroundColor1: rgba(0,0,0,1);
    --vidWidth: 363px;
    --vidAspect: 292 / 240;
    --videoX: 59.5px; --videoY1: 61px; --videoY2: 50px;
    --nameWidth: 243px;
    --nameX: 166px; --nameY1: 19px; --nameY2: 8px;
    --timerX: 59px; --timerY1: 32px; --timerY2: 21px;
    --gridX: 425px; --gridY1: 159px; --gridY2: 150px;
    --countX: 422px; --countY1: 97px; --countY2: 86px;
    --lvltriX: 14px; --lvltriY1: 32px; --lvltriY2: 23px;
    --speakerX: 422.5px; --speakerY1: 108px; --speakerY2: 97px;
    --winX: 14px; --winY1: 32px; --winY2: 21px;
    --finalX: 59px; --finalY1: 32px; --finalY2: 21px;
    --vsX: 50%; --vsY: 30px;
    --player-color: #f0f;
}

tr-timer:nth-of-type(1), [player="1"] {--player-color: #40ff00;}
tr-timer:nth-of-type(2), [player="2"] {--player-color: #f00;}
tr-timer:nth-of-type(3), [player="3"] {--player-color: #ff0;}
tr-timer:nth-of-type(4), [player="4"] {--player-color: #00bfff;}

.border-1{border: var(--border1);}
.border-1{border-color: var(--player-color);}

.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

/* layout specific styles */
@font-face {
    font-family: "PressStart2P";
    src: local('PressStart2P'),
         url('../shared/fonts/pressstart2p.woff2') format('woff2'),
	     url('../shared/fonts/pressstart2p.woff') format('woff'),         
         url('../shared/fonts/pressstart2p.ttf') format('truetype');
}
.layout{
    font-family: 'PressStart2P', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color:#fff;
    position: relative;
    font-size: 18px;
}

.notwebp.notavif .layout{background-image: url('images/4p-layout.png');}
.webp.notavif .layout{background-image: url('images/4p-layout.webp');}
.avif .layout{background-image: url('images/4p-layout.avif');}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-name{
    height: 42px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    padding: 4px 6px;
    grid-gap: 8px 20px;
    overflow: hidden;
}

.player-grid img, .player-grid tr-toggle-class{
    width: 32px;
    height: 32px;
}

tr-image-toggle img, tr-toggle-class, .in-active {
    opacity: .5;
    filter: grayscale(1) contrast(1);
}

tr-image-toggle img.active, tr-toggle-class.active {
    opacity: 1;
    filter: grayscale(0);
}

[class^="-"] {
    background-image: url('images/items/z1-item-sprite-sheet-180.png');
    background-repeat: no-repeat;
    background-size: 500% 1100%;
}

.-armos {background-position: 0 0;}
.-arrow-0 {background-position: 25% 0;}
.-arrow-1 {background-position: 50% 0;}
.-book {background-position: 75% 0;}
.-boomerang-0 {background-position: 0 10%;}
.-boomerang-1 {background-position: 25% 10%;}
.-bow {background-position: 50% 10%;}
.-bracelet {background-position: 75% 10%;}
.-candle-0{ background-position: 0 20%;}
.-candle-1 {background-position: 25% 20%;}
.-coast {background-position: 50% 20%;}
.-heart-0 {background-position: 75% 20%;}
.-key-a {background-position: 0 30%;}
.-ladder {background-position: 25% 30%;}
.-oldman {background-position: 50% 30%;}
.-raft {background-position: 75% 30%;}
.-recorder {background-position: 100% 0;}
.-ring-0 {background-position: 100% 10%;}
.-ring-1 {background-position: 100% 20%;}
.-shield {background-position: 75% 40%;}
.-sword-0 {background-position: 100% 30%;}
.-sword-1 {background-position: 50% 40%;}
.-sword-2 {background-position: 0 40%;}
.-wand {background-position: 25% 40%;}
.-merchant {background-position: 100% 40%;}

.item-locations tr-image, figure{
    position: relative;
}
.item-locations tr-template tr-label, .item-locations figcaption, .dialog figcaption{
    position: absolute;
    top: 8px;
    left: 8px;
    font: normal 19px 'PressStart2P', Arial, sans-serif;
    pointer-events: none;
    line-height: 1;
}

[label="?"][selected="selected"] ~ tr-label, [label="?"] ~ figcaption{
    color: #444;
}


.done {
    color: #000;
    width: 8rem;
    padding: 8px 0;
    text-align: center;
    font-size: .8em;
    top: 12px;
    display: none;
}

[player="1"] .done, [player="3"] .done {
    right: 27px;
    transform: translateX(50%) rotate(45deg);
}

[player="2"] .done, [player="4"] .done {
    left: 27px;
    transform: translateX(-50%) rotate(-45deg);
}

[player="1"] .done {background-color: var(--player-color);}
[player="2"] .done {background-color: var(--player-color);}
[player="3"] .done {background-color: var(--player-color);}
[player="4"] .done {background-color: var(--player-color);}

.item-locations{
    width: 78px;
    height: 567px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 2px;
    padding: 2px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.item-locations img{
    width: 32px;
    height: 32px;
}

.lvltri{
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
    gap: 3px;
}


.lvltri tr-toggle-class{
    position: relative;
}
.lvltri tr-toggle-class figcaption{
    position: absolute;
    top: 9px;
    left: 13px;
    color: #000;
    font: bold 28px "Time New Roman";
}


.lvltri figcaption{
    pointer-events: none;
}

.lvltri img{
    display: block;
    width: 41px;
    height: 38px;
    background: url('images/items/z1-item-sprite-sheet-180.png') no-repeat -72px -180px / 180px 396px;
}
.player-count{
    padding: 0 .5em;
    min-width: 67px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
}

.player-count:after{
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(images/three-triforce.png) no-repeat center center / auto 85%;
    filter: grayscale(1);
    opacity: .1;
    animation: flash .5s steps(2) 5;
}

@keyframes flash{
    from{filter: grayscale(0); opacity: .3;}
    to{filter: grayscale(1); opacity: .3;}
}

.player-count:empty{
    display: none;
}

.player-speaker{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-speaker img{
    width: 32px;
    height: 32px;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    width: 41px;
    height: 324px;
    background-color: rgba(0,0,0,.75);
    color: #fff200;
    z-index: 3;
    font-size: 24px;
    line-height: 1;
    display: grid;
    justify-content: center;
    text-align: center;
}

.player-winner.tada{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: 12px;
    justify-items: center;
    align-items: center;
}

.player-winner div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1em);
    grid-gap: 8px;
    align-content: space-around;
    align-content: space-evenly;
}

.player-winner span{
    height: 1em;
}

.player-final:empty{
    display:none;
}

.vs{
    font-size: 24px;
}

tr-timer, .player-final{
	width: 107px;
    height: 26px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final{
    z-index: 1;
}

tr-timer span {
    width: 16px;
    text-align: center;
}
tr-timer .colon {
    width: 11px;
    text-align: center;
}
tr-timer .dot, tr-timer .ms {
    display: none;
}

.production-team-swap{
    display: grid;
    font-size: 17px;
    line-height: 1.15;
    letter-spacing: -1px;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    width: 414px;
    padding: 11px 28px;
    min-height: 61px;
    background: url('images/staff-back-magenta.svg') no-repeat 0 0 / 100% 100%;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    gap: 3px;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-gap: 15px;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 340px;
}

.commentators-img{
    background: url('images/mic-4.png');
    width: 20px;
    height: 32px;
    background-size: 100% 100%;
}

.restreamers-img{
    width: 21px;
    background-position: 0 0;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
}
    
.trackers-img{
    width: 10px;
    height: 20px;
    background: url('images/letter-white.png') no-repeat 0 0 / 100% 100%;
    justify-self: center;
    background-size: 100% 100%;
}

.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

.header{
    background: url('images/staff-back-magenta.svg') no-repeat 0 0 / 100% 100%;
    text-align: center;
    width: 305px;
    min-height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px auto;
    padding: 12px;
    line-height: 1.2  
}
.header:empty{
    display: none;
}

.rm-logo{
    text-align: center;
    text-shadow: 0 0 5px #000, 0 0 5px #000;;
}
.rm-logo-1{
    font: normal 18px/1 Arial, Helvetica, sans-serif;
}
.rm-logo-2{
    font: normal 24px/1 'Orbitron', Arial, Helvetica, sans-serif;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none,
.trackers-contain.display-none,
.restreamers-contain.display-none,
.commentators-contain.display-none{ display: none; }

.show{ display: block; }
.show-flex{ display: flex; }
.show-grid{ display: grid; }

#menu_2 {
    display: grid;
    grid-template-areas: "players layout team"
                         "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

tr-input-text[property="player-count"] input{
    width: 4em;
}