* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 420px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;

    --videoX: 22px; --videoY: 18px;
    --nameWidth: 180px;
    /* --backX: 0; --backY: 0; */
    --nameX: 22px; --nameX2: 246px; --nameY: 335px;
    --gridX: 457px; --gridY: 68px;
    --speakerX: 208px; --speakerX2: 436px; --speakerY: 345px; --speakerY2: 343px;
    --finalX: 489px; --finalX2: 1041px; --finalY: 266px; --finalY2: 367px;
    --winX: 78px; --winX2: 297px; --winY: 358px; --winY2: 356px;
    --vsX: 50%; --vsY: 20px;
    --curtain: url(images/curtain.png);

    --border: 0px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.abs{position: absolute;}

.background-white{
    background-color: #fcfcfc;
}

/* layout specific styles */
@font-face {
    font-family: "SMB3";
    src: local('SMB3'),
         url('fonts/super-mario-bros-3-question.woff2') format('woff2'),
	     url('fonts/super-mario-bros-3-question.woff') format('woff'),         
         url('fonts/Super-Mario-Bros-3-question.ttf') format('truetype');
}

.layout{
    font-family: 'SMB3', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fcfcfc;
    position: relative;
    background-color: #ffcc66;
    text-shadow: 0 -1px #fff;
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    mask-repeat: no-repeat;
}

.logo{
    padding: 8px;
    background: url(images/smb3r_logo_transparent.png) no-repeat center / 293px 113px, url("../dwr/images/transparent-texture.png"), linear-gradient(#ffff80, #ffcc66);
    width: 301px;
    height: 121px;
}

[class^="abs player-background"] {
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    background-blend-mode: multiply;
    filter: brightness(2.1);
}

.player-background-1{clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);}
.player-background-2{clip-path: polygon(50% 0, 100% 0%, 100% 50%, 50% 50%);}
.player-background-3{clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);}
.player-background-4{clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);}

.background{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    width: 1280px; 
    height: 720px;
    pointer-events: none;
}

.horizontal-stitches{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 16px;
    background-image: repeating-linear-gradient( 45deg, #0000 0 45px, #cfcfcf 46px, #efefef 49px), repeating-linear-gradient( -45deg, #0000 0 45px, #cfcfcf 46px, #efefef 49px);
    background-position: -86px, -72px;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}

.vertical-stitches{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
    background-image: repeating-linear-gradient( 45deg, #0000 0 33px, #cfcfcf 33px, #efefef 36px), repeating-linear-gradient( -45deg, #0000 0 33px, #cfcfcf 33px, #efefef 36px);
    background-position: 0 13px;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}

.layout, .background-world-1{
    background-image: url(images/overworld-world-1.png), var(--curtain);
    background-position: 0 -40px;
}

.background-world-2{
    background-image: url(images/overworld-world-2.png), var(--curtain);
    background-position: calc(-64px * 11) -40px, 0 0;
}

.background-world-3{
    background-image: url(images/overworld-world-3.png), var(--curtain);
    background-position: center -40px;
}

.background-world-4{
    background-image: url(images/overworld-world-4.png), var(--curtain);
    background-position: calc(-64px * 11) -40px;
}

.background-world-5{
    background-position: center;
}
.notwebp .background-world-5{
    background-image: url(images/overworld-world-5.png), var(--curtain);
}
.webp .background-world-5{
    background-image: url(images/overworld-world-5.webp), var(--curtain);
}

.background-world-6{
    background-image: url(images/overworld-world-6.png), var(--curtain);
    background-position: calc(-64px * 11) -40px;
}

.background-world-7{
    background-position: -160px 8px;
}
.notwebp .background-world-7{
    background-image: url(images/overworld-world-7.png), var(--curtain);
}
.webp .background-world-7{
    background-image: url(images/overworld-world-7.webp), var(--curtain);
}

.background-world-8{
    background-image: url(images/overworld-world-8.png), var(--curtain);
    background-position: 0 -8px;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,.5);
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-family: 'SMB3', Arial, sans-serif;
    font-size: 18px;
    text-transform: lowercase;
    height: 27px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    background-color: #ffcc66;
}


.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    width: 338px;
    height: 44px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 6px;
    grid-gap: 10px;
    align-items: center;
    background-color: #ffcc66;
    text-shadow: 2px 2px 0 #000;
}

.player-grid tr-label{
    line-height: 0.7;
    padding-left: 5px;    
}

[label="?"][selected] ~ tr-label{
    text-shadow: 2px 2px 0 #000;
    border: solid #000 2px;
    box-shadow: inset 2px 2px 0 #fff;
    line-height: 0.7;
    padding-left: 5px;
    background:
        repeating-linear-gradient(to right, #000 0 2px, #0000 2px 22px) 2px 2px / 100% 2px repeat-x,
        repeating-linear-gradient(to right, #000 0 2px, #0000 2px 22px) 2px 25px / 100% 2px repeat-x #ffae4c;
    background: 
        conic-gradient(at 2px 2px, #0000 0.25turn, #0000 0.25turn 0.5turn, #0000 0.5turn 0.75turn, #000 0.75turn) 2px 2px / 22px 23px repeat #ffae4c;
}

tr-image{
    display: grid;
    place-content: center;
    width: 32px;
    height: 32px;
}

tr-image > *, .dialog figure > *{
    grid-area: 1 / 1;
}

.dialog figure img{
    z-index: 2;
}

tr-label, figcaption{
    font: normal 32px 'SMB3', arial;
    -webkit-text-stroke: 1px #000;
    paint-order: stroke fill;
    width: 100%;
    height: 100%;
    width: 32px;
    height: 32px;
    line-height: .9;
}

.world-question{
    opacity: .5;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
}

.player-speaker img{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(images/note-block-dance-frames-32.png);
    background-size: 300% 100%;
    background-position: 50% 0;
    animation: note-dance .5s 8 steps(3) alternate, note-bounce .4s steps(1);
}

@keyframes note-dance{
    from {background-position-X: 0;}
    to {background-position-X: -96px;}
}
@keyframes note-bounce{
    from {transform: translateY(-25%);}
    50% {transform: translateY(0);}
}

.player-winner{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    color: #ffcc66;
    background-color: rgba(0,0,0,1);
    border: solid #ffcc66 1px;
    border-image: linear-gradient(#ffff80, #ffcc66) 1;
    padding: 0 .5em;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-winner div{
    background-image: linear-gradient(#ffff80, #ffcc66);
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
    text-shadow: none;
}

.player-final{
    font-size: 18px;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-shadow: 1px 1px #003399;
    border: 1px solid;
    height: 20px;
    text-align: center;
    line-height: 0.8;
    z-index: 1;
}

.player-final:empty{
    display:none;
}

.vs{
    font-size: 24px;
}

.info-wrapper{
    display: grid;
    justify-items: center;
    align-content: space-around;
    height: 100%;
    z-index: 1;
}

.info-wrapper > *{
    position: relative;
}


tr-timer{
    width: 11em;
    height: 53px;
    z-index: 1;
    font-size: 24px;
    color: rgba(0,0,0,.9);
}

tr-timer span {
    width: 24px;
    text-align: center;
}

.dual-split{
    width: 345px;
    padding: 38px 8px 8px;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    background: repeat-x url(images/top-curtain-16.png) top -32px center;
    color: #000;
    /* 
    background-color: rgba(0,0,0,.6);
    #b53220, #f9f7bb */
    z-index: 2;
    font-size: 15px;
}
.paper-insert{
    background-color: #ffff80;
    background-image:url("../dwr/images/transparent-texture.png"), linear-gradient(#ffcc66 0 3px, #0000 3px, #ffcc66);
    background-image:url("../dwr/images/transparent-texture.webp"), linear-gradient(#ffcc66 0 3px, #0000 3px, #ffcc66);  
    box-shadow: inset 6px 0 6px -5px rgba(0,0,0,.75), inset -6px 0 6px -5px rgba(0,0,0,.75), inset 6px 0 6px -5px rgba(0,0,0,.75), inset -6px 0 6px -5px rgba(0,0,0,.75), 0 5px 8px -5px rgba(0,0,0,.75), 0-5px 8px -5px rgba(0,0,0,.75);
}

.players-1-and-2, .players-3-and-4{
    display: table;
    text-align: center;
    border-collapse: separate;
    border-spacing: 2px;
    display: none;
}

.players-1-and-2 > *, .players-3-and-4 > *{
    display: table-row;
}

.players-1-and-2 > * > *, .players-3-and-4 > * > *{
    display: table-cell;
    width: 4em;
}

.dual-split-header{
    display: table-header-group;
    text-transform: lowercase;
    font: bold 12px 'SMB3', Arial, sans-serif;
    color: #000;
}


.ds-grid span{
    font-weight: bold;
}

.ds-grid:nth-of-type(odd) tr-ds-timestamp{
    background-color: #ffff80;

}

.positive, .negative{
    font-size: .8em;
    line-height: .9;
    border-radius: 12px;
    color: #fff;
    transform: scale(.9);
    letter-spacing: .5px;
}

.negative {
    background-color: #409020;
}

.negative:before {
    content: "- ";
}

.positive {
    color: #b53220;
}

.positive:before {
    content: "+ ";
}

.dual-split-input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 12px;
    justify-content: space-around;
}
.dual-split-input > *{
    display: flex;
    justify-content: space-around;
}

#production_team_swap{
    display: flex;
    height: 100%;
}

#production_team_swap img{
    margin: 0 6px;
    width: auto;
    height: 1em;
    z-index: 2;
}


#staff{
    overflow: hidden;
    width: 204px;
    height: 72px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgba(0,0,0,.9);
}

#staff_panel_1, #staff_panel_2{
    display: grid;
    flex: 0 0 204px;
    align-content: center;
    padding: 8px;
    color: #000;
}

#staff_panel_1{grid-template-columns: auto 1fr;}
#staff_panel_2{grid-template-columns: 1fr;}

#commentator_contain, #restreamer_contain, #tracker_contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#commentators, #restreamer, #tracker{
    width: 152px;
}

#staff img{
    background-size: 500% 400%;
    background-image: url('../shared/images/icons/sprite.svg');
    background-repeat: no-repeat;
    filter: drop-shadow(0 -1px 0 rgba(255,255,255,.75));
}

.com-img{background-position: 75% 33.3%;}
.restreamer-img{background-position: 0% 33.3%;}
.tracker-img{background-position: 50% 33.3%;}


.position-right{
    transform: translate(-100%);
}

.production-swap {animation: panel-slide 60s infinite alternate;}


@keyframes panel-slide {
    0%, 49% {transform: translate(0);}
    52%, 100% {transform: translate(-100%);}
    }
    
/* dialog styles */
    
.dialog{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5);
    text-shadow: 2px 2px #003399;
    z-index: 3;
    }


#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}


/* Bracket Screen */

/* .bracket-contain{background: url(../shared/images/checkerboard.png);}

.bracket-contain iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
} */

.display-none,
#tracker_contain.display-none,
#restreamer_contain.display-none,
#commentator_contain.display-none,
#staff_panel_1.display-none{ display: none; }

.show{ display: block; }
.show-flex{ display: flex; }
.show-grid{ display: grid; }

#menu_2 {
    display: grid;
    grid-template-areas: "players layout team"
                         "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.menu-game-specific{
    color: #fff;
    background-color: #000;
    padding-top: 16px;
    padding-right: 16px;
}

.menu-contain{
    display: grid;
    grid-template-columns: min-content min-content;
}

#menu_player_background .menu-player-background{
    display: grid; 
    grid-template-columns: repeat(8, auto);
    grid-gap: 8px;
    margin: 8px;
}

.menu-player-background input{
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
}

.menu-player-background label{
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-player-background input[type="radio"]:checked {
    box-shadow: 0 0 0 2px #f8b800;
}

.menu-player-background tr-input-radio:nth-of-type(1), .menu-player-background label:nth-of-type(1){grid-area: 1 / 1;}
.menu-player-background tr-input-radio:nth-of-type(2), .menu-player-background label:nth-of-type(2){grid-area: 1 / 2;}
.menu-player-background tr-input-radio:nth-of-type(3), .menu-player-background label:nth-of-type(3){grid-area: 1 / 3;}
.menu-player-background tr-input-radio:nth-of-type(4), .menu-player-background label:nth-of-type(4){grid-area: 1 / 4;}
.menu-player-background tr-input-radio:nth-of-type(5), .menu-player-background label:nth-of-type(5){grid-area: 1 / 5;}
.menu-player-background tr-input-radio:nth-of-type(6), .menu-player-background label:nth-of-type(6){grid-area: 1 / 6;}
.menu-player-background tr-input-radio:nth-of-type(7), .menu-player-background label:nth-of-type(7){grid-area: 1 / 7;}
.menu-player-background tr-input-radio:nth-of-type(8), .menu-player-background label:nth-of-type(8){grid-area: 1 / 8;}

tr-image img:not([src]){
    background: none;
}