* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 604px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --backgroundImg: url('../shared/images/checkerboard.png');
    --border1: solid 2px #fff;
    --backgroundColor1: #000;
    --videoX: 20px; --videoY: 20px;
    --nameWidth: 375px;
    --nameX: 20px; --nameY: 490px;
    --gridX: 20px; --gridY: 558px;
    --speakerX: 390px; --speakerY: 525px;
    --winX: 143px; --winY: 529px;
    --finalX: 230px; --finalY: 558px;
    --bestX: 869px; --bestY: 558px;
    --curtain: url(images/curtain.png);

    --border: 0px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

@font-face {
    font-family: "SMB3";
    src: local('SMB3'),
         url('fonts/super-mario-bros-3-question.woff2') format('woff2'),
	     url('fonts/super-mario-bros-3-question.woff') format('woff'),         
         url('fonts/Super-Mario-Bros-3-question.ttf') format('truetype');
}

.layout{
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background: var(--backgroundImg);
    background-color: silver;
    font-family: 'SMB3', Arial, sans-serif;
    background-color: #ffcc66;
    text-shadow: 0 -1px rgba(255,255,255,.75);
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat
}

.logo{
    padding: 8px;
    background-color: #ffff80;
    background-image:url("../dwr/images/transparent-texture.png"), linear-gradient(#ffcc66 0 3px, transparent 3px, #ffcc66);
    background-image:url("../dwr/images/transparent-texture.webp"), linear-gradient(#ffcc66 0 3px, transparent 3px, #ffcc66);
    width: 301px;
    height: 121px;
}

[class^="abs player-background"] {
    width: 1280px;
    height: 720px;
    top: 0;
    left: 0;
    background-blend-mode: multiply;
    filter: brightness(2.1);
}

.player-background-1{clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);}
.player-background-2{clip-path: polygon(50% 0, 100% 0%, 100% 50%, 50% 50%);}
.player-background-3{clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);}
.player-background-4{clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);}

.background{
    position: relative;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));
    width: 1280px; 
    height: 720px;
    pointer-events: none;
}

.vertical-stitches{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 100%;
    background-image: repeating-linear-gradient( 45deg, transparent 0 33px, #cfcfcf 33px, #efefef 36px), repeating-linear-gradient( -45deg, transparent 0 33px, #cfcfcf 33px, #efefef 36px);
    background-position: 0 13px;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,.5));
}

.layout, .background-world-1{
    background-image: url(images/overworld-world-1.png), var(--curtain);
    background-position: 0 -40px;
}

.background-world-2{
    background-image: url(images/overworld-world-2.png), var(--curtain);
    background-position: calc(-64px * 11) -40px, 0 0;
}

.background-world-3{
    background-image: url(images/overworld-world-3.png), var(--curtain);
    background-position: 64px -184px;
}

.background-world-4{
    background-image: url(images/overworld-world-4.png), var(--curtain);
    background-position: calc(-64px * 11) -40px;
}

.background-world-5{
    background-position: left 196px bottom -253px;
}
.notwebp .background-world-5{
    background-image: url(images/overworld-world-5.png), var(--curtain);
}
.webp .background-world-5{
    background-image: url(images/overworld-world-5.webp), var(--curtain);
}

.background-world-6{
    background-image: url(images/overworld-world-6.png), var(--curtain);
    background-position: calc(-64px * 11) -40px;
}

.background-world-7{
    background-position: -160px bottom;
}
.notwebp .background-world-7{
    background-image: url(images/overworld-world-7.png), var(--curtain);
}
.webp .background-world-7{
    background-image: url(images/overworld-world-7.webp), var(--curtain);
}

.background-world-8{
    background-image: url(images/overworld-world-8.png), var(--curtain);
    background-position: 0 -8px;
}

.player-background-1{clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);}
.player-background-2{clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%);}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,.5);
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    text-transform: lowercase;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    width: 338px;
    height: 44px;
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 6px;
    grid-gap: 10px;
    align-items: center;
    background-color: #ffcc66;
    text-shadow: 2px 2px 0 #000;
}

.player-grid tr-label{
    line-height: 0.7;
    padding-left: 5px;    
}

[label="?"][selected] ~ tr-label{
    text-shadow: 2px 2px 0 #000;
    border: solid #000 2px;
    box-shadow: inset 2px 2px 0 #fff;
    line-height: 0.7;
    padding-left: 5px;
    background:
        repeating-linear-gradient(to right, #000 0 2px, transparent 2px 22px) 2px 2px / 100% 2px repeat-x,
        repeating-linear-gradient(to right, #000 0 2px, transparent 2px 22px) 2px 25px / 100% 2px repeat-x #ffae4c;
    background: 
        conic-gradient(at 2px 2px, transparent 0.25turn, transparent 0.25turn 0.5turn, transparent 0.5turn 0.75turn, #000 0.75turn) 2px 2px / 22px 23px repeat #ffae4c;
}

tr-image{
    display: grid;
    place-content: center;
    width: 32px;
    height: 32px;
}

tr-image > *, .dialog figure > *{
    grid-area: 1 / 1;
}

.dialog figure img{
    z-index: 2;
}

tr-label, figcaption{
    font: normal 32px 'SMB3', arial;
    -webkit-text-stroke: 1px #000;
    paint-order: stroke fill;
    width: 100%;
    height: 100%;
    width: 32px;
    height: 32px;
    line-height: .9;
}

.world-question{
    opacity: .5;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
}

.player-speaker img{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(images/note-block-dance-frames-32.png);
    background-size: 300% 100%;
    background-position: 50% 0;
    animation: note-dance .5s 8 steps(3) alternate, note-bounce .4s steps(1);
}

@keyframes note-dance{
    from {background-position-X: 0;}
    to {background-position-X: -96px;}
}
@keyframes note-bounce{
    from {transform: translateY(-25%);}
    50% {transform: translateY(0);}
}

.player-winner{
    height: 34px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 28px;
    color: #ffcc66;
    background-color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,1);
    border: solid #ffcc66 1px;
    border-image: linear-gradient(#ffff80, #ffcc66) 1;
    /* background-image:url("../dwr/images/transparent-texture.webp");*/
    /* background-size: 32px; */
    padding: 0 .5em;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(5deg); */
}

.player-winner div{
    background-image: linear-gradient(#ffff80, #ffcc66);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: none;
}
.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 24px;
    height: 32px;
    background-image: url('images/boss-bass.png');
    background-size: 100% 100%;
}

tr-image-toggle img, tr-toggle-class{
    opacity: .5;
    filter: grayscale(1);
}

tr-image-toggle img.active, tr-toggle-class.active{
    opacity: 1;
    filter: grayscale(0);
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final{
    font-size: 20px;
    width: 5.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 3;
}
.player-final:empty{
    display:none;
}

tr-timer{
    width: 11em;
    height: 53px;
    z-index: 1;
    font-size: 24px;
    color: rgba(0,0,0,.9);
}

tr-timer span {
    width: 24px;
    text-align: center;
}

.paper-insert{
    background-color: #ffff80;  
    box-shadow: inset 6px 0 6px -5px rgba(0,0,0,.75), inset -6px 0 6px -5px rgba(0,0,0,.75), inset 6px 0 6px -5px rgba(0,0,0,.75), inset -6px 0 6px -5px rgba(0,0,0,.75), 0 5px 8px -5px rgba(0,0,0,.75), 0-5px 8px -5px rgba(0,0,0,.75);
}

.notwebp .paper-insert{
    background-image:url("../dwr/images/transparent-texture.png"), linear-gradient(#ffcc66 0 3px, transparent 3px, #ffcc66);
}
.webp .paper-insert{
    background-image:url("../dwr/images/transparent-texture.webp"), linear-gradient(#ffcc66 0 3px, transparent 3px, #ffcc66);
}
.timer-staff-grid{
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: rgba(0,0,0,.9);
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 216px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
    opacity: .9;
    filter: drop-shadow(0 -1px 0 rgba(255,255,255,.75));
  }

.commentators-img{background-position: 75% 33.3%;}
.restreamers-img{background-position: 0 33.3%;}
.trackers-img{background-position: 50% 33.3%;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    text-shadow: 2px 2px #003399;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}


/* Bracket Screen */

/* .bracket-contain{background: url(../shared/images/checkerboard.png);}

.bracket-contain iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
} */

.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_2 {
    display: grid;
    grid-template-areas:
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.menu-game-specific{
    color: #fff;
    background-color: #000;
    padding-top: 16px;
    padding-right: 16px;
}

.menu-contain{
    display: grid;
    grid-template-columns: min-content min-content;
}
#menu_player_background .menu-player-background{
    display: grid; 
    grid-template-columns: repeat(8, auto);
    grid-gap: 8px;
    margin: 8px;
}

.menu-player-background input{
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
}

.menu-player-background label{
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-player-background input[type="radio"]:checked {
    box-shadow: 0 0 0 2px #f8b800;
}

.menu-player-background tr-input-radio:nth-of-type(1), .menu-player-background label:nth-of-type(1){grid-area: 1 / 1;}
.menu-player-background tr-input-radio:nth-of-type(2), .menu-player-background label:nth-of-type(2){grid-area: 1 / 2;}
.menu-player-background tr-input-radio:nth-of-type(3), .menu-player-background label:nth-of-type(3){grid-area: 1 / 3;}
.menu-player-background tr-input-radio:nth-of-type(4), .menu-player-background label:nth-of-type(4){grid-area: 1 / 4;}
.menu-player-background tr-input-radio:nth-of-type(5), .menu-player-background label:nth-of-type(5){grid-area: 1 / 5;}
.menu-player-background tr-input-radio:nth-of-type(6), .menu-player-background label:nth-of-type(6){grid-area: 1 / 6;}
.menu-player-background tr-input-radio:nth-of-type(7), .menu-player-background label:nth-of-type(7){grid-area: 1 / 7;}
.menu-player-background tr-input-radio:nth-of-type(8), .menu-player-background label:nth-of-type(8){grid-area: 1 / 8;}