* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --backgroundImg: url('images/backgrounds-all.webp');
    --border1: solid 0px #407048;
    --backgroundColor1: rgba(0,0,0,1);
    --vidWidth: 392px;
    --vidAspect: 4 / 3.02;
    --videoX: 231px; --videoY: 8px;
    --nameWidth: 184px;
    --nameX: 12px; --nameY: 8px;
    --gridX: 40px; --gridY: 40px;
    --gridkeys1X: 0px; --gridkeys1Y: 95px;
    --gridkeys2X: 176px; --gridkeys2Y: 95px;
    --speakerX: 184px; --speakerY: 53px;
    --winX: 48px; --winY: 56px;
    --finalX: 48px; --finalY: 309px;
    --vsX: 50%; --vsY: 9px;
    --teamX: 0; --teamY: 50%;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

@font-face {
	font-family: "TriForce";
    src: local('TriForce'), 
         url('fonts/triforce-webfont.woff2') format('woff2'),
         url("fonts/triforce-webfont.woff") format("woff"),
         url("fonts/Triforce.ttf") format("truetype");
}

@font-face {
	font-family: "ROG";
    src: local('ROG'), 
         url('fonts/retganon-webfont.woff2') format('woff2'),
         url("fonts/retganon-webfont.woff") format("woff"),
	     url("fonts/RetGanon.ttf") format("truetype");
}

.layout{
    font-family: "ROG", sans-serif;
    width: 1280px;
    height: 720px;
    color:#fff;
    position: relative;
}

.player-backdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    background-image: var(--backgroundImg);
    background-color: #383858;
}

.background-player-1{clip-path: polygon(0 0, 50% 0, 50% 50%, 0 50%);}
.background-player-2{clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 50%);}
.background-player-3{clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0% 100%);}
.background-player-4{clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);}

@supports (background-image:conic-gradient(transparent,  black)){
    .player-backdrop{clip-path: none;}
    .background-player-2{-webkit-mask-image: conic-gradient(from -2.5deg, transparent 0,  black 5deg 270deg, transparent 270deg 355deg);}
    .background-player-3{-webkit-mask-image: conic-gradient(from 160deg, transparent 0, black 5deg 110deg, transparent 111deg 355deg);}
    .background-player-4{-webkit-mask-image: conic-gradient(from 88deg, transparent 0,  black 5deg 91deg, transparent 93deg 355deg);}
}

.ep{background-position: 0 0; background-color: #383858;}
.mm{background-position: 100% 50%; background-color: #306030;}
.hc{background-position: 100% 0; background-color: #373753;}
.ip{background-position: 0 50%; background-color: #6068a8;}
.tr{background-position: 0 100%; background-color: #e02020;}


.player-grid.ep, .keys-panel.ep{
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(0, 0, 24, 24))") round 33.333% / 8px;
}
.player-grid.mm, .keys-panel.mm{
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(24, 0, 24, 24))") round 33.333% / 8px;
}
.player-grid.hc, .keys-panel.hc{
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(48, 0, 24, 24))") round 33.333% / 8px;
}
.player-grid.ip, .keys-panel.ip{
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(72, 0, 24, 24))") round 33.333% / 8px;
}
.player-grid.tr, .keys-panel.tr{
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(96, 0, 24, 24))") round 33.333% / 8px;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-info-contain{
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 6px;
    width: 201px;
}

.player-name{
    font-family: "Triforce", sans-serif;
    font-size: 24px;
    height: 32px;
    width: calc(var(--nameWidth));
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(9, auto);
    color: #fff;
    background-color: #000;
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(0, 0, 24, 24))") round 33.333% / 8px;
    z-index: 2;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

tr-toggle-class, .in-active {
    display: block;
    cursor: default;
    filter: grayscale(1);
    opacity: 0.3;
}

tr-toggle-class.active{
    filter: grayscale(0);
    opacity: 1;
}

.player-grid img[src$="blank.svg"], #bosses img[src$="blank.svg"], .dialog img[src$="blank.svg"], .player-grid-keys-1 img[src$="blank.svg"], .player-grid-keys-2 img[src$="blank.svg"]{
    background-image: url('images/all-icons-sheet.png');
    background-size: 1100% 1100%;
}

.boss-info{
    width: 380px;
    height: 77px;
}

#bosses{
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-column-gap: 6px;
    padding: 3px;
    background-image: url(images/smallchest-open.png);    
}

.lamp{background-position: 0 0;}
.cape{background-position: 10% 0;}
.hookshot{background-position: 20% 0;}
.pearl{background-position: 30% 0;}

.bombos{background-position: 0 10%;}
.ether{background-position: 10% 10%;}
.quake{background-position: 20% 10%;}
.net{background-position: 30% 10%;}

.no-magic{background-position: 100% 90%}

[property="boss-9"]{grid-area: 1 / 9;}
[property="boss-10"]{grid-area: 1 / 10;}

[property="magic-1"]{
    justify-self: end;
    align-self: end;
    grid-area: 1 / 9;
}
[property="magic-2"]{
    justify-self: end;
    align-self: end;
    grid-area: 1 / 10;
}

#bosses [property^="magic"] img{
    width: 16px;
    height: 16px;
    background-size: 1100% 1100%;
    transition: transform .2s;
}

#bosses [property^="magic"] img:hover{
    transform: scale(1.2);
    transition: transform 0s;
}

#bosses [property^="magic"] img.no-magic{background-position: 100% 90%;}
#bosses [property^="magic"] img.bombos{background-position: 70% 100%;}
#bosses [property^="magic"] img.ether{background-position: 80% 100%;}
#bosses [property^="magic"] img.quake{background-position: 90% 100%;}

.book{background-position: 0 20%;}
.mirror{background-position: 10% 20%;}
.flute{background-position: 20% 20%;}
.flippers{background-position: 30% 20%;}

.boots{background-position: 0 30%;}
.hammer{background-position: 10% 30%;}


.bow{background-position: 60% 0;}
.bow-arrow{background-position: 70% 0;}
.bow-silver{background-position: 80% 0;}
.silver{background-position: 90% 0;}

.rod-blue{background-position: 60% 10%;}
.rod-red{background-position: 70% 10%;}
.rod-both{background-position: 80% 10%;}

.rang-blue{background-position: 90% 10%;}
.rang-red{background-position: 90% 20%;}
.rang-both{background-position: 90% 30%;}

.cane-blue{background-position: 60% 20%;}
.cane-red{background-position: 70% 20%;}
.cane-both{background-position: 80% 20%;}

.shroom{background-position: 100% 20%;}
.shroom-powder{background-position: 100% 30%;}

.shield-1{background-position: 60% 30%;}
.shield-2{background-position: 70% 30%;}
.shield-3{background-position: 80% 30%;}

.bottle{background-position: 60% 40%;}
.bottle-1{background-position: 70% 40%;}
.bottle-2{background-position: 80% 40%;}
.bottle-3{background-position: 90% 40%;}
.bottle-4{background-position: 100% 40%;}

.glove-1{background-position: 20% 30%;}
.glove-2{background-position: 30% 30%;}

.shirt-1{background-position: 80% 50%;}
.shirt-2{background-position: 90% 50%;}
.shirt-3{background-position: 100% 50%;}

.sword{background-position: 60% 60%;}
.sword-1{background-position: 70% 60%;}
.sword-2{background-position: 80% 60%;}
.sword-3{background-position: 90% 60%;}
.sword-4{background-position: 100% 60%;}


.boss-no{background-position: 70% 70%;}
.armos{background-position: 80% 70%;}
.lanmolas{background-position: 90% 70%;}
.moldorm{background-position: 100% 70%;}
.helmasaur{background-position: 70% 80%;}
.arrghus{background-position: 80% 80%;}
.mothula{background-position: 90% 80%;}
.blind{background-position: 100% 80%;}
.kholdstare{background-position: 70% 90%;}
.vitreous{background-position: 80% 90%;}
.trinexx{background-position: 90% 90%;}


.pendent-green{background-position: 0 40%;}
.pendent-red{background-position: 10% 40%;}
.pendent-blue{background-position: 20% 40%;}
.agahnim{background-position: 30% 40%;}

.crystal-1{background-position: 0% 50%;}
.crystal-2{background-position: 10% 50%;}
.crystal-3{background-position: 20% 50%;}
.crystal-4{background-position: 30% 50%;}

.crystal-red-5{background-position: 0% 60%;}
.crystal-red-6{background-position: 10% 60%;}
.crystal-7{background-position: 20% 60%;}
.ganon{background-position: 30% 60%;}

.crystal-red{background-position: 0 70%;}
.crystal-blue{background-position: 10% 70%;}

.player-grid-keys-1, .player-grid-keys-2{
    background-color: #000;
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(0, 0, 24, 24))") round 33.333% / 8px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(12, auto);
    display: none;
    z-index: 2;
}

.player-grid-keys-1 img[src$="blank.svg"], .player-grid-keys-2 img[src$="blank.svg"]{
    width: 16px;
    height: 16px;
}

.small-key-0{background-position: 0 80%;}
.small-key-1{background-position: 10% 80%;} 
.small-key-2{background-position: 20% 80%;}
.small-key-3{background-position: 0 90%;}
.small-key-4{background-position: 10% 90%;}
.small-key-5{background-position: 20% 90%;}
.small-key-6{background-position: 0 100%;}
.big-key{background-position: 10% 100%;}

.key-heading{
    color: #fff;
    grid-column-end: span 2;
    text-align: center;
    background-color: #282828;
}
.player-speaker{
    padding: 4px;
    opacity: .9;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    width: 128px;
    height: 34px;
    font: bold 28px 'Times New Roman', Times, serif;
    color: #f8b800;
    background-color: rgba(0,0,0,.75);
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final{
    font-size: 28px;
    width: 128px;
    height: 34px;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final:empty{
    display:none;
}

.team-name{
    width: 220px;
    height: 48px;
    background-color: #000;
    color: #fff;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #407048;
    border-image: url("images/uri-test.svg#svgView(viewBox(0, 0, 24, 24))") round 33.333% / 8px;
    z-index: 1;
}

.team-name:empty{
    display: none;
}
.vs{
    font-family: "Triforce", sans-serif;
    font-size: 24px;
    z-index: 2;
}

tr-timer{
	width: 200px;
    height: 72px;
    background-color: #282828;
    z-index: 1;
    font-size: 24px;
}

tr-timer span {
    width: 16px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
    height: 72px;
    width: 200px;
    background-color: #282828;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 149px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding: 0;
    z-index: 3;
    grid-gap: 4px;
    transform: translate(-35px, -35px);
    border: solid #d0a830;
    border-width: 3px 3px 10px 3px;
    border-image: url(images/smallchest-open.png) repeat 3 3 10 3 / 3px 3px 10px 3px;
    }

.dialog[id^="__"]{
    box-shadow: none;
    border: 8px solid red;
    transform: translate(-44px, -44px);
    border-image: url(images/border-ep.png) repeat 8 / 8px;
    grid-gap: 4px;
    padding: 4px;
}

.dialog[id$="key"]{
    transform: translate(-22px, -22px);
}

.dialog[id$="key"] img{
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.view-container, .view-container-border{
    background-color: transparent;
}

/* Bracket Screen */

/* .bracket-contain{background: url(../shared/images/checkerboard.png);}

.bracket-contain iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

 */


.display-none{ display: none; }

.show{ display: block; }

/* .show-flex{ display: flex; }*/
.show-grid{ display: grid; }

.menu-contain{
    display: flex;
}

.menu-game-specific{
    color: #fff;
    background-color: #000;
    padding: 1em 0 1em 1em;
}

.number-input input{
    width: 3em;
}

#menu_2 {
    display: grid;
    grid-template-areas: 
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}