:root{
    --backgroundImg: url(images/rm-generic.png);
    --border-1: solid 1px rgba(255,255,255,.75);
    --background-color-1: rgba(0,0,0,1);
    --margin: 0px;
    --vidWidth: 640px;
    --vidAspect: 4 / 3;
}

.border-1{border: var(--border-1);}
.background-style-1{background-color: var(--background-color-1);}
.border-background-1 {
    border: var(--border-1);
    background-color: var(--background-color-1);
}
.abs{position: absolute;}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    background-color: #c7c7c7;
}

/* layout specific styles */
@font-face{ 
	font-family: 'Orbitron';
    src: 
        local('Orbitron'),
        url('../shared/fonts/orbitron-bold_0.woff2') format('woff2'),
	    url('../shared/fonts/orbitron-bold_0.woff') format('woff'),         
        url('../shared/fonts/orbitron-bold_0.ttf') format('truetype');
}

.layout{
    font-family: "Orbitron", sans-serif;
    letter-spacing: 2px;
    width: 1280px;
    height: 720px;
    background-color: #000;
    color:#fff;
    position: relative;
    background-image: var(--backgroundImg);
}

.full-layout{
    position: absolute;
    left: 0;
    top: 0; 
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

.full-layout > * {
    pointer-events: initial;
}


.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.player-name{
    font-size: 26px;
    width: 400px;
    padding: .25em;
    text-align: center;
    height: 48px;
}

.winner{
    color: #000;
    background-color: goldenrod;
    background-image: linear-gradient(-45deg, #0000, rgba(255,255,255,.5), #0000, rgba(255,255,255,.3), #0000, rgba(255,255,255,.6), #0000);
    background-position-x: 0px;
    background-size: 100% 100%;
    /* animation: shine 5s infinite; */
}

/* @keyframes shine {
    from{ background-position-x: 0;}
    to{ background-position-x: 100%;}
} */

.player-final{
    font-size: 24px;
    width: 200px;
    padding: .25em;
    text-align: center;
}

.player-final:empty{
    display:none;
}

tr-toggle.player-speaker{
    font-size: 24px;
    padding: 2px 4px;
}

tr-toggle.player-speaker > img{
    width: 48px;
    height: 48px;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: min-content;
    grid-gap: 4px;
    padding: 4px 8px;
}

#production, #staff{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    
}
#staff_panel_1, #staff_panel_2{
    padding: 1em;
}

#staff_panel_1{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#staff_panel_2{
    display: grid;
    grid-template-columns: 1fr;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,32px);
    grid-gap: 14px;
    padding: 7px;
    border: solid 2px #fff;
    }

figure img{
    width: 32px;
    height: 32px;
}

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.bracket, .calendar{
    width: 1280px;
    height: 720px;
    background-image: url(images/rm-generic.png);
    background-size: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bracket Screen */

.bracket iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

@keyframes rotateIn {
    from{transform: rotateY(90deg);}
    to{transform: rotateY(0deg);}
}

/* Loading Screen */

.loadscreen{
    width: 1280px;
    height: 720px;
    background-color: #000;
    background-image: url(images/rm-generic.png);
    background-size: 50%;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template: repeat(8, auto) / 1fr;
    grid-gap: 1em;
    align-items: center;
    animation: zoomIn .5s linear;
}

#promos_1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#promos_1 img{
    height: 200px;
}


/*  Animations  */

@keyframes rubberBand {
    from {transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(1.25, 0.75, 1);}
    40% {transform: scale3d(0.75, 1.25, 1);}
    50% {transform: scale3d(1.15, 0.85, 1);}
    65% {transform: scale3d(0.95, 1.05, 1);}  
    75% {transform: scale3d(1.05, 0.95, 1);}
    to {transform: scale3d(1, 1, 1);}
  }
  
  .rubberBand {animation-name: rubberBand;}

  @keyframes lightSpeedIn {
    from {transform: translate3d(100%, 0, 0) skewX(-30deg);opacity: 0;}
    60% {transform: skewX(20deg);opacity: 1;}
    80% {transform: skewX(-5deg);}
    to {transform: translate3d(0, 0, 0);}
  }
  
  .lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
  }

  @keyframes tada {
    from {transform: scale3d(1, 1, 1);}
    10%,20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
    30%,50%,70%,90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
    40%,60%,80% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
    to {transform: scale3d(1, 1, 1);}
}
  
  .tada {animation-name: tada;}


  @keyframes zoomIn {
    from {opacity: 0; transform: scale3d(0.3, 0.3, 0.3);}
    50% {opacity: 1;}
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }