@font-face {
	font-family: "ww";
	src: url("/ww/fonts/SherwoodRegular.ttf") format("truetype");
}

body{
    display: grid;
    grid-template-columns: repeat(2, 308px);
    grid-gap: 1em 6em;
    background-color: #000;
    width: 1280px;
    height: 720px;
}

.player-name{
	font-family: "WW", sans-serif;
	width: var(--video-width);
	color: #fff;
	display:flex;
	align-items:center;
	text-align: center;
	font-size: 48px;
	text-shadow:
   -1px -1px 4px #000,  
    1px -1px 4px #000,
    -1px 1px 4px #000,
	 1px 1px 4px #000,
	 0 4px 4px rgba(0,0,0,.7);
	z-index: 1;
  }
  .player-name div {
	width: 100%;
}

#player_name_1{
	color: #e5b90e;
}
#player_name_2{
	color: #38c9c9;
}


.item-grid {
	box-sizing: border-box;
	display: grid;
	grid-template: repeat(5, 38px) / repeat(8, 38px);
	z-index: 8;
	background-color: #000;
	width: 308px;
	height: 195px;
}

.item-grid .icon{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4px;
	justify-items: center;
}

.icon img {
	width: 38px;
	height: 38px;
	text-align: center;
}
.icon img:not(.selected) {
	opacity: 0.25;
}

.icon.sword img, .icon.shield img, .icon.triforce img, 
.icon.pictobox img, .icon.pearls img, .icon.bow img, 
.icon.bottle img{
	opacity: 1;
}


.icon.triforce img{
	box-sizing: border-box;
	padding: 4px;
	}
	
	[data-property="pearlred"], [data-property="pearlblue"], [data-property="pearlgreen"]{
		grid-area: 1/7;
		width: 14px;
		height: 14px;
	}
	
	[data-property="pearlred"] img, [data-property="pearlblue"] img, [data-property="pearlgreen"] img{
		width: 14px;
		height: 14px;
		position: relative;
	}
	
	[data-property="pearlred"] img:hover, [data-property="pearlblue"] img:hover, [data-property="pearlgreen"] img:hover{
		transform: scale(1.5);
		transition: .2s transform;
	}
	
	[data-property="pearlred"] img{
		top: 4px;
		left: 12px;
	}
	
	[data-property="pearlblue"] img{	
		top: 20px;
		left: 3px;
	
	}
	
	[data-property="pearlgreen"] img{
		top: 20px;
		left: 21px;
	}
	
.dialog{
	z-index: 50;
	padding: 0;
	width: 105px;
	border: 3px solid #314d9f;
	border-image: linear-gradient(#2a59ad, #374293) 3;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}
.dialog .icon img {
	opacity: 1;
}

.dialog-icon,
.dialog-icon img {
	width: 32px;
	height: 32px;
}

.dialog-icon {
	display: inline-block;
	text-align: center;
}

.dialog-icon .label {
	display: block;
}