@font-face {
	font-family: "ww";
	src: url("/ww/fonts/SherwoodRegular.ttf") format("truetype");
}
@font-face {
	font-family: "hylia";
	src: url("/ww/fonts/HyliaSerifBeta-Regular.otf") format("truetype");
}


body {
	background-color: #bcbcbc;
  	height:0;
	color: white;
	line-height: 1;
	padding: 0;
	
}

#layout{
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 1280px;
	height: 720px;
	--video-width: 534px;
	--marginX: 53px;
	--row2Y: 79px;
	--bottom_margin: 21px;
	background-image: url('images/ww_2p.png');
	background-size: 100% 100%;
}

.player-name{
	position: absolute;
	top: 12px;
	font-family: "WW", sans-serif;
	width: var(--video-width);
	color: #fff;
	display:flex;
	align-items: center;
	text-align: center;
	font-size: 48px;
	text-shadow:
   -1px -1px 4px #000,  
    1px -1px 4px #000,
    -1px 1px 4px #000,
	 1px 1px 4px #000,
	 0 4px 4px rgba(0,0,0,.7);
	z-index: 1;
  }

  .player-name div {
	width: 100%;
}

#player_name_1{
	color: #e5b90e;
}
#player_name_2{
	color: #38c9c9;
}

.player-video{
	position: absolute;
	background-color: #f0f;
	width: var(--video-width);
	height: calc( var(--video-width) * 3/4);
	box-shadow: inset 0 0 15px 8px rgba(0,0,0,.5);
	top: var(--row2Y);
}
#player_video_1{
	left: var(--marginX);
}
  
#player_video_2{
	right: var(--marginX);
}

.player-final {
	width: 157px;
	padding: .25em 0;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3;
	position: absolute;
	top: 501px;
	animation: scale_in .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	font-size: 28px;
	font-weight: bold;
	background-color: #000;
	border: solid;
	font-family: "hylia", sans-serif;
}

#player_final_1{
	left: 381px;
	color: #e5b90e;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

#player_final_2{
	right: 381px;
	color: #38c9c9;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}

@keyframes scale_in {
	from {transform: scale(0);}
	to {transform: scale(1);}
}

.player-speaker img{
	height: 80px;
	z-index: 2;
}

#player_speaker_1{
	animation: slide-from-left .3s;
	position: absolute;
	left: 26px;
	top: 1px;
}

#player_speaker_2{
	animation: slide-from-right .3s;
	position: absolute;
	right: 12px;
	top: 1px;
}
@keyframes slide-from-left {
	from {transform: translateX(-100%);}
}
  
@keyframes slide-from-right {
	from {transform: translateX(100%);}
}

.item-grid {
	box-sizing: border-box;
	display: grid;
	grid-template: repeat(5, 38px) / repeat(8, 38px);
	z-index: 8;
	background-color: #000;
	width: 308px;
	height: 195px;
	position: absolute;
	bottom: var(--bottom_margin);
}

#player_1_grid{
	left: var(--marginX);
}

#player_2_grid{
	right: var(--marginX);
}

.item-grid .icon{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 4px;
	justify-items: center;
}

.icon img {
	width: 38px;
	height: 38px;
	text-align: center;
}

.icon img:not(.selected) {
	opacity: 0.25;
}

.icon.sword img, .icon.shield img, .icon.triforce img, 
.icon.pictobox img, .icon.pearls img, .icon.bow img, 
.icon.bottle img{
	opacity: 1;
}

.icon.triforce img{
box-sizing: border-box;
padding: 4px;
}

[data-property="pearlred"], [data-property="pearlblue"], [data-property="pearlgreen"]{
	grid-area: 1/7;
	width: 14px;
	height: 14px;
}

[data-property="pearlred"] img, [data-property="pearlblue"] img, [data-property="pearlgreen"] img{
	width: 14px;
	height: 14px;
	position: relative;
}

[data-property="pearlred"] img:hover, [data-property="pearlblue"] img:hover, [data-property="pearlgreen"] img:hover{
	transform: scale(1.5);
	transition: .2s transform;
}

[data-property="pearlred"] img{
	top: 4px;
	left: 12px;
}

[data-property="pearlblue"] img{	
	top: 20px;
	left: 3px;

}

[data-property="pearlgreen"] img{
	top: 20px;
	left: 21px;
}

#timer {
	font-family: "hylia", sans-serif;
	padding: .2em .3em;
	font-size: 28px;
	color: #FFF;
	position: absolute;
	left: 50%;
	top: 21px;
	transform: translateX(-50%);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#timer:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.1);
	filter: blur(2px);
	z-index: -1;
	border-radius: 12px;
}

#timer .ms {
	font-size: 21px;
	margin-left: 5px;
	margin-top: 5px;
}

#timer .colon{
	padding-right: 5px;
}

#timer .dot{
	display: none;
}

.dialog{
	z-index: 50;
	padding: 0;
	width: 105px;
	border: 3px solid #314d9f;
	border-image: linear-gradient(#2a59ad, #374293) 3;
	box-shadow: 5px 5px 15px rgba(0,0,0,.3);
}
.dialog .icon img {
	opacity: 1;
}

.dialog-icon,
.dialog-icon img {
	width: 32px;
	height: 32px;
}

.dialog-icon {
	display: inline-block;
	text-align: center;
}

.dialog-icon .label {
	display: block;
}

#staff {
	position: absolute;
	min-width: 214px;
	height: 48px;
	font-size: 23px;
	line-height: 24px;
	text-shadow:
   -1px -1px 4px #000,  
    1px -1px 4px #000,
    -1px 1px 4px #000,
	 1px 1px 4px #000,
	 0 4px 4px rgba(0,0,0,.7);
	z-index: 2;
	box-sizing: border-box;
	transform: translate(-50%);
	left: 50%;
	bottom: var(--bottom_margin);
	font-family: "WW", sans-serif;
}

#commentators {
	position: absolute;
	color: #FFF;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background-image: url('images/mic-white-21.png');
	background-position: 5px calc(50% - 2px);
	background-size: 24px;
	background-repeat: no-repeat;
	padding-left: 40px;
	z-index: 2;
	animation: switch 60s steps(1) reverse infinite;
}

@keyframes switch {
	from{opacity:0;}
	50%{opacity: 1;}
	to{opacity: 1;}
  }

#restreamer_trackers{
	animation: switch 60s steps(1) infinite;
}

#restreamer_trackers div{
	border: none;
	padding-left: 40px;
}

#restreamer{
	background-image: url(images/restreamer.png);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 5px;
	background-size: .9em;
}

#trackers{
	background-image: url(images/mic-key.png);
	background-repeat: no-repeat;
	background-size: .9em .9em;
	background-position: 5px;
}

.label {
	font-size: 9px;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.noshow {
	opacity: 0;
}

iframe{
	flex:0 0;
	height: 200px;
	width: 300px;
  }

.hidden{
	display: none;
}