* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 435px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 12px; --videoY: 12px;
    --nameWidth: 173px;
    --nameX: 449px; --nameY: 12px;
    --gridX: 449px; --gridY: 64px;
    --pronounX: 548px; --pronounY: 64px;
    --rankX: 548px; --rankY: 100px;
    --speakerX: 445px; --speakerY: 160px;
    --winX: 400px; --winY: 120px;
    --finalX: 400px; --finalY: 80px;
    --vsX: 50%; --vsY: 140px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/4p/base-background.png');
    --bgFallback: linear-gradient(#202028 0 20%,#17203c 0 40%,#10192d 0 60%,#181820 0 80%,#000a62 0 100%);


    --border: 4px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('images/border.png') 4;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */

@font-face {
    font-family: "ChronoType";
    src: local('ChronoType'),
	     url('../shared/fonts/ChronoType.woff') format('woff'),         
         url('../shared/fonts/ChronoType.ttf') format('truetype');
}

.layout{
    font-family: 'ChronoType', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
}

.background-layer{
    width: 1280px;
    height: 720px;
    background-color: #202028;
    background-image: var(--bgFallback);
}
.layout.transparent-background .background-layer{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    mask-repeat: no-repeat;
}

.notwebp .jot-default .background-layer{background-image: url('images/4p/base-background.png'),  var(--bgFallback);}
.webp .jot-default .background-layer{background-image: url('images/4p/base-background.webp'),  var(--bgFallback);}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 16px;
    height: 16px;
    display: block;
}

.player-grid img, .dialog img{
    background-size: 700% 500%;
}
.notwebp .player-grid img, .notwebp .dialog img{background-image: url('images/retro_tracker/ctr-items-sprite-2020.png');}
.webp .player-grid img, .webp .dialog img{background-image: url('images/retro_tracker/ctr-items-sprite-2020.webp');}

.crono{background-position: 0 0;}
.marle{background-position: 16.6% 0;}
.lucca{background-position: 33.3% 0;}
.robo{background-position: 50% 0;}
.frog{background-position: 66.6% 0;}
.ayla{background-position: 83.3% 0;}
.magus{background-position: 100% 0;}
.badge{background-position: 0 25%;}
.hilt{background-position: 16.6% 25%;}
.blade{background-position: 33.3% 25%;}
.melchior{background-position: 50% 25%;}
.masamune{background-position: 66.6% 25%;}

.key{background-position: 83.3% 25%;}
.rock{background-position: 100% 25%;}
.pop{background-position: 0 50%;}
.pendant{background-position: 16.6% 50%;}
.shell{background-position: 33.3% 50%;}
.moonstone{background-position: 50% 50%;}
.jerky{background-position: 66.6% 50%;}
.ribbon{background-position: 83.3% 50%;}
.go{background-position: 100% 50%;}
.magic{background-position: 0 75%;}
.tools{background-position: 16.6% 75%;}
.doll{background-position: 33.3% 75%;}

.trigger{background-position: 50% 75%;}
.knife{background-position: 66.6% 75%;}
.spacer{background-position: 0 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner, .player-final{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

.blursed-contain{
    width: 180px;
    transform: translateX(-50%);
    left: 50%;
    top: 357px;
    -webkit-mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    animation: stepped-curtain .5s steps(4);
}

.layout .blursed-contain{
    display: none;
}

#menu_layout_blursed.blursed-contain{
    transform: translateX(0);
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.vs{
    font-size: 24px;
	text-shadow: 4px 4px #000;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 280px;
	height: 70px;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

[property="blursed-toggle"]{
    position: absolute;
    right: 1em;
    top: -8px;
    padding: 0 .25em;
    background-color: #000;
}