* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 848px;
    --vidAspect: 4 / 3;
    --vidHeight: calc(var(--vidWidth) * (1 / (var(--vidAspect))) );
    --videoX: 20px; --videoY: 20px;
    --nameWidth: 368px;
    --nameX: 880px; --nameY: 20px;
    --gridX: 880px; --gridY: 77px;
    --pronounX: 1155px; --pronounY: 77px;

    --backgroundColor1: #000;
    --backgroundColor2: #000a62;
    --bgFallback: linear-gradient(#202028 0 20%,#17203c 0 40%,#10192d 0 60%,#181820 0 80%,#000a62 0 100%);

    --border: 4px;
}

.border-1{
    border-image: url('images/border.svg') 4 / 4px / 4px;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor1);}
.background-2{background-color: var(--backgroundColor2);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "ChronoType";
    src: local('ChronoType'),
	     url('../shared/fonts/ChronoType.woff') format('woff'),         
         url('../shared/fonts/ChronoType.ttf') format('truetype');
}

.layout{
    font-family: 'ChronoType', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #202028;
    background-image: var(--bgFallback);
    mask-composite: exclude;
    mask-repeat: no-repeat;
    --video-size: var(--vidWidth) var(--vidHeight);
    --red: linear-gradient(red, red);
    --grid-width: 258px;
    --grid-height: 145px;
    --grid-size: var(--grid-width) var(--grid-height);
}

.layout.transparent-background{
    mask-image: var(--red), var(--red);
    mask-position: 0 0, var(--videoX) var(--videoY);
    mask-size: 100% 100%, var(--video-size);
}

.layout.clip-grid{
    mask-image: var(--red), var(--red);
    mask-position: 0 0, var(--gridX) var(--gridY);
    mask-size: 100% 100%, var(--grid-size);
}

.layout.lost-worlds.clip-grid{
    --grid-height: 109px;
}

.layout.transparent-background.clip-grid{
    mask-image: var(--red), var(--red), var(--red);
    mask-position: 0 0, var(--videoX) var(--videoY), var(--gridX) var(--gridY);
    mask-size: 100% 100%, var(--video-size), var(--grid-size);
}

.jot-default{
    background-image: url('images/1p/base-background.webp'),  var(--bgFallback);
    background-image: 
        image-set(
            url('images/1p/base-background.avif') type('image/avif'),
            url('images/1p/base-background.webp') type('image/webp')
        ), var(--bgFallback);
}

.none{
    background: none;
}

.lost-worlds{
    --backgroundColor1: #1f1f26;
    background-image: none;
    background-color: var(--backgroundColor1);
}

.lost-worlds .player-grid{
    background-color: #000;
}

.lost-worlds .player-name{
    background-color: #065072;
}

/* .layout.lost-worlds .player-grid img {
    width: 22px;
    height: 22px;
} */

.lost-worlds .player-grid :where([property="hilt"], [property="blade"], [property="melchior"], [property="key"], [property="pop"], [property="shell"], [property="pop"], [property="moonstone"], [property="jerky"], [property="magic"], [property="tools"], [property="kitty"]){
    display: none;
}

.lost-worlds .player-grid [property="doll"]{grid-area: 2 / 1; }
.lost-worlds .player-grid [property="trigger"]{grid-area: 2 / 2;}
.lost-worlds .player-grid [property="rock"]{grid-area: 2 / 3;}
.lost-worlds .player-grid [property="knife"]{grid-area: 2 / 4;}
.lost-worlds .player-grid [property="go"]{
    grid-area: 2 / 6; 
    top: 63%;
}
.lost-worlds .player-grid [property="pendant"]{grid-area: 3 / 1;}
.lost-worlds .player-grid [property="masamune"]{grid-area: 3 / 2;}
.lost-worlds .player-grid [property="badge"]{grid-area: 3 / 3;}
.lost-worlds .player-grid [property="ribbon"]{grid-area: 3 / 4;}
.lost-worlds .player-grid [property="chest"]{grid-area: 3 / 6;}

.lost-worlds .player-grid tr-toggle-class:nth-child(n+8){
    position: relative;
    left: 50%;
}

.lost-worlds .background-1{
    --backgroundColor2: #7e7e7e;
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 42px;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 0 5px 5px 5px;
    grid-gap: 4px;
}

.player-pronoun{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
	text-align: center;
	width: 110px;
}

.player-pronoun:empty{
  display: none;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-size: 700% 500%;
}

.player-grid img, .dialog img{background-image: url('images/retro_tracker/ctr-items-sprite-2020.webp');}

.crono{background-position: 0 0;}
.marle{background-position: 16.6% 0;}
.lucca{background-position: 33.3% 0;}
.robo{background-position: 50% 0;}
.frog{background-position: 66.6% 0;}
.ayla{background-position: 83.3% 0;}
.magus{background-position: 100% 0;}
.badge{background-position: 0 25%;}
.hilt{background-position: 16.6% 25%;}
.blade{background-position: 33.3% 25%;}
.melchior{background-position: 50% 25%;}
.masamune{background-position: 66.6% 25%;}

.key{background-position: 83.3% 25%;}
.rock{background-position: 100% 25%;}
.pop{background-position: 0 50%;}
.pendant{background-position: 16.6% 50%;}
.shell{background-position: 33.3% 50%;}
.moonstone{background-position: 50% 50%;}
.jerky{background-position: 66.6% 50%;}
.ribbon{background-position: 83.3% 50%;}
.go{background-position: 100% 50%;}
.magic{background-position: 0 75%;}
.tools{background-position: 16.6% 75%;}
.doll{background-position: 33.3% 75%;}

.trigger{background-position: 50% 75%;}
.knife{background-position: 66.6% 75%;}
.kitty{background-position: 83.3% 75%;}
.spacer{background-position: 0 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0 / 500% 400%;
}

tr-timer, .player-final{
	height: auto;
    width: 384px;
    padding: 0.25em;
	font-size: 42px;
	top: 330px;
	left: 880px;
}

tr-timer span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    width: 20px;
    text-align: center;
}

tr-timer :is(.dot, .ms) {
    display: none;
}

.player-final{
    text-align: center;
    z-index: 2;
    letter-spacing: 7px;
}

.player-final:empty{
    display:none;
}


/* staff styles */

.staff{
    font-size: 24px;
    width: 385px;
	height: 64px;
	top: 250px; 
	left: 880px; 
	text-align: center;
}

.production-team-swap{
    margin: 3px;
}

.commentators-img, .restreamers-img, .trackers-img {
    width: 24px;
    height: 24px;
}

.commentators, .restreamers, .trackers{
    width: 330px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_layout div{
    display: block;
}