* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 610px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    
    --videoX: 20px; --videoY: 94px;
    --nameWidth: 360px;
    --nameX: 20px; --nameY: 5px;
    --gridX: 20px; --gridY: 554px;
    --pronounX: 20px; --pronounY: 57px;
    --rankX: 131px; --rankY: 57px;
    --speakerX: 245px; --speakerY: 56px;
    --winX: 385px; --winY: 554px;
    --finalX: 287px; --finalY: 554px;
    --bestX: 285px; --bestY: 58px;

    --backgroundColor1: #000;
    --backgroundColor2: #000a62;
    --bgFallback: linear-gradient(to right, #202028 0 20%,#17203c 0 40%,#10192d 0 60%,#181820 0 80%,#000a62 0 100%);

    --border: 4px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.layout.show-cams{
    --videoY: 62px;
    --camX: 20px; --camY: 526px;
    --pronounX: 441px; --pronounY: 526px;
    --rankX: 441px; --rankY: 563px;
    --gridX: 285px; --gridY: 526px;
    --speakerX: 405px; --speakerY: 15px;
    --bestX: 445px; --bestY: 600px;
    --winX: 125px; --winY: 45px;
    --finalX: 225px; --finalY: 45px;
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('images/border.png') 4;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}


.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "ChronoType";
    src: local('ChronoType'),
	     url('../shared/fonts/ChronoType.woff') format('woff'),         
         url('../shared/fonts/ChronoType.ttf') format('truetype');
}

.layout{
    font-family: 'ChronoType', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #202028;
    background-image: var(--bgFallback);
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat
}

/* .jot-default{
    background-image: url("images/2p/base-background.png"), var(--bgFallback);
    background-image: image-set(
        "images/2p/base-background.webp" type("image/webp"),
        "images/2p/base-background.png" type("image/png")
    );
} */

.notwebp .jot-default{background-image: url('images/2p/base-background.png'),  var(--bgFallback);}
.webp .jot-default{background-image: url('images/2p/base-background.webp'),  var(--bgFallback);}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}

.player-cam{
    display: none;
}
 
.layout.show-cams .player-cam{
    display: block;
    width: 262px;
    height: 185px;
}

.ffr-default{
    background: url(images/2p/base-background.png) #000;
}

/* cam layouts */

.layout.show-cams.ffr-default{
    background-image: url(images/2p-cam/base-background.png);
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun, .record-contain{
    height: 35px;
    font-size: 16px;
	text-align: center;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout.show-cams .player-pronoun, .layout.show-cams .record-contain{
    padding: 10px;
    width: 127px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 5px;
    grid-gap: 4px;
    justify-items: center;
}

.layout.layout.show-cams .player-grid{
    border-top: solid 6px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.layout.show-cams .player-grid img{
    width: 16px;
    height: 16px;
}

.player-grid img, .dialog img{
    background-size: 700% 500%;
}
.notwebp .player-grid img, .notwebp .dialog img{background-image: url('images/retro_tracker/ctr-items-sprite-2020.png');}
.webp .player-grid img, .webp .dialog img{background-image: url('images/retro_tracker/ctr-items-sprite-2020.webp');}

.crono{background-position: 0 0;}
.marle{background-position: 16.6% 0;}
.lucca{background-position: 33.3% 0;}
.robo{background-position: 50% 0;}
.frog{background-position: 66.6% 0;}
.ayla{background-position: 83.3% 0;}
.magus{background-position: 100% 0;}
.badge{background-position: 0 25%;}
.hilt{background-position: 16.6% 25%;}
.blade{background-position: 33.3% 25%;}
.melchior{background-position: 50% 25%;}
.masamune{background-position: 66.6% 25%;}

.key{background-position: 83.3% 25%;}
.rock{background-position: 100% 25%;}
.pop{background-position: 0 50%;}
.pendant{background-position: 16.6% 50%;}
.shell{background-position: 33.3% 50%;}
.moonstone{background-position: 50% 50%;}
.jerky{background-position: 66.6% 50%;}
.ribbon{background-position: 83.3% 50%;}
.go{background-position: 100% 50%;}
.magic{background-position: 0 75%;}
.tools{background-position: 16.6% 75%;}
.doll{background-position: 33.3% 75%;}

.trigger{background-position: 50% 75%;}
.knife{background-position: 66.6% 75%;}
.kitty{background-position: 83.3% 75%;}
.spacer{background-position: 0 100%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/retro_tracker/ctr-items-sprite-2020.webp');
    background-size: 700% 500%;
    background-position: 16.6% 75%;
}
.layout.show-cams .player-best-of img{
    width: 16px;
    height: 16px;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final, .player-winner{
    font-size: 20px;
    height: 31px;
    width: 97px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.layout.show-cams .player-final, .layout.show-cams .player-winner{
    height: 40px;
}

.player-final:empty{
    display:none;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
	top: 565px;
	left: 505px;
}

.layout.show-cams tr-timer{
    width: 11em;
    height: 50px;
    top: 10px;
	left: 505px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.staff{
    font-size: 24px;
    width: 450px;
    height: 78px;
	top: 13px; 
	left: 413px; 
    text-align: center;
    border-bottom: none;
}

.layout.show-cams .staff{
    border-bottom: solid 6px;
    height: 85px;
    top: 626px;
	left: 285px;
}

.commentators, .restreamers, .trackers{
    width: 400px;
}


/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}