* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 820px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --videoX: 3px; --videoY: 3px;
    --nameWidth: 300px;
    --nameblockX: 825px; --nameblockY: 3px;
    --nameX: 840px; --nameY: 12px;
    --gridX: 825px; --gridY: 60px;
    --pronounX: 1160px; --pronounY: 12px;
    --camX: 1133px; --camY: 60px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/1p/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
    border-image: url('images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor1);}
.background-2{background-color: var(--backgroundColor2);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background: var(--backgroundImg) #000;
}

.layout.transparent-background{
    --solid: linear-gradient(#000, #000);
    -webkit-mask: var(--solid),
        var(--solid) var(--clipX1) var(--clipY1);
    -webkit-mask-size: 
        100% 100%, 
        calc(var(--vidWidth) - 2 * var(--border)) calc(var(--vidHeight) - 2 * var(--border));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.ffr-default{
    background: var(--backgroundImg) #000;
}

.ffr-irongol{
    background: url(images/1p/base-irongol.png) #000076;
    --default-fallback: url("data:image/svg+xml,%3Csvg width='1280' height='720' viewBox='0 .5 31 23' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13,0h5v23h-5zm-3,1h11v22h-11zm-3,1h17v22h-17zm-2,1h21v22h-21zm-1,1h23v22h-23zm-1,1h25v22h-25zm-1,2h27v22h-27zm-1,3h29v14h-29zm-1,3h31v7h-31z' fill='%233e3e3e'/%3E%3Cpath d='M13,12h5v9h-5zm-1,1h7v7h-7zm-1,2h9v3h-9z' fill='black'/%3E%3C/svg%3E");
   --backgroundColor2: #500;
}

.ffr-tourney{
    background: url(images/1p/base-tourney.png) #291901;
    background: url(images/1p/base-tourney.webp) #291901;
    --backgroundColor2: #050;
}

.ffr-league{
    background: url(images/1p/base-league.png) #000076;
    --backgroundColor2: #500;
}

.ffr-rush{
    background: url(images/1p/base-rush.png), linear-gradient(#0094ff 58%, #9c9c9c 58%);
}

.ffr-dark{
    background: url(images/1p/base-dark.png) #000;
}

.ffr-duckling{
    background: url(images/1p/base-duckling.png) #428fa6;
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}

.player-name-block{
    height: 55px;
	width: 450px;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: left;
    text-align: left;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 0 5px 5px 5px;
    grid-gap: 4px;
}

.player-cam{
	width: 142px;
	height: 121px;
}

.player-pronoun{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
	text-align: right;
	width: 110px;
}

.player-pronoun:empty{
  display: none;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-image: url('images/retro_tracker/ffr-items-sprite-2021.png');
    background-size: 500% 1100%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater-no{background-position: 100% 60%;}
.floater-yes{background-position: 100% 70%;}
.floater-ship{background-position: 100% 80%;}

.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 0% 30%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0 / 500% 400%;
}

tr-timer, .player-final{
	width: 11em;
    height: 53px;
	font-size: 24px;
	top: 285px;
	left: 920px;
}
tr-timer span {
    width: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final{
    text-align: center;
    z-index: 2;
    letter-spacing: 7px;
    line-height: 1.75;
}

.player-final:empty{
    display:none;
}

.blursed-contain{
    width: 180px;
    transform: translateX(-50%);
    left: 82%;
    bottom: 50px;
    -webkit-mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    animation: stepped-curtain .5s steps(4);
}

.layout .blursed-contain{
    display: none;
	z-index: 5;
}

#menu_layout_blursed.blursed-contain{
    transform: translateX(0);
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.blursed-sprites{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
    margin-bottom: 2px;
}

.blursed-sprite-image img, .dialog[id$="-class"] img{
    background-image: url('images/classes.png');
    background-size: 200% 800%;
    width: 30px;
    height: 43px;
    display: block;
    /* image-rendering: pixelated; */
}

.fighter{background-position: 0 0;}
.knight{background-position: 100% 0;}

.thief{background-position: 0 17%;}
.ninja{background-position: 100% 17%;}

.black-belt{background-position: 0 34.5%;}
.master{background-position: 100% 34.5%;}

.red-mage{background-position: 0 50%;}
.red-wizard{background-position: 100% 50%;}

.white-mage{background-position: 0 66%;}
.white-wizard{background-position: 100% 66%;}

.black-mage{background-position: 0 83%;}
.black-wizard{background-position: 100% 83%;}

.question{background-position: 100% 100%;}

.blursed-info, .blursed-sprites{
    padding: 5px;
}

.blursed-info{
    min-height: 10em;
}

.blursed-bonus{
    margin-bottom: 1em;
}

/* staff styles */

.staff{
    font-size: 24px;
    width: 450px;
	height: 78px;
	top: 200px; 
	left: 825px; 
	text-align: center;
}

.commentators-img, .restreamers-img, .trackers-img {
    width: 24px;
    height: 24px;
}

.commentators, .restreamers, .trackers{
    width: 400px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 10;
    }

.display-none{ display: none; }

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

[property="blursed-toggle"]{
    position: absolute;
    right: 1em;
    top: -8px;
    padding: 0 .25em;
    background-color: #000;
}