* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 435px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 12px; --videoY: 12px;
    --nameWidth: 173px;
    --nameX: 449px; --nameY: 12px;
    --gridX: 449px; --gridY: 64px;
    --pronounX: 548px; --pronounY: 64px;
    --rankX: 548px; --rankY: 100px;
    --speakerX: 550px; --speakerY: 175px;
    --winX: 400px; --winY: 120px;
    --finalX: 400px; --finalY: 80px;
    --vsX: 50%; --vsY: 140px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/3p/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-radius: 8px;
}

@supports not (border-image: paint(ffr-border) 6) {
    .border-1{border-image: url('images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;}
}

@supports (border-image: paint(ffr-border) 6) {
    .border-1{
        border-image: paint(ffr-border) 6;
        --border-outside-color: #747474;
        --border-inside-color: #fcfcfc;
    }
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background: url(images/3p/base-background.png) #000;
}

.layout.clip-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1),
        /* cover "4p" */
        linear-gradient(red,red) bottom var(--videoY) right var(--videoY) / var(--vidWidth) var(--vidHeight);
    -webkit-mask-repeat: no-repeat
}

.ffr-default{
    background: url(images/3p/base-background.png) #000;
}

.ffr-irongol{
    background: url(images/3p/base-irongol.png) #000076;
    --backgroundColor2: #500;
}

.ffr-tourney{
    background: url(images/3p/base-tourney.webp) #291901;
    --backgroundColor2: #050;
}

@supports not (border-image: paint(ffr-border) 6) {
    .ffr-tourney .border-1{border-image-source: url('images/border.svg#svgView(viewBox(16, 0, 16, 16))');}
}

@supports (border-image: paint(ffr-border) 6) {
    .ffr-tourney .border-1{
        border-image-source: paint(ffr-border);
        --border-outside-color: #726b33;
        --border-inside-color: #f7e86e;
    }
}

.ffr-league{
    background: url(images/3p/base-league.png), linear-gradient(#b1cbda, #1f2a44);
}

.ffr-rush{
    background: url(images/3p/base-rush.png), linear-gradient(#0094ff 58%, #9c9c9c 58%);
}

.layout.ffr-rush .player-grid {display: none;}
.layout.ffr-rush tr-timer {left: 20px; top: 620px;}
.layout.ffr-rush{
    --winY: 565px;
    --finalY: 565px;
}

.ffr-dark{
    background-color: #000;
    --darkfallback: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4,11h1v1h-1zM8,9h1v1h-1zM13,15h1v1h-1zM15,8h1v1h-1z' fill='%2300f'/%3E%3C/svg%3E");
    background-image: url(images/3p/base-dark.png), var(--darkfallback);
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
    grid-gap: 4px;
}

.player-grid img{
    width: 16px;
    height: 16px;
    display: block;
}

.player-grid img, .dialog img{
    background-image: url('images/retro_tracker/ffr-items-sprite-2020.png');
    background-size: 500% 1100%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater{background-position: 0 30%;}
.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 75% 80%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner, .player-final{
    width: 100px;
    height: 37px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
	z-index: 3;
}

.player-final:empty{
    display:none;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 3px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
	width: 280px;
	height: 80px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.display-none{ display: none; }

.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}