* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 615px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    
    --videoX: 20px; --videoY: 102px;
    --nameWidth: 360px;
    --nameX: 20px; --nameY: 10px;
    --gridX: 20px; --gridY: 565px;
    --pronounX: 20px; --pronounY: 63px;
    --rankX: 133px; --rankY: 63px;
    --speakerX: 245px; --speakerY: 60px;
    --winX: 125px; --winY: 652px;
    --finalX: 20px; --finalY: 652px;
    --bestX: 285px; --bestY: 65px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;
    --backgroundImg: url('images/2p/base-background.png');

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.layout.show-cams{
    --videoY: 62px;
    --camX: 20px; --camY: 526px;
    --pronounX: 285px; --pronounY: 586px;
    --rankX: 414px; --rankY: 586px;
    --gridX: 285px; --gridY: 526px;
    --speakerX: 405px; --speakerY: 15px;
    --bestX: 290px; --bestY: 631px;
    --winY: 50px;
    --finalX: 225px; --finalY: 50px;
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-image: url('images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
    border-radius: 8px;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background: var(--backgroundImg) #000;
}

.layout.clip-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
}

.player-cam{
    display: none;
}
 
.layout.show-cams .player-cam{
    display: block;
    width: 262px;
    height: 185px;
}

.ffr-default{
    background: url(images/2p/base-background.png) #000;
}

.ffr-irongol{
    background: url(images/2p/base-irongol.png) #000076;
    --backgroundColor2: #500;
}

.ffr-tourney{
    background: url(images/2p/base-tourney.png) #291901;
    --backgroundColor2: #050;
}

.ffr-tourney .border-1{border-image-source: url('images/border.svg#svgView(viewBox(16, 0, 16, 16))');}

.ffr-league{
    background: url(images/2p/base-league.png), linear-gradient(#b1cbda, #1f2a44);
}

.ffr-rush{
    background: url(images/2p/base-rush.png), linear-gradient(#0094ff 58%, #9c9c9c 58%);
}

.layout.ffr-rush .player-grid {display: none;}
.layout.ffr-rush tr-timer {left: 20px; top: 620px;}
.layout.ffr-rush{
    --winY: 565px;
    --finalY: 565px;
}

.ffr-dark{
    background: url(images/2p/base-dark.png) #000;
}

.ffr-duckling{
    background: url(images/2p/base-duckling.png) #428fa6;
}

/* cam layouts */

.layout.show-cams.ffr-default{
    background-image: url(images/2p-cam/base-background.png);
}
.layout.show-cams.ffr-irongol{
    background-image: url(images/2p-cam/base-irongol.png);
    background-image: url(images/2p-cam/base-irongol.webp);
}
.layout.show-cams.ffr-tourney{
    background-image: url(images/2p-cam/base-tourney.png);
}
.layout.show-cams.ffr-league{
    background-image: url(images/2p-cam/base-league.png);
}
.layout.show-cams.ffr-rush{
    background-image: url(images/2p-cam/base-rush.png);
    --pronounY: 526px;
    --rankY: 526px;
    --winY: 50px;
    --finalY: 50px;
}

.layout.show-cams.ffr-duckling{
    background-image: url(images/2p-cam/base-duckling.png);
    background-image: url(images/2p-cam/base-duckling.webp);
}
.layout.show-cams.ffr-dark{
    background-image: url(images/2p-cam/base-dark.png);
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun, .record-contain{
    height: 35px;
    font-size: 14px;
	text-align: center;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout.show-cams .player-pronoun, .layout.show-cams .record-contain{
    padding: 10px;
    width: 127px;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(12, auto);
    padding: 5px;
    grid-gap: 4px;
    border-top: none;
}

.layout.layout.show-cams .player-grid{
    border-top: solid 6px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.layout.show-cams .player-grid img{
    width: 16px;
    height: 16px;
}

.player-grid img, .dialog img{
    background-image: url('images/retro_tracker/ffr-items-sprite-2020.png');
    background-size: 500% 1100%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater{background-position: 0 30%;}
.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 75% 80%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/retro_tracker/ffr-items-sprite-2020.png');
    background-size: 500% 1100%;
    background-position: 50% 80%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final, .player-winner{
    font-size: 20px;
    height: 31px;
    width: 97px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-top: none;
}

.layout.show-cams .player-final, .layout.show-cams .player-winner{
    border-top: solid 6px;
    height: 47px;
}

.player-final:empty{
    display:none;
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
	top: 565px;
	left: 505px;
}

.layout.show-cams tr-timer{
    width: 11em;
    height: 50px;
    top: 10px;
	left: 505px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 24px;
    width: 450px;
    height: 78px;
	top: 20px; 
	left: 413px; 
    text-align: center;
    border-bottom: none;
}

.layout.show-cams .staff{
    border-bottom: solid 6px;
    height: 85px;
    top: 630px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 400px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}