* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: 1px solid #fff;
    --vidWidth: 560px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;
    --videoX: 3px; --videoY: 83px;
	--nameblockX: 161px; --nameblockY: 31px;
    --nameWidth: 150px;
    --nameX: 165px; --nameY: 39px;
    --gridX: 3px; --gridY: 505px;
    --pronounX: 327px; --pronounY: 34px;
    --rankX: 327px; --rankY: 52px;
    --speakerX: 420px; --speakerY: 38px;
    --winX: 100px; --winY: 610px;
    --finalX: 3px; --finalY: 31px;
    --bestX: 3px; --bestY: 640px;
	--timeX: 3px; --timeY: 31px;
    --camX: 322px; --camY: 505px;

    --backgroundColor1: #000;
    --backgroundColor2: #005;

    --border: 6px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{
    border: var(--border) solid #b1b1b1;
    border-image: url('images/border.svg#svgView(viewBox(0, 0, 16, 16))') 6;
    border-radius: 8px;
}

.border-bottom{border-top: none;}
.border-top{border-bottom: none;}

.background-1{background-color: var(--backgroundColor2);}
.background-2{background-color: var(--backgroundColor1);}

.abs{position: absolute;}

/* layout specific styles */
@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

.layout{
    font-family: 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
}

.background-layer{
    width: 1280px;
    height: 720px;
    background-color: #202028;
    background-image: var(--bgFallback);
}

.layout.transparent-background .background-layer{
    --solid: linear-gradient(#000, #000);
    --vidWidth-contentBox: calc(var(--vidWidth) - 2 * var(--border));
    --vidHeight-contentBox: calc(var(--vidHeight) - 2 * var(--border));
    -webkit-mask: 
        var(--solid) 0 0 / 100% 100%, 
        var(--solid) var(--clipX1) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) calc(1280px - var(--clipX2)) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.layout.transparent-background.show-cams .background-layer{
    -webkit-mask: 
    var(--solid) 0 0 / 100% 100%, 
    var(--solid) var(--clipX1) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
    var(--solid) calc(1280px - var(--clipX2)) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
    var(--solid) calc(var(--camX) + var(--border)) var(--camY) / calc(160px - 2 * var(--border)) calc(130px - var(--border)),
    var(--solid) calc(1280px - var(--camX) - 160px + var(--border)) var(--camY) / calc(160px - 2 * var(--border)) calc(130px - var(--border));
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
    border-radius: 8px;
    background-color: #000; 
    transition: background-color .5s;
}

.player-cam{
    display: none;
    width: 160px;
    height: 130px;
    border-top: none;
}
 
.layout.show-cams .player-cam{
    display: block;
}

.ffr-default .background-layer{
    background-color: #000;
    background-image: url('images/2p/base-background.png');
    background-image: image-set(
        url("images/2p/base-background.avif") type("image/avif"),
        url("images/2p/base-background.webp") type("image/webp")
    );
}

.ffr-irongol{--backgroundColor2: #500;}
.ffr-irongol .background-layer{
    background-color: #295280;
    background-image: url('images/2p/base-irongol.png');
    background-image: image-set(
        url("images/2p/base-irongol.avif") type("image/avif"),
        url("images/2p/base-irongol.webp") type("image/webp"),
        url("images/2p/base-irongol.png") type("image/png")
    );
}

.ffr-hardcore{--backgroundColor2: #2c0055;}
.ffr-hardcore .background-layer{
    background-color: #000076;
    background-image: url('images/2p/base-hardcore.png');
    background-image: image-set(
        url("images/2p/base-hardcore.avif") type("image/avif"),
        url("images/2p/base-hardcore.webp") type("image/webp"),
        url("images/2p/base-hardcore.png") type("image/png")
    );
}

.ffr-tourney{--backgroundColor2: #082a53;}
.ffr-tourney .background-layer{
    background-color: #092f32;
    background-image: url('images/2p/base-tourney.png');
    background-image: image-set(
        url("images/2p/base-tourney.avif") type("image/avif"),
        url("images/2p/base-tourney.webp") type("image/webp"),
        url("images/2p/base-tourney.png") type("image/png")
    );
}

.ffr-league{--backgroundColor2: #500;}
.ffr-league .background-layer{
    background-color: #b1cbda;
    background-image: url('images/2p/base-league.png');
    background-image: image-set(
        url("images/2p/base-league.webp") type("image/webp"),
        url("images/2p/base-league.png") type("image/png")
    );
}

.ffr-rush .background-layer{
    background-color:#0094ff;
    background-image: url('images/2p/base-rush.png');
    background-image: image-set(
        url("images/2p/base-rush.avif") type("image/avif"),
        url("images/2p/base-rush.webp") type("image/webp"),
        url("images/2p/base-rush.png") type("image/png")
    );
}
.layout.ffr-rush .player-grid {display: none;}

.ffr-dark .background-layer{
    background-color: #000;
    background-image: url('images/2p/base-dark.png');
    background-image: image-set(
        url("images/2p/base-dark.avif") type("image/avif"),
        url("images/2p/base-dark.webp") type("image/webp"),
        url("images/2p/base-dark.png") type("image/png")
    );
}

.ffr-duckling .background-layer{
    background-color: #428fa6;
    background-image: url('images/2p/base-duckling.png');
    background-image: image-set(
        url("images/2p/base-duckling.avif") type("image/avif"),
        url("images/2p/base-duckling.webp") type("image/webp"),
        url("images/2p/base-duckling.png") type("image/png")
    );
}

.player-name-block{
    height: 50px;
	width: 255px;
	border-bottom: none;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun, .record-contain{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 33px;
	z-index: 4;
}

.player-pronoun:empty, .record-contain:empty{
  display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 10px;
    grid-gap: 4px;
    border-top: none;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid img, .dialog img{
    background-image: url('images/retro_tracker/ffr-items-sprite-2021.png');
    background-size: 500% 1100%;
}

.earth-off{background-position: 0 40%;}
.earth-on{background-position: 0 50%;}
.fire-off{background-position: 25% 40%;}
.fire-on{background-position: 25% 50%;}
.water-off{background-position: 50% 40%;}
.water-on{background-position: 50% 50%;}
.air-off{background-position: 75% 40%;}
.air-on{background-position: 75% 50%;}

.bridge-off{background-position: 0 60%;}
.bridge-on{background-position: 0 70%;}
.canal-off{background-position: 25% 60%;}
.canal-on{background-position: 25% 70%;}
.ship-off{background-position: 50% 60%;}
.ship-on{background-position: 50% 70%;}
.canoe-off{background-position: 75% 60%;}
.canoe-on{background-position: 75% 70%;}

.floater-no{background-position: 100% 60%;}
.floater-yes{background-position: 100% 70%;}
.floater-ship{background-position: 100% 80%;}

.ship{background-position: 25% 30%;}
.crown{background-position: 0 0;}
.key{background-position: 25% 0;}
.lute{background-position: 50% 0;}

.crystal{background-position: 0% 30%;}
.herb{background-position: 100% 0;}
.tnt{background-position: 0 10%;}
.ruby{background-position: 25% 10%;}

.tail{background-position: 50% 10%;}
.bottle{background-position: 75% 10%;}
.adamant{background-position: 75% 0px;}

.slab-0{background-position: 50% 30%;}
.slab-1{background-position: 75% 30%;}
.slab-2{background-position: 100% 30%;}

.rod{background-position: 0 20%;}
.oxyale{background-position: 25% 20%;}
.chime{background-position: 100% 10%;}
.cube{background-position: 75% 20%;}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(5, auto);
    display: none;
}

.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url('images/retro_tracker/ffr-items-sprite-2020.png');
    background-size: 500% 1100%;
    background-position: 50% 80%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final{
    font-size: 20px;
	width: 155px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
	border-bottom: none;
}

.player-winner{
    font-size: 20px;
    height: 50px;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.player-final:empty{
    display:none;
}

.blursed-contain{
    width: 180px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 50px;
    -webkit-mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    mask: linear-gradient(red, red) no-repeat center / 100% 100%;
    animation: stepped-curtain .5s steps(4);
}

.layout .blursed-contain{
    display: none;
	z-index: 5;
}

#menu_layout_blursed.blursed-contain{
    transform: translateX(0);
}

@keyframes stepped-curtain {
    from {
        -webkit-mask-size: 100% 0;
        mask-size: 100% 0;
    }
}

.blursed-sprites{
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 8px;
    margin-bottom: 2px;
}

.blursed-sprite-image img, .dialog[id$="-class"] img{
    background-image: url('images/classes.png');
    background-size: 200% 800%;
    width: 30px;
    height: 43px;
    display: block;
    /* image-rendering: pixelated; */
}

.fighter{background-position: 0 0;}
.knight{background-position: 100% 0;}

.thief{background-position: 0 17%;}
.ninja{background-position: 100% 17%;}

.black-belt{background-position: 0 34.5%;}
.master{background-position: 100% 34.5%;}

.red-mage{background-position: 0 50%;}
.red-wizard{background-position: 100% 50%;}

.white-mage{background-position: 0 66%;}
.white-wizard{background-position: 100% 66%;}

.black-mage{background-position: 0 83%;}
.black-wizard{background-position: 100% 83%;}

.question{background-position: 100% 100%;}

.blursed-info, .blursed-sprites{
    padding: 5px;
}

.blursed-info{
    min-height: 10em;
}

.blursed-bonus{
    margin-bottom: 1em;
}

.player-timer{
	border-bottom: none;
}

tr-timer{
	width: 155px;
    height: 50px;
    z-index: 1;
	font-size: 16px;
	padding: 0 5px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.ms,.dot{
    display: none;
}

.staff{
    font-size: 20px;
    width: 320px;
    height: 78px;
	top: 3px; 
	left: 480px; 
    text-align: center;
    border-bottom: none;
}

.staff svg{
    margin: 0 .5em;
}

.commentators-img, .restreamers-img, .trackers-img {
    width: 24px;
    height: 24px;
}

.commentators, .restreamers, .trackers{
    width: 250px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 10;
}

.layout .show{
    display: block;
}
.show{ display: block; }

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

[property="blursed-toggle"]{
    position: absolute;
    right: 1em;
    top: -8px;
    padding: 0 .25em;
    background-color: #000;
}