* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid var(--border) #fff;
    --backgroundColor1: #000;

    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidWidth: 439px;
    --vidAspect: 4 / 3;

    --videoX: 20px; --videoY: 20px;
    --nameWidth: 140px;
    --nameX: 457px; --nameY: 20px;
    --gridX: 457px; --gridY: 68px;
    --speakerX: 603px; --speakerX2: 459px; --speakerY: 17px; --speakerY2: 40px;
    --winX: 476px; --winY: 55px;
    --finalX: 489px; --finalY: 64px;
    --vsX: 50%; --vsY: 61px;

    --border: 2px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));

    --pink: #ac0082;
    --blue: #088fae;
    --purple: #280642;
    --white: #fff;
}

.border-1{
    border: var(--border1);
    border-image: linear-gradient(var(--pink), #7a2c90) 3 / 3px;
}

[player="3"] .border-1, 
[player="4"] .border-1{
    border: var(--border1);
    border-image: linear-gradient(#7a2c90, var(--blue)) 3 / 3px;
}

.border-2{
    border: solid 1px #6d3793;
    border-image: linear-gradient(#7f278e, #6d3793) 1;
}

.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

/* layout specific styles */

.layout {
    font-family: 'Bebas Neue', cursive;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    letter-spacing: 2px;
    position: relative;
    padding: var(--spacing);
    display: grid;
    grid-row-gap: var(--spacing);
    grid-template-columns: 1fr;
    grid-template-rows: 563px auto;
    overflow: hidden;
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    mask-repeat: no-repeat;
}

.hide-p4 .layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1),
        /* cover "4p" */
        linear-gradient(red,red) bottom var(--videoY) right var(--videoX) / var(--vidWidth) var(--vidHeight);
    -webkit-mask-repeat: no-repeat
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}
.ten-nine{
    --nameX: 383px;
}
.ten-nine .player-video{
    --vidAspect: 10 / 9;
    --vidHeight: 325px;
    width: calc(var(--vidHeight) * var(--vidAspect));
    height: var(--vidHeight);}
.three-two .player-video{--vidAspect: 3 / 2;}

.sixteen-nine .cards{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sixteen-nine .player-video{--vidAspect: 16 / 9;}

.card-body tr-text {
    width: 175px;
}

.layout .cards .card-body tr-text {
    width: 255px;
}

.player-info .card{
    width: 175px;
}

.player-name{
    font-size: 18px;
    height: 20px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}


.tracking-icons{
    position: absolute;
}

.tracking-icons.card:not([class*="-by-"]){
    width: auto;
}

.player-grid{
    display: grid;
    padding: 4px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-speaker{
    padding: 4px;
}

.player-speaker svg{
    width: 22px;
    height: 22px;
    display: block;
}

.player-winner{
    height: 34px;
    font: bold 28px 'Times New Roman', Times, serif;
    color: #f8b800;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.player-final-contain{
    font-size: 16px;
    color: #fff;
    text-align: center;
    z-index: 4;
    transform: translate(0);
    /* border-top: solid #fff 1px; */
}

.player-final-contain:not(.visually-hidden){
    animation: drive 1.5s linear;
}

@keyframes drive{
    from{transform: translate(-300%);}
    to{transform: translate(0px);}
}

.player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    position: absolute;
    left: 100%;
    top: 0;
    display: flex;
    align-items: center;
    animation: leave 3s 2.1s forwards;
}

@keyframes leave {
    from{ transform: translateX(0);}
    to{ transform: translateX(1280px);}
  }

/* rope */

.player-final-contain:not(.visually-hidden) .rope{
    background-image: url('images/rope.png');
    background-size: 100%;
    width: 80px;
    height: 40px;
    opacity: 1;
    animation: disappear .1s 2s linear forwards;
}

@keyframes disappear{
    from, 99%{opacity: 1;}
    to{ opacity: 0;}
}

/* slime  */

.player-final-contain:not(.visually-hidden) .slime{
    background-image: url('images/excite-slime.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
    animation: idle .1s steps(2) infinite;
}

@keyframes idle {
    from{ transform: translateY(0);}
    to{ transform: translateY(-5%);}
  }

.player-final-contain .card{  
    width: auto;
    display: grid;
    place-content: center;
    background-color: #000;
}

.player-final-contain .player-winner, .player-final-contain .card-body{
    grid-area: 1/ 1;
    padding: 18px 12px;
}

tr-text#player_final{
    margin: 12px 6px;
    letter-spacing: 5px;
}

.player-final:empty{
    display:none;
}

.winner-default{
    grid-area: 1/ 1;
    border: double 12px #444;
    border-image: url('images/checker.svg') round 12 / 12px;
}

.player-winner{
    border: double 12px #fff;
    border-image: url('images/checker.svg#svgView(viewBox(40, 0, 40, 40))') round 12 / 12px;
    height: 36px;
}

.player-final-contain .card{
    width: auto;
}

.player-final{
    font-size: 20px;
    width: 5.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.vs{
    color: #fff;
    font-size: 16px;
    transform: translateX(-50%);
    left: 50%;
}

.cards{
    display: grid;
    gap: 1px;
    background-image: linear-gradient(var(--pink), var(--blue));
    padding: 1px;
}

.cards .card{
    height: 100%;
    width: 264px;
}

tr-timer{
	width: 11em;
    height: 52px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
}

.staff{
    overflow: hidden;
    font-size: 18px;
    width: 264px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 210px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

    .visually-hidden {
        /* hide visually to keep background-color animations in sync */  
          position: absolute !important;
          left: 400%;
          height: 1px; width: 1px;
          overflow: hidden;
          -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        }

    .two-by-two{width: calc(38px * 2); height: calc(38px * 2);} 
    .three-by-two{width: calc(38px * 3); height: calc(38px * 2);} 
    .four-by-two{width: calc(38px * 4); height: calc(38px * 2);}

  
    .two-by-four{width: calc(38px * 2); height: calc(38px * 4);} 
    .three-by-four{width: calc(38px * 3); height: calc(38px * 4);} 
    .four-by-four{width: calc(38px * 4); height: calc(38px * 4);}


/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.view-container, .view-container-border{
    background-color: #0000;
}


.display-none{ display: none; }

.show{ display: block; }


/* Menu */
.pause-animations #player_time, .pause-animations tr-timer[running="true"]:after{
  animation-play-state: paused;
}

.menu-contain {
  display: grid;
  grid-template-areas:
  "autofill autofill autofill . . ."
  "game     game    icons    timer   layout layout"
  "game     game    upnext   timer   layout layout"
  "pronouns players freetext team    view   reset"
  "aspect   aspect other    credits       .      .";
}

.menu-game-specific #menu_video_aspect{grid-area: aspect;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-game-specific #menu_game{grid-area: game;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}
.menu-game-specific #menu_up_next{grid-area: upnext;}
.menu-game-specific #menu_icons{grid-area: icons;}
.menu-game-specific #menu_free_text{grid-area: freetext;}
.menu-game-specific #menu_players_extra{grid-area: pronouns;}
.menu-game-specific #menu_other{grid-area: other;}
.menu-game-specific #menu_credits{grid-area: credits;}
.menu-game-specific #menu_fill{grid-area: autofill;}

#menu_layout div{
  display: block;
}

#menu_overlays_contain div{
  margin-bottom: .75em;
}