* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

:root{
  --pink: #ac0082;
  --blue: #088fae;
  --purple: #280642;
  --white: #fff;

  --nameWidth: 300px;
}

.abs{
  position: absolute;
}

.game-category-heading{
  padding: .75em .5em;
}

.game-category-heading .card.game-info,
.game-category-heading .card{
  padding: 0;
  height: auto;
  line-height: 1;
}

.cat-est-contain > *{
  flex: 1;
  padding: .2em;
}

.game-category{
  text-align: center;
  /* width: 288px; */
}

.game-info .card-body, .card-body{
  width: 288px;
  margin: 0 auto;
}

.star-background, .bordered-container .card{
  background-color: #150a1e;
  background-image: url(../rm/images/stars-background.jpg);
}

.bordered-container{
  background-color: var(--pink);
  background-image: linear-gradient(var(--pink), var(--blue));
  padding: 1px 0 1px 1px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

  body {
    background-color: #ddd;
    display: flex;
  }
  
  .layout {
    font-family: 'Bebas Neue', cursive;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: 960px 320px;
    grid-template-rows: 720px;
}

.layout.show{
  display: grid;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
}

.player-video{
  width: var(--vWidth);
  height: var(--vHeight);
  background-color: #000; 
  transition: background-color .5s;
  position: relative;
}

.player-video::before{
  content: '';
  position: absolute;
  inset: 0px;
  border: 1.6px solid;
  border-image: linear-gradient(var(--pink), var(--blue)) 2 / 1.6px / 1.6px;
}

.four-three{
  --vHeight: 702px;
  --vWidth: calc(var(--vHeight) * 4/3);
}

.ten-nine{
  --vHeight: 702px;
  --vWidth: calc(var(--vHeight) * 10/9);
}

.three-two{
  --vHeight: 630px;
  --vWidth: calc(var(--vHeight) * 3/2);
}

.sixteen-nine{
  --vHeight: 531px;
  --vWidth: calc(var(--vHeight) * 16/9);
}

.transparent-background{
  -webkit-mask: 
    linear-gradient(red 0 0) no-repeat 11px center / var(--vWidth) var(--vHeight),
    linear-gradient(red 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;  
}

.four-three.transparent-background{
  -webkit-mask-position: 11px center;
}

.ten-nine.transparent-background{
  -webkit-mask-position: 90px center;
}

.three-two.transparent-background{
  -webkit-mask-position: 7px 44px;
}

.sixteen-nine.transparent-background{
  -webkit-mask-position: 8px 95px;
}


.layout aside{
  display: grid;
  height: 720px;
  width: 320px;
  grid-template-rows: 72px 576px 72px;
  position: relative;
  z-index: 0;
  background-color: var(--purple);
}

tr-toggle[property="dwr"]{
  display: flex;
}

.game-name, .player-name{
  font-size: 30px;
}

.player-name{
  width: 216px;
}

tr-toggle[property="dwr"] .player-grid {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, 32px);
    grid-auto-flow: column;
    grid-gap: 6px 16px;
    margin-right: 16px;
    justify-items: space-between;
  }

  .player-grid img{
    width: 32px;
    height: 32px;
  }

  #player_time .timer-scroll{
    animation-play-state: running;
  }

  @keyframes scroll {
    to{background-position-y: -680px, 0;}
  }

  /* timer */

  #timer span:not(.dot):not(.colon) {
    width: 19.92px !important;
    display: inline-block;
    text-align: right;
  }
  
  #timer .ms {
    width: 19.92px !important;
    text-align: right;
  }
  
textarea{
  width: 15em;
}

  .hidden, .display-none {
    display: none;
  }

  .one-row{height: calc(32px * 1 + 16px * 1);}
  .two-rows{height: calc(32px * 2 + 16px * 2);}
  .three-rows{height: calc(32px * 3 + 16px * 3);}
  .four-rows{height: calc(32px * 4 + 16px * 4);}
  .five-rows{height: calc(32px * 5 + 16px * 5);}


  /* menu */

  .menu-contain {
    display: grid;
    grid-template-areas:
      "prefill prefill  prefill  prefill"
      "game    game     icons    icons" 
      "game    game     upnext   upnext"
      "players pronouns freetext freetext"
      "timer   timer    layout   layout" 
      "team    team     view     reset"
      "other   other    credits credits";
  }

  .dialog{
    border: none;
    background: #222 linear-gradient(to right, #f8b800, #f8b800) -150px bottom / 100% 1px no-repeat;
    animation: border-slide .2s linear forwards;
    border-bottom: 1px solid #222;
  }

  @keyframes border-slide{
    to{ background-position: 0 bottom; }
  }

  .pause-animations #player_time, .pause-animations tr-timer[running="true"]:after{
    animation-play-state: paused;
  }
  
  .show{
    display: block;
  }