* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: "Orbitron";
  src: local('Orbitron'),
    url('../shared/fonts/orbitron-bold_0.woff2') format('woff2'),
    url('../shared/fonts/orbitron-bold_0.woff') format('woff'),
    url("../shared/fonts/Orbitron-Bold_0.ttf") format("truetype");
}
        
@font-face {
  font-family: "Roboto";
  src: local('Roboto'),
  url('../shared/fonts/roboto-medium.woff2') format('woff2'),
  url('../shared/fonts/roboto-medium.woff') format('woff'),
  url("../shared/fonts/Roboto-Medium.ttf") format("truetype");
}

  html{
    --vHeight: 720px;
  }

  body {
    height: 0;
    background-color: #ddd;
    display: flex;
  }
  
  .layout {
    font-family: "Orbitron", sans-serif;
    background: 
      linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
      url('images/rm-generic-take2-edges-roberts.png') 0 0 / 50% 50% repeat-x,
      url('images/rm-generic-take2-edges-roberts.png') 320px 360px / 50% 50% repeat-x;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    background-color: #000;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: calc(1280px - 320px) 320px;
}

#player_video_1.blue-background{background-color: #00f;}
#player_video_1.green-background{background-color: #0f0;}
#player_video_1.magenta-background{background-color: #f0f;}

.player-video{
    width: calc(var(--vHeight) * 4/3);
    height: var(--vHeight);
    background-color: #000;
}

aside{
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.card, .staff{
  display: grid;
  margin-bottom: 16px;
  background-color: #111;
}

.card-head{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
  position: relative;
  z-index: 0;
  height: 1em;
}

.card-head-label{
  line-height: 1;
  padding: 0 .25em;
}

.card-head-left, .card-head-right{
  width: 118px;
}

.abs {position: absolute;}
.top {top: 0;}
.left {left: 0;}
.right {right: 0;}

tr-text[scale-to-fit].right {
  transform-origin: -5% 50%;
}

.card-body{
  padding: 4px;
  text-align: center;
}

.card-body tr-text{
  width: 280px;
}
.card-head tr-text{
  width: 100px;
  text-align: center;
}

.rm-logo .card-body{
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rm-logo-img{
  height: 1em;
  margin-right: .25em;
}

tr-template{
  display: contents;
}

.card.timer{
  position: relative;
  z-index: 0;
  width: 100%;
}

.timer .card-back{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.timer .card{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.timer .card-body{
  background-color: transparent;
  padding: 1px 0;
}

tr-timer{
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

tr-timer:after{
    content: '';
    background-image: url('images/zelda_hex_alpha_text.png'), linear-gradient(rgba(0,0,0,.75), rgba(0,0,0,.75));
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: scroll 40s linear infinite;
    animation-play-state: paused;
}

tr-timer[running="true"]:after{
  animation-play-state: running;
}

@keyframes scroll {
    from{ transform: translateY(0); }
    to{ transform: translateY(50%);}
}

  svg.card-border{
    width:100%;
  }
  
  svg path{
    animation: fade 240s linear alternate infinite;
  }
  
  .rainbow-fill path:nth-of-type(1){fill: #940084; animation: none;}
  .rainbow-fill path:nth-of-type(2){fill: #0058f8; animation-name: fade-5;}
  .rainbow-fill path:nth-of-type(3){fill: #3cbcfc; animation-name: fade-4;}
  .rainbow-fill path:nth-of-type(4){fill: #007800; animation-name: fade-3;}
  .rainbow-fill path:nth-of-type(5){fill: #f8b800; animation-name: fade-2;}
  .rainbow-fill path:nth-of-type(6){fill: #f83800; animation-name: fade;}
  
  @keyframes fade {
    from {opacity: 1;}
    20%, to {opacity: 0;}
  }
  
  @keyframes fade-2 {
    from, 20% {opacity: 1;}
    40%, to {opacity: 0;}
  }
  
  @keyframes fade-3 {
    from, 40% {opacity: 1;}
    60%, to {opacity: 0;}
  }
  
  @keyframes fade-4 {
    from, 60% {opacity: 1;}
    80%, to {opacity: 0;}
  }
  
  @keyframes fade-5 {
    from, 80% {opacity: 1;}
    to {opacity: 0;}
  }

tr-toggle[property="dwr"]{
  display: flex;
}

.game-name, .player-name{
  font-size: 20px;
}

tr-toggle[property="dwr"] .player-grid {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, 32px);
    grid-auto-flow: column;
    grid-gap: 6px 16px;
    margin-right: 16px;
    justify-items: space-between;
  }

  .player-grid img{
    width: 32px;
    height: 32px;
  }

/* staff */

.production-team-swap{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
}

.staff{
  overflow: hidden;
  font-size: 20px;
}

.staff-panel-1, .staff-panel-2{
  grid-area: 1/1;
  background-color: #111;
  display: grid;
  align-items: center;
  padding: 8px;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.commentators, .restreamers, .trackers{
  width: 230px;
}

.staff img {
  background-image: url("../shared/images/icons/sprite.svg");
  background-repeat: no-repeat;
  background-size: 500% 400%;
  margin: 0 6px;
  z-index: 2;
  width: auto;
  height: 1em;
}

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
  0%, 75% {opacity: 1;}
  75.1%, 100% {opacity: 0;}
  }
  
@keyframes panel-2-blinker {
  0%, 75% {opacity: 0;}
  75.1%, 100% {opacity: 1;}
  }
  #player_time .timer-scroll{
    animation-play-state: running;
  }

  @keyframes scroll {
    to{background-position-y: -680px, 0;}
  }

  /* timer */

  #timer span:not(.dot):not(.colon) {
    width: 19.92px !important;
    display: inline-block;
    text-align: right;
  }
  
  #timer .ms {
    width: 19.92px !important;
    text-align: right;
  }
  
textarea{
  width: 15em;
}

  .hidden, .display-none {
    display: none;
  }

.visually-hidden {
  /* hide visually to keep background-color animations in sync */  
    position: absolute !important;
    left: 400%;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  
  .one-row{height: calc(32px * 1 + 16px * 1);}
  .two-rows{height: calc(32px * 2 + 16px * 2);}
  .three-rows{height: calc(32px * 3 + 16px * 3);}
  .four-rows{height: calc(32px * 4 + 16px * 4);}
  .five-rows{height: calc(32px * 5 + 16px * 5);}


  /* menu */

#menu_game.fieldset{
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1em
}

#menu_game div{
  font-size: 14px;
  display: grid;
  grid-gap: .25em
}

input[type="text"], textarea{
  width: 100%;
  background: #222 linear-gradient(45deg, currentColor, currentColor) -370px bottom / 100% 1px no-repeat;
  color: #f8b800;
  border: none;
  padding: 4px;
  outline: none;
  transition: background-position .2s, color .1s;
  font-weight: bold;
}

input[type="text"]:focus, textarea:focus{
  background-position: 0 bottom;
}

select{
  background-color: #333;
  color: #fff;
}

.col-span-2{
  grid-column-end: span 2;
}

  .player-inputs{
    grid-gap: 0 5px;
    padding: 5px;
  }

  #menu_2{
    display: grid;
    grid-template-areas: 
    "prefill prefill  prefill"
    "game    icons    icons"
    "game    upnext   upnext"
    "players freetext freetext"
    "timer   layout   layout"
    "team    view     reset";
    height: 720px;
    border: none;
    margin-left: 16px;
  }

  #menu_fill{grid-area: prefill;}
  #menu_timer{grid-area: timer;}
  #menu_players{grid-area: players;}
  #menu_layout{grid-area: layout;}
  #menu_game{grid-area: game;}
  #menu_production{grid-area: team;}
  #menu_view{grid-area: view;}
  #menu_reset{grid-area: reset;}
  #menu_upnext{grid-area: upnext;}
  #menu_icons{grid-area: icons;}
  #menu_freetext{grid-area: freetext;}

  #menu_player_labels, #menu_players tr-player{
    display: block;
  }
  
table {
  border-collapse: collapse;
  padding: 1em;
  table-layout: fixed;
  width: 300px;
}
th, td{
  padding: .5em;
}

th:nth-child(1) {width: 2em;}
th:nth-child(2) {width: 10em;}
th:nth-child(3) {width: 7em;}

#menu_fill div{
  display: flex;
  justify-content: space-evenly;
}

#menu_timer div{
    align-self: center;
    justify-self: center;
  }
  #menu_timer input[type="text"]{
    width: 6em;
  }
  .fieldset{
    margin: -1px 0 0 -1px;
  }

  .calendar, .loadscreen{
    background: 
      linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
      url('images/rm-generic-take2-edges-roberts.png') 0 0 / 50% 50% repeat-x,
      url('images/rm-generic-take2-edges-roberts.png') 320px 360px / 50% 50% repeat-x;
    height: 720px;
    width: 1280px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog{
    border: none;
    background: #222 linear-gradient(to right, #f8b800, #f8b800) -150px bottom / 100% 1px no-repeat;
    animation: border-slide .2s linear forwards;
    border-bottom: 1px solid #222;
  }

  @keyframes border-slide{
    to{ background-position: 0 bottom; }
  }

  .pause-animations #player_time, .pause-animations svg path, .pause-animations tr-timer[running="true"]:after{
    animation-play-state: paused;
  }

  .video-bgcolor{
    width: 24px;
    height: 24px;
    border: 1px solid #333;
  }

  .video-bgcolor:hover{box-shadow: 0 0 0 2px #f8b800;}

  tr-input-radio input:checked + .video-bgcolor{
    border: 1px solid #fff;

  }

  label[for="blue"]{background-color: #00f;}
  label[for="green"]{background-color: #0f0;}
  label[for="magenta"]{background-color: #f0f;}