* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

@font-face {
  font-family: "Orbitron";
  src: local('Orbitron'),
    url('../shared/fonts/orbitron-bold_0.woff2') format('woff2'),
    url('../shared/fonts/orbitron-bold_0.woff') format('woff'),
    url("../shared/fonts/Orbitron-Bold_0.ttf") format("truetype");
}
        
@font-face {
  font-family: "Roboto";
  src: local('Roboto'),
  url('../shared/fonts/roboto-medium.woff2') format('woff2'),
  url('../shared/fonts/roboto-medium.woff') format('woff'),
  url("../shared/fonts/Roboto-Medium.ttf") format("truetype");
}

  html{
    --vHeight: 720px;
  }

  body {
    height: 0;
    background-color: #ddd;
    display: flex;
  }
  
  .layout {
    font-family: "Orbitron", sans-serif;
    background: 
      linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),
      url('images/rm-generic-take2-edges-roberts.png') 0 0 / 50% 50% repeat-x,
      url('images/rm-generic-take2-edges-roberts.png') 320px 360px / 50% 50% repeat-x;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    background-color: #000;
    letter-spacing: 2px;
    display: grid;
    grid-template-columns: calc(1280px - 320px) 320px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 720px;
}

.player-video{
    width: calc(var(--vHeight) * 4/3);
    height: var(--vHeight);
    background-color: #000;
}

.player-video.magenta-background{background-color: #f0f;}
.player-video.green-background{background-color: #0f0;}
.player-video.blue-background{background-color: #00f;}

aside{
    padding: 1em;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.card, .staff{
  margin-bottom: 16px;
}

tr-toggle[property="dwr"]{
  display: flex;
}

.game-name, .player-name{
  font-size: 20px;
}

tr-toggle[property="dwr"] .player-grid {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, 32px);
    grid-auto-flow: column;
    grid-gap: 6px 16px;
    margin-right: 16px;
    justify-items: space-between;
  }

  .player-grid img{
    width: 32px;
    height: 32px;
  }

  #player_time .timer-scroll{
    animation-play-state: running;
  }

  @keyframes scroll {
    to{background-position-y: -680px, 0;}
  }

  /* timer */

  #timer span:not(.dot):not(.colon) {
    width: 19.92px !important;
    display: inline-block;
    text-align: right;
  }
  
  #timer .ms {
    width: 19.92px !important;
    text-align: right;
  }
  
textarea{
  width: 15em;
}

  .hidden, .display-none {
    display: none;
  }

.visually-hidden {
  /* hide visually to keep background-color animations in sync */  
    position: absolute !important;
    left: 400%;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  
  .one-row{height: calc(32px * 1 + 16px * 1);}
  .two-rows{height: calc(32px * 2 + 16px * 2);}
  .three-rows{height: calc(32px * 3 + 16px * 3);}
  .four-rows{height: calc(32px * 4 + 16px * 4);}
  .five-rows{height: calc(32px * 5 + 16px * 5);}


  /* menu */

  .menu-contain {
    display: grid;
    grid-template-areas:
      "prefill prefill  prefill  prefill"
      "game    game     icons    icons" 
      "game    game     upnext   upnext"
      "players pronouns freetext freetext"
      "timer   timer    layout   layout" 
      "team    team     view     reset"
      "other   other    credits credits";
  }
  
  .calendar, .loadscreen{
    background: 
      linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
      url('images/rm-generic-take2-edges-roberts.png') 0 0 / 50% 50% repeat-x,
      url('images/rm-generic-take2-edges-roberts.png') 320px 360px / 50% 50% repeat-x;
    height: 720px;
    width: 1280px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog{
    border: none;
    background: #222 linear-gradient(to right, #f8b800, #f8b800) -150px bottom / 100% 1px no-repeat;
    animation: border-slide .2s linear forwards;
    border-bottom: 1px solid #222;
  }

  @keyframes border-slide{
    to{ background-position: 0 bottom; }
  }

  .pause-animations #player_time, .pause-animations tr-timer[running="true"]:after{
    animation-play-state: paused;
  }