* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 2px #fff;
    --backgroundColor1: #000;
    --vidWidth: 644px;
    --vidAspect: 4 / 3;
    --videoX: -3px; --videoY: -3px;
    --nameWidth: 381px;
    --nameX: 16px; --nameY: 486px;
    --speakerX: 409px; --speakerY: 493px;
    --winX: 202px; --winY: 525px;
    --finalX: 360px; --finalY: 507px;
    --bestX: 884px; --bestX2: 18px; --bestY: 486px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

@font-face {
    font-family: "Orbitron";
    src: local('Orbitron'),
      url('../shared/fonts/orbitron-bold_0.woff2') format('woff2'),
      url('../shared/fonts/orbitron-bold_0.woff') format('woff'),
      url("../shared/fonts/Orbitron-Bold_0.ttf") format("truetype");
  }
          
  @font-face {
    font-family: "Roboto";
    src: local('Roboto'),
    url('../shared/fonts/roboto-medium.woff2') format('woff2'),
    url('../shared/fonts/roboto-medium.woff') format('woff'),
    url("../shared/fonts/Roboto-Medium.ttf") format("truetype");
  }

.layout {
    font-family: "Orbitron", sans-serif;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    letter-spacing: 2px;
    position: relative;
    padding: var(--spacing);
    display: grid;
    grid-row-gap: var(--spacing);
    grid-template-columns: 1fr;
    grid-template-rows: 563px auto;
    overflow: hidden;
  }

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-video, .layout.four-three .player-video{
    --vidWidth: 644px;
    --vidAspect: 4 / 3;
    --videoX: -3px; --videoY: -3px;
    --nameWidth: 381px;
    --nameX: 16px; --nameY: 486px;
    --speakerX: 409px; --speakerY: 493px;
    --winX: 202px; --winY: 525px;
    --finalX: 360px; --finalY: 507px;
    --bestX: 884px; --bestX2: 18px; --bestY: 486px;
    z-index: 2;
}

.layout.sixteen-nine{
    --nameY: 46px;
    --finalX: 125px; --finalY: 29px;
    --speakerY: 83px;
    --bestY: 58px;
}
.layout.sixteen-nine .player-video{
    --videoY: 152px;
    --vidWidth: 644px;
    --vidAspect: 16 / 9;
}
.layout.sixteen-nine .card.timer{
    top: 50px;
}

  .layout.ten-nine .player-video{
    --vHeight: 480px;
    height: var(--vHeight);
    width: calc(var(--vHeight) * 10/9);
    --videoX: 57px;
  }


  .layout.three-two{
    --nameY: 20px;
    --finalX: 125px; --finalY: 29px;
    --speakerY: 41px;
    --bestY: 58px;
}
.layout.three-two .player-video{
    --videoY: 107px;
    --vidWidth: 644px;
    --vidAspect: 3 / 2;

}
.layout.three-two .card.timer{
    top: 28px;
}

.player-info .card{
    width: 381px;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: auto;
    text-align: center;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.player-name tr-text[property="player-name"]{
    width: var(--nameWidth);
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}
.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 24px;
    height: 24px;
    background-image: url('images/RM_marathon_logo.png');
    background-size: 100% 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}


.player-final-contain{
    font-size: 20px;
    color: #fff;
    text-align: center;
    z-index: 4;
    transform: translate(0);
}

.player-final-contain:not(.visually-hidden){
    animation: drive-from-left 1.5s linear;
}

@keyframes drive-from-left{
    from{transform: translate(-300%);}
    to{transform: translate(0px);}
}

[player="2"] .player-final-contain:not(.visually-hidden){
    animation: drive-from-right 1.5s linear;
}

@keyframes drive-from-right{
    from{transform: translate(300%);}
    to{transform: translate(0px);}
}

.player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    position: absolute;
    top: 6px;
    display: flex;
    align-items: center;
}

[player="1"] .player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    left: 100%;
    animation: leave-right 3s 2.1s forwards;
}

@keyframes leave-right {
    from{ transform: translateX(0);}
    to{ transform: translateX(1280px);}
  }

[player="2"] .player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    right: 100%;
    transform: rotateY(180deg) translateX(0);
    animation: leave-left 3s 2.1s forwards;
}

@keyframes leave-left {
    from{ transform: rotateY(180deg) translateX(0);}
    to{ transform: rotateY(180deg) translateX(1280px);}
  }

/* rope */

.player-final-contain:not(.visually-hidden) .rope{
    background-image: url('images/rope.png');
    background-size: 100%;
    width: 80px;
    height: 40px;
    opacity: 1;
    animation: disappear .1s 2s linear forwards;
}

@keyframes disappear{
    from, 99%{opacity: 1;}
    to{ opacity: 0;}
}

/* slime  */

.player-final-contain:not(.visually-hidden) .slime{
    background-image: url('images/excite-slime.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
    animation: idle .1s steps(2) infinite;
}

@keyframes idle {
    from{ transform: translateY(0);}
    to{ transform: translateY(-5%);}
  }

.player-final-contain .card{  
    width: auto;
    display: grid;
    place-content: center;
}

.player-final-contain .player-winner, .player-final-contain .card-body{
    grid-area: 1/ 1;
    padding: 18px 12px;
}

tr-text#player_final{
    margin: 18px 12px;
    letter-spacing: 5px;
}

.player-final:empty{
    display:none;
}

.winner-default{
    grid-area: 1/ 1;
    border: double 12px #444;
    border-image: url('images/checker.svg') round 12 / 12px;
}

.player-winner{
    border: double 12px #fff;
    border-image: url('images/checker.svg#svgView(viewBox(40, 0, 40, 40))') round 12 / 12px;
    height: 36px;
}

.card.timer{
    position: absolute;
    width: 300px;
    transform: translateX(-50%); 
    left: 50%; 
    top: 491px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.tracking-icons{
    grid-column: 1;
    align-self: center;
    width: auto;
}

#tracking_icons_2{
    grid-column: -1;
    align-self: center;
}

.visually-hidden {
    /* hide visually to keep background-color animations in sync */  
      position: absolute !important;
      left: 400%;
      height: 1px; width: 1px;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    
    .two-by-two{width: calc(38px * 2); height: calc(38px * 2);} 
    .four-by-two{width: calc(38px * 4); height: calc(38px * 2);}
    .six-by-two{width: calc(38px * 6); height: calc(38px * 2);}
    .eight-by-two{width: calc(38px * 8); height: calc(38px * 2);}
    .ten-by-two{width: calc(38px * 10); height: calc(38px * 2);}
  
    .two-by-four{width: calc(38px * 2); height: calc(38px * 4);} 
    .four-by-four{width: calc(38px * 4); height: calc(38px * 4);}
    .six-by-four{width: calc(38px * 6); height: calc(38px * 4);}
    .eight-by-four{width: calc(38px * 8); height: calc(38px * 4);}
    .ten-by-four{width: calc(38px * 10); height: calc(38px * 4);}
    
/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none{ display: none; }

/* .card{
    width: 250px;
} */

.cards{
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 16px 16px;
}

.variable-panels{
    display: flex;
    place-content: space-around; 
    place-items: center;
    flex-wrap: wrap;
    align-self: stretch;
    height: 100%;
    width: 100%;
    grid-column: 2;
}

/* Menu */
  .pause-animations #player_time, .pause-animations tr-timer[running="true"]:after{
    animation-play-state: paused;
  }

.menu-contain {
    display: grid;
    grid-template-areas:
    "game     game    icons    timer   layout layout"
    "game     game    upnext   timer   layout layout"
    "pronouns players freetext team    view   reset"
    "prefill  prefill other    credits       .      .";
}

.menu-game-specific #menu_fill{grid-area: prefill;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-game-specific #menu_game{grid-area: game;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}
.menu-game-specific #menu_up_next{grid-area: upnext;}
.menu-game-specific #menu_icons{grid-area: icons;}
.menu-game-specific #menu_free_text{grid-area: freetext;}
.menu-game-specific #menu_players_extra{grid-area: pronouns;}
.menu-game-specific #menu_other{grid-area: other;}
.menu-game-specific #menu_credits{grid-area: credits;}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}