* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 612px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --border1: solid var(--border) #fff;
    --backgroundColor1: #000;
    --videoX: 27px; --videoY: 26px;
    --nameWidth: 381px;
    --nameX: 27px; --nameY: 486px;
    --speakerX: 409px; --speakerY: 493px;
    --winX: 202px; --winY: 525px;
    --finalX: 360px; --finalY: 507px;
    --bestX: 884px; --bestX2: 18px; --bestY: 486px;
    --gridX: 27px; --gridY: 537px;

    --border: 3px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));

    --pink: #ac0082;
    --blue: #088fae;
    --purple: #280642;
    --white: #fff;
}

.border-1{
    border: var(--border1);
    border-image: linear-gradient(var(--pink), var(--blue)) 3 / 3px;
}
.border-2{
    border: solid 1px #6d3793;
    border-image: linear-gradient(#7f278e, #6d3793) 1;
}
.background-1{background-color: var(--backgroundColor1);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}
.abs{position: absolute;}



.layout {
    font-family: 'Bebas Neue', cursive;
    color: #fafafa;
    width: 1280px;
    height: 720px;
    letter-spacing: 2px;
    position: relative;
    padding: var(--spacing);
    overflow: hidden;
  }

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    /* background: 
        image-set(
            url("images/MainLogo.avif") type("image/avif"),
            url("images/MainLogo.webp") type("image/webp")
        );  */
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75% auto;
    transition: background-color .5s;
}

.avif .player-video{background-image: url("images/MainLogo_24.avif");}
.noavif.webp .player-video{background-image: url("images/MainLogo_24.webp");}

.player-video, .layout.four-three .player-video{
    --vidWidth: 612px;
    --vidAspect: 4 / 3;
    --videoX: 27px; --videoY: 26px;
    --nameWidth: 381px;
    --nameX: 27px; --nameY: 486px;
    --speakerX: 409px; --speakerY: 493px;
    --winX: 202px; --winY: 525px;
    --finalX: 360px; --finalY: 507px;
    --bestX: 884px; --bestX2: 18px; --bestY: 486px;
    z-index: 2;
}

.layout.transparent-background.four-three{
    --vidWidth: 630px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    -webkit-mask-image: linear-gradient(red, red), linear-gradient(red, red), linear-gradient(red, red);
    -webkit-mask-size: 100% 100%, 
    calc(var(--vidWidth) - 4px) calc(var(--vidHeight) - 4px), 
    calc(var(--vidWidth) - 4px) calc(var(--vidHeight) - 4px);
    -webkit-mask-position: 0 0, top left, top right;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.layout.sixteen-nine{
    --nameY: 46px;
    --finalX: 377px;
    --finalY: 44px;
    --speakerY: 46px;
    --bestY: 58px;
    --vidWidth: 644px;
    --gridY: 478px;
    --vidAspect: 16 / 9;
}
.layout.sixteen-nine .player-video{
    --videoY: 114px;
    --videoX: 5px;
    --vidWidth: 633px;
    --vidAspect: 16 / 9;
}

  .layout.ten-nine .player-video{
    --vHeight: 480px;
    height: var(--vHeight);
    width: calc(var(--vHeight) * 10/9);
    --videoX: 57px;
    --videoY: 6px;
  }


  .layout.three-two{
    --nameY: 20px;
    --finalX: 377px;
    --finalY: 16px;
    --speakerY: 26px;
    --bestY: 58px;
    --gridY: 478px;
}
.layout.three-two .player-video{
    --videoY: 73px;
    --videoX: 27px;
    --vidWidth: 607px;
    --vidAspect: 3 / 2;

}

.player-info .card{
    width: 327px;
    height: 50px;
    font-size: 22px;
}

.player-name{
    font-size: 26px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: auto;
    text-align: center;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
}

.player-name tr-text[property="player-name"]{
    width: var(--nameWidth);
}

.player-info .card{
    padding: 0 0.5em 0 1em;
}

.player-info .card-body-label{
    letter-spacing: -6px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}
.player-speaker{
    padding: 4px;
}

.player-speaker svg{
    width: 32px;
    height: 32px;
    display: block;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-best-of{
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}
.player-best-of img{
    width: 24px;
    height: 24px;
    background-image: url('images/RM_marathon_logo.png');
    background-size: 100% 100%;
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}


.player-final-contain{
    font-size: 20px;
    color: #fff;
    text-align: center;
    z-index: 4;
    transform: translate(0);
}

.player-final-contain:not(.visually-hidden){
    animation: drive-from-left 1.5s linear;
}

@keyframes drive-from-left{
    from{transform: translate(-300%);}
    to{transform: translate(0px);}
}

[player="2"] .player-final-contain:not(.visually-hidden){
    animation: drive-from-right 1.5s linear;
}

@keyframes drive-from-right{
    from{transform: translate(300%);}
    to{transform: translate(0px);}
}

.player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    position: absolute;
    top: 6px;
    display: flex;
    align-items: center;
}

[player="1"] .player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    left: 100%;
    animation: leave-right 3s 2.1s forwards;
}

@keyframes leave-right {
    from{ transform: translateX(0);}
    to{ transform: translateX(1280px);}
  }

[player="2"] .player-final-contain:not(.visually-hidden) .slime-and-rope-contain{
    right: 100%;
    transform: rotateY(180deg) translateX(0);
    animation: leave-left 3s 2.1s forwards;
}

@keyframes leave-left {
    from{ transform: rotateY(180deg) translateX(0);}
    to{ transform: rotateY(180deg) translateX(1280px);}
  }

/* rope */

.player-final-contain:not(.visually-hidden) .rope{
    background-image: url('images/rope.png');
    background-size: 100%;
    width: 80px;
    height: 40px;
    opacity: 1;
    animation: disappear .1s 2s linear forwards;
}

@keyframes disappear{
    from, 99%{opacity: 1;}
    to{ opacity: 0;}
}

/* slime  */

.player-final-contain:not(.visually-hidden) .slime{
    background-image: url('images/excite-slime.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: relative;
    right: 10px;
    animation: idle .1s steps(2) infinite;
}

@keyframes idle {
    from{ transform: translateY(0);}
    to{ transform: translateY(-5%);}
  }

.player-final-contain .card{  
    width: auto;
    display: grid;
    place-content: center;
    padding: 0.25em;
}

.player-final-contain .player-winner, 
.player-final-contain .card-body,
.player-final-contain .winner-default{
    grid-area: 1/ 1;
    width: 140px;
    height: 48px;
    padding: 12px;
}

tr-text#player_final{
    margin: 18px 12px;
    letter-spacing: 5px;
}

.player-final:empty{
    display:none;
}

.winner-default, .player-winner{
    border: solid transparent 12px;
    background: 
        url(../rm/images/stars-background.jpg) padding-box no-repeat,
        repeating-conic-gradient(#0000 0 90deg, var(--check-color) 90deg 180deg) 0 0 / 8px 8px,
        url(../rm/images/stars-background.jpg) border-box repeat;
}

.winner-default{
    --check-color: rgb(255 255 255/.25);
}

.player-winner{
    --check-color: rgb(255 255 255/1);
}

.card.timer{
    padding: 0.25em 0.5em;
    width: 327px;
    font-size: 45px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.tracking-icons{
    grid-column: 1;
    align-self: center;
    width: auto;
}

#tracking_icons_2{
    grid-column: -1;
    align-self: center;
}

.visually-hidden {
    /* hide visually to keep background-color animations in sync */  
      position: absolute !important;
      left: 400%;
      height: 1px; width: 1px;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
    
    .two-by-two{width: calc(38px * 2); height: calc(38px * 2);} 
    .four-by-two{width: calc(38px * 4); height: calc(38px * 2);}
    .six-by-two{width: calc(38px * 6); height: calc(38px * 2);}
    .eight-by-two{width: calc(38px * 8); height: calc(38px * 2);}
    .ten-by-two{width: calc(38px * 10); height: calc(38px * 2);}
  
    .two-by-four{width: calc(38px * 2); height: calc(38px * 4);} 
    .four-by-four{width: calc(38px * 4); height: calc(38px * 4);}
    .six-by-four{width: calc(38px * 6); height: calc(38px * 4);}
    .eight-by-four{width: calc(38px * 8); height: calc(38px * 4);}
    .ten-by-four{width: calc(38px * 10); height: calc(38px * 4);}
    
/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none{ display: none; }

.variable-panels{
    display: flex;
    flex-direction: column;
    top: 480px;
    left: 50%;
    transform: translate(-50%);
    width: 327px;
    background-color: #280642;
}

/* .variable-panels .card-body{
    min-height: 32px;
} */

.game-name-contain{
    width: 311px;
}

#game_name{
    font-size: 30px;
}

#game_swap .card-head.bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 1em;
}

.game-panel-2 .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 1em;
}

.game-panel-2 .card-body .card-head-label, .game-panel-2 .card-body #up_next{
    align-self: center;
}

#game_swap{
    display: grid;
    grid-template-columns: 1fr;
  }

  .game-panel-1, .game-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.game-swap .game-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.game-swap .game-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

.panel-1, .panel-2{
    justify-self: center;
}

.rm-logo img.nami {
    width: auto;
}

[target="#free_text"]{
    display: flex;
}

[target="#free_text"] .card-body{
    align-self: center;
}

.bottom-bar{
    height: 58px;
    width: 100%;
    background-color: #3b0a61;
    display: flex;
    justify-content: space-between;
    bottom: 0;
}

.bottom-bar .card.rm-logo .card-body{
    width: 232px;
}

.bottom-bar #donation_counter{
    width: 327px;
}

.card.rm-logo .card-body, .bottom-bar #donation_counter{
    background-color: #280642;
}

#rm-logo-template, .card.rm-logo {
    display: contents;
}

.rm-logo img {
    width: auto;
    height: 3.25em;
    margin-right: 0.25em;
}

#donation_counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px
}

#donation_counter{
    position: relative;
    overflow: hidden;
    --progress-scale: scaleX(0);
    isolation: isolate;
  }

  #donation_counter:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--pink);
    transform: var(--progress-scale);
    transform-origin: left;
    transition: transform .5s;
    z-index: -1;
  }

  .loadscreen #donation_counter:after{
    height: 100%;
    background-color: rgb(172 0 130 / 25%);
  }

/* Menu */
  .pause-animations #player_time, .pause-animations tr-timer[running="true"]:after{
    animation-play-state: paused;
  }

.menu-contain {
    display: grid;
    grid-template-areas:
    "game     game    icons    timer   layout layout"
    "game     game    upnext   timer   layout layout"
    "pronouns players freetext team    view   reset"
    "prefill  prefill other    credits       .      .";
}

.menu-game-specific #menu_fill{grid-area: prefill;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-game-specific #menu_game{grid-area: game;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}
.menu-game-specific #menu_up_next{grid-area: upnext;}
.menu-game-specific #menu_icons{grid-area: icons;}
.menu-game-specific #menu_free_text{grid-area: freetext;}
.menu-game-specific #menu_players_extra{grid-area: pronouns;}
.menu-game-specific #menu_other{grid-area: other;}
.menu-game-specific #menu_credits{grid-area: credits;}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}