*{
  box-sizing: border-box;
}

html{
  --orange: #ea9e22;
  --purple: #f478fc;
  --green: #4ddc48;
  --white: #f8f8f8;
}

body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #000;
  min-height: 720px;
}

#contain{
  display:flex;
}


header{
  padding: .25em 1em;
}

h1{
  font-variant: small-caps;
}

aside{
  flex: 1;
  color: #bcbcbc;
  background-color: #111;
  min-height: 720px;
}

aside > *{  
  padding: .5em 1em;
}


aside div:nth-of-type(odd){  
  background-color: #000;
  border: double #111;
  border-width: 6px 0;
}

aside h1{
  margin-bottom: .2em;
}

aside h3{
  margin-top: 0em;
}

aside ul li{
  list-style-image: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 4 7' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M.5,0v7M1.5,1v5M2.5,2v3M3.5,3v1' stroke='%23bcbcbc'/></svg>");
  margin-bottom: 1em;
}

aside h1, aside h2, aside h3{
  text-align: center;
}

aside h4{
  font-variant: small-caps;
  font-size: 1.2em;
}

aside a{
  color: var(--orange);
  text-decoration: none;
  position: relative;
}

aside a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s;
}

aside a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

article{
  animation: turn-on 2s linear;
  min-height: 720px;
  color: #fff;
  position: relative;
  overflow: hidden;
  --calendar-fallback: linear-gradient(#000 0 33.3%, #111 0 66.6%, #010 0 100%), 
  linear-gradient(90deg, #000 0 16.6%, #210308 0 33.3%, #232607 0 50%, #000 0 66.6%, #2e271f 0 83.3%, #212e10 0 100%);
  background-image: var(--calendar-fallback);
  background-size: 640px 360px;
  background-blend-mode: screen;
}

@supports not (background: image-set(url("") type("")) ){
  .notavif article{
    background-image: url('../shared/images/rm-generic-half.png'), var(--calendar-fallback);
    background-blend-mode: normal, screen;}
  .avif article{
    background-image: url('../shared/images/rm-generic-half.avif'), var(--calendar-fallback);
    background-blend-mode: normal, screen;}
}

@supports (background: image-set(url("") type("")) ){
  article{
    background-image: image-set(
      url('../shared/images/rm-generic-half.avif') type("image/avif"),
      url('../shared/images/rm-generic-half.png') type("image/png")
    ), var(--calendar-fallback);
    background-blend-mode: normal, screen;
  }
}

@keyframes turn-on{
  0%{opacity:0;}
  100%{opacity:1;}
}

article:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events:none;
}

article:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 16, 16, 0.1);
  pointer-events: none;
}


article{
  flex: 4;
  padding: 24px;
  overflow: auto;
}


label{
  color: silver; 
}

input{
  padding: 3px;
}

#filter{
  margin-bottom:1em;
}

.games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 24px;

  transition: height .5s;
}

[data-console="nes"]{
  clip-path: polygon(0 0, 100% 0, 100% 80%, 90% 80%, 90% 100%, 10% 100%, 10% 80%, 0 80%);
  background: 
    repeating-linear-gradient(var(--back-sec) 0 2%, transparent 2% 4%) no-repeat 15% 0 / 23% 95%,
    linear-gradient(var(--back-sec), var(--back-sec)) no-repeat 75% 0 / 50% 71%;
}

[data-console="snes"]{
  clip-path: polygon(0 0, 95% 0, 95% 15%, 100% 15%, 100% 85%, 95% 85%, 95% 100%, 0 100%);
  background: 
  repeating-linear-gradient(to right, transparent 0 10%, var(--back-sec) 10% 12%) no-repeat 0 0 / 100% 15%,
  repeating-linear-gradient(to right, transparent 0 10%, var(--back-sec) 10% 12%) no-repeat 0 100% / 100% 15%,
  linear-gradient(to right, var(--back-sec) 0 45%, transparent 45% 55%, var(--back-sec) 55% 100%) no-repeat 50% 50% / 100% 65%;
}

[data-console="gb"]{
  clip-path: polygon(0 0, 90% 0, 90% 5%, 100% 5%, 100% 100%, 0 100%);
  background:
  repeating-linear-gradient(var(--back-sec) 0 10%, transparent 10% 20%) no-repeat 0 10% / 100% 15%,
    linear-gradient(var(--back-sec), var(--back-sec)) no-repeat 50% 75% / 75% 60%;
}

[data-console="gba"]{
  clip-path: polygon(0 5%, 90% 5%, 90% 0, 100% 0, 100% 100%, 90% 100%, 90% 90%, 0 90%);
  background:
    linear-gradient(var(--back-sec), var(--back-sec)) no-repeat 50% 50% / 80% 80%;
}

[data-console="n64"]{
  background: 
    radial-gradient(circle at left center, var(--back-sec) 40%, transparent 40%);
}

[data-console="gc"]{
  background: 
    radial-gradient(circle at center, transparent 0 10%, var(--back-sec) 10% 40%, transparent 40%);
}

[data-console="ds"]{
  background:
    linear-gradient(45deg, transparent 8%, var(--back-sec) 0) no-repeat 50% 30% / 80% 80%;
}

.games > div{
  color: #fff;
  flex: 142px 0 1;
  height: 157px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;
  position: relative;
  --back-sec: rgba(0,0,0,.25);
  background-color: #282828;
}

.games h3{
  font-variant: small-caps;
  font-size: 1.1em;
  text-align: center;
  margin: .5em 0;
}

.link-grid{
  width: 100%;
  height: 100%; 
  text-align: center; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}
.games a{
  text-align: center;
}
.games a:hover{
  color: var(--orange);
  cursor: pointer;
}

.games .hide{
  display: none;
}

.test, .new{
  position: relative;
}

.test:after, .new:after{
  content: 'TEST';
  position: absolute;
  top: 10px;
  right: -40px;
  text-shadow: none;
  font-weight: bold;
  color: #000;
  background-color: var(--orange);
  transform: rotate(45deg);
  width: 8em;
  text-align: center;
}
.new:after{
  content: 'NEW!';
}