*{
  box-sizing: border-box;
}

html{
  --orange: #ea9e22;
  --purple: #f478fc;
  --green: #4ddc48;
  --white: #f8f8f8;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: white;
  background-color: #000;
  min-height: 720px
}

#contain{
  display:flex;
}


header{
  padding: .25em 1em;
}

h1{
  letter-spacing: 2px;
}

aside{
  flex: 1;
  color: #bcbcbc;
  background-color: #111;
  min-height: 720px;
}

aside > *{  
  padding: .5em 1em;
}


aside div:nth-of-type(odd){  
  background-color: #000;
  border: double #111;
  border-width: 6px 0;
}

aside h1{
  margin-bottom: .2em;
}

aside h3{
  margin-top: 0em;
}

aside ul li{
  list-style-image: url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 4 7' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M.5,0v7M1.5,1v5M2.5,2v3M3.5,3v1' stroke='%23bcbcbc'/></svg>");
  margin-bottom: 1em;
}

aside h1, aside h2, aside h3{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
aside h4{
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}

aside a{
  color: var(--orange);
  text-decoration: none;
  position: relative;
}

aside a:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .2s;
}

aside a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

article{
  animation: turn-on 2s linear;
  min-height: 720px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

@supports not (background-image:paint(fallbackImage)) {
    .notavif article{background: url('../shared/images/rm-generic-half.png');}
    .avif article{background: url('../shared/images/rm-generic-half.avif');}
}
@supports (background-image:paint(fallbackImage)) {
    .notavif article{background: url('../shared/images/rm-generic-half.png'), paint(fallbackImage) 0 0 / 640px 360px;}
    .avif article{background: url('../shared/images/rm-generic-half.avif'), paint(fallbackImage) 0 0 / 640px 360px;}
}

@keyframes turn-on{
  0%{opacity:0;}
  100%{opacity:1;}
}

article:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: 
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events:none;
}

article:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 16, 16, 0.1);
  pointer-events: none;
}


article{
  flex: 4;
  padding: 24px;
  overflow: auto;
}

article h1{
  font-family: 'Orbitron', sans-serif;
}

label{
  color: silver; 
}

input{
  padding: 3px;
}

#filter{
  margin-bottom:1em;
}

.games {
  display: flex;
  flex-wrap: wrap;
  transition: height .5s;
}

.games > div{
  margin-right: 20px;
  margin-bottom: 24px;
  background-color: rgba(34,34,34,.7);
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  flex: 142px 0 1;
  height: 157px;
  border: 10.5px solid #111;
  border-image: linear-gradient( to bottom right, #333, #111) 13;
  border-image: url('atari-cart.jpg') 13 10.5 10.5 10.5 / 13px 10.5px 10.5px 10.5px;
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto;

}

.games h3{
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin: .5em 0;
}

.link-grid{
  width: 100%;
  height: 100%; 
  text-align: center; 
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
}
.games a{
  text-align: center; 
}
.games a:hover{
  color: var(--orange);
  cursor: pointer;
}

.games .hide{
  display: none;
}

.test, .new{
  position: relative;
}

.test:after, .new:after{
  content: 'TEST';
  position: absolute;
  top: 10px;
  right: -40px;
  text-shadow: none;
  font-weight: bold;
  color: #000;
  background-color: var(--orange);
  transform: rotate(45deg);
  width: 8em;
  text-align: center;
}
.new:after{
  content: 'NEW!';
}