* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

:root{
    --border1: 2px solid rgba(255,255,255,.8);
    --backgroundColor1: rgba(0,0,0,.75);
    --backgroundColor2: rgba(0,0,0,1);
    --vidWidth: 438px;
    --vidAspect: 4 / 3;
    --videoX: -2px; --videoY: -2px;
    --nameWidth: 257px;
    --nameX: 436px; --nameY1: -2px; --nameY2: 276px;
    --gridX: 438px; --gridY: 50px; --gridY2: 85px;
    --speakerX1: 722px; --speakerX2: 439px; --speakerY1: 4px; --speakerY2: 284px;
    --finalX: 579px; --finalY: 40px; --finalY2: 252px;
    --vsX: 50%; --vsY: 150px;
    --winX: 459px; --winY1: 38px; --winY2: 242px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.background-2{background-color: var(--backgroundColor2);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}

.map-background{background-color: #002781;}
.notavif.notwebp .map-background{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/alefgard_crop_test.png');
}
.notavif.webp .map-background{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/alefgard_crop_test.webp');
}
.avif .map-background{
    background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('images/alefgard_crop_test.avif');
}

.abs{position: absolute;}

html{
    background-color: #c7c7c7;
    line-height: 1.1;
}

/* layout specific styles */
@font-face {
    font-family: "Warrior Quest I and II";
    src: 
        local('Warrior Quest I and II'),
        url("fonts/warrior_quest_i_and_ii.woff2") format("woff2"),
        url("fonts/warrior_quest_i_and_ii.woff") format("woff"),
        url("fonts/Warrior Quest I and II.ttf") format("truetype");
}

.layout{
    font-family: "Warrior Quest I and II";
    width: 1280px;
    height: 720px;
    color:#fff;
    position: relative;
    overflow: hidden;
}

.full-layout{
    position: absolute;
    left: 0;
    top: 0; 
    width: 1280px;
    height: 720px;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.weekly-background{background-image: url('images/video-background/dwr-weekly.png');}
.tourney-background{background-image: url('images/video-background/layout_2020.png');}
.chaos-background{background-image: url('images/video-background/dwr-chaos.png');}

.league-background{background-image: url('images/video-background/DWR2021.png');}
[player="2"] .league-background,
[player="3"] .league-background{
    background-image: url('images/video-background/winter_league.png');
    background-size: contain;
}

.player-info{
    height: 50px;
    align-items: center;
    width: 325px;
    border: solid 1px rgba(255,255,255,.8);
    border-image: linear-gradient(145deg, rgba(255,255,255,.8), rgba(255,255,255,.0)) 1;
    padding: 9px;
    display: grid;
    grid-template-columns: min-content auto;
    z-index: 3;
}

.player-rank{
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    align-self: center;
    padding-right: 9px;
}

.player-rank:empty{
    display:none;
}

.player-info-right{
    grid-column-start: 2;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 262px;
}

.player-info-right tr-text:not(:first-child){
    margin-right: .5em;
}

.player-name-contain{
    width: var(--nameWidth);
    grid-area: 1 / 2;
    flex: 100%;
}

.player-name-contain .player-name{
    width: var(--nameWidth);
    letter-spacing: 1px;
}

.player-pronoun:empty, .player-record:empty{
    display: none;
}

.player-pronoun, .player-record, .player-cod{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: .9em;
    opacity: .9;
}

.pronoun:empty{
    display: none;
}

.player-cod{
    color: #f88019;
    text-transform: capitalize;
    font-variant: small-caps;
}

.player-cod:before{ 
    content: 'deaths: ';
}

.player-cod:empty{
    display: none;
}

.pronoun-input input {
    width: 5em;
    resize: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 4px;
    padding: 2px 4px;
    font-size: 8px;
    box-shadow: 2px 0 2px -3px #fff, -2px 0 2px -3px #fff;
    width: min-content;
    z-index: -1;
}

[player="2"] .player-grid, [player="4"] .player-grid{
    justify-self: end;
}

img[src*="weapon"],
img[src*="armor"],
img[src*="shield"],
img[src*="scale"],
img[src*="necklace"],
[property="stones"] img,
[property="token"] img{
    transform: scale(1.2);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.player-grid img{
    width: 32px;
    height: 32px;
}

.player-grid tr-toggle-class, img.in-active{
    filter: grayscale(1);
}
.player-grid tr-toggle-class.active{
    filter: grayscale(0);
}
.player-grid tr-label{
    z-index: 1;
}

tr-image, figure{position: relative;}
tr-label, .layout figcaption{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.stat-bottom {
    animation: stat-warning 2s steps(2) infinite;
}
@keyframes stat-warning {
    from{ color:#f88019;}
    to{color:#d01000;}
}
.stat-low {color: #d01000;}
.stat-caution {color: #f88019;}
.stat-gg {color: #28c021;}

.build:after{
	content: '+';
}

.spells{
    font-size: 13px;
    line-height: 1;
    padding: 4px 8px;
    user-select: none;
    display: grid;
    align-items: center;
    box-shadow: 2px 0 2px -3px #fff, -2px 0 2px -3px #fff;
    z-index: 2; /* To show above league flags */
}

[property="repel"].spell-highlight{
    position: relative;
    opacity: 1;
}

tr-toggle-class[property="repel"].spell-highlight:after{
    content: 'REPEL∞';
    position: absolute;
    right: -.7em;
    top: 0em;
    font-size: inherit;
    font-weight: bold;
    color: #f88019;
}

[property="hurt+"]{
    position: relative;
}

[property="hurt+"].active:after{
content: '';
bottom: -5px;
left: -30px;
width: calc(270px / 9);
height: 44px;
position: absolute;
background-image: url('images/fireball-frames.png');
background-position: 0 0;
animation: fireball 1s steps(9);
transform: scale(5);
image-rendering: -moz-crisp-edges;
image-rendering: pixelated;
transform-origin: 50% 100%;
pointer-events: none;
}

@keyframes fireball {
from{background-position: 0 0;}
to{background-position: -270px 0;}
}

.layout .player-grid, .layout .stats-and-spells{
    grid-area: 1/1;
}

.layout .stats-and-spells{
    display: flex;
    z-index: -1;
}

.layout .z-show{
    z-index: 2;
}

.player-panels-contain{
    height: 191px;
    display: grid;
}

.player-panels-contain > *{
    height: 100%;
}

.stats {
    font-size: 13px;
    margin-right: 2px;
    box-shadow: 2px 0 2px -3px #fff, -2px 0 2px -3px #fff;
    z-index: 2; /* To show above league flags */
}
.stats table{height: 100%; margin: 0 auto;}
.stats table td{padding: .25em;}
.stats table td:nth-of-type(2){
    text-align: right;
    width: 3em;
}

.player-speaker{
    position: absolute;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    animation: dw-panel-appear .1s;
    transform-origin: 50% 0;
    opacity: .3;
    z-index: 3;
}

.player-final{
    position: absolute;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #f88019;
    border-color: #f88019;
    z-index: 3;
}

.player-final:empty{
    display:none;
}

.player-speaker > img{
    width: 48px;
    height: 48px;
}

.player-winner{
    color: #fc9838;
    background-color: rgba(0,0,0,.5);
    width: max-content;
    border: double 8px;
    border-image: url('images/winner-border-small.png') repeat 8 / 8px;
    border-image: paint(dq9Stamp) 8 / 8px;
    --border-color: #fc9838;
    padding: 7px 8px 3px;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    z-index: 3;
}

.player-winner:after{
    content: 'WIN!';
    position: absolute;
    left: -8px;
    top: -8px;
    color: #d01000;
    border: inherit;
    border-image: inherit;
    --border-color: #d01000;
    padding: inherit;
    z-index: 2;
    animation: pulse 1s 8 alternate linear forwards;
}

[player="1"] .player-winner, [player="3"] .player-winner{
    transform: rotate(-6deg);
}
[player="2"] .player-winner, [player="4"] .player-winner{
    transform: rotate(6deg);
}

@keyframes pulse{
    from{opacity: 0;}
    to{opacity: 1;}
}

tr-timer{
	width: 11em;
    height: 53px;
    z-index: 1;
	font-size: 24px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 18px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 390px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

    .coordinates-contain{
        padding: .75rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: .75rem;
        align-items: center;
        font-size: 19px;
    }
    
    .coordinates-contain img{
        height: 32px;
        width: auto;
    }


    [property="over_world_item"]{
        display: inline;
        vertical-align: middle;
    }

    .layout [property="over_world_item"] img[src*="token"]{transform: scale(1.5);}
    .layout [property="over_world_item"] img[src*="flute"]{transform: scale(1.3);}
    .layout [property="over_world_item"] img[src*="erdrick"]{transform: scale(1.5);}
        
    .coordinates input{
        width: 8em;
    }    
    @keyframes coord-top-down{
        from{transform:scaleY(0) translate(-50%,-50%); transform-origin: 50% 0;}
        to{transform:scaleY(1) translate(-50%,-50%); transform-origin: 50% 0;}
    }


    .vs{
    font-size: 24px;
    transform: translateX(-50%);
}

.load-top-down{
    animation: top-down .1s;
    transform-origin: 50% 0;
}

@keyframes top-down{
	from{transform:scaleY(0);}
	to{transform:scaleY(1);}
}

.monster-contain{
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

    .monster_stats{
        z-index: 50;
        font-family: "Warrior Quest I and II", sans-serif;
        font-size: 1em;
        position: absolute;
        padding: 2em 1em 1em;
        background-color: #000;
        color: #fff;
        border: 2px solid;
        border-image: paint(dw1Border) 4 / 4px;
        -webkit-mask-image: url('images/monsters/dw-spiral.png');
        mask-image: url('images/monsters/dw-spiral.png');
        -webkit-mask-size: calc(286px * 27) 474.19px;
        mask-size: calc(286px * 27) 474.19px;
        animation: mask .5s steps(26) forwards;
        transform: translateX(-50%);
      }
      
      @keyframes mask {
        to{ 
            -webkit-mask-position: 100% 0;
            -webkit-mask-image: none;
        }
      }
      
      [property="monster_name"]{
        position: absolute;
        left: 20px;
        top: -3px;
        background-color: #000;
      }

      .monster-table{
        display: grid;
        grid-template-columns: 250px;
        grid-gap: 16px
    }
    
    [property="monster_image"]{
        grid-template-rows: auto;
        align-items: center;
    }
    [property="monster_image"] img{
        width: auto;
        height: 81px;
    }
    
    #menu_other .menu-monster-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        padding: 8px;
        grid-gap: 8px;
        border-top: dotted 1px rgba(255,255,255,.2);
    }
    .menu-monster-wrapper div{
        display: flex;
        justify-content: space-between;
    }
    .monster-table-stats, .monster-table-resist{
        margin: auto;
        width: 72%;
    }
    
    .monster-table td{padding: 0;}
    .monster-table td:nth-of-type(2){text-align: right;}
    .out-of-16{font-size: .8em;}
    .monster-table .monster-table-heading {
        text-align: center;
        text-decoration: underline;
        padding-bottom: .5em;}
    
    .monster-table-spoils, .monster-table-ai{ font-size: .9em; text-align: center;}

    .monster-table-ai .heading { text-decoration: underline; margin-bottom: .5em;}
    
    img[src="images/monsters/true-dragonlord.png"]{
        transform: scale(2.8) rotateY(180deg) translate(-1px, 11px);
    }
    
    img[src="images/monsters/demon-knight.png"]{
        filter: drop-shadow(0 0 4px orange);
    }

    .league {
        padding: 1em;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border: none;
        background-color: rgba(0,0,0,.75);
        bottom: 23%;
        left: 50%;
        max-width: 175px;
        transform: translate(-50%, 50%);
        z-index: -1; /* To show below stats/spells */
    }
    
    .layout [property="week-6"], .layout [property="week-7"]{
        filter: hue-rotate(180deg);
    }
    
    .layout [property="week-8-1"], .layout [property="week-8-2"]{
        filter: grayscale(1);
    }

    .league h4{
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: .5em;
    }
    
    .league ul{
        font-size: 14px;
        padding-left: 14px;
        list-style: none;
    }
    
    .league li{
        margin-bottom: 4px;
        position: relative;
    }
    
    .league li:before{
        content: '';
        position: absolute;
        left: -21px;
        top: -2px;
        height: 16px;
        width: 16px;
        background-image: url(images/monsters/slime.png);
        background-size: 16px;
    }
    
    @keyframes from-top {
        from { transform: scaleY(0);}
        to { transform: scaleY(1);}
    }
    
    #menu_layout #menu_overlays_contain{
        display: block;
    }

    #menu_overlays_contain h4{
        font-weight: normal;
        margin-bottom: 1em;
    }
    
    #menu_overlays_contain div{
        margin-bottom: .75em;
    }
    
    .menu-button-row .layout-buttons{
        display: flex;
        text-align: center;
    }
    .menu-button-row label:hover{
        cursor: pointer;
    }
    
    .menu-button-row h4{
        margin-bottom: 8px;
    }

    .menu-button-row label.panel-playing:after{
        content: '';
        background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.5));
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        animation: panel-timer linear 30s;
        z-index: -1;
    }

    @keyframes panel-timer{
        from{transform: translateX(-100%);}
        to{transform: translateX(0);}
    }

    .items-button.show-grid, 
    .stats-spells-button.show-flex,
    .menu-button-row label.z-show{
        background-color: #f8b800;
        color: #000;
        font-weight: bold;
        justify-content: center;
    }
    
    .menu-label-input{
        display: flex;
        justify-content: space-between; 
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none,
#tracker_contain.display-none,
#restreamer_contain.display-none,
#commentator_contain.display-none{ display: none; }

.show, .layout .show{ display: block; }
.show-flex{ display: flex; }
.show-grid, .layout .show-grid{ display: grid; }

#menu_players td{
    text-align: center;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

.menu-contain{
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
        "players   players-2 players-2     timer   commands commands"
        "players   players-2 players-2     team    commands commands"
        "playlist  monsters  settings-game team    commands commands"
        "playlist  dwr       layout        credits view     reset"
        "playlist  league    league        credits view     reset"
    }

#menu_players_extra{grid-area: players-2;}
#menu_other{grid-area: dwr;}
#menu_playlist {grid-area: playlist;}
#menu_credits {grid-area: credits;}
#menu_settings_extra {grid-area: settings-game;}
#menu_league {grid-area: league;
    flex-direction: row;
    justify-content: space-between;}
#menu_view_game {
    grid-area: 4/5/span 2; background-color: #000; z-index: 3; justify-content: space-around;}
#menu_view_game button {
        width: 8em;
    }

#menu_monsters {grid-area: monsters;}

#menu_bot{
    width: 400px; grid-area: commands;
}
#menu_bot a{
    color: #f8b800;
    background-color: #000;
    position: absolute;
    top: -10px;
    padding: 0 .25em;
}
#menu_bot a.more-info {
    right: 15px;
}
#menu_bot a.randroid {
    right: 120px;
    color: #f8b800;
}

#menu_bot [title]:hover {
    color: #000;
    background-color: #f8b800;
}
#menu_layout_bot{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-flags-wrapper{
    display: flex;
}
.highlight{
    background-color: #f8b800;
    color: #000;
}

.rank-input input {width: 3em;} 
.record-input input {width: 4em;}

#start_auto_play_panels, #stop_auto_play_panels{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.3));
    border: rgba(255,255,255,.75) 1px solid;
    width: 29px;
    height: 25px;
    border-radius: 3px;
}

#stop_auto_play_panels{
    background-image: none;
}

.visible{
    visibility: visible;
}