* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

:root{
    --vidWidth: 438px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 4 / 3;

    --border1: var(--border) solid rgba(255,255,255,.8);
    --backgroundColor1: #000;
    --backgroundColor2: rgba(0,0,0,1);

    --videoX: -2px; --videoY: -2px;
    --nameWidth: 257px;
    --nameX: 436px; --nameY1: -2px; --nameY2: 276px;
    --gridX: 436px; --gridY: 46px; --gridY2: 59px;
    --speakerX1: 722px; --speakerX2: 439px; --speakerY1: 4px; --speakerY2: 284px;
    --finalX: 579px; --finalY: 40px; --finalY2: 252px;
    --vsX: 50%; --vsY: 150px;
    --winX: 459px; --winY1: 38px; --winY2: 242px;
    --teamX: 0; --teamY: 328px;

    --team-1-background-color: #000;
    --border: 2px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}
.background-2{background-color: var(--backgroundColor2);}
.border-background-1 {
    border: var(--border1);
    background-color: var(--backgroundColor1);
}

.map-background{background-color: #002899;}

.notavif .map-background{
    background-image: url('images/alefgard_crop_dark.png');
}
.avif .map-background{
    background-image: url('images/alefgard_crop_dark.avif');
}

.abs{position: absolute;}

html{
    line-height: 1.1;
}

/* layout specific styles */
@font-face {
    font-family: "Warrior Quest I and II";
    src: 
        local('Warrior Quest I and II'),
        url("fonts/warrior_quest_i_and_ii.woff2") format("woff2"),
        url("fonts/warrior_quest_i_and_ii.woff") format("woff"),
        url("fonts/Warrior Quest I and II.ttf") format("truetype");
}

@font-face {
    font-family: "Press Start 2P";
    src: 
        local('Press Start 2P'),
        url("../shared/fonts/pressstart2p.woff2") format("woff2"),
        url("../shared/fonts/pressstart2p.woff") format("woff"),
        url("../shared/fonts/PressStart2P.ttf") format("truetype");
}

.layout{
    font-family: "Warrior Quest I and II", "Press Start 2P";
    width: 1280px;
    height: 720px;
    color:#fff;
    position: relative;
    overflow: hidden;
}

.background-layer, .player-winner-final-contain{
    width: 1280px;
    height: 720px;
    left: 0;
    top: 0;
    font-family: "Warrior Quest I and II", "Press Start 2P";
}

.coop-background.layout{
    --backgroundColor1: #222526;
    --winX: 160px; --winY1: 338px; --winY2: 336px;
}

.coop-background.layout .player-winner{
    background-color: rgba(0,0,0,.5);
}

.layout.coop-background [player="1"],
.layout.coop-background [player="1"] .player-info,
.player-grids-contain.coop-background [player="1"] .player-grid,
.player-stats-contain.coop-background [player="1"] .stats,
.player-stats-contain.coop-background [player="1"] .spells,
.layout.coop-background [player="3"],
.layout.coop-background [player="3"] .player-info,
.player-grids-contain.coop-background [player="3"] .player-grid,
.player-stats-contain.coop-background [player="3"] .stats,
.player-stats-contain.coop-background [player="3"] .spells,
.layout.coop-background .player-team:nth-of-type(1){
    --backgroundColor1: #000;
 }

 .layout.coop-background [player="2"],
 .layout.coop-background [player="2"] .player-info,
 .player-grids-contain.coop-background [player="2"] .player-grid,
 .player-stats-contain.coop-background [player="2"] .stats,
 .player-stats-contain.coop-background [player="2"] .spells,
 .layout.coop-background [player="4"],
 .layout.coop-background [player="4"] .player-info,
 .player-grids-contain.coop-background [player="4"] .player-grid,
 .player-stats-contain.coop-background [player="4"] .stats,
 .player-stats-contain.coop-background [player="4"] .spells,
 .layout.coop-background .player-team:nth-of-type(2){
    --backgroundColor1: #001f8c;
    background-image: conic-gradient(#0000 270deg, #000 0);
    background-size: 2px 2px;
}

.layout.coop-background tr-timer{
    position: relative;
    background-image: 
        conic-gradient(#0000 270deg, #000 0), 
        linear-gradient(90deg, #000 33%, #001f8c 66%);
        background-size: 2px 2px, auto;
}

.coop-background tr-timer:after{
    content: 'Co-op';
    position: absolute;
    width: 5em;
    height: 1em;
    right: 3.5em;
    top: -5px;
    font-size: .8em;
}

.full-layout{
    position: absolute;
    left: 0;
    top: 0; 
    width: 1280px;
    height: 720px;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color .5s;
}

.background-layer.transparent-background{
    --red: linear-gradient(#000,#000);
    -webkit-mask:
        var(--red) left / var(--clipX1),
        var(--red) center / calc(100% - var(--clipX2) * 2),
        var(--red) right / var(--clipX1),
        var(--red) top / 100% var(--clipY1),
        var(--red) center / 100% calc(100% - var(--clipY2) * 2),
        var(--red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
}

.hide-p4 .background-layer.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1),
        /* cover "4p" */
        linear-gradient(red,red) bottom var(--videoY) right var(--videoX) / var(--vidWidth) var(--vidHeight);
    -webkit-mask-repeat: no-repeat
}

.player-video.weekly-background{background-image: url('images/video-background/dwr-weekly.png');}

.player-video.tourney-background{
    background-image: url('images/video-background/summer_tourney.png');
    background-position: 0 0;
}
/* .player-video.tourney-background{
    background-image: 
        radial-gradient(#0000, #000),
        url('images/logo.png'), 
        url('images/video-background/aaron2u2.png');
    background-position: 0 0, top 43px center, -370px -309px;
    background-repeat: repeat, no-repeat, repeat;
    background-size: 100%, 80%;
} */

.player-video.tourney-background:after{
    content: '2024';
    font-size: 1.7em;
    position: absolute;
    left: 166px;
    bottom: 13px;
    color:#d6d6d6;
    --shadow-color: #040800;
    text-shadow: 1px 1px var(--shadow-color), -1px -1px var(--shadow-color), 1px 0 var(--shadow-color), 0 1px var(--shadow-color), -1px 0 var(--shadow-color), 0 -1px var(--shadow-color);
    filter: blur(0.2px);
}
.player-video.chaos-background{background-image: url('images/video-background/dwr-chaos.png');}
.player-video.coop-background{
    background-color: #292121;
    background-image: url('images/Bucket_brigade_with_bottle_and_portal.png');
    background-image: image-set(
        url("images/Bucket_brigade_with_bottle_and_portal.avif") type("image/avif"),
        url("images/Bucket_brigade_with_bottle_and_portal.png") type("image/png")
    );
    background-size: cover;
    background-position: center -30px;
}

/* .player-video.league-background{
    background-image: url(images/video-background/winter_league.png), radial-gradient(#0000, #000), url(images/Alefgard_in_Winter.png);
    background-size: contain;
    background-position: center top -16px, center, center;
} */

.player-video.league-background{
    background-image: linear-gradient(rgb(0 0 0 / .25), rgb(0 0 0 / .25)), url(images/video-background/DWR2024_Logo.png);
    background-size: cover;
}

.player-info{
    height: 50px;
    align-items: center;
    width: 325px;
    border: solid 1px rgb(0 0 0/.25);
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 25%);
    padding: 9px;
    display: grid;
    grid-template-columns: min-content auto;
    z-index: 3;
    background-image: url(images/dw9-noise.png);
    background-size: 512px auto;
    image-rendering: pixelated;
}

.player-rank{
    font-family: Arial, Helvetica, sans-serif;
    justify-self: center;
    align-self: center;
    padding-right: 9px;
}

.player-rank:empty{
    display:none;
}

.player-info-right{
    grid-column-start: 2;
    height: 100%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 262px;
}

.player-info-right tr-text:not(:first-child){
    margin-right: .5em;
}

.player-name-contain{
    width: var(--nameWidth);
    grid-area: 1 / 2;
    flex: 100%;
}

.player-name-contain .player-name{
    width: var(--nameWidth);
    letter-spacing: 1px;
}

.player-pronoun:empty, .player-record:empty{
    display: none;
}

.player-pronoun, .player-record, .player-dl2{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: .9em;
    opacity: .9;
}

.pronoun:empty{
    display: none;
}

.player-dl2{
    color: #f88019;
    text-transform: capitalize;
    font-variant: small-caps;
}

.player-dl2:before{ 
    content: 'Deaths: ';
}

.player-dl2:empty{
    display: none;
}

.pronoun-input input {
    width: 5em;
    resize: none;
}

.player-team{
    width: 257px;
    height: 65px;
    text-align: center;
    white-space: pre-line;
    display: none;
}

.coop-background .player-team{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coop-background .player-team:empty{
    display: none;
}

.coop-background .player-team > tr-text{
    white-space: initial;
}

.coop-background .staff{
    left: 250px;
    color: rgba(255,255,255,.9);
}

.coop-background .coordinates-contain{
    left: 69%;
    color: rgba(255,255,255,.9);
}

.coop-background tr-timer{
    background-color: #001018;
    border: solid 1px rgba(255,255,255,.5);
}

#menu_team_labels{
    display: none;
}

.coop-background #menu_team_labels{
    display: block;
}

[property="player-dl2"] input[type="number"]{
    width: 3.5rem;
}

/* .coop-background.player-grids-contain, .coop-background.player-stats-contain{
    z-index: 0;
}  */

/* .coop-background [player="3"] .player-grid, .coop-background [player="4"] .player-grid,
.coop-background [player="3"] .stats-and-spells, .coop-background [player="4"] .stats-and-spells{
    display: none;
}

.coop-background [player="1"] .stats-and-spells{
    top: 444px;
}

.coop-background [player="2"] .stats-and-spells{
    top: 470px;
} */

.player-team:nth-of-type(1){
    border-right: solid 1px #fff;
}

.player-team:nth-of-type(2){
    border-left: solid 1px #fff;
}

.team-input textarea{
    width: 172px;
    height: 3.1rem;
}

.player-grid{
    border: solid 1px rgb(0 0 0/ 25%);
    box-shadow: inset 0 0 0 1px rgb(255 255 255 / 25%);
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 4px;
    padding: 2px 4px;
    font-size: 8px;
    width: min-content;
    z-index: -1;
    --background-highlight: rgb(255 255 255/ .075);
    background:
        url(images/dw9-noise.png) 0 0 / 512px auto,
        radial-gradient(circle at 50% 21%, var(--background-highlight) 18.5%, #0000 0),
        linear-gradient(var(--background-highlight), var(--background-highlight)) no-repeat 50% 103px / 92px 27px,
        linear-gradient(var(--background-highlight), var(--background-highlight)) no-repeat 50% 152px / 92px 56px
        var(--backgroundColor1);
        image-rendering: pixelated;
}

[player="2"] .player-grid, [player="4"] .player-grid{
    justify-self: end;
}

img[src*="weapon"],
img[src*="armor"],
img[src*="shield"],
img[src*="scale"],
img[src*="necklace"],
[property="stones"] img,
[property="token"] img{
    transform: scale(1.2);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.player-grid img{
    width: 32px;
    height: 32px;
}

.player-grid tr-toggle-class, img.in-active{
    filter: grayscale(1);
}
.player-grid tr-toggle-class.active{
    filter: grayscale(0);
}
.player-grid tr-label{
    z-index: 1;
}

tr-image, figure{position: relative;}
.player-grids-contain .secondary-item tr-label, 
.tracker .secondary-item tr-label,
.player-grids-contain .secondary-item figcaption,
.tracker .secondary-item figcaption{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #000;
    pointer-events: none;
}

.secondary-item{
    display: block;
}

.stats-and-spells{
    display: flex;
    font-family: "Warrior Quest I and II", "Press Start 2P";
    color: #fff;
    height: 202px;
    pointer-events: none;
}

.stat-bottom {
    animation: stat-warning 2s steps(2) infinite;
}
@keyframes stat-warning {
    from{ color:#f88019;}
    to{color:#d01000;}
}
.stat-low {color: #d01000;}
.stat-caution {color: #f88019;}
.stat-gg {color: #28c021;}

.build:after{
	content: '+';
    font-family: Arial, Helvetica, sans-serif;
}

.spells{
    font-size: 13px;
    line-height: 1;
    padding: 4px 8px;
    user-select: none;
    display: grid;
    align-items: center;
    box-shadow: 2px 0 2px -3px #fff, -2px 0 2px -3px #fff;
    z-index: 2; /* To show above league flags */
}

[property="repel"].spell-highlight{
    position: relative;
    opacity: 1;
}

tr-toggle-class[property="repel"].spell-highlight:after{
    content: 'REPEL∞';
    position: absolute;
    right: -.7em;
    top: 0em;
    font-size: inherit;
    font-weight: bold;
    color: #f88019;
}

[property="hurt+"]{
    position: relative;
}

[property="hurt+"].active:after{
    content: '';
    bottom: -5px;
    left: -30px;
    width: calc(270px / 9);
    height: 44px;
    position: absolute;
    background-image: url('images/fireball-frames.png');
    background-position: 0 0;
    animation: fireball 1s steps(9);
    transform: scale(5);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    transform-origin: 50% 100%;
    pointer-events: none;
}

@keyframes fireball {
    from{background-position: 0 0;}
    to{background-position: -270px 0;}
}

.player-grids-contain, .player-stats-contain{
    top: 0; 
    left: 0;
    width: 1280px;
    height: 720px;
    z-index: -1;
}

.z-show{
    z-index: 2;
}

.player-panels-contain{
    height: 191px;
    display: grid;
}

.player-panels-contain > *{
    height: 100%;
}

.stats {
    font-size: 13px;
    margin-right: 2px;
    box-shadow: 2px 0 2px -3px #fff, -2px 0 2px -3px #fff;
    z-index: 2; /* To show above league flags */
}
.stats table{height: 100%; margin: 0 auto;}
.stats table td{padding: .25em;}
.stats table td:nth-of-type(2){
    text-align: right;
    width: 3em;
}

.player-speaker{
    position: absolute;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    animation: dw-panel-appear .1s;
    transform-origin: 50% 0;
    opacity: .3;
    z-index: 3;
}

.player-final{
    position: absolute;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #f88019;
    border: solid 1px;
    z-index: 3;
}

.player-final:empty{
    display:none;
}

.player-speaker > img{
    width: 48px;
    height: 48px;
}

.player-winner{
    color: #f88019;
    width: max-content;
    border: double 8px;
    border-image: url('images/winner-border-small.png') repeat 8 / 8px;
    border-image: paint(dq9Stamp) 8 / 8px;
    --border-color: #f88019;
    padding: 7px 8px 3px;
    font-size: 1.25em;
    font-style: italic;
    line-height: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    z-index: 3;
}

.player-winner:after{
    content: 'WIN!';
    position: absolute;
    left: -8px;
    top: -8px;
    color: #d01000;
    border: inherit;
    border-image: inherit;
    --border-color: #d01000;
    padding: inherit;
    z-index: 2;
    animation: pulse 1s 8 alternate linear forwards;
}

[player="1"] .player-winner, [player="3"] .player-winner{
    transform: rotate(-6deg);
}
[player="2"] .player-winner, [player="4"] .player-winner{
    transform: rotate(6deg);
}

@keyframes pulse{
    from{opacity: 0;}
    to{opacity: 1;}
}

tr-timer{
	width: 10em;
    height: 52px;
    z-index: 1;
	font-size: 20px;
}

tr-timer span {
    width: 26px;
    text-align: center;
}

.colon{
    bottom: -6px;
    position: relative;
}

.dot, .ms{
    display:none;
}

.production-team-swap{
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 18px;
    width: 420px;
    left: -2px; 
    top: 50%; 
    transform: translateY(-50%);
    height: 74px;
}

.coop-background .staff{
    width: 283px;
}

.commentators, .restreamers, .trackers{
    width: 390px;
}

.coop-background .commentators, .coop-background .restreamers, .coop-background .trackers {
    width: 230px;
}
    .coordinates-contain{
        padding: .75rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: .75rem;
        align-items: center;
        font-size: 19px;
        transform: translate(-50%,-50%); 
        top: 50%; 
        left: 83%;
    }
    
    .coordinates-contain img{
        height: 32px;
        width: auto;
    }


    [property="over_world_item"]{
        display: inline;
        vertical-align: middle;
    }

    .layout [property="over_world_item"] img[src*="token"]{transform: scale(1.5);}
    .layout [property="over_world_item"] img[src*="flute"]{transform: scale(1.3);}
    .layout [property="over_world_item"] img[src*="erdrick"]{transform: scale(1.5);}
        
    .coordinates input{
        width: 8em;
    }    
    @keyframes coord-top-down{
        from{transform:scaleY(0) translate(-50%,-50%); transform-origin: 50% 0;}
        to{transform:scaleY(1) translate(-50%,-50%); transform-origin: 50% 0;}
    }


    .vs{
    font-size: 24px;
    transform: translateX(-50%);
}

.load-top-down{
    animation: top-down .1s;
    transform-origin: 50% 0;
}

@keyframes top-down{
	from{transform:scaleY(0);}
	to{transform:scaleY(1);}
}

.monster-contain{
    width: 1280px;
    height: 720px;
    pointer-events: none;
}

    .monster_stats{
        z-index: 50;
        font-family: "Warrior Quest I and II", sans-serif;
        font-size: 1em;
        position: absolute;
        padding: 2em 1em 1em;
        background-color: #000;
        color: #fff;
        background-image: paint(dw1Border);
        -webkit-mask-image: url('images/monsters/dw-spiral.png');
        mask-image: url('images/monsters/dw-spiral.png');
        -webkit-mask-size: calc(286px * 27) 474.19px;
        mask-size: calc(286px * 27) 474.19px;
        animation: mask .5s steps(26) forwards;
        transform: translateX(-50%);
      }
      
      @keyframes mask {
        to{ 
            -webkit-mask-position: 100% 0;
            -webkit-mask-image: none;
        }
      }
      
      [property="monster_name"]{
        position: absolute;
        left: 20px;
        top: -3px;
        background-color: #000;
      }

      .monster-table{
        display: grid;
        grid-template-columns: 250px;
        grid-gap: 16px
    }
    
    [property="monster_image"]{
        grid-template-rows: auto;
        align-items: center;
    }
    [property="monster_image"] img{
        width: auto;
        height: 81px;
    }
    
    .monster-table-stats, .monster-table-resist{
        margin: auto;
        width: 72%;
    }
    
    .monster-table td{padding: 0;}
    .monster-table td:nth-of-type(2){text-align: right;}
    .out-of-16{font-size: .8em;}
    .monster-table .monster-table-heading {
        text-align: center;
        text-decoration: underline;
        padding-bottom: .5em;}
    
    .monster-table-spoils, .monster-table-ai{ font-size: .9em; text-align: center;}

    .monster-table-ai .heading { text-decoration: underline; margin-bottom: .5em;}
    
    [property="monster_image"] img{
        place-self: center;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
        background-repeat: no-repeat;
        display: block;
        transform: scale(2);
        margin: 16px;
      }
    
    .notwebp [property="monster_image"] img{background-image: url('images/monsters/monster-spritesheet.png');}
    .webp [property="monster_image"] img{background-image: url('images/monsters/monster-spritesheet.webp');}
    
    .dragon-blue img{
        width: 62px;
        height: 43px;
        background-position: 0 0;
      }
      
      .dragon-green img{
        width: 58px;
        height: 43px;
        background-position: -62px 0;
      }
      
      .dragon-red img{
        width: 63px;
        height: 43px;
        background-position: -120px 0;
      }
      
      .dragonlord-human img{
        width: 26px;
        height: 40px;
        background-position: -182px 0;
      }
      
      .dragonlord-true img{
        width: 76px;
        height: 94px;
        background-position: 0 -43px;
        transform: scale(2) rotateY(180deg);
      }
      
      .drakee img{
        width: 26px;
        height: 20px;
        background-position: -211px 0;
      }
      
      .drakee-magic img {
        width: 26px;
        height: 20px;
        background-position: -211px -20px;
      }
      
      .drakeema img{
        width: 26px;
        height: 20px;
        background-position: -182px -40px;
      }
      
      .droll img {
        width: 34px;
        height: 38px;
        background-position: -208px -40px;
      }
      
      .drollmagi img{
        width: 34px;
        height: 38px;
        background-position: -76px -78px;
      }
      
      .druin img{
        width: 38px;
        height: 31px;
        background-position: -110px -78px;
      }
      
      .druinlord img{
        width: 38px;
        height: 31px;
        background-position: -148px -78px;
      }
      
      .ghost img{
        width: 26px;
        height: 32px;
        background-position: -186px -78px;
      }
      
      .ghost-poltergeist img{
        width: 26px;
        height: 32px;
        background-position: -212px -78px;
      }
      
      .ghost-specter img{
        width: 26px;
        height: 32px;
        background-position: -110px -110px;
      }
      
      .knight img {
        width: 47px;
        height: 46px;
        background-position: -136px -110px;
      }
      
      .knight-armored img{
        width: 51px;
        height: 52px;
        background-position: -183px -110px;
      }
      
      .knight-axe img{
        width: 49px;
        height: 52px;
        background-position: 0 -162px;
      }
      
      .magician img {
        width: 33px;
        height: 33px;
        background-position: -49px -162px;
      }
      
      .magician-warlock img{
        width: 34px;
        height: 37px;
        background-position: -82px -162px;
      }
      
      .magician-wizard img{
        width: 34px;
        height: 37px;
        background-position: -116px -162px;
      }
      
      .man-gold img{
        width: 50px;
        height: 49px;
        background-position: -150px -162px;
      }
      
      .man-golem img{
        width: 49px;
        height: 49px;
        background-position: -200px -162px;
      }
      
      .man-stone img{
        width: 49px;
        height: 49px;
        background-position: -242px 0;
      }
      
      .scorpion img{
        width: 40px;
        height: 33px;
        background-position: -242px -49px;
      }
      
      .scorpion-metal img{
        width: 40px;
        height: 33px;
        background-position: -238px -82px;
      }
      
      .scorpion-rogue img{
        width: 40px;
        height: 33px;
        background-position: -234px -115px;
      }
      
      .skeleton img{
        width: 34px;
        height: 46px;
        background-position: -249px -148px;
      }
      
      .skeleton-demon-knight img{
        width: 34px;
        height: 47px;
        background-position: -249px -194px;
        filter: drop-shadow(0 0 4px orange);
      }
      
      .skeleton-wraith img{
        width: 34px;
        height: 46px;
        background-position: 0 -241px;
      }
      
      .skeleton-wraith-knight img{
        width: 34px;
        height: 46px;
        background-position: -34px -241px;
      }
      
      .slime img{
        width: 17px;
        height: 18px;
        background-position: -76px -49px;
      }
      
      .slime-metal img{
        width: 17px;
        height: 18px;
        background-position: -93px -49px;
      }
      
      .slime-red img {
        width: 17px;
        height: 18px;
        background-position: -110px -49px;
      }
      
      .wolf img{
        width: 46px;
        height: 41px;
        background-position: -68px -241px;
      }
      
      .wolf-were img{
        width: 46px;
        height: 41px;
        background-position: -114px -241px;
      }
      
      .wolflord img{
        width: 46px;
        height: 41px;
        background-position: -160px -241px;
      }
      
      .wyvern img{
        width: 39px;
        height: 36px;
        background-position: -206px -241px;
      }
      
      .wyvern-magi img{
        width: 39px;
        height: 36px;
        background-position: -245px -241px;
      }
      
      .wyvern-star img{
        width: 39px;
        height: 36px;
        background-position: -291px 0;
      }

    .league {
        padding: 1em 1em .25em;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        border: none;
        background-color: rgba(0,0,0,.75);
        bottom: 22%;
        left: 50%;
        max-width: 175px;
        transform: translate(-50%, 50%);
        z-index: -1; /* To show below stats/spells */
    }
    .league.z-show{
        z-index: 2;
    }

    .league h2{
        font-variant: small-caps;
        padding: .1em .5em;
        width: max-content;
        font-size: 1.1em;
        font-weight: bold;
        background-image: linear-gradient(#fc9838, #f88019);
        transform: translatex(-50%);
        position: absolute;
        margin: 0;
        top: -12px;
        left: 50%;
        color: #000;
        clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    }

    .layout [property="week-6"] li, .layout [property="week-7"] li{
        filter: hue-rotate(180deg);
    }
    
    .layout [property="week-8-1"] li, .layout [property="week-8-2"] li{
        filter: grayscale(1);
    }

    .league h4{
        font-variant: small-caps;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: .5em;
    }
    
    .league ul{
        font-size: 14px;
        padding-left: 14px;
        list-style: none;
    }
    
    .league li{
        margin-bottom: 4px;
        position: relative;
    }
    
    .league li:before{
        content: '';
        position: absolute;
        left: -21px;
        top: -2px;
        height: 16px;
        width: 16px;
        background-image: url(images/monsters/slime.png);
        background-size: 16px;
    }
    
    @keyframes from-top {
        from { transform: scaleY(0);}
        to { transform: scaleY(1);}
    }
    
    #menu_layout #menu_overlays_contain{
        display: block;
    }

    #menu_overlays_contain h4{
        font-weight: normal;
        margin-bottom: 1em;
    }
    
    #menu_overlays_contain div{
        margin-bottom: .75em;
    }
    
    .menu-button-row .layout-buttons{
        display: flex;
        text-align: center;
    }
    .menu-button-row label:hover{
        cursor: pointer;
    }
    
    .menu-button-row h4{
        margin-bottom: 8px;
    }

    .menu-button-row label.panel-playing{
        position: relative;
        overflow: hidden;
    }

    .menu-button-row label.panel-playing:after{
        content: '';
        background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.5));
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        animation: panel-timer linear 30s;
        z-index: -1;
        transform: translateX(-100%);
    }

    @keyframes panel-timer{
        to{transform: translateX(0);}
    }

    .items-button.show-grid, 
    .stats-spells-button.show-flex,
    .menu-button-row label.z-show{
        background-color: #f8b800;
        color: #000;
        font-weight: bold;
        justify-content: center;
    }
    
    .menu-label-input{
        display: flex;
        justify-content: space-between; 
    }

    .coop-background .name-input:after, .coop-background .rank-input:after{
        position: absolute;
        left: 1em;
        background-color: #000;
    }
    .coop-background [player="1"].name-input:after,
    .coop-background [player="1"].rank-input:after{
        content: '1:1';
    }
    .coop-background [player="2"].name-input:after,
    .coop-background [player="2"].rank-input:after{
        content: '2:1';
    }
    .coop-background [player="3"].name-input:after,
    .coop-background [player="3"].rank-input:after{
        content: '1:2';
    }
    .coop-background [player="4"].name-input:after,
    .coop-background [player="4"].rank-input:after{
        content: '2:2';
    }
    .coop-background #menu_player_labels tbody{
        display: grid;
    }
    .coop-background #menu_player_labels tbody tr:nth-of-type(1){
        justify-self: end;
        display: flex;
        gap: 1.1em;
    }
    .coop-background #menu_player_labels tbody tr:nth-of-type(3){order:2;}
    .coop-background #menu_player_labels tbody tr:nth-of-type(4){order:1;}
    .coop-background #menu_player_labels tbody tr:nth-of-type(5){order:3;}

    #menu_team_names{display: none;}
    .coop-background #menu_team_names{display: block;}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }


#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none,
#tracker_contain.display-none,
#restreamer_contain.display-none,
#commentator_contain.display-none{ display: none; }

.show, .layout .show{ display: block; }
.show-flex{ display: flex; }
.show-grid, .layout .show-grid{ display: grid; }

#menu_players td{
    text-align: center;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{
    grid-area: layout;
    grid-area: 3/3;
}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

.menu-contain{
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
        "players   players-2 players-2     team    team"
        "playlist  dwr       timer         credits credits"
        "playlist  dwr       settings-game        view     reset"
    }

#menu_players_extra{grid-area: players-2;z-index: 4;}
#menu_other{
    grid-area: dwr;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .5em;
}
#menu_other > div h4 {margin-bottom: .5em;}

#menu_playlist {grid-area: playlist;}
#menu_credits {grid-area: credits;}
#menu_settings_extra {
    grid-area: settings-game;
    background-color: #000;
    z-index: 2;
}
#menu_league {grid-area: league;
    flex-direction: row;
    justify-content: space-around;}
#menu_view_game {
    grid-area: 3/4/span 2; background-color: #000; z-index: 3; justify-content: space-around;}
#menu_view_game button {
        width: 8em;
    }

#menu_monsters {grid-area: monsters;}

#menu_bot{
    width: 400px; 
    grid-area: commands;
    display: none;
}

#menu_bot .trackers, #menu_bot .commentators{
    white-space: nowrap;
}

#menu_bot a{
    color: #f8b800;
    background-color: #000;
    position: absolute;
    top: -10px;
    padding: 0 .25em;
}
#menu_bot a.more-info {
    right: 15px;
}
#menu_bot a.randroid {
    right: 120px;
    color: #f8b800;
}

#menu_bot [title]:hover {
    color: #000;
    background-color: #f8b800;
}
#menu_layout_bot{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#menu_video_background{
    display: flex;
    gap: 1em;
}

#menu_settings_extra .menu-button-row{
    display: flex;
}

#menu_settings_extra .menu-flags-wrapper{
    display: flex;
}

.highlight{
    background-color: #f8b800;
    color: #000;
    accent-color: black;
}

.rank-input input {width: 3em;} 
.record-input input {width: 4em;}

#menu_team_names_drop{
    display: none;
}

.coop-background #menu_team_names_drop{
    display: block;
}
#menu_team_names_drop summary{
    margin-left: auto;
    width: max-content;
    background-color: #000;
    padding: 0 .5em;
    font-weight: bold;
    cursor: pointer;
}
#menu_team_names_drop[open] summary{
    background-color: #f8b800;
    color: #000;
    border-radius: 3px 3px 0 0;
    border: solid #fff;
    border-width: 1px 1px 0 1px;
}

details#menu_team_names_drop.menu-toggle-legend{
    background-color: #0000;
}

#menu_team_names_drop div{
    background-color: #f8b800;
    border: solid 1px #fff;
    padding: .5em;
    position: relative;
    color: #000;
    border-radius: 3px 0 3px 3px;
}

#start_auto_play_panels, #stop_auto_play_panels{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000;
    background-image: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.3));
    border: rgba(255,255,255,.75) 1px solid;
    width: 29px;
    height: 25px;
    border-radius: 3px;
}

#stop_auto_play_panels{
    background-image: none;
}

.visible{
    visibility: visible;
}

.loadscreen{
    overflow: hidden;
}
.loadscreen main{
    padding-left: 4em;
}

.loading-runners {
    gap: .5em;
}

.loading-runners .player-info-contain{
    position: relative;
}


.loading-runners .player-final{
    right: -2em;
    font-size: 1.25em;
    position: absolute;
    height: 46px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0;
}
.loading-runners .player-final:empty{
    display: none;
}
.loading-runners .player-final:after{
    content: none;
}

.loading-runners .player-final, 
.loading-runners .player-winner{
    top: -1em;
}

.loading-runners .player-winner{
    left: -2em;
    position: absolute;
    background-color: #000;
}

.loading-runners .load-and {
    margin: 2em 0;
}