/* load screen */

@font-face {
  font-family: "Warrior Quest I and II";
  src: 
      local('Warrior Quest I and II'),
      url("fonts/warrior_quest_i_and_ii.woff2") format("woff2"),
      url("fonts/warrior_quest_i_and_ii.woff") format("woff"),
      url("fonts/Warrior Quest I and II.ttf") format("truetype");
}
@font-face {
  font-family: "Ferrum";
  src: local('Ferrum'),
       url('../ff6wc/fonts/ferrum.woff2') format('woff2'),
       url('../ff6wc/fonts/ferrum.woff') format('woff'),         
       url('../ff6wc/fonts/ferrum.otf') format('opentype');
}

.loadscreen-contain{
  width: 1280px;
  height: 720px;
  background-color: #000;
  color: #fff;
  animation: zoomIn .5s linear;
  z-index: 50;
  display: none;
}

.four-loading, .two-loading{
  display: block;
}

.loadscreen-contain.show {
  animation: zoomIn .5s;
  display: block;
}

.loadscreen-main{
  display: grid;
  width: 1280px;
  height: 720px;
  font-family: 'Warrior Quest I and II', Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  }

.loadscreen{
  background:
    url(images/monsters/true-dragonlord.png) no-repeat right -200% top / auto 190%,
    url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
   #0d3d87;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.loadscreen main{
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 60%;
  align-content: space-around;
}

.loadscreen.league-background main{
  background: url(images/sword-shield-helmet.png) no-repeat right 48px center #000;
  grid-template-columns: minmax(52%, max-content);
  justify-content: start;
}

.loadscreen.chaos-background{
  background:
  url(images/monsters/drollgon-lord.png) no-repeat right -50% top / auto 190%,
  url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
  #0d3d87;
}

#changeText{
  font-size: 17px;
  letter-spacing: 1px;
}

.loadscreen main h1{
  color: #fd3401;
  font-family: 'Ferrum', serif;
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(#fe3401, #fe9934 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: #0000;
  text-shadow: none;
  filter: drop-shadow(1px 1px #000) drop-shadow(-1px -1px #000) drop-shadow(1px -1px #000) drop-shadow(-1px 1px #000);
}

.loadscreen main h1 span{
  font-size: 1.3em;
  vertical-align: top;
}

.loadscreen header h2{
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
  transform: scaleX(1.2);
  font-weight: normal;
  position: relative;
  top: -28px;
}

.loading-runners{
  display: grid;
  gap: 1em;
}

.loadscreen .player-name{
  letter-spacing: 2px;
}

.load-vs{
  display: block;
  font-family:'Ferrum', 'Times New Roman', Times, serif;
  font-size: 3em;
}
.load-and{
  display: none;
  margin: 1.1em 0;
}

.show-and .load-vs{
  display: none;
}
.show-and .load-and{
  display: block;
}