/* load screen */

@font-face {
  font-family: "Warrior Quest I and II";
  src: 
      local('Warrior Quest I and II'),
      url("fonts/warrior_quest_i_and_ii.woff2") format("woff2"),
      url("fonts/warrior_quest_i_and_ii.woff") format("woff"),
      url("fonts/Warrior Quest I and II.ttf") format("truetype");
}
@font-face {
  font-family: "Lobster";
  src: local('Lobster'),
      url("../shared/fonts/lobster-regular.woff2") format("woff2"),
      url("../shared/fonts/lobster-regular.woff") format("woff"),
      url('../shared/fonts/Lobster-Regular.ttf') format('truetype');
}

.loadscreen-contain{
  width: 1280px;
  height: 720px;
  background-color: #000;
  color: #fff;
  animation: zoomIn .5s linear;
  z-index: 50;
  display: none;
}

.four-loading, .two-loading{
  display: block;
}

.loadscreen-contain.show {
  animation: zoomIn .5s;
  display: block;
}

.loadscreen-main{
  display: grid;
  width: 1280px;
  height: 720px;
  font-family: 'Warrior Quest I and II', Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  }

.loadscreen{
  background:
    url(images/monsters/true-dragonlord.png) no-repeat right -200% top / auto 190%,
    url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
   #0d3d87;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.loadscreen main{
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 60%;
  align-content: space-around;
}

.loadscreen header{
  position: relative;
}
.loadscreen header:after{
  content: '!dwr';
  position: absolute;
  bottom: 0.15em;
  left: 2.75em;
  font-family: 'Lobster';
  font-size: 1.5em;
  /* color: #adadad; */
  letter-spacing: 3px;
}

.loadscreen .player-final, .loadscreen .player-winner{
  color: #5ce430;
  --border-color: #5ce430;
}

.loadscreen .player-winner:after{
    color: #00a800;
    --border-color: #00a800;
}

.loadscreen.league-background main{
  background: url(images/sword-shield-helmet.png) no-repeat right 48px center #000;
  grid-template-columns: minmax(52%, max-content);
  justify-content: start;
}

.loadscreen.chaos-background{
  background:
    url(images/monsters/drollgon-lord.png) no-repeat right -50% top / auto 190%,
    url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
  #0d3d87;
}

.loadscreen.coop-background{
  background:
    url('images/Bucket_brigade_with_bottle_and_portal.png') no-repeat right top / 51% #292121;
  background-image: image-set(
    url("images/Bucket_brigade_with_bottle_and_portal.avif") type("image/avif"),
    url("images/Bucket_brigade_with_bottle_and_portal.png") type("image/png")
  );
}

.logo-official{
  filter: drop-shadow(2px 2px #000);
  background-color: #000;
  padding: 8px;
}

.loadscreen.coop-background .logo-official{
  background-color: #0000;
}

#changeText{
  font-size: 17px;
  letter-spacing: 1px;
  /* color: #adadad; */
}

.loadscreen.coop-background .player-team{
  border: none;
  margin: 0 auto;
  height: auto;
  padding: .5em;
  width: 100%;
  font-size: 1.75rem;
  background-color: #000;
  --clip-depth: 5px;
  clip-path: polygon(0 var(--clip-depth), var(--clip-depth) var(--clip-depth), var(--clip-depth) 0, calc(100% - var(--clip-depth)) 0%, calc(100% - var(--clip-depth)) var(--clip-depth), 100% var(--clip-depth), 100% calc(100% - var(--clip-depth)), calc(100% - var(--clip-depth)) calc(100% - var(--clip-depth)), calc(100% - var(--clip-depth)) 100%, var(--clip-depth) 100%, var(--clip-depth) calc(100% - var(--clip-depth)), 0 calc(100% - var(--clip-depth)));
}

.loadscreen.coop-background .player-info-contain{
  z-index: 1;
}

.loadscreen.coop-background .separator-1 .load-and,
.loadscreen.coop-background .separator-3 .load-and{
  display: block;
}
.loadscreen.coop-background .separator-1 .load-vs,
.loadscreen.coop-background .separator-3 .load-vs{
  display: none;
}

.loadscreen.coop-background .separator-1 .load-and,
.loadscreen.coop-background .separator-3 .load-and{
  margin: 0;
  line-height: 1;
}

.loadscreen.coop-background .separator-2{
  background-image: 
    conic-gradient(#0000 270deg, #000 0),
    linear-gradient(#000, #001f8c);
  background-size: 2px 2px, 100% 100%;
  --clip-depth: 6px;
  clip-path: polygon(0 var(--clip-depth), var(--clip-depth) var(--clip-depth), var(--clip-depth) 0, calc(100% - var(--clip-depth)) 0%, calc(100% - var(--clip-depth)) var(--clip-depth), 100% var(--clip-depth), 100% calc(100% - var(--clip-depth)), calc(100% - var(--clip-depth)) calc(100% - var(--clip-depth)), calc(100% - var(--clip-depth)) 100%, var(--clip-depth) 100%, var(--clip-depth) calc(100% - var(--clip-depth)), 0 calc(100% - var(--clip-depth)));
  width: 3em;
  margin: auto;
}

.coop-background [player="2"][property="player-team"]{
  background-color: #001f8c;
  background-image: 
    conic-gradient(#0000 270deg, #000 0);
  background-size: 2px 2px;
}

.loadscreen.coop-background .player-1,
.loadscreen.coop-background .player-3{
  justify-self: end;
}
.loadscreen.coop-background .player-2,
.loadscreen.coop-background .player-4{
  justify-self: start;
}

.coop-background [player="1"][property="player-team"]{order:1;}
.coop-background .player-1.player-info-contain{order:2;}
.loadscreen.coop-background .separator-1{order:3;}
.coop-background .player-2.player-info-contain{
  order:7;
  justify-self: end;
}

.loadscreen.coop-background .separator-2{order:5;}

.coop-background [player="2"][property="player-team"]{order:6;}
.coop-background .player-3.player-info-contain{
  order:4;
  justify-self: start;
}
.loadscreen.coop-background .separator-3{order:8;}
.coop-background .player-4.player-info-contain{order:9;}


.loading-runners{
  display: grid;
  align-items: center;
  gap: 1em;
}

.loading-runners .player-name{
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  line-height: 1;
  font-weight: normal;
}

.loadscreen.coop-background .loading-runners{
  grid-template-columns: 20em 4em 20em;
  width: 500px;
}

.loadscreen.coop-background .player-team, .loadscreen.coop-background .separator-2{
  grid-column: span 3;
}

.loadscreen .player-name{
  letter-spacing: 2px;
}

.loadscreen.coop-background .player-name{
  font-size: 2.4rem;
}

.separator-1, .separator-2, .separator-3{
  display: block;
  font-size: 1.5em;
  margin: .5em;
}

.loadscreen.coop-background .separator-1,
.loadscreen.coop-background .separator-3{
margin: 0;
}

.loadscreen.coop-background .separator-1,
.loadscreen.coop-background .separator-3{
  color: #adadad;
  text-shadow: none;
  transform: scale(1.8);
  z-index: 0;
  opacity: .5;
  font-family: 'Lobster', cursive;
  font-size: 2em;
}

.loadscreen.coop-background .separator-2{
  margin-top: 1.25em;
  margin-bottom: 1em;
  font-family: inherit;
  color: #fff;
  font-size: 1.75em;
  line-height: 1.5;
  opacity: 1;
}

.loadscreen.coop-background .separator-2 .load-and{display: none;}
.loadscreen.coop-background .separator-2 .load-vs{display: block;}

.load-and{
  display: none;
  margin: 1.1em 0;
}

.two1Vs1.separator-2 .load-and{display:block;}
.two1Vs1.separator-2 .load-vs{display:none;}