/* load screen */

@font-face {
  font-family: "Warrior Quest I and II";
  src: 
      local('Warrior Quest I and II'),
      url("fonts/warrior_quest_i_and_ii.woff2") format("woff2"),
      url("fonts/warrior_quest_i_and_ii.woff") format("woff"),
      url("fonts/Warrior Quest I and II.ttf") format("truetype");
}
@font-face {
  font-family: "Ferrum";
  src: local('Ferrum'),
       url('../ff6wc/fonts/ferrum.woff2') format('woff2'),
       url('../ff6wc/fonts/ferrum.woff') format('woff'),         
       url('../ff6wc/fonts/ferrum.otf') format('opentype');
}

.loadscreen-contain{
  width: 1280px;
  height: 720px;
  background-color: #000;
  color: #fff;
  animation: zoomIn .5s linear;
  z-index: 50;
  display: none;
}

.four-loading, .two-loading{
  display: block;
}

.loadscreen-contain.show {
  animation: zoomIn .5s;
  display: block;
}

.loadscreen-main{
  display: grid;
  width: 1280px;
  height: 720px;
  font-family: 'Warrior Quest I and II', Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 4px 4px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
  }

.loadscreen{
  background:
    url(images/monsters/true-dragonlord.png) no-repeat right -200% top / auto 190%,
    url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
   #0d3d87;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

.loadscreen main{
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 60%;
  align-content: space-around;
}

.loadscreen.league-background main{
  background: url(images/sword-shield-helmet.png) no-repeat right 48px center #000;
  grid-template-columns: minmax(52%, max-content);
  justify-content: start;
}

.loadscreen.chaos-background{
  background:
    url(images/monsters/drollgon-lord.png) no-repeat right -50% top / auto 190%,
    url(images/loadscreen-alefgard-dark.png) repeat 0 0 / contain
  #0d3d87;
}

.loadscreen.coop-background{
  background:
    url('images/Bucket_brigade_with_bottle_and_portal.png') no-repeat right top / 51% #292121;
  background-image: image-set(
    url("images/Bucket_brigade_with_bottle_and_portal.avif") type("image/avif"),
    url("images/Bucket_brigade_with_bottle_and_portal.png") type("image/png")
  );
}

.logo-official{
  filter: drop-shadow(2px 2px #000);
  background-color: #000;
  padding: 8px;
}

.loadscreen.coop-background .logo-official{
  background-color: #0000;
}

#changeText{
  font-size: 17px;
  letter-spacing: 1px;
  /* color: #adadad; */
}

.loadscreen.coop-background .player-team{
  border: none;
  background-color: #000;
  margin: 0 auto;
  width: 100%;
  font-size: 2rem;
}

.loadscreen.coop-background .player-name{
  font-size: 1.5rem;
}

.loadscreen.coop-background .separator-1 .load-and,
.loadscreen.coop-background .separator-3 .load-and{
  display: block;
}
.loadscreen.coop-background .separator-1 .load-vs,
.loadscreen.coop-background .separator-3 .load-vs{
  display: none;
}

.loadscreen.coop-background .separator-1 .load-and,
.loadscreen.coop-background .separator-3 .load-and{
  margin: 0;
  line-height: 1;
}

.loadscreen.coop-background .separator-2{
  background-color: #000;
  width: 3em;
  margin: auto;
}

.loading-runners{
  display: grid;
  align-items: center;
  gap: 1em;
}

.loadscreen.coop-background .loading-runners{
  grid-template-columns: 20em 4em 20em;
  width: 500px;
}

.loadscreen.coop-background .player-team, .loadscreen.coop-background .separator-2{
  grid-column: span 3;
}

.loadscreen .player-name{
  letter-spacing: 2px;
}

.separator-1, .separator-2, .separator-3{
  display: block;
  font-family:'Ferrum', 'Times New Roman', Times, serif;
  font-size: 3em;
}

.load-and{
  display: none;
  margin: 1.1em 0;
}

.show-and .load-vs{
  display: none;
}
.show-and .load-and{
  display: block;
}