toggle-element {
    display: none;
}
tr-text{
    white-space: pre;
}
toggle-element[visible] {
    display: initial;
}

tr-prop-text input {
    width: 50px;
}

tr-image, figure{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
}

tr-image img{
    width: 32px;
    height: 32px;
}

tr-image-toggle img {
    width: 32px;
    height: 32px;
    opacity: .3; 
}

tr-image img:hover, tr-image-toggle img:hover, tr-toggle-class img:hover, .dialog img{
    cursor: pointer;
}

tr-toggle-class, .in-active{
    display: block;
    cursor: default;
    opacity: .3;
} 
tr-image-toggle img.active, tr-toggle-class.active {
    opacity: 1;
}

/* tr-image img:not([src]){
    opacity: .3;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEUAAADn3rWlpYRaUjF7e1oxKSHeSjmEISldt5M2AAAAAXRSTlMAQObYZgAAAGZJREFUKM99y0ENwEAIRNFawAIWsIAFLKyFtd9ZaMqBzM6B5L+Eh839DuYibgwqMRABO7H3uTage62VQkHQHFT+KQHVL90JBCgzGJyJhmNXQIbGhJKoF/SAEssXNfSApkwKWGcD2QuqpDS7XGEcJQAAAABJRU5ErkJggg==') no-repeat center / auto 100%;
} */

tr-select {
    display: block;
}

tr-image-option, tr-image-option.in-active{
    display: none;
}

figure{
    text-align: center;
    margin: 0;
}
tr-label, figcaption{
    order: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: .75px;
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

figcaption{
    opacity: .3;
}
.dialog figcaption{
    opacity: 1;
}
.in-active ~ figcaption{
    opacity: .3;
}
.active ~ figcaption {
    opacity: 1;
}
.in-active{
    opacity: .3;
}

[img-class*="in-active"][selected="selected"] ~ tr-label{
    opacity: .3;
    filter: grayscale(1);
}

tr-timer{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 200px;
}
tr-timer span{
    width: 1em;
    text-align: center;
}

.dialog{
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3, 32px);
    border: 1px solid #fff;
    padding: 4px;
}

.dialog img{
    width: 32px;
    height: 32px;
}

[scale-to-fit-x], [scale-to-fit-y]{
    display: block;
}

/* tr-input-number{
    display: flex;
}

tr-input-number button{
    padding-inline: .5em;
    border-radius: 0;
    border: none;
}
tr-input-number button.minus{
    order: -1;
} */

/* input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  } */

input[type=number]{
  transition: transform .2s;
  transform-origin: 75% center;
}

input[type=number]:out-of-range{
    background-color: #f00;
}

input[type=number]:hover{
    transform: scale(1.5);
}

.visually-hidden { 
    position: absolute !important;
    left: -2560px;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}