[player="1"] .player-video {left: var(--videoX); top: var(--videoY);}
[player="2"] .player-video {right: var(--videoX); top: var(--videoY);}

[player="1"] .player-name {left: var(--nameX); top: var(--nameY);}
[player="2"] .player-name {right: var(--nameX); top: var(--nameY);}

[player="1"] .player-grid {left: var(--gridX); top: var(--gridY);}
[player="2"] .player-grid {right: var(--gridX); top: var(--gridY);}

[player="1"] .player-final {right: var(--finalX); top: var(--finalY);}
[player="2"] .player-final {left: var(--finalX); top: var(--finalY);}

[player="1"] .player-speaker {left: var(--speakerX); top: var(--speakerY);}
[player="2"] .player-speaker {right: var(--speakerX); top: var(--speakerY);}

[player="1"] .player-winner {left: var(--winX); bottom: var(--winY);}
[player="2"] .player-winner {right: var(--winX); bottom: var(--winY);}

[player="1"] .player-best-of {left: var(--bestX); top: var(--bestY);}
[player="2"] .player-best-of {right: var(--bestX); top: var(--bestY);}

.layout.transparent-background{
    --solid: linear-gradient(#000, #000);
    --vidWidth-contentBox: calc(var(--vidWidth) - 2 * var(--border));
    --vidHeight-contentBox: calc(var(--vidHeight) - 2 * var(--border));
    -webkit-mask:
        var(--solid) 0 0 / 100% 100%,
        var(--solid) var(--clipX1) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox),
        var(--solid) calc(1280px - var(--clipX2)) var(--clipY1) / var(--vidWidth-contentBox) var(--vidHeight-contentBox);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}