@font-face{ 
	font-family: 'Orbitron';
    src: 
        local('Orbitron'),
        url('../shared/fonts/orbitron-bold_0.woff2') format('woff2'),
	    url('../shared/fonts/orbitron-bold_0.woff') format('woff'),         
        url('../shared/fonts/orbitron-bold_0.ttf') format('truetype');
}

.menu-contain{
    display: flex;
    background-color: #000;
    width: min-content;
    height: min-content;
}

#menu_2{
    padding: 1em;
    top: 0;
    right: 0;
    position: relative;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    background-color: #000;
    color: #fff;
    border: solid 2px;
}

#menu_2 .fieldset, .menu-game-specific .fieldset{
    padding: 1.5em 1em;
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;
    margin: 0 0 -1px -1px;  
}
#menu_2 .fieldset .legend, .menu-game-specific .fieldset .legend{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: -.5em;
    left: 1em;
    padding: 0 .25em;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 1px;
    margin: 0;
    z-index: 0;
}

.menu-game-specific{
    background-color: #000;
    color: #fff;
    padding: 1em 0 1em 1em;
}

.number-input input {width: 3em;}
.pronoun-input input {width: 5em;}

#menu_player_labels, #menu_players tr-player{
    display: grid;
    grid-template-columns: 1em 9em 4em 4em 3em;
    justify-content: space-between;
    align-items: center;
}

[for="player-1"],[for="player-2"]{
    grid-area: 1 / 1 / span 2;
}

#menu_2{
    display: grid;
    grid-template-areas: 
    "players  layout  team"
    "timer    view    reset";
    border: none;
    }

    #menu_timer{grid-area: timer;}
    #menu_players{grid-area: players;}
    #menu_layout{grid-area: layout;}
    #menu_game{grid-area: game;}
    #menu_production{grid-area: team;}
    #menu_view{grid-area: view;}
    #menu_reset{grid-area: reset;}

    #menu_player_labels, #menu_players tr-player{
    display: block;
    }

#menu_2 .fieldset#menu_view{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#menu_players table, .menu-contain table {
    border-collapse: collapse;
    padding: 1em;
    table-layout: fixed;
}

#menu_players th, #menu_players td, .menu-contain th, .menu-contain td{
    padding: .5em;
}

#menu_timer{
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    grid-gap: 5px;
}

button.dummy-text-button.disable, #menu_video_background input[type="radio"][id="screen"].disable{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #000;
}

button.dummy-text-button{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border: none;
    box-shadow: none;
    background-color: rgba(2555,255,255,.5);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

button.dummy-text-button:hover{
    background-color: #f8b800;
    box-shadow: none;
}

.reset-confirm{
    position: absolute;
    right: 44px;
    top: 12px;
    background-color: #f8b800;
    color: #000;
    padding: .25em .5em;
    text-align: center;
    font-weight: bold;
}
.reset-confirm:after{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 2 2'%3E%3Cpath fill='%23f8b800' d='M0,0 l1,1 l1,-1z'/%3E%3C/svg%3E");
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 10px;
    top: 100%;
    right: 6%;
}

#menu_2 select{
    min-width: 121px;
}

#menu_2 #layout_settings{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.player-inputs{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: .5em;
}

input[type="text"], textarea{
    padding: 1px;
    background-image: linear-gradient(-145deg, #111 7px, transparent 8px);
    background-repeat: no-repeat;
    background-position: 16px 0;
    transition: background-position linear .16s;
}
  
input[type="text"]:placeholder-shown, textarea:placeholder-shown {
    background-position: 0 0;
  }

input[type="number"]{
    width: 4em;
}

.name-input input{
    width: 140px;
}

.final-input input{
    width: 60px;
}

#menu_production div, #menu_layout div{
    display: flex;
    justify-content: space-between;
}

#layout_settings div:not(:last-of-type) {
    margin-bottom: .25em;
    display: flex;
    justify-content: space-between;
}

tr-input-timer input{
    width: 5em;
    text-align: right;
    font-size: 20px;
}

tr-button-timer button{
    margin-left: .5em;
    width: 4em;
    font-size: 18px;
}

input[type="checkbox"]:hover, input[type="radio"]:hover, select:hover, button:hover{
    box-shadow: 0 0 0 2px #f8b800;
}

[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
}

.disable{
    display:none;
}

#menu_timer div{
    justify-self: center;
}

#menu_view button, #menu_reset button{
    width: 8em;
}

tr-button-view{
    width: 7em;
}

button.active{
    filter: invert(1);
}

#menu_layout .menu-button-row{
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}

.menu-button-row label{
    border: solid;
    flex: 1;
}

.menu-button-row label{
    border: solid 1px rgba(255,255,255,.75);    
    text-align: center;
    flex: 1;
    padding: .3em 0;
    margin-right: -1px;
    font-size: .9em
}
.items-button.show-grid, .stats-spells-button.show-flex, .menu-button-row label.show{
    background-color: #f8b800;
    color: #000;
    font-weight: bold;
    justify-content: center;
}

.menu-button-row label:hover{
    cursor: pointer;
}

.menu-button-row label:first-of-type{ border-radius: 3px 0 0 3px;}
.menu-button-row label:last-of-type{ border-radius: 0 3px 3px 0;}

.menu-button-row input[type="radio"], .menu-button-row input[type="radio"], .menu-button-row input[type="radio"]:hover:checked{
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
}

#menu_video_background input[type="radio"],  #menu_video_background input[type="radio"]:hover:checked{
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
}

textarea, select, input, button { outline: none; vertical-align: middle;}

#menu_video_background input[type="radio"]:hover{
    box-shadow: 0 0 0 2px #f8b800;
  }
  #menu_video_background input[type="radio"]:checked{
      box-shadow: 0 0 0 2px #f8b800;
  }

#menu_video_background input[type="radio"][id="transparent"]{ 
    background: url('../shared/images/checkerboard.png');
    background-color: transparent;
    background: conic-gradient(#c0c0c0 90deg, #808080 90deg 180deg, #c0c0c0 180deg 270deg, #808080 270deg) top left / 8px 8px repeat;
    margin-right: .25em;
}

    #menu_video_background input[type="radio"][id="black"]{background-color: #000; margin-right: .25em;}
    #menu_video_background input[type="radio"][id="white"]{background-color: #fff; margin-right: .25em;}
    #menu_video_background input[type="radio"][id="blue"]{background-color: #00f; margin-right: .25em;}
    #menu_video_background input[type="radio"][id="green"]{background-color: #0f0; margin-right: .25em;}
    #menu_video_background input[type="radio"][id="magenta"]{background-color: #f0f; margin-right: none;}

  #menu_video_background input[type="radio"][id="screen"]{
      -webkit-appearance: none;
      appearance: none;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 12px;
      height: 12px;
      border: none;
      box-shadow: none;
      background-color: rgba(2555,255,255,.5);
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

  #menu_video_background input[type="radio"][id="screen"]:hover, #menu_video_background input[type="radio"][id="screen"]:checked{
    background-color: #f8b800;
    box-shadow: none;
    border: none;
    width: 12px;
    height: 12px;
}

.screen-background{
    background-image: url('../shared/images/video-screens.png');
    background-size: 200% 200%;
    /* image-rendering: -moz-crisp-edges; */
    /* image-rendering: pixelated; */
}

[player="2"] .screen-background{
    background-position: 100% 0;
}
[player="3"] .screen-background{
    background-position: 0 100% ;
}
[player="4"] .screen-background{
    background-position: 100% 100%;
}

.black-background{background-image: none; background-color: #000;}
.white-background{background-image: none; background-color: #fff;}
.blue-background{background-image: none; background-color: #00f;}
.green-background{background-image: none; background-color: #0f0;}
.magenta-background{background-image: none; background-color: #f0f;}

#menu_layout #menu_best_of{display: flex;}

#menu_best_of tr-input-radio{
    width: 0px;
    height: 0px;
}

#menu_best_of input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;}

#menu_best_of label {
    width: 24px;
    height: 24px;
    border: 1px solid #333; 
    text-align: center; 
    line-height: 24px;}

#menu_best_of label:not(:last-of-type){
    margin-right: .5em;}

#menu_best_of input[type="radio"]:hover{
    box-shadow: 0 0 0 2px #f8b800;
    }
#menu_best_of input[type="radio"]:checked{
    box-shadow: 0 0 0 2px #f8b800;
}

#menu_best_of label:nth-of-type(1){
    border: none;
    margin-right: auto;
    width: auto;
}