/* general styles */

.menu-contain th, .menu-contain td{
    padding: .5em;
}

input[type="text"], textarea{
    padding: 1px;
    background-image: linear-gradient(-145deg, #111 7px, transparent 8px);
    background-repeat: no-repeat;
    background-position: 16px 0;
    transition: background-position linear .16s;
}
  
input[type="text"]:placeholder-shown,
textarea:placeholder-shown {
    background-position: 0 0;
  }

textarea, select, input, button { outline: none; vertical-align: middle;}

.menu-general select{
    min-width: 121px;
}

input[type="number"]{
    width: 3rem;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="radio"]:checked,
select:hover,
button:hover,
#menu_view a:hover{
    box-shadow: 0 0 0 2px var(--highlight-color);
}

[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
}

.disable{
    display:none;
}

button.dummy-text-button.disable,
#menu_video_background input[type="radio"][id="screen"].disable{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #000;
}

.dummy-text-button, #menu_video_background #screen{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border: none;
    box-shadow: none;
    background-color: rgba(255,255,255,.5);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

#menu_video_background #screen{
    margin: 0;
}

button.dummy-text-button:hover,
#menu_video_background #screen:hover,
#menu_video_background #screen:checked{
    background-color: var(--highlight-color);
    box-shadow: none;
}

/* Menu Containers */

.menu-contain{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    background-color: #000;
    padding: 1em;
    width: min-content;
    height: min-content;
    --highlight-color: #f8b800;
}

.menu-contain > tr-template, 
.menu-game-specific,
.menu-general{
    display: contents
}

.menu-general{
    padding: 1em;
    top: 0;
    right: 0;
    position: relative;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    background-color: #000;
    color: #fff;
    border: solid 2px;
}

.menu-contain .fieldset{
    padding: 1.5em 1em;
    border: 1px solid #fff;
    border-radius: 2px;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 0 -1px -1px;  
}

.fieldset > div:not(:last-of-type){
    margin-bottom: .5em;
}

.menu-contain .fieldset .legend{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: -.5em;
    left: .6em;
    padding: 0 .25em;
    font: normal 18px Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-variant: small-caps;
    margin: 0;
    z-index: 0;
}

.menu-game-specific{
    color: #fff;
}

/* Players */

#menu_player_labels, #menu_players tr-player{
    display: grid;
    grid-template-columns: 1em 9em 4em 4em 3em;
    justify-content: space-between;
    align-items: center;
}

[for="player-1"],[for="player-2"]{
    grid-area: 1 / 1 / span 2;
}

.menu-general #menu_players{grid-area: 1 / -4;}
.menu-general #menu_layout{grid-area: 1 / -3;}
.menu-general #menu_production{grid-area: 1 / -2;}
.menu-general #menu_timer{grid-area: 2 / -4;}
.menu-general #menu_view{grid-area: 2 / -3;}
.menu-general #menu_reset{grid-area: 2 / -2;}

#menu_player_labels, #menu_players tr-player{
    display: block;
}

#menu_players table, .menu-contain table {
    border-collapse: collapse;
    padding: 1em;
    table-layout: fixed;
}

.menu-general #layout_settings{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
}

.name-input input{
    width: 140px;
}

.pronoun-input input {
    width: 5em;
}

.final-input input{
    width: 60px;
}

.record-input input, .seed-input input{
    width: 3em;
}
.number-input input, .rank-input input{
    width: 2rem;
}

/* Production */

#menu_production div, #menu_layout div{
    display: flex;
    justify-content: space-between;
}

#menu_production input[type="text"], #menu_production textarea{
    width: 157px;
}
#menu_production textarea{
    height: 3.2rem;
}
#menu_production.fieldset{
    padding-bottom: 1em;
}

#layout_settings div:not(:last-of-type) {
    margin-bottom: .25em;
    display: flex;
    justify-content: space-between;
}

/* Timer */

tr-button-timer{
    display: flex;
    align-items: center;
    gap: 8px;
}

tr-input-timer input{
    width: 5em;
    text-align: right;
    font-size: 20px;
}

tr-button-timer button{
    width: 4em;
    font-size: 18px;
}

#menu_timer div{
    justify-self: center;
}

#menu_timer{
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
}

#timer-input-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
}

.reset-confirm{
    position: absolute;
    right: 44px;
    top: 12px;
    background-color: var(--highlight-color);
    color: #000;
    padding: .25em .5em;
    text-align: center;
    font-weight: bold;
}
.reset-confirm:after{
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 2 2'%3E%3Cpath fill='%23f8b800' d='M0,0 l1,1 l1,-1z'/%3E%3C/svg%3E");
    position: absolute;
    pointer-events: none;
    width: 20px;
    height: 10px;
    top: 100%;
    right: 6%;
}

/* View and Reset */

.menu-general .fieldset#menu_view,
#menu_reset{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#menu_view button, #menu_reset button{
    width: 8em;
}

tr-button-view{
    width: 7em;
}

button.active{
    filter: invert(1);
}

#menu_layout .menu-button-row{
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}

.menu-button-row label{
    border: solid 1px rgba(255,255,255,.75);    
    text-align: center;
    flex: 1;
    padding: .3em 0;
    margin-right: -1px;
    font-size: .9em
}

.menu-button-row label.show{
    background-color: var(--highlight-color);
    color: #000;
    font-weight: bold;
    justify-content: center;
}

.menu-button-row label:hover{
    cursor: pointer;
}

.menu-button-row label:first-of-type{ border-radius: 3px 0 0 3px;}
.menu-button-row label:last-of-type{ border-radius: 0 3px 3px 0;}

.menu-button-row input[type="radio"],
.menu-button-row input[type="radio"]:hover:checked{
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
}

/* Video Background  */

#menu_layout #menu_video_background{
    display: flex;
    width: 240px;
}

#menu_video_background input[type="radio"],  
#menu_video_background input[type="radio"]:hover:checked{
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
}

#menu_video_background [type="radio"]{
    margin-right: .25em;
}

#transparent{ 
    background: 
        linear-gradient(45deg, #c0c0c0 25%, transparent 0 75%, #c0c0c0 0 100%) 0 0 / 8px 8px,
        linear-gradient(45deg, #c0c0c0 25%, transparent 0 75%, #c0c0c0 0 100%) 4px 4px / 8px 8px
        #808080;
    background: repeating-conic-gradient(#c0c0c0 0 90deg, #808080 0 180deg) 0 0 / 8px 8px;
}
.layout.transparent-background .player-video{background-color: transparent;}

#black, .layout.black-background .player-video{background-color: #000;}
#blue, .layout.blue-background .player-video{background-color: #00f;}
#green, .layout.green-background .player-video{background-color: #0f0;}
#magenta, .layout.magenta-background .player-video{background-color: #f0f;}

.layout.screen-background .player-video{
    background: url('../shared/images/video-screens.png') no-repeat 0 0 / 200% 200%;
}
.layout.screen-background [player="2"] .player-video{
    background-position: 100% 0;
}
.layout.screen-background [player="3"] .player-video{
    background-position: 0 100% ;
}
.layout.screen-background [player="4"] .player-video{
    background-position: 100% 100%;
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

/* Best of  */

#menu_layout #menu_best_of{display: flex;}

#menu_best_of tr-input-radio{
    width: 0px;
    height: 0px;
}

#menu_best_of input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
}

#menu_best_of label {
    width: 24px;
    height: 24px;
    border: 1px solid #333; 
    text-align: center; 
    line-height: 24px;
}

#menu_best_of label:not(:last-of-type){
    margin-right: .5em;
}

#menu_best_of label:nth-of-type(1){
    border: none;
    margin-right: auto;
    width: auto;
}

/* Credits  */

#menu_layout_credits td:nth-of-type(1){
    font-weight: bold;
}