.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    height: 100%;
    padding: 0;
}

.staff{
    overflow: hidden;
    width: 274px;
    height: 55px;
}

.staff svg{    
    width: auto;
    height: 1em;
    margin: 0 .75em;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    gap: 3px;
    align-content: center;
}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    gap: 0;
    grid-template-columns: auto 1fr;
    place-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
    justify-self: start;
}

.production-team-swap .staff-panel-1, .production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-team-swap .staff-panel-2, .production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

.display-none{
    display: none;
}