* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 1px #fff;
    --backgroundColor1: rgba(0,0,0,.75);
    --vidWidth: 446px;
    --vidAspect: 26 / 21;
    --videoX: 0; --videoY: 0;
    --nameWidth: 160px;
    --infoX: 445px; --infoY: -1px;
    --speakerX: 569px; --speakerY: 63px;
    --winX: 445px; --winY: 97px;
    --finalX: 445px; --finalY: 51px;
    --vsX: 50%; --vsY: 0;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}

.border-background-1 {
    background-image:
        linear-gradient(#292884, #292884);
    border: solid 1px;
    mix-blend-mode: hard-light;
}

.text-shadow{
    filter: drop-shadow(2px 2px 2px #000) drop-shadow(-2px -2px 2px #000);
}

.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

/* layout specific styles */


@font-face {
    font-family: "FF6";
    src: local('FF6'),
         url('fonts/final-fantasy-36-font.woff2') format('woff2'),
	     url('fonts/final-fantasy-36-font.woff') format('woff'),         
         url('fonts/Final-Fantasy-36-Font.ttf') format('truetype');
}

@font-face {
    font-family: "Ferrum";
    src: local('Ferrum'),
         url('fonts/ferrum.woff2') format('woff2'),
	     url('fonts/ferrum.woff') format('woff'),         
         url('fonts/ferrum.otf') format('opentype');
}

.layout{
    font-family: 'FF6', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-size: 100% 100%;
    background-color: #21384a;
    --background-overlay: linear-gradient(rgba(255,255,255,0) 30%, rgba(255,255,255,.25), rgba(255,255,255,.0) 70%);
    --background-fallback: linear-gradient(-21.5deg, #335755 0 48.5%, #f8f8a8 0 50%, #c57832 0);
    background-image: var(--background-fallback);
}

@supports not (background: image-set("foo.png" type("image/png")) ){
    .notwebp .layout{
        background-image: var(--background-overlay), url('images/justbackground.jpg'), var(--background-fallback);}
    .webp.notavif .layout{
        background-image: var(--background-overlay), url('images/justbackground.webp'), var(--background-fallback);}
    .avif .layout{
        background-image: var(--background-overlay), url('images/justbackground.avif'), var(--background-fallback);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .layout{
        background-image: var(--background-overlay),
        image-set(
            "images/justbackground.avif" type("image/avif"),
            "images/justbackground.webp" type("image/webp"),
            "images/justbackground.jpg" type("image/jpeg")
        ), var(--background-fallback);
    }
}
.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

[player="1"] .player-video, [player="2"] .player-video{border-bottom: 1px solid;}
[player="3"] .player-video, [player="4"] .player-video{border-top: 1px solid;}

.layout.black-background .player-video{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

@supports not (background: image-set("foo.png" type("image/png")) ){
    .notavif .layout.black-background .player-video{background-image: url('images/wc_logo.png');}
    .avif .layout.black-background .player-video{background-image: url('images/wc_logo.avif');}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .layout.black-background .player-video{
        background-image: image-set(
            "images/wc_logo.avif" type("image/avif"),
            "images/wc_logo.png" type("image/png")
        );
    }
}

.player-info-contain{
    width: min-content;    
}

.player-info-contain:nth-of-type(even){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.player-info-contain:nth-of-type(3), .player-info-contain:nth-of-type(4){
    display: flex;
    flex-direction: column-reverse;
}

.player-name{
    font-size: 32px;
    height: 1.25em;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    text-shadow: 2px 2px #000, -2px -2px #000;
    border-radius: 0 10px 10px 0;
}

.player-info-contain:nth-of-type(even) .player-name{
    border-radius: 10px 0 0 10px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun{
    font-size: 24px;
    text-align: center;
    background: #222;
    padding: 0 .5em;
}

[player="1"] .player-pronoun, [player="2"] .player-pronoun{margin-top: -1px;}
[player="3"] .player-pronoun, [player="4"] .player-pronoun{margin-bottom: 2px;}


.center-headers{
    display: grid;
    justify-items: center;
    align-content: space-between;
    transform:translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.ff6wc-logo-contain{
    margin-bottom: .75em;
    filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #000);
}

.center-headers > div{
    display: grid;
    justify-items: center;
}

.subhead-text, .subhead-link{
    font-size: 27px;
    letter-spacing: .25px;
    word-spacing: 1px;
    margin: .25em 0;
    color: rgba(255,255,255,.9);
    text-align: center;
    display: block;
}

.glitch{
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
    height: 18px;
    width: 18px;
    fill: currentColor;
}

.site-link, .twitch-link{
    position: absolute !important;
    left: -2560px;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}     

.visible{
    position: relative !important;
    left: 0px;
    height: initial; width: initial;
    overflow: hidden;
    -webkit-clip-path: none;
    clip-path: none;    
}

.player-grid-contain{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
}

.p2-grid-contain .player-grid-characters, .p4-grid-contain .player-grid-characters {
    order: 1;
}

tr-player{
    display: contents;
}
.p3-grid-contain, .p4-grid-contain{
    align-items: end;
}

.player-grid-characters{
    display: grid;
    grid-template-rows: repeat(7, min-content);
    grid-auto-flow: column;
    padding: 2px;
    grid-gap: 2px;
}

.player-grid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    padding: 0 4px;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000, -2px -2px 2px #000;
}

.p1-grid-contain, .p2-grid-contain{margin-top: -1px;}
.p3-grid-contain, .p4-grid-contain{margin-bottom: 2px;}

.player-info-contain:nth-of-type(1) .player-grid, .player-info-contain:nth-of-type(3) .player-grid{margin-left: -1px;}
.player-info-contain:nth-of-type(2) .player-grid, .player-info-contain:nth-of-type(4) .player-grid{margin-right: -1px;}

.player-info-contain:nth-of-type(1) .player-grid, .player-info-contain:nth-of-type(1) .player-grid-characters{
    border-radius: 0 0 10px 0;
}

.player-info-contain:nth-of-type(2) .player-grid, .player-info-contain:nth-of-type(2) .player-grid-characters{
    border-radius: 0 0 0 10px;
}

.player-info-contain:nth-of-type(3) .player-grid, .player-info-contain:nth-of-type(3) .player-grid-characters{
    border-radius: 0 10px 0 0;
}

.player-info-contain:nth-of-type(4) .player-grid, .player-info-contain:nth-of-type(4) .player-grid-characters{
    border-radius: 10px 0 0 0;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
    display: block;
    background-size: 500% 1000%;
}

[property="starting-character"] img, .dialog img{
    width: 32px;
    height: 48px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
    position: relative;
    background-repeat: no-repeat;
    background-size: 500% 500%;
}

@supports not (background: image-set("foo.avif" type("image/avif")) ){
    .notwebp [property^="character"] img, .notwebp [property="starting-character"] img, .notwebp .dialog img {background-image: url(images/characters.png);}
    .webp [property^="character"] img, .webp [property="starting-character"] img, .webp .dialog img{background-image: url(images/characters.webp);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    [property^="character"] img, [property="starting-character"] img, .dialog img{
        background-image: image-set(
            "images/characters.webp" type("image/webp"),
            "images/characters.png" type("image/png")
        );
    }
}

.terra, [property="character-terra"] img{background-position: 0 0;}
.locke, [property="character-locke"] img{background-position: 25% 0;}
.cyan, [property="character-cyan"] img{background-position: 50% 0;}
.shadow, [property="character-shadow"] img{background-position: 75% 0;}
.edgar, [property="character-edgar"] img{background-position: 100% 0;}
.sabin, [property="character-sabin"] img{background-position: 0 25%;}
.celes, [property="character-celes"] img{background-position: 25% 25%;}
.strago, [property="character-strago"] img{background-position: 50% 25%;}
.relm, [property="character-relm"] img{background-position: 75% 25%;}
.setzer, [property="character-setzer"] img{background-position: 100% 25%;}
.mog, [property="character-mog"] img{background-position: 0 50%;}
.gau, [property="character-gau"] img{background-position: 25% 50%;}
.gogo, [property="character-gogo"] img{background-position: 50% 50%;}
.umaro, [property="character-umaro"] img{background-position: 75% 50%;}


[property="starting-character"] img{
    z-index: -1;
}

[property="starting-character"] .terra, [property="character-terra"] img{background-position: 0 0;}
[property="starting-character"] .locke, [property="character-locke"] img{background-position: 25% 0;}
[property="starting-character"] .cyan, [property="character-cyan"] img{background-position: 50% 0;}
[property="starting-character"] .shadow, [property="character-shadow"] img{background-position: 75% 0;}
[property="starting-character"] .edgar, [property="character-edgar"] img{background-position: 100% 0;}
[property="starting-character"] .sabin, [property="character-sabin"] img{background-position: 0 22.5%;}
[property="starting-character"] .celes, [property="character-celes"] img{background-position: 25% 22.5%;}
[property="starting-character"] .strago, [property="character-strago"] img{background-position: 50% 25%;}
[property="starting-character"] .relm, [property="character-relm"] img{background-position: 75% 25%;}
[property="starting-character"] .setzer, [property="character-setzer"] img{background-position: 100% 22.5%;}
[property="starting-character"] .mog, [property="character-mog"] img{background-position: 0 47.5%;}
[property="starting-character"] .gau, [property="character-gau"] img{background-position: 25% 45%;}
[property="starting-character"] .gogo, [property="character-gogo"] img{background-position: 50% 44.5%;}
[property="starting-character"] .umaro, [property="character-umaro"] img{background-position: 75% 44.5%;}


.player-grid .icon-slot{
    width: 32px;
    height: 64px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
    position: relative;
    background-image: url(images/sprite-sheet.png);
    background-repeat: no-repeat;
}

.counter{
    position: absolute;
}

.out-of{
    position: absolute;
    bottom: 0;
    right: 0;
    color: gold;
}

.player-grid .icon-slot.magicite{
    background-position: 92% -9px;
    background-size: 500% auto;
}

.terra{
    background-position: 0 6px;
    background-size: 300% auto;
}
.dragons{
    background-position: 50% 9px;
    background-size: 300% auto;
}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
}

.player-final{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
}

.player-final:empty{
    display:none;
}

.vs{
    font: bold 32px / 1 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer{
    margin-top: 12px;
	width: 200px;
    height: 53px;
    z-index: 1;
    font: bold 50px 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer span {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(images/sky-small.webp), linear-gradient(to top, #db1500, orange 54%, #fffef1 141%);
    background-position: 50% 50%;
    filter: contrast(1.2);
    color: transparent;
    width: 22px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 27px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: .9em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.view-container, .view-container-border{
    background-color: transparent;
}

.display-none{ display: none; }

.show{ display: block; }

/* .show-flex{ display: flex; }
.show-grid{ display: grid; } */

#menu_layout div{
    display: block;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

#menu_credits{grid-area: credits;}
#menu_players_extra{grid-area: players2;}
#menu_subheading{grid-area: subhead;}
#menu_backgrounds{grid-area: backgrounds;}
#menu_playlist{grid-area: playlist;}
#menu_goals{grid-area: goals;}

.menu-contain{
    grid-template-areas:
        "playlist players2    players layout  layout  team"
        "playlist players2    players subhead subhead team"
        "playlist goals       timer   view    reset   credits";
    }

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.dragon-toggle-contain{
    background-color: #000;
    position: absolute;
    top: -7px;
    right: 19px;
    padding: 0 .25em;
}