* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --vidWidth: 446px;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    --vidAspect: 26 / 21;

    --border1: solid 1px;
    --backgroundColor1: rgba(0,0,0,.75);

    --videoX: 0px; --videoY: 0px;
    --nameWidth: 160px;
    --infoX: 445px; --infoY: -1px;
    --speakerX: 569px; --speakerY: 118px;
    --winX: 445px; --winY: 97px;
    --finalX: 445px; --finalY: 51px;
    --vsX: 50%; --vsY: 0;

    --border: 1px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}

.border-background-1 {
    background-image:
        linear-gradient(#292884, #292884);
    border: solid 1px;
    mix-blend-mode: hard-light;
}

.text-shadow{
    filter: drop-shadow(2px 2px 2px #000) drop-shadow(-2px -2px 2px #000);
}

.abs{position: absolute;}

/* layout specific styles */


@font-face {
    font-family: "FF6";
    src: local('FF6'),
         url('fonts/final-fantasy-36-font.woff2') format('woff2'),
	     url('fonts/final-fantasy-36-font.woff') format('woff'),         
         url('fonts/Final-Fantasy-36-Font.ttf') format('truetype');
}

@font-face {
    font-family: "Ferrum";
    src: local('Ferrum'),
         url('fonts/ferrum.woff2') format('woff2'),
	     url('fonts/ferrum.woff') format('woff'),         
         url('fonts/ferrum.otf') format('opentype');
}

.layout{
    font-family: 'FF6', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    /* background-size: 100% 100%; */
    background-size: auto, 100% 100%, 100% 100%;
    background-color: #21384a;
    --background-overlay: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.25));
    --background-fallback: linear-gradient(#36172f, #8c2832 26.5%, #a54129 26.5%, #e6b24a 41%, #375464 41%, #4c6c5b);
    background-image: var(--background-fallback);
    overflow: hidden;
}

.layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    -webkit-mask-repeat: no-repeat;
    mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1);
    mask-repeat: no-repeat;
}

.hide-p4 .layout.transparent-background{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        linear-gradient(red,red) right / var(--clipX1),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) center / 100% calc(100% - var(--clipY2) * 2),
        linear-gradient(red,red) bottom / 100% var(--clipY1),
        /* cover "4p" */
        linear-gradient(red,red) bottom var(--videoY) right var(--videoX) / var(--vidWidth) var(--vidHeight);
    -webkit-mask-repeat: no-repeat
}

@supports not (background: image-set("foo.png" type("image/png")) ){
    .notwebp .layout{
        background-image: var(--background-overlay), url('images/barron_falls_background.jpg'), var(--background-fallback);}
    .webp .layout{
        background-image: var(--background-overlay), url('images/barron_falls_background.webp'), var(--background-fallback);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .layout{
        background-image:
            var(--background-overlay),
            image-set(
                "images/barron_falls_background.webp" type("image/webp"),
                "images/barron_falls_background.jpg" type("image/jpg")), 
            var(--background-fallback);
    }
}
.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    background-color: #000; 
    transition: background-color .5s;
}

[player="1"] .player-video, [player="2"] .player-video{border-bottom: 1px solid;}
[player="3"] .player-video, [player="4"] .player-video{border-top: 1px solid;}

.layout.black-background .player-video{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

@supports not (background: image-set("foo.png" type("image/png")) ){
    .notavif .layout.black-background .player-video{background-image: url('images/wc_logo.png');}
    .avif .layout.black-background .player-video{background-image: url('images/wc_logo.avif');}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .layout.black-background .player-video{
        background-image: image-set(
            "images/wc_logo.avif" type("image/avif"),
            "images/wc_logo.png" type("image/png")
        );
    }
}

.player-info-contain{
    width: min-content;  
}

.player-info-contain:nth-of-type(even){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.player-info-contain:nth-of-type(3), .player-info-contain:nth-of-type(4){
    display: flex;
    flex-direction: column-reverse;
}

.player-name{
    font-size: 32px;
    height: 1.25em;
    width: calc(var(--nameWidth) + 8px * 2);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    text-shadow: 2px 2px #000, -2px -2px #000;
    border-radius: 0 10px 10px 0;
}
[player="1"] .player-name, [player="2"] .player-name{ margin-bottom: -1px;}
[player="3"] .player-name, [player="4"] .player-name{ margin-top: -1px; border-bottom: none;}

.player-info-contain:nth-of-type(even) .player-name{
    border-radius: 10px 0 0 10px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-pronoun{
    font-size: 24px;
    text-align: center;
    background: #222;
    padding: 0 .5em;
}

.player-pronoun:nth-of-type(1), .player-pronoun:nth-of-type(2){margin-top: -1px;}
.player-pronoun:nth-of-type(3), .player-pronoun:nth-of-type(4){margin-bottom: -1px;}


.center-headers{
    display: grid;
    justify-items: center;
    align-content: space-between;
    transform:translate(-50%, -50%); 
    top: 50%;
    left: 50%;
}

.center-headers > div{
    height: 630px;
}

.ff6wc-logo-contain{
    margin-bottom: .75em;
    filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #000);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.center-headers > div{
    display: grid;
    justify-items: center;
    align-content: space-between;
}
.subheadings{
    transform: translateX(-50%);
    left: 50%;
    bottom: 41px;
    width: 149px;
}

.subhead-text, .subhead-link{
    font-size: 20px;
    margin: .25em 0;
    text-align: center;
    display: block;
    white-space: normal;
    opacity: .9;
}

.glitch{
    vertical-align: bottom;
    position: relative;
    height: 18px;
    width: 18px;
    fill: currentColor;
}

.site-link, .twitch-link{
    position: absolute !important;
    left: -2560px;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}     

.visible{
    position: relative !important;
    left: 0px;
    height: initial; width: initial;
    overflow: hidden;
    -webkit-clip-path: none;
    clip-path: none;    
}

.player-grid-contain{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: start;
}

.player-grid-characters, .player-grid-counters{
    display: grid;
    justify-content: space-evenly;
}

.player-grid-counters{
    padding: 0 4px;
}

.p2-grid-contain .player-grid-characters, .p4-grid-contain .player-grid-characters {
    order: 1;
}

tr-player{
    display: contents;
}
.p3-grid-contain, .p4-grid-contain{
    align-items: end;
}

.player-grid-characters{
    display: grid;
    grid-template-rows: repeat(7, min-content);
    grid-auto-flow: column;
    padding: 5px 5px 2px;
    grid-gap: 2px 4px;
}

.player-grid{
    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    padding: 0 4px;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000, -2px -2px 2px #000;
    position: relative;
}

.hide-dragons .dragons, .hide-bosses .bosses, .hide-checks .checks{
    display: none;
}

.player-grid-back{
    height: 100%;
    width: 100%;
}

.player-grid-counters .icon-slot {
    align-self: center;
}
.player-grid-counters tr-template{
    display: contents;
}
[property="starting-character"]{
    grid-template-rows: none;
}

[property="starting-character"] img{
    align-self: center;
}

[property="starting-character"] img:hover{
    cursor: pointer;
}

.dialog#starting-character{
    display: grid;
    grid-template-columns: repeat(5, auto);
    transform: translate(-117px, -118px);
    border: none;
    animation: scale-in .1s;
    position: relative;
    background-color: #0000;
    -webkit-mask-image:
        linear-gradient(red 0 62px, #0000 0 114px, red 0 114px),
        linear-gradient(90deg, red 0 82px, #0000 0 122px, red 0 112px)
    }

.dialog#starting-character:before{
    content:'';
    background-color: #f8b800;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 10px;
    border: solid 2px;
    position: absolute;
}

.dialog#starting-character:after{
    content: '';
    border: inherit;
    border-radius: 3px;
    border: solid 2px #000;
    width: 40px;
    height: 52px;
    position: absolute;
    left: 80px;
    top: 60px;
  }

  @keyframes scale-in {
    from{transform: translate(-117px, -118px) scale(0);}
    to{transform: translate(-117px, -118px) scale(1);}
}

.dialog#starting-character figure:nth-of-type(8){
    grid-column: 4;
}

.active{
    filter: drop-shadow(1px 0 rgba(255, 215, 0, .75)) drop-shadow(-1px -1px rgba(255, 215, 0, .75));
}

.p1-grid-contain, .p2-grid-contain{margin-top: -1px;}
.p3-grid-contain, .p4-grid-contain{margin-bottom: -1px;}

.player-info-contain:nth-of-type(1) .player-grid, .player-info-contain:nth-of-type(3) .player-grid{margin-left: -1px;}
.player-info-contain:nth-of-type(2) .player-grid, .player-info-contain:nth-of-type(4) .player-grid{margin-right: -1px;}


.player-info-contain:nth-of-type(1) .player-grid, .player-info-contain:nth-of-type(1) .player-grid-characters,
.player-info-contain:nth-of-type(1) .player-grid-back{
    border-bottom-right-radius: 10px;
}

.player-info-contain:nth-of-type(2) .player-grid, .player-info-contain:nth-of-type(2) .player-grid-characters,
.player-info-contain:nth-of-type(2) .player-grid-back{
    border-bottom-left-radius: 10px;
}

.player-info-contain:nth-of-type(3) .player-grid, .player-info-contain:nth-of-type(3) .player-grid-characters,
.player-info-contain:nth-of-type(3) .player-grid-back{
    border-top-right-radius: 10px;
}

.player-info-contain:nth-of-type(4) .player-grid, .player-info-contain:nth-of-type(4) .player-grid-characters,
.player-info-contain:nth-of-type(4) .player-grid-back{
    border-top-left-radius: 10px;
}

.player-grid img, .dialog img{
    width: 32px;
    height: 32px;
    display: block;
    background-size: 500% 1000%;
}

[property="starting-character"] img, .dialog img, .icon-slot img{
    width: 32px;
    height: 48px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
    position: relative;
    background-repeat: no-repeat;
    background-size: 500% 500%;
}

@supports not (background: image-set("foo.avif" type("image/avif")) ){
    .notwebp .icon-slot .icon, .notwebp [property^="character"] img, .notwebp [property="starting-character"] img, .notwebp .dialog img {background-image: url(images/characters.png);}
    .webp .icon-slot .icon, .webp [property^="character"] img, .webp [property="starting-character"] img, .webp .dialog img{background-image: url(images/characters.webp);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .icon-slot .icon, [property^="character"] img, [property="starting-character"] img, .dialog img{
        background-image: image-set(
            "images/characters.webp" type("image/webp"),
            "images/characters.png" type("image/png")
        );
    }
}


.terra{background-position: 0 0;}
.locke{background-position: 25% 0;}
.cyan{background-position: 50% 0;}
.shadow{background-position: 75% 0;}
.edgar{background-position: 100% 0;}

.sabin{background-position: 0 25%;}
.player-grid-characters .sabin{background-position-y: 22.5%;}

.celes{background-position: 25% 25%;}
.player-grid-characters .celes{background-position-y: 23.5%;}

.strago{background-position: 50% 25%;}
.player-grid-characters .strago{background-position-y: 23.5%;}

.relm{background-position: 75% 25%;}

.setzer{background-position: 100% 25%;}
.player-grid-characters .setzer{background-position-y: 23.5%;}

.mog{background-position: 0 50%;}
.player-grid-characters .mog{background-position-y: 47.5%;}

.gau{background-position: 25% 50%;}
.player-grid-characters .gau{background-position-y: 46.5%;}

.gogo{background-position: 50% 50%;}
.player-grid-characters .gogo{background-position-y: 46.5%;}

.umaro{background-position: 75% 50%;}
.player-grid-characters .umaro{background-position-y: 45.5%;}

.magicite .icon{
    pointer-events: none;
    background-position: 25% 75%;
    transform: scale(1.5);
    z-index: -1;}

.dragons .icon{background-position: 0 75%;}
.bosses .icon{background-position: 0 100%;}
.checks .icon{
    background-position: 50% 99%;
    transform: scale(1.4);
}

.icon-slot{
    display: grid;
    isolation: isolate;
    width: 32px;
    height: 54px;
    line-height: .7;
}
.icon-slot *{
    grid-area: 1/1;
}

.counter, .out-of{
    pointer-events: none;
    font-size: 24px;
    z-index: 5;
}
.counter{
    place-self: start;
    text-shadow: 2px 2px black;
}
.out-of{
    color: rgb(255, 215, 0);
    place-self: end;
    text-shadow: -2px -2px black;
}

.player-speaker{
    padding: 4px;
    mix-blend-mode: overlay;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
}

.player-final{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
}

.player-final:empty{
    display:none;
}

.vs{
    font: bold 32px / 1 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer{
    margin-top: 12px;
	width: 200px;
    height: 53px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 229px;
    z-index: 1;
    font: bold 42px 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer span {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(images/sky-small.webp), linear-gradient(to top, #db1500, orange 54%, #fffef1 141%);
    background-position: 50% 50%;
    filter: contrast(1.2);
    color: #0000;
    width: 22px;
    text-align: center;
}

tr-timer .dot, tr-timer .ms{
    display: none;
}

.staff{
    overflow: hidden;
    font-size: 22px;
    transform: translateX(-50%);
    left: 50%;
    top: 44px;
    width: 153px;
    height: auto;
}

.staff svg{
    height: 1rem;
    margin: 0 .4em 0 0;
}

.commentators, .restreamers, .trackers{
    width: 125px;
    text-align: center;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.view-container, .view-container-border{
    background-color: #0000;
}

.display-none{ display: none; }

.show{ display: block; }

/* .show-flex{ display: flex; }
.show-grid{ display: grid; } */

#menu_layout div{
    display: block;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

#menu_credits{grid-area: credits;}
#menu_players_extra{grid-area: players2;}
#menu_subheading{grid-area: subhead;}
#menu_backgrounds{grid-area: backgrounds;}
#menu_playlist{grid-area: playlist;}
#menu_goals{grid-area: goals;}

.menu-contain{
    grid-template-areas:
        "playlist players2    players layout  layout  team"
        "playlist players2    players subhead subhead team"
        "playlist goals       timer   view    reset   credits";
    }

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.dragon-toggle-contain{
    background-color: #000;
    position: absolute;
    top: -7px;
    right: 19px;
    padding: 0 .25em;
}