* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --backgroundImg: url('images/BG_RANDOMANIA_1920x1080_4P.png') 0 0 / 100% 100%;
    --border1: solid 2px #fff;
    --backgroundColor1: rgba(0,0,0,.75);
    --vidWidth: 428px;
    --vidAspect: 4 / 3;
    --videoX: 10px; --videoY: 10px;
    --nameWidth: 160px;
    --nameX: 441px; --nameY: 4px;
    --gridX: 441px; --gridY: 51px;
    --speakerX: 569px; --speakerY: 63px;
    --winX: 476px; --winY: 55px;
    --finalX: 489px; --finalY: 8px;
    --vsX: 50%; --vsY: 12px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}

.border-background-1 {
    background-image: url(images/ff6-window-gradient-small.png);
    background-size: 100%;
    background-position: 0;
    border: solid 3px;
    border-radius: 10px;
    mix-blend-mode: hard-light;
}
.border-background-2{
    background-image: url(images/ff6_window_gradient.png);
    background-size: 100%;
    background-position: 0;
    border: solid 3px;
    border-radius: 10px;
    mix-blend-mode: hard-light;
}

.text-shadow{
    filter: drop-shadow(2px 2px 2px #000) drop-shadow(-2px -2px 2px #000);
}

.abs{position: absolute;}

html{
    background-color: #c7c7c7;
}

/* layout specific styles */


@font-face {
    font-family: "FF6";
    src: local('FF6'),
         /* url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),          */
         url('fonts/final_fantasy_36_font.ttf') format('truetype');
}

@font-face {
    font-family: "Chicago";
    src: local('Chicago'),
         url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),         
         url('../shared/fonts/chicago.ttf') format('truetype');
}

@font-face {
    font-family: "Ferrum";
    src: local('Ferrum'),
         /* url('../shared/fonts/chicago.woff2') format('woff2'),
	     url('../shared/fonts/chicago.woff') format('woff'),          */
         url('fonts/ferrum.otf') format('opentype');
}

.layout{
    font-family: 'FF6', 'Chicago', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-image: url('images/BG_RANDOMANIA_1920x1080_4P.png'), linear-gradient(to right, #394131 50%, #21384a 0);
    background-size: 100% 100%;
    background-color: #21384a;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
}

.player-name{
    font-size: 26px;
    height: 50px;
    width: calc(var(--nameWidth) + 8px * 2);
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
    text-shadow: 2px 2px #000, -2px -2px #000;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-name:empty{
    display: none;
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 4px;
    grid-gap: 4px;
}

.player-grid img{
    width: 32px;
    height: 46px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker, [player="4"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    height: 34px;
    font: bold 28px 'Times New Roman', Times, serif;
    color: #f8b800;
    padding: 0 .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-final{
    font-size: 20px;
    width: 5.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
}

.player-final:empty{
    display:none;
}

.vs{
    font-size: 24px;
}

tr-timer{
	width: 200px;
    height: 53px;
    z-index: 1;
    font: bold 50px 'Ferrum', 'Times New Roman', Times, serif;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(#db1500, orange 54%, #fffef1 141%);
}

tr-timer span {
    width: 22px;
    text-align: center;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    overflow: hidden;
    font-size: 19px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}


.production-swap > .staff-panel-1 {animation: panel-1-blinker 60s infinite;}
.production-swap > .staff-panel-2 {animation: panel-2-blinker 60s infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

.view-container, .view-container-border{
    background-color: transparent;
}

/* Bracket Screen */

/* .bracket-contain{background: url(../shared/images/checkerboard.png);}

.bracket-contain iframe {
    animation: rotateIn .75s linear;
    perspective: 1200px;
}

 */


.display-none{ display: none; }

.show{ display: block; }

/* .show-flex{ display: flex; }
.show-grid{ display: grid; } */

#menu_2 {
    display: grid;
    grid-template-areas: 
        "players layout team"
        "timer view reset";
}

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}