/* root */

:root{
    font-family: Arial, sans-serif;
    font-size: 1em;
    --vidWidth: 604px;
    --vidAspect: 4 / 3;
    --vidHeight: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );

    --nameWidth: 375px;

    --backgroundColor1: #000;

    --border: 2px;
    --gap-size: 20px;

    --clipX1: calc(var(--videoX) + var(--border));
    --clipX2: calc(var(--videoX) + var(--vidWidth) - var(--border));
    --clipY1: calc(var(--videoY) + var(--border));
    --clipY2: calc(var(--videoY) + var(--vidHeight) - var(--border));
}

/* helper classes */

.border-1{
    border: var(--border) solid currentColor;
}
.br{
    border-radius: 10px;
}
.background-1{
    background-color: #292884;
    mix-blend-mode: hard-light;
}
.background-2{
    background-color: #222;
    mix-blend-mode: hard-light;
}


/*  ==========
    Typography
    ========== */

    @font-face {
        font-family: "FF6";
        src: local('FF6'),
             url('fonts/final-fantasy-36-font.woff2') format('woff2'),
             url('fonts/final-fantasy-36-font.woff') format('woff'),         
             url('fonts/Final-Fantasy-36-Font.ttf') format('truetype');
    }
    
    @font-face {
        font-family: "Ferrum";
        src: local('Ferrum'),
             url('fonts/ferrum.woff2') format('woff2'),
             url('fonts/ferrum.woff') format('woff'),         
             url('fonts/ferrum.otf') format('opentype');
    }

.fs-s{ font-size: 1rem; }
.fs-m{ font-size: 1.2rem; }
.fs-l{ font-size: 1.6rem; }

.fw-b{ font-weight: bold;}

.text-shadow{
    filter: drop-shadow(2px 2px 2px #000) drop-shadow(-2px -2px 2px #000);
}

/*  ==========
    Components
    ========== */

.layout{
    font-family: 'FF6', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    --background-fallback: linear-gradient(-21.5deg, #335755 0 48.5%, #f8f8a8 0 50%, #c57832 0);
    background-image: var(--background-fallback);
    background-color: #c0c0c0;
    line-height: 1;
    row-gap: var(--gap-size);
    padding: var(--gap-size) var(--gap-size) 0;
    background-size: 100% 100%;
    display: grid !important;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "v1 v1 v2 v2"
        "i1 t  t  i2"
        "i1 t  t  i2";
}

@supports not (background: image-set("foo.png" type("image/png")) ){
    .notwebp .layout.default{
        background-image: url('images/justbackground.jpg'), var(--background-fallback);}
    .webp.notavif .layout.default{
        background-image: url('images/justbackground.webp'), var(--background-fallback);}
    .avif .layout.default{
        background-image: url('images/justbackground.avif'), var(--background-fallback);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    .layout.default{
        background-image: image-set(
            "images/justbackground.avif" type("image/avif"),
            "images/justbackground.webp" type("image/webp"),
            "images/justbackground.jpg" type("image/jpg")
        ), var(--background-fallback);
    }
}

.layout > tr-player,
.layout > tr-player > tr-template{
    display: contents;
} 

.layout.background-clip{
    -webkit-mask:
        /* vertical lines */
        linear-gradient(red,red) left / var(--clipX1),
        linear-gradient(red,red) right / var(--clipX1),
        linear-gradient(red,red) center / calc(100% - var(--clipX2) * 2),
        /* horizontal lines */
        linear-gradient(red,red) top / 100% var(--clipY1),
        linear-gradient(red,red) bottom / 100% calc(100% - var(--clipY2));
    -webkit-mask-repeat: no-repeat
}

[player="1"] *{justify-self: flex-start;}
[player="2"] *{justify-self: flex-end;}

.player-video{
    width: var(--vidWidth);
    height: var(--vidHeight);
    z-index: 2;
}
[player="1"] .player-video{grid-area: v1;}
[player="2"] .player-video{grid-area: v2;}

.layout.black-background .player-video{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    image-rendering: initial;
}

@supports not (background: image-set("" type("")) ){
    .notavif .layout.black-background .player-video{background-image: url(images/wc_logo.png);}
    .avif .layout.black-background .player-video{background-image: url(images/wc_logo.avif);}
}

@supports (background: image-set("" type("")) ){
    .layout.black-background .player-video{
        background-image: image-set(
            "images/wc_logo.avif" type("image/avif"),
            "images/wc_logo.png" type("image/png")
        );
    }
}

.player-info-contain{
    position: relative;
    align-content: flex-start;
    grid-template-rows: auto auto;
}

[player="1"] .player-info-contain{
    grid-area: i1;
    grid-template-columns: calc(var(--nameWidth) + 8px * 2) 45px;
    grid-template-areas:
        "pn ps"
        "pg .";
    }
[player="2"] .player-info-contain{
    grid-area: i2;
    grid-template-columns: 45px calc(var(--nameWidth) + 8px * 2);
    grid-template-areas:
        "ps pn"
        ". pg";
}

.player-name{
    font-size: 32px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
    padding: 0 8px;
    grid-area: pn;
}
[player="1"] .player-name.br{border-radius: 10px 10px 10px 0;}
[player="2"] .player-name.br{border-radius: 10px 10px 0 10px;}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    grid-area: pg;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 4px;
    grid-gap: 4px;
    font-size: 24px;
    text-shadow: 1px 1px 1px black;
}

.hide-icons .player-grid{
    display: none;
}

.player-grid-back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.layout .player-grid-back.br{
    border-radius: 0 0 10px 10px;
}

.player-grid-characters{
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 2px;
    grid-gap: 2px;
    border-right: 2px solid rgba(255,255,255,.75);
    border-image: linear-gradient(transparent, rgba(255,255,255,1), transparent) 2;
}

.player-grid-counters{
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 2px;
    grid-gap: 2px;
    grid-auto-flow: column;
}

.player-grid.br{
    border-radius: 0 0 10px 10px;
}

.player-grid:nth-of-type(1){
    left: 20px;
    top: 541px;
}
.player-grid:nth-of-type(2){
    right: 20px;
    top: 541px;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

tr-toggle-class, .in-active {
    opacity: 1;
    filter: brightness(0.25);
    transition: filter .25s;
}

tr-image-toggle img.active, tr-toggle-class.active {
    opacity: 1;
    filter: brightness(1);
}

[property^="character"] img, [property="starting-character"] img, .dialog img{
    width: 32px;
    height: 48px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
    position: relative;
    background-repeat: no-repeat;
    background-size: 500% 500%;
}

@supports not (background: image-set("foo.avif" type("image/avif")) ){
    .notwebp [property^="character"] img, .notwebp [property="starting-character"] img, .notwebp .dialog img {background-image: url(images/characters.png);}
    .webp [property^="character"] img, .webp [property="starting-character"] img, .webp .dialog img{background-image: url(images/characters.webp);}
}

@supports (background: image-set("foo.png" type("image/png")) ){
    [property^="character"] img, [property="starting-character"] img, .dialog img{
        background-image: image-set(
            "images/characters.webp" type("image/webp"),
            "images/characters.png" type("image/png")
        );
    }
}

.terra, [property="character-terra"] img{background-position: 0 0;}
.locke, [property="character-locke"] img{background-position: 25% 0;}
.cyan, [property="character-cyan"] img{background-position: 50% 0;}
.shadow, [property="character-shadow"] img{background-position: 75% 0;}
.edgar, [property="character-edgar"] img{background-position: 100% 0;}
.sabin, [property="character-sabin"] img{background-position: 0 25%;}
.celes, [property="character-celes"] img{background-position: 25% 25%;}
.strago, [property="character-strago"] img{background-position: 50% 25%;}
.relm, [property="character-relm"] img{background-position: 75% 25%;}
.setzer, [property="character-setzer"] img{background-position: 100% 25%;}
.mog, [property="character-mog"] img{background-position: 0 50%;}
.gau, [property="character-gau"] img{background-position: 25% 50%;}
.gogo, [property="character-gogo"] img{background-position: 50% 50%;}
.umaro, [property="character-umaro"] img{background-position: 75% 50%;}


[property="starting-character"] img{
    z-index: -1;
}

.icon-slot{
    display: grid;
    isolation: isolate;
    width: 38px;
    line-height: .7;
}
.icon-slot *{
    grid-area: 1/1;
}

.player-grid .icon{
    width: 32px;
    height: 48px;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 500% 500%;
    place-self: center;
}

.notwebp .player-grid .icon {background-image: url(images/characters.png);}
.webp .player-grid .icon{background-image: url(images/characters.webp);}

.terra .icon{background-position: 0 0;}
.magicite .icon{
    pointer-events: none;
    background-position: 25% 75%;
    transform: scale(1.5);
    z-index: -1;}
.dragons .icon{background-position: 0 75%;}

[property="starting-character"] img:hover{
    cursor: pointer;
}

.dialog#starting-character{
    display: grid;
    grid-template-columns: repeat(5, auto);
    transform: translate(-122px, -112px);
    border: none;
    animation: scale-in .1s;
    position: relative;
    background-color: transparent;
    -webkit-mask-image:
        linear-gradient(red 0 62px, transparent 0 114px, red 0 114px),
        linear-gradient(90deg, red 0 82px, transparent 0 122px, red 0 112px)
    }

.dialog#starting-character:before{
    content:'';
    background-color: #f8b800;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 10px;
    border: solid 2px;
    position: absolute;
}

.dialog#starting-character:after{
    content: '';
    border: inherit;
    border-radius: 3px;
    border: solid 2px #000;
    width: 40px;
    height: 52px;
    position: absolute;
    left: 80px;
    top: 60px;
  }

  @keyframes scale-in {
    from{transform: translate(-122px, -112px) scale(0);}
    to{transform: translate(-122px, -112px) scale(1);}
}

.dialog#starting-character figure:nth-of-type(8){
    grid-column: 4;
}
.counter, .out-of{
    pointer-events: none;
}
.counter{
    place-self: start;
}
.out-of{
    color: gold;
    place-self: end;
}

.logo{
    display: block;
    width: fit-content;
}

.logo img{
    width: 389px;
    image-rendering: initial;
    filter: drop-shadow(1px 1px 1px #000) drop-shadow(-1px -1px 1px #000);
    background-image: radial-gradient(rgba(255,255,255,.4), transparent 69%);
}

.site-link, .twitch-link{
    position: absolute !important;
    left: -2560px;
    height: 1px; width: 1px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}     

.visible{
    position: relative !important;
    left: 0px;
    height: initial; width: initial;
    overflow: hidden;
    -webkit-clip-path: none;
    clip-path: none;    
}

.glitch{
    vertical-align: bottom;
    position: relative;
    bottom: 2px;
    height: 18px;
    width: 18px;
    fill: currentColor;
}

.player-speaker{
    grid-area: ps;
    padding: 4px;
    place-self: center;
    background-color: #000;
    border-radius: 6px;
    mix-blend-mode: multiply;
}

[player="1"] .player-speaker{left: 100%;}
[player="2"] .player-speaker{right: 100%;}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 0% / 500% 400%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.final-winner-contain{
   top: 53px;
   color: #f8b800;
   font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
   width: min-content;
   z-index: 10;
   background-image: linear-gradient(#000,#000), url(images/sky-small.webp);
}

.final-winner-contain > *{
    display: block;
    margin: 8px 0;
}

[player="1"] .final-winner-contain{right: -3px;}
[player="2"] .final-winner-contain{left: -3px;}

.player-winner, .player-final{
    width: 6rem;
    height: 1em;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(images/sky-small.webp), linear-gradient(to top, #db1500, orange 54%, #fffef1 141%);
    background-position: 50% 50%;
    filter: contrast(1.2);
    color: transparent;
}

.player-winner div{
    width: 100%;
    height: 1em;
}
.player-final:empty{
    display:none;
}

.player-best-of{
    top: -23px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    display: none;
}

.player-best-of img{
    width: 32px;
    height: 48px;
    background-image: url(images/characters.png);
    background-repeat: no-repeat;
    background-size: 500% 500%;
    background-position: 50% 75%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.player-best-of tr-toggle-class.active img{
    animation: kiwi .5s steps(1) 2;
}

@keyframes kiwi {
    from{background-position: 50% 75%;}
    50%{background-position: 75% 75%;}
    to{background-position: 50% 75%;}
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

tr-timer{
    grid-area: t;
    margin-top: 12px;
    width: 200px;
    height: 53px;
    z-index: 1;
    font: bold 50px 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer span {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(images/sky-small.webp), linear-gradient(to top, #db1500, orange 54%, #fffef1 141%);
    background-position: 50% 50%;
    filter: contrast(1.2);
    color: transparent;
    width: 22px;
    text-align: center;
}

.staff-panel-1, .staff-panel-2 {
    background-color: transparent;
}

.production-team-swap {
    padding: 0;
}

.footer{
    grid-template-columns: 1fr auto 1fr;
    grid-column: 1 / -1;
    grid-row: 3;
    place-items: flex-end center;
}

/* coliseum */

.coliseum.layout{
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "f f f  f "
        "v1 v1 v2 v2"
        "i1 t  t  i2";
    --gap-size: 0;
    background-image: 
        linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.25)), 
        url('images/2p/coliseum-mobile.jpg'), 
        linear-gradient(#b1995b, #b1995b);
}

.coliseum.layout:after{
    content: 'VS';
    position: absolute;
    font-size: 82px;
    line-height: 0.5;
    transform: translateX(-50%);
    left: 50%;
    top: 647px;
    color: rgba(0,0,0,.5);
    mix-blend-mode: overlay;
}

.coliseum.layout .logo img{
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5)) drop-shadow(-1px -1px 1px rgba(0,0,0,.5));
}

.coliseum.layout .player-video{
    --vidWidth: 631px;
}
.coliseum.layout [player="1"] .player-video{border-left: none;}
.coliseum.layout [player="2"] .player-video{border-right: none;}

.coliseum.layout .player-name{
    border-radius: 0;
    border: none;
    color: #000;
    background-image: none;
    background-color: transparent;
    font-size: 38px;
}

.coliseum.layout .player-info-contain{
    align-content: flex-end;
}

.coliseum.layout .player-grid:nth-of-type(1){
    left: 194px;
    top: 583px;
    transform: translateX(-50%);
}
.coliseum.layout .player-grid:nth-of-type(2){
    right: 194px;
    top: 583px;
    transform: translateX(50%);
}

.coliseum.layout .player-speaker{
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 2px 4px;
    mix-blend-mode: overlay;
}

.coliseum.layout .player-speaker img{
    background: url("../shared/images/icons/sprite.svg") no-repeat 100% 33.3% / 500% 400%;
}

.coliseum.layout .player-grid-back{
    display: none;   
}

.coliseum .player-grid-characters{
    border-right: 2px solid rgba(0,0,0,.75);
    border-image: linear-gradient(transparent, rgba(0,0,0,1), transparent) 2;
}
.coliseum [property^="character"] img{
    width: 24px;
    height: 40px;
    image-rendering: initial;
}
.coliseum .player-grid .icon{
    width: 24px;
    height: 40px;
    image-rendering: initial;
}

.coliseum.layout .player-grid.border-1{border: none;}

.coliseum.layout .player-grid.background-1{
    background-image: none;
    background-color: transparent;
}

.coliseum.layout .footer{
    grid-area: f;
    place-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.coliseum.layout .player-best-of{
    top: 95px;
}

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px currentColor;
    z-index: 3;
}

.display-none{ display: none; }

.show{ display: block; }

/*  ==========
    Menu
    ========== */
    
    .menu-general #menu_players{grid-area: players;}
    .menu-general #menu_layout{grid-area: layout;}
    .menu-general #menu_production{grid-area: team;}
    .menu-general #menu_timer{grid-area: timer;}
    .menu-general #menu_view{grid-area: view;}
    .menu-general #menu_reset{grid-area: reset;}
    
    #menu_credits{grid-area: credits;}
    #menu_players_extra{grid-area: players2;}
    #menu_subheading{grid-area: subhead;}
    #menu_backgrounds{grid-area: backgrounds;}
    #menu_playlist{grid-area: playlist;}
    #menu_goals{grid-area: goals;}
    
    .menu-contain{
        grid-template-areas:
            "playlist players2    players layout  layout  team"
            "playlist  goals       timer   view    reset   credits"
            "subhead   goals       timer   view    reset   credits"
            "subhead   goals      backgrounds view    reset   credits";
        }