* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
    --border1: solid 2px #fff;
    --backgroundColor1: #000;
    --vidWidth: 604px;
    --vidAspect: 4 / 3;
    --videoX: 16px; --videoY: 16px;
    --nameWidth: 375px;
    --nameX: 16px; --nameY: 490px;
    --gridX: 16px; --gridY: 558px;
    --speakerX: 409px; --speakerY: 493px;
    --winX: 280px; --winY: 571px;
    --finalX: 280px; --finalY: 525px;
    --bestX: 869px; --bestY: 558px;
}

.border-1{border: var(--border1);}
.background-1{background-color: var(--backgroundColor1);}


.border-background-1 {
    background-image:
        linear-gradient(#292884, #292884);
    border: solid 2px;
    mix-blend-mode: hard-light;
    border-radius: 10px;
}

.abs{position: absolute;}

.text-shadow{
    filter: drop-shadow(2px 2px 2px #000) drop-shadow(-2px -2px 2px #000);
}

html{
    background-color: #c7c7c7;
}

@font-face {
    font-family: "FF6";
    src: local('FF6'),
         url('fonts/final-fantasy-36-font.woff2') format('woff2'),
	     url('fonts/final-fantasy-36-font.woff') format('woff'),         
         url('fonts/Final-Fantasy-36-Font.ttf') format('truetype');
}

@font-face {
    font-family: "Ferrum";
    src: local('Ferrum'),
         url('fonts/ferrum.woff2') format('woff2'),
	     url('fonts/ferrum.woff') format('woff'),         
         url('fonts/ferrum.otf') format('opentype');
}

.layout{
    font-family: 'FF6', Arial, sans-serif;
    width: 1280px;
    height: 720px;
    color: #fff;
    position: relative;
    background-color: #21384a;
    background-image: linear-gradient(to right, #394131 50%, #21384a 0);
    background-size: 100% 100%;
}
.notwebp .layout.default{
    background-image: url('images/airship-no-video.png'), linear-gradient(to right, #394131 50%, #21384a 0);}
.webp .layout.default{
    background-image: url('images/airship-no-video.webp'), linear-gradient(to right, #394131 50%, #21384a 0);}

.layout.coliseum-16bit{background-image: url('images/2p/bg_1c.png');
image-rendering: pixelated;
/* background-position-y: -137px; */
}
.layout.coliseum-mobile{background-image: url('images/2p/86cb99d27d7cdaef5572a21c5167e625.png');}
.layout.coliseum-mockup{background-image: url('images/2p/bad_mockup.png');}

[class*="coliseum-"]{
    --vidWidth: 629px;
    --videoX: -3px; --videoY: 109px;
    --nameX: 144px;
    --nameY: 590px;
    --gridX: -3px;
    --gridY: 603px;
}
[class*="coliseum-"] .logo{
    top: 0;
}

[class*="coliseum-"] tr-timer{
    top: 581px;
}
[class*="coliseum-"] .staff{
    top:0; left: 88px;
}

[class*="coliseum-"] .subheadings{
    top:0; right: 88px;
}

.player-video{
    width: var(--vidWidth);
    height: calc( var(--vidWidth) * (1 / (var(--vidAspect))) );
    z-index: 2;
    border: solid 3px #fff;
    border-radius: 3px;
}

.layout.black-background .player-video{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

.notavif .layout.black-background .player-video{background-image: url(images/wc_logo.png);}
.avif .layout.black-background .player-video{background-image: url(images/wc_logo.avif);}

.player-name{
    font-size: 32px;
    width: calc(var(--nameWidth) + 8px * 2);
    height: 50px;
	color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 8px;
}

.player-name tr-text{
    width: var(--nameWidth);
}

.player-grid{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 4px;
    grid-gap: 4px;
    font-size: 24px;
    text-shadow: 2px 2px 2px #000, -2px -2px 2px #000;
}

.player-grid img{
    width: 32px;
    height: 32px;
    display: block;
}

.player-grid .icon-slot{
    width: 36px;
    height: 80px;
    display: block;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    isolation: isolate;
    position: relative;
    background-image: url(images/sprite-sheet.png);
    background-repeat: no-repeat;
}

.counter{
    position: absolute;
}

.out-of{
    position: absolute;
    bottom: 0;
    right: 0;
    color: gold;
}

.player-grid .icon-slot.magicite{
    background-position: 92% -6px;
    background-size: 500% auto;
}

.terra{
    background-position: 0 12px;
    background-size: 300% auto;
}
.dragons{
    background-position: 50% 12px;
    background-size: 300% auto;
}

.player-speaker{
    padding: 4px;
}

.player-speaker img{
    width: 32px;
    height: 32px;
    display: block;
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    background-position: 100% 0%;
}

[player="2"] .player-speaker{
    transform: rotateY(180deg);
}

.player-winner{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
    text-transform: uppercase;
}

.player-best-of{
    display: grid;
    grid-template-columns: repeat(5, auto);
    display: none;
}

.player-best-of img{
    width: 32px;
    height: 32px;
    background-image: url(images/sprite-sheet.png);
    background-size: 300% 300%;
    background-position: 0 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.player-best-of tr-toggle-class.active img{
    animation: kiwi .5s steps(1) 2;
}

@keyframes kiwi {
    from{background-position: 0 100%;}
    50%{background-position: 50% 100%;}
    to{background-position: 0 100%;}
}

.best-of-3, .best-of-5, .best-of-7{
    display: grid;
}
.best-of-3 tr-toggle-class:nth-child(n+3){display: none;}
.best-of-5 tr-toggle-class:nth-child(n+4){display: none;}
.best-of-7 tr-toggle-class:nth-child(n+5){display: none;}

.player-final{
    font: bold 28px 'Ferrum', 'Times New Roman', Times, serif;
    border: 3px solid;
    padding: .25em .25em .1em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-radius: 10px;
    color: #f8b800;
    background-color: #000;
}
.player-final:empty{
    display:none;
}

.ship-blur{
    z-index: 0;
}

.ship-blur:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url(images/ship-outline.png) 0 0 / 100% 100%;
    z-index: -1;
    filter: blur(5px) opacity(0.6);
}

.logo{
    transform: translateX(-50%);
    left: 50%;
    bottom: 20px;
    display: block;
    width: fit-content;
}

.logo img{
    width: 389px;
}

tr-timer{
    top: 490px; transform: translateX(-50% ); left: 50%;
    margin-top: 12px;
	width: 200px;
    height: 53px;
    z-index: 1;
    font: bold 50px 'Ferrum', 'Times New Roman', Times, serif;
}

tr-timer span {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(images/sky-small.webp), linear-gradient(to top, #db1500, orange 54%, #fffef1 141%);
    background-position: 50% 50%;
    filter: contrast(1.2);
    color: transparent;
    width: 22px;
    text-align: center;
}


.subheadings{
    bottom: 40px; 
    right: 200px;
    text-align: center;
    font-size: 24px;
}

.production-team-swap{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    padding: 8px;
}

.staff{
    bottom: 40px; left: 200px;
    overflow: hidden;
    font-size: 24px;
}

.staff-panel-1, .staff-panel-2{
    grid-area: 1/1;
    display: grid;
    align-items: center;
}

.staff-panel-1{grid-template-columns: auto 1fr;}
.staff-panel-2{grid-template-columns: 1fr;}

.commentators-contain, .restreamers-contain, .trackers-contain{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.commentators, .restreamers, .trackers{
    width: 230px;
}

.staff img {
    background-image: url("../shared/images/icons/sprite.svg");
    background-repeat: no-repeat;
    background-size: 500% 400%;
    margin: 0 6px;
    z-index: 2;
    width: auto;
    height: 1em;
  }

.commentators-img{background-position: 75% 0;}
.restreamers-img{background-position: 0 0;}
.trackers-img{background-position: 50% 0;}

.production-swap .staff-panel-1 {animation: panel-1-blinker 60s steps(1) infinite;}
.production-swap .staff-panel-2 {animation: panel-2-blinker 60s steps(1) infinite;}

@keyframes panel-1-blinker {
    0%, 75% {opacity: 1;}
    75.1%, 100% {opacity: 0;}
    }
    
@keyframes panel-2-blinker {
    0%, 75% {opacity: 0;}
    75.1%, 100% {opacity: 1;}
    }

/* dialog styles */
    
.dialog{
    text-align: center;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 7px;
    padding: 7px;
    border: solid 2px #fff;
    z-index: 3;
    }

#production{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: end;
}

.display-none{ display: none; }

.show{ display: block; }

/* Menu */

#menu_layout div{
    display: block;
}

#menu_overlays_contain div{
    margin-bottom: .75em;
}

.dragon-toggle-contain{
    background-color: #000;
    position: absolute;
    top: -7px;
    right: 19px;
    padding: 0 .25em;
}

.menu-general #menu_players{grid-area: players;}
.menu-general #menu_layout{grid-area: layout;}
.menu-general #menu_production{grid-area: team;}
.menu-general #menu_timer{grid-area: timer;}
.menu-general #menu_view{grid-area: view;}
.menu-general #menu_reset{grid-area: reset;}

#menu_credits{grid-area: credits;}
#menu_players_extra{grid-area: players2;}
#menu_subheading{grid-area: subhead;}
#menu_backgrounds{grid-area: backgrounds;}
#menu_playlist{grid-area: playlist;}
#menu_goals{grid-area: goals;}

.menu-contain{
    grid-template-areas:
        "playlist players2    players layout  layout  team"
        "playlist  goals       timer   view    reset   credits"
        "subhead   goals       timer   view    reset   credits"
        "subhead   goals      backgrounds view    reset   credits";
    }