@font-face {
	font-family: "GB";
	src: url("/sml2r/fonts/Early GameBoy.ttf") format("truetype");
}

body {
	font-family: "GB", sans-serif;
	background-color: #000000;
}

.player-name {
	position: absolute;
	color: #FFF;
	font-size: 12px;
	width: 300px;
	text-shadow: 2px 2px 2px #000;
}

.icon,
.icon img {
	width: 36px;
	height: 36px;
	position: absolute;
}
