@font-face {
	font-family: "DQ";
	src: url("/dqsfc/fonts/Warrior Quest I and II.ttf") format("truetype");
}

body {
	font-family: "DQ", sans-serif;
	background-color: #000000;
}

.player-name {
	position: absolute;
	text-align: center;
	color: #FFF;
	font-size: 22px;
	width: 540px;
	text-shadow: 2px 2px 2px #000;
	text-align: left;
}

.player-name-right {
	text-align: right;
}

.player-final {
	position: absolute;
	color: #90EE90;
	text-shadow: 2px 2px 2px #2800FF;
	width: 165px;
	height: 22px;
	padding-bottom: 5px;
	text-align: center;
	border: 1px solid #90EE90;
	font-size: 22px;
	background-color: rgba(0, 0, 0, 0.7);
}

.player-speaker {
	position: absolute;
}

.player-speaker img {
	height: 40px;
}

.icon,
.icon img {
	width: 30px;
	height: 30px;
	position: absolute;
}

.split-grid {
	position: absolute;
}

#timer {
	width: 300px;
	position: absolute;
	font-size: 22px;
	color: #FFF;
	text-align: right;
	text-shadow: 2px 2px 2px #000;
}

#timer span:not(.dot):not(.colon) {
	width: 22.27px;
	display: inline-block;
}

#timer .ms {
	font-size: 16px;
	width: 16.19px !important;
}

#commentators {
	color: #FFF;
	font-size: 12px;
	position: absolute;
	height: 36px;
	width: 400px;
	line-height: 20px;
	text-shadow: 2px 2px 2px #000;
}

.split-labels {
	position: absolute;
	text-align: center;
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
}

.split-labels div,
.split-grid div {
	height: 20px;
}

.split-grid input {
	width: 100px;
	height: 14px;
}

.ahead {
	color: #7AFD00;
}

.ahead::before {
	content: "-";
}

.behind {
	color: #E78787;
}

.behind::before {
	content: "+";
}

.split-grid {
	color: #FFF;
	text-shadow: 2px 2px 2px #000;
	text-align: right;
}

.split-grid [data-split] .ms,
.split-grid [data-split] .dot {
	display: none;
}

.split-grid [data-split-diff] span:first-child,
.split-grid [data-split-diff] span:nth-child(2) {
	display: none;
}

.ms {
	font-size: 12px;
	margin-left: -5px;
}